#a17 {
  @extend %container;
  position: relative;
  padding-top: 112px;

  @include breakpoint('small+') {
    padding-top: 128px;
  }

  @include breakpoint('medium+') {
    padding-top: 140px;
  }

  div[style] > & {
    width: 100%;
    padding-top: 0;
  }

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    transition: filter .25s;
  }
}
