@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/typography";
@use "../setup/variables";

html {
  /* juggling left/right and margin left/right as 100vw includes scroll bars so forcing 100vw width to make grid colspan calcs work */
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  min-height: 100%;
  margin-right: -50vw;
  margin-left: -50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

body {
  @include typography.font-smoothing(on);

  & {
    width: 100vw;
    overflow-x: hidden;
    background: colors.$color__bg;
    color: colors.$color__text;
    font-family: variables.$sans-serif-font;
    font-size: 62.5%;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
  }

  &::after {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 1px;
    height: 1px;
    margin-top: -1px;
    margin-left: -1px;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
  }
}

@each $name,
$point in variables.$breakpoints {
  @include breakpoint.breakpoint('#{$name}') {
    head {
      font-family: '#{$name}';
    }

    body::after {
      content: '#{$name}';
    }
  }
}

main {
  padding-bottom: 0;
}
