.studio
.sass-cache
.vscode
dist
toolkit
/test
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

/public/toolkit
/public/styleguide
/public/storage
/public/test
/recipes/playbook.retry
/recipes/ansible.cfg
/recipes/vendor
.vault_pass
/public/assets/admin
/public/assets/vendor
/public/mix-manifest.json
studio.json
