/.phpunit.cache
/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.studio
.sass-cache
dist
toolkit
/test
/public/hot
/.vagrant
docker-compose.override.yml
.env.bak
.DS_Store

/public/toolkit
/public/styleguide
/public/storage
/public/test
.vault_pass
/public/assets/admin
/public/assets/vendor
/public/mix-manifest.json
/public/sitemap.xml
/public/virtual-tours/tour.js
studio.json
.php_cs.cache
.php-cs-fixer.cache
