*.log
.DS_Store
.env
.env.backup
.env.bak
.env.production
.phpactor.json
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.yalc
/.ddev
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/frontend/scss/setup/_styleVariables.scss
/node_modules
/public/assets/twill
/public/build
/public/dist
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
bundle-stats.json
CLAUDE.local.md
Homestead.json
Homestead.yaml
Thumbs.db
yalc.lock
