includes:
	- vendor/aic/data-hub-foundation/phpstan.neon

parameters:

  level: 0

  paths:
    - app
    - tests

  excludePaths:
    - app/Models/SiteTag.php

  ignoreErrors:
    -
      message: '#Function sanitizeFilename not found\.#'
      path: app/Console/Commands/MigrateOSCIPublicationOne.php
    -
      message: '#Array has 2 duplicate keys with value.*#'
      path: app/Helpers/StringHelpers.php
    - '#Function moduleRoute not found\.#'
    - '#Function twillTrans not found\.#'
    - '#Function getLocales not found\.#'
    - '#Function classHasTrait not found\.#'
