
.m-active-filters {
  display: flex;
  position: relative;
  z-index: 0;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.m-active-filters::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}


.m-active-filters__items {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.m-active-filters__item {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-top: 16px;
}

.m-active-filters__item:first-child {
  margin-left: 0;
}

.m-active-filters__clear {
  position: relative;
  flex: 0 0 auto;
  margin-left: 20px;
  margin-top: 12px;
}

.m-active-filters__clear::before {
  content: '';
  position: absolute;
  z-index: 2;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 100%;
  margin-left: -20px;
  background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  pointer-events: none;
}

.m-active-filters__clear a {
  color: $color__link;

  &:hover,
  &:focus:hover {
    color: $color__link--hover;
  }

  &:active:hover {
    color: $color__link--active;
  }
}




.o-collection-filters .m-active-filters {
  display: block;
  margin: 0;
  padding: 16px 20px 24px;
  background: $color__bg--primary;
}

.o-collection-filters .m-active-filters::before {
  content: none;
  display: none;
}

.o-collection-filters .m-active-filters__items {
  flex-flow: row wrap;
  margin-bottom: 0;
  padding-bottom: 0;
}

.o-collection-filters .m-active-filters__item {
  margin-right: 4px;
  margin-top: 4px;
}

.o-collection-filters .m-active-filters__clear {
  margin-top: 8px;
  margin-left: 0;
  margin-top: 12px;
}

.o-collection-filters .m-active-filters__clear::before {
  content: none;
  display: none;
}
