.m-article-actions {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $blocks-spacings-extra-large;
  margin-top: $blocks-spacings-half;

  .o-form.o-blocks__block + & {
    display: none;
  }
}

.o-article__primary-actions .m-article-actions {
  margin-top: 0;
}

.m-article-actions--keyline-top {
  margin-top: $blocks-spacings-extra-large;
  padding-top: 7px;
  border-top: 1px solid $colors-themes-light-mode-rules-primary;
}

.m-article-actions__action {
  flex: 0 0 auto;
}

.m-article-actions__action:not(:first-child) {
  margin-left: 4px;
}
