.m-article-actions {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
  margin-top: 8px;

  .o-form.o-blocks__block + & {
    display: none;
  }
}

.o-article__primary-actions .m-article-actions {
  margin-top: 0;
}

.m-article-actions--keyline-top {
  margin-top: 40px;
  padding-top: 7px;
  border-top: 1px solid $color__rules--primary;
}

.m-article-actions__action {
  flex: 0 0 auto;
}

.m-article-actions__action:not(:first-child) {
  margin-left: 4px;
}

%o-article__primary-actions--toggleable {
  display: none;

  @include breakpoint('large+') {
    display: block;
  }
}

// Styles shared by all publication sidebars:
.o-article__primary-actions--digital-publication,
.o-article__primary-actions--magazine-issue,
.o-article__primary-actions--journal-article,
.o-article__primary-actions--journal-issue {
  padding-top: initial;
  margin-top: 0;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      .m-search-bar,
      hr,
      .m-article-actions--journal__issues {
        margin-top: #{map-get((
          xsmall: 24,
          small: 24,
          medium: 24,
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }
  }

  .m-article-actions--journal__issues a {
    margin-bottom: 12px;
  }

  .m-article-actions--publication__logo {
    a {
      color: $color__black--90;
    }
  }

  .m-article-actions--publication__text {
    @include untuck();

    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        margin-top: #{map-get((
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }

    &.f-secondary {
      color: $color__black--54;
      padding-right: 2em;

      a {
        color: $color__black--54;
        text-decoration: underline;
      }
    }
  }
}

// Styles specific to digital publications and their sections:
.o-article__primary-actions--digital-publication {
  @extend %o-article__primary-actions--toggleable;
}

// Styles specific to magazine issues:
.o-article__primary-actions--magazine-issue {
  hr {
    margin-bottom: 24px;

    @include breakpoint('large+') {
      margin-bottom: 0;
    }
  }

  #h-nav-magazine-social {
    font-weight: 400;
    color: $color__black--90;
  }
}

// Styles specific to journal issues:
.o-article__primary-actions--journal-issue {
  .m-article-actions--publication__logo {
    .icon--journal-logo {
      height: 92px;
      width: 120px;
    }
  }

  .m-search-bar {
    input[type=text] {
      height: 42px;
    }

    .m-search-bar__submit,
    .m-search-bar__clear {
      width: 42px;
      height: 42px;
    }
  }
}


// Styles specific to journal articles:
.o-article__primary-actions--journal-article {
  @extend %o-article__primary-actions--toggleable;

  padding-top: 0;
  margin-top: 0;

  .m-article-actions--publication__logo {
    a {
      color: $color__black--90;
    }

    .icon--journal-logo {
      height: 92px;
      width: 120px;
    }
  }

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      .m-article-actions--journal__issues {
        margin-top: #{map-get((
          xsmall: 24,
          small: 24,
          medium: 24,
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }
  }
}
