.m-article-header {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  padding-top: 12px;

  @include breakpoint('xlarge+') {
    justify-content: space-between;
    min-height: 180px;
    padding-top: .02px;
    padding-right: colspan(15, xlarge);
    padding-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-right: colspan(15, xxlarge);
    padding-left: colspan(15, xxlarge);
  }
}

.m-article-header > * {
  flex: 0 0 auto;
  order: 1;
}

.m-article-header .title {
  @include tucked-margin-top($f-headline, ('xsmall': 48));
}

.m-article-header .date {
  @include tucked-margin-top($f-secondary, ('xsmall': 32));
}

.m-article-header .type {
  @include tucked-align-top($f-tag);
  order: 0;

  @include breakpoint('xlarge+') {
    position: absolute;
    left: 0;
    top: 12px;
  }
}

.m-article-header__info-trigger {
  display: block;
  position: absolute;
  right: 0;
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0 none;
  border-radius: 50%;
  background-color: rgba($color__black, .7);
  color: $color__white;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transition: opacity .15s;

  &[aria-expanded="true"] {
    opacity: .25;
  }
}

.m-article-header__info-trigger:hover,
.m-article-header__info-trigger:focus,
.m-article-header__info-trigger:active {
  background-color: rgba($color__black, .9);
  color: $color__white;
}

.m-article-header__info-trigger::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.m-article-header__info-trigger svg {
  position: relative;
  top: -1px;
}

.m-article-header__info {
  position: absolute;
  right: 0;
  width: 250px;
  padding: 12px 16px 16px;
  border: 0 none;
  border-radius: $border-radius;
  background-color: rgba($color__black, .7);
  transition: opacity .15s;
  overflow: hidden;

  &[aria-hidden="true"] {
    height: 0;
    width: 0;
    padding: 0;
    opacity: 0;
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  @include breakpoint('medium+') {
    width: 300px;
    padding: 16px 20px 20px;
  }
}

.m-article-header__info .f-caption {
  @include tucked-align-top($f-caption);
  color: $color__white;
}


.m-article-header--feature {
  padding-top: 0;

  @include breakpoint('xlarge+') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint('xxlarge') {
    padding-right: 0;
    padding-left: 0;
  }
}

.m-article-header--feature .m-article-header__img {
  position: relative;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
}

.m-article-header--feature .m-article-header__img::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 220px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.05) 80%, rgba(0,0,0,0) 100%);

  @include breakpoint('small+') {
    height: 300px;
  }
}

.m-article-header--feature .m-article-header__img img,
.m-article-header--feature .m-article-header__img video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.m-article-header--feature .m-article-header__text {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 152px;
  padding-bottom: 24px;

  @include breakpoint('small+') {
    min-height: 164px;
  }

  @include breakpoint('medium+') {
    min-height: 180px;
    padding-bottom: 28px;
  }

  @include breakpoint('xlarge+') {
    padding-right: colspan(15, xlarge);
    padding-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-right: colspan(15, xxlarge);
    padding-left: colspan(15, xxlarge);
  }

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    background-size: 1px 1px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    background: none !important;
  }
}

.m-article-header--feature .m-article-header__text::before {
  //@include opaqueBg(rgba(0,0,0,.4), rgba(0,0,0,.25));
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 100vw;
  margin-left: -50vw;

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    background-color: none;
    background-image: inherit;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: bottom center;
    //top: auto;
    //height: 100vh;
    filter: blur(3px);
    clip: rect(0, auto, auto, auto);
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    background-color: rgba(0,0,0,.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

  .m-article-header--feature.m-article-header--editorial .m-article-header__text::before {
    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      background-color: rgba($color__bg--editorial, .85);
    }
  }

.m-article-header--feature .m-article-header__text::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 100%;
  height: 124px;
  width: 100vw;
  margin-left: -50vw;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.3) 100%);

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    bottom: 0;
    height: calc(100% + 124px);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.3) 124px, rgba(0,0,0,.5) 124px, rgba(0,0,0,.5) 100%);
  }
}
  .m-article-header--feature.m-article-header--editorial .m-article-header__text::after {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.3) 124px, rgba($color__bg--editorial, .85) 124px, rgba($color__bg--editorial, .85) 100%);
    }
  }

.m-article-header--feature .m-article-header__text > * {
  flex: 0 0 auto;
  order: 1;
}

.m-article-header--feature .title {
  @include tucked-margin-top($f-headline-editorial, ('xsmall': 44, 'medium+': 48));
  color: $color__text--title-contrast;
}
  .m-article-header--feature.m-article-header--editorial .title {
    color: $color__text--title;
  }

.m-article-header--feature .date {
  color: $color__text--title-contrast;
}
  .m-article-header--feature.m-article-header--editorial .date {
    display: none;
  }

.m-article-header--feature .type {
  position: absolute;
  left: 0;
  top: auto;
  bottom: calc(100% + 20px);
  margin-top: 0;
  color: $color__text--title-contrast;
  text-shadow: 0 0 25px rgba(0, 0, 0, 1);

  @include breakpoint('small+') {
    bottom: calc(100% + 24px);
  }

  @include breakpoint('xlarge+') {
    top: 20px;
    bottom: auto;
    text-shadow: none;
  }
}
  .m-article-header--feature.m-article-header--editorial .type {
    color: $color__text--secondary;
  }


.m-article-header--feature .m-article-header__info-trigger,
.m-article-header--feature .m-article-header__info {
  bottom: 100%;
  margin-bottom: 28px;
}




.m-article-header--hero {
  padding-top: 0;

  @include breakpoint('xlarge+') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint('xxlarge') {
    padding-right: 0;
    padding-left: 0;
  }
}

.m-article-header--hero .m-article-header__img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 100vw;
  margin-left: -50vw;
}

.m-article-header--hero .m-article-header__img::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 220px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.05) 80%, rgba(0,0,0,0) 100%);

  @include breakpoint('small+') {
    height: 300px;
  }
}

.m-article-header--hero .m-article-header__img img,
.m-article-header--hero .m-article-header__img video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-article-header--hero .m-article-header__text {
  display: flex;
  position: relative;
  z-index: 2;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 25vh;
  padding-bottom: 24px;

  @include breakpoint('small+') {
    padding-bottom: 60px;
  }

  @include breakpoint('medium+') {
    padding-bottom: 80px;
  }

  @include breakpoint('large+') {
    padding-bottom: 100px;
  }

  @include breakpoint('xlarge+') {
    padding-right: colspan(15, xlarge);
    padding-bottom: 140px;
    padding-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-right: colspan(15, xxlarge);
    padding-bottom: 180px;
    padding-left: colspan(15, xxlarge);
  }
}

.m-article-header--hero .title,
.m-article-header--hero .date,
.m-article-header--hero .type,
.m-article-header--hero .m-article-header__intro {
  color: $color__text--title-contrast;
  text-shadow: 0 0 25px rgba(0, 0, 0, 1);
  order: 1;
}

.m-article-header--hero .title {
  @include tucked-align-top($f-display-2);
  color: $color__text--title-contrast;
}

.m-article-header--hero .date {
  @include tucked-margin-top($f-secondary, ('xsmall': 40, 'small+': 60, 'medium+': 80));
}

.m-article-header--hero .type {
  order: 0;
  padding-bottom: 20px;

  @include breakpoint('xlarge+') {
    top: calc(25vh + 16px);
    padding-bottom: 0;
  }
}

.m-article-header--hero .hr {
  border-top-color: $color__text--title-contrast;
  order: 1;

  @include breakpoint('small+') {
    margin-top: 48px;
  }

  @include breakpoint('medium+') {
    margin-top: 72px;
  }

  @include breakpoint('xlarge+') {
    margin-right: colspan(15, xlarge, 0, true);
  }

  @include breakpoint('xxlarge') {
    margin-right: colspan(15, xxlarge, 0, true);
  }
}

.m-article-header--hero .m-article-header__intro {
  @include tucked-margin-top($f-deck, ('xsmall': 36));
  padding-right: 32px;

  @include breakpoint('medium+') {
    padding-right: 0;
  }
}

.m-article-header--hero .m-article-header__info-trigger,
.m-article-header--hero .m-article-header__info {
  bottom: 28px;
}




.m-article-header--generic {
  padding-top: 0;

  @include breakpoint('xlarge+') {
    min-height: auto;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint('xxlarge') {
    padding-right: 0;
    padding-left: 0;
  }
}

.m-article-header--generic .m-article-header__img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 100vw;
  margin-left: -50vw;
}

.m-article-header--generic .m-article-header__img img,
.m-article-header--generic .m-article-header__img video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.m-article-header--generic .m-article-header__text {
  position: relative;
  z-index: 2;
  padding-bottom: 44px;

  @include breakpoint('small+') {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  @include breakpoint('xlarge+') {
    padding-right: colspan(15, xlarge);
    padding-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-right: colspan(15, xxlarge);
    padding-left: colspan(15, xxlarge);
  }
}

.m-article-header--generic .title {
  @include tucked-margin-top($f-headline, ('xsmall': 40));
  color: $color__text--title-contrast;
  text-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

.m-article-header__breadcrumb {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-flow: row wrap;

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    background-size: 1px 1px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    background: none !important;
  }

  @include breakpoint('small+') {
    display: flex;
  }
}

.m-article-header__breadcrumb::before {
  //@include opaqueBg(rgba(0,0,0,.4), rgba(0,0,0,.25));
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 48px;
  margin-left: -50vw;
  background-color: rgba(0,0,0,.4);

  @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
    background-color: none;
    background-image: inherit;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    height: 100%;
    filter: blur(2px) brightness(.8);
    clip: rect(0, auto, 48px, auto);
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    background-color: rgba(0,0,0,.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.m-article-header__breadcrumb li {
  display: block;
  flex: 0 0 auto;
  height: 48px;
  padding-right: 3px;
  color: $color__text--title-contrast;
  line-height: 48px;
}

.m-article-header__breadcrumb .f-secondary {
  @include untuck();
}

.m-article-header__breadcrumb a {
  color: $color__text--title-contrast;
}





$imgPadding: 48px;
$thumbTease: 4px;

.m-article-header--gallery {
  display: block;
  padding-top: 0;

  @include breakpoint('xlarge+') {
    min-height: 0;
    padding: 0;
  }

  @include breakpoint('xxlarge') {
    padding: 0;
  }
}

.m-article-header--gallery .m-article-header__img {
  @include background-fill;
  width: 100%;
  height: calc(100vh - #{112px - $thumbTease + $imgPadding});
  padding-top: 16px;
  padding-bottom: 124px;
  background-color: $color__bg--primary;

  @include breakpoint('small+') {
    height: calc(100vh - #{128px - $thumbTease + $imgPadding});
    padding-top: 60px;
    padding-bottom: 140px;
  }

  @include breakpoint('medium+') {
    height: calc(100vh - #{140px - $thumbTease + $imgPadding});
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

// .m-article-header__imgs {
//   display: flex;
//   position: relative;
//   left: 50%;
//   width: 100vw;
//   height: 100%;
//   max-height: 843px;
//   flex-flow: row nowrap;
//   margin-left: -50vw;
// }

// .m-article-header__imgs li {
//   flex: 0 0 auto;
//   width: 100vw;
// }

.m-article-header--gallery .m-article-header__img-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 843px;
  height: 100%;
  max-height: 843px;
  margin: auto;
}

.m-article-header--gallery .m-article-header__img-container img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.m-article-header__img-copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 88px;
  text-align: center;
  text-overflow: ellipses;
  white-space: nowrap;

  @include breakpoint('small+') {
    right: auto;
    bottom: 36px;
    text-align: left;
  }
}

.m-article-header__img-actions {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  flex-flow: row no-wrap;
  justify-content: center;

  @include breakpoint('small+') {
    left: auto;
    bottom: 32px;
  }
}

.m-article-header__img-actions > li {
  flex: 0 0 auto;
}

.m-article-header__img-actions > li:not(:first-child) {
  margin-left: 1px;
}

.m-article-header__img-actions > li .btn {
  border-radius: 0;
}

.m-article-header__img-actions > li:first-child .btn {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.m-article-header__img-actions > li:last-child .btn {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}



.m-article-header__img-nav {
  display: none;

  @include breakpoint('medium+') {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;

    @media (hover: hover) {
      // only show this layer if hover is available
      display: block;
    }
  }
}

.m-article-header__img-nav-next-img,
.m-article-header__img-nav-prev-img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50vw - 160px);
  height: 100%;
}

  .m-article-header__img-nav-next-img {
    right: 160px;

    button {
      cursor: e-resize;
    }
  }

  .m-article-header__img-nav-prev-img {
    left: 160px;

    button {
      cursor: w-resize;
    }
  }

.m-article-header__img-nav-next-img button,
.m-article-header__img-nav-prev-img button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0 none;
  opacity: 0;
}

.m-article-header__img-nav-next-artwork,
.m-article-header__img-nav-prev-artwork {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 160px;
  height: 100%;
}

  .m-article-header__img-nav-next-artwork {
    right: 0;
  }

  .m-article-header__img-nav-prev-artwork {
    left: 0;
  }

.m-article-header__img-nav-artwork-preview {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 248px;
  margin-top: -124px;
  padding: 20px;
  background-color: $color__black--80;
  opacity: 0;
  transition: all .15s $bezier--ease-out-circ;

  .m-article-header__img-nav-next-artwork & {
    right: -200px;
    padding-right: 40px;
  }

  .m-article-header__img-nav-prev-artwork & {
    left: -200px;
    padding-left: 40px;
    text-align: right;
  }

  .m-article-header__img-nav-next-artwork:hover & {
    right: 0;
    opacity: 1;
  }

  .m-article-header__img-nav-prev-artwork:hover & {
    left: 0;
    opacity: 1;
  }

  &:hover {
    background-color: $color__black--85;
  }
}

.m-article-header__img-nav-artwork-preview-img {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;

  .m-article-header__img-nav-prev-artwork & {
    left: 20px;
  }
}

.m-article-header__img-nav-artwork-preview-img img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.m-article-header__img-nav-artwork-preview .f-caption {
  @include tucked-margin-top($f-caption, ('xsmall': 32));
  display: block;
  color: $color__text--secondary;

  strong {
    font-weight: normal;
    color: $color__text--title-contrast;
  }
}

.m-article-header__img-nav-artwork-preview .icon--arrow {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  color: $color__text--title-contrast;
  transition: all .15s $bezier--bounce;

  .m-article-header__img-nav-next-artwork & {
    right: 20px;
  }

  .m-article-header__img-nav-prev-artwork & {
    left: 20px;
    transform: rotate(180deg);
  }
}

  .m-article-header__img-nav-next-artwork .m-article-header__img-nav-artwork-preview:hover .icon--arrow {
    right: 10px;
  }

  .m-article-header__img-nav-prev-artwork .m-article-header__img-nav-artwork-preview:hover .icon--arrow {
    left: 10px;
  }



.m-article-header__img-thumbs {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint('small+') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.m-article-header__img-thumbs > li {
  position: relative;
  flex: 0 0 auto;
  width: 80px;
  height: 80px;

  @include breakpoint('small+') {
    width: 160px;
    height: 160px;
  }
}

.m-article-header__img-thumbs > li:not(:first-child) {
  margin-left: 24px;

  @include breakpoint('small+') {
    margin-left: 40px;
  }
}

.m-article-header__img-thumbs button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  color: transparent;
  font: 0/0 a;
  cursor: pointer;
}

.m-article-header__img-thumbs button[disabled] {
  cursor: default;
}

.m-article-header__img-thumbs button[disabled],
.m-article-header__img-thumbs button:hover {
  border: 1px solid $color__black--54;
}

.m-article-header__img-thumbs img {
  // display: block;
  // width: 80px;
  // height: 80px;
  // object-fit: contain;

  // @include breakpoint('small+') {
  //   width: 160px;
  //   height: 160px;
  // }
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
