
/***

```
<form class="m-aside-newsletter">
  <fieldset>
    <legend><span class="title f-deck">Sign up to our newsletter and receive updates.</span></legend>
    <input id="newsletterEmail" name="newsletterEmail">
    <label for="newsletterEmail">Email address</label>
    <button type="submit">Sign Up</button>
  </fieldset>
</form>
```

***/

.m-aside-newsletter {
  @include background-fill;
  margin-top: 40px;
  background-color: $color__bg--secondary;
}

.m-aside-newsletter fieldset {
  display: block;
  margin: 0;
  padding: 0;

  @include breakpoint('medium+') {
    padding-left: colspan(25, medium);
  }

  @include breakpoint('large+') {
    padding-left: colspan(29, large);
  }

  @include breakpoint('xlarge+') {
    padding-left: colspan(29, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-left: colspan(29, xxlarge);
  }
}

.m-aside-newsletter legend {
  float: left;

  @include breakpoint('medium+') {
    position: absolute;
    left: 0;
    top: 45px;
  }

  @include breakpoint('large+') {
    top: 60px;
  }
}

.m-aside-newsletter legend .title {
  display: block;

  @include breakpoint('medium+') {
    width: colspan(23, medium);
  }

  @include breakpoint('large+') {
    width: colspan(29, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(29, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(29, xxlarge);
  }
}

.m-aside-newsletter legend .title.f-list-3 {
  @include tucked-margin-top($f-list-3, ('xsmall': 40, 'small': 84));
}

.m-aside-newsletter__field {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  clear: left;
  padding-top: .02px;
  padding-bottom: 20px;

  @include breakpoint('small+') {
    flex-flow: row nowrap;
  }
}

.m-aside-newsletter label {
  display: block;
  flex: 0 0 auto;
  width: 100%;

  @include breakpoint('small+') {
    width: auto;
  }
}

.m-aside-newsletter label.f-secondary {
  @include tucked-margin-top($f-secondary, ('xsmall': 40, 'small': 84));
}

.m-aside-newsletter input {
  display: block;
  flex: 1 1 auto;
  width: auto;
  padding-bottom: 3px;
  padding-left: 0;
  border: 0 none;
  border-bottom: 1px solid $color__rules--secondary;
  border-radius: 0;
  background-color: transparent;

  @include breakpoint('small+') {
    margin-left: 20px;
  }
}

.m-aside-newsletter label + input {
  margin-top: 0;
}

.m-aside-newsletter button {
  @include untuck;
  display: block;
  flex: 0 0 auto;
  width: 60px;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-bottom: 1px solid $color__rules--secondary;
  border-radius: 0;
  background-color: transparent;
  color: $color__link--accent;
  text-align: right;

  &:hover,
  &:focus {
    color: $color__link--accent-hover;
  }

  &:active {
    color: $color__link--accent-active;
  }
}

.m-aside-newsletter__msg {
  @include untuck;
  @include background-fill;
  display: block;
  background-color: $color__link;
  color: $color__white;
  font-style: normal;

  @include breakpoint('medium+') {
    margin-left: colspan(25, medium, 0, true);
  }

  @include breakpoint('large+') {
    margin-left: colspan(29, large, 0, true);
  }

  @include breakpoint('xlarge+') {
    margin-left: colspan(29, xlarge, 0, true);
  }

  @include breakpoint('xxlarge') {
    margin-left: colspan(29, xxlarge, 0, true);
  }
}

.m-aside-newsletter__msg.f-buttons {
  padding-top: 11px;
  padding-bottom: 13px;
}

.m-aside-newsletter__msg--error {
  background-color: $color__error;
}
