.m-custom-banner-block {
    width: 100%;
    margin-top: 50px;
    
    .content-wrapper {
        position: relative;
        width: 100%;
        height: 200px;
        @include breakpoint('medium') {
            height: 300px;
        }
        @include breakpoint('small') {
            height: 300px;
        }
        @include breakpoint('xsmall') {
            height: 300px;
        }
    }

    .background-wrapper {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .background_color {
            height: 100%;
            width: 100%;
        }
    }

    .text-wrapper {
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 85px;
        height: 100%;
        width: 100%;
        @include breakpoint('medium') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 50px;
        }
        @include breakpoint('small') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 50px;
        }
        @include breakpoint('xsmall') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 30px;
        }

        .custom-banner-title {
            color: white !important;
            &::before {
                padding: 0 !important;
            }
        }

        .custom-banner-body {
            color: white !important;
            &::before {
                padding: 16px 0 0 0 !important;
            }
        }
    }

    .banner-apps {
        height: auto;
        display: flex;
        align-items: center;
        @include breakpoint('xsmall') {
            padding-top: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }

        >.google-play {
            height: 40px !important;
            >img {
                width: auto;
                height: 100%;
            }
        }

        >.app-store {
            height: 40px !important;
            margin-right: 12px;
            @include breakpoint('xsmall') {
                margin-right: 0;
                margin-bottom: 6px;
            }
            >img {
                width: auto;
                height: 100%;
            }
        }
    }
}