.m-custom-banner-block {
    width: 100%;
    margin-top: 50px;

    .content-wrapper {
        position: relative;
        width: 100%;
        height: 200px;
        height: fit-content !important;

        @include breakpoint('medium') {
            height: 300px;
        }

        @include breakpoint('small') {
            height: 300px;
        }

        @include breakpoint('xsmall') {
            height: 300px;
        }
    }

    .background-wrapper {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($color__black, .4);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .background_color {
            height: 100%;
            width: 100%;
        }
    }

    .text-wrapper {
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 56px;
        height: 100%;
        width: 100%;

        @include breakpoint('medium') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 50px;
        }

        @include breakpoint('small') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 50px;
        }

        @include breakpoint('xsmall') {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 30px;
        }

        .custom-banner-title {
            line-height: 28px;
            display: block;
            color: white !important;

            &::before {
                padding: 0 !important;
            }
        }

        .custom-banner-body {
            display: block;
            margin-top: 20px;
            margin-right: 20px;
            color: white !important;

            &::before {
                padding: 16px 0 0 0 !important;
            }
        }
    }

    .banner-apps {
        height: auto;
        display: flex;
        align-items: center;

        @include breakpoint('xsmall') {
            padding-top: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }

        >.google-play {
            height: 40px !important;

            >img {
                width: auto;
                height: 100%;
            }
        }

        >.app-store {
            height: 40px !important;
            margin-right: 12px;

            @include breakpoint('xsmall') {
                margin-right: 0;
                margin-bottom: 6px;
            }

            >img {
                width: auto;
                height: 100%;
            }
        }
    }

    &.custom-banner-block--default {
        .custom-banner-body {
            font-size: 24px;
            font-family: $serif-font--loaded !important;
        }
        
        .btn {
            border-color: $color__white !important;
            background-color: #ffffff00 !important;
            color: $color__white !important;
            margin-top: 20px;
        
            &:hover,
            &:focus:hover {
            background-color: #ffffff20 !important;
            }
        
            &:active:hover {
            background-color: #ffffff20 !important;
            }
        }
    }

    &.custom-banner-block--editorial {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid $color__black--20;

        .background-wrapper {
            &::before {
                background: $color__cold-white;
            }
        }

        &.custom-banner-block--variation-cloud {
            .content-wrapper {
                height: 276px;
                display: flex;
            }

            .text-wrapper {
                align-items: center;
                height: unset;
                
                @include breakpoint('medium-') {
                    align-items: flex-start;
                }

                >div:first-child {
                    align-self: baseline;
                }
            }

            .button-wrapper {
                max-width: 70%;
            }

            .custom-banner-title {
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.08em;
                text-align: left;
                text-transform: uppercase;
                color: $color__black--90 !important;
            }

            .custom-banner-body {
                font-family: $serif-font--loaded;
                font-size: 22px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: -0.005em;
                text-align: left;
                color: $color__black--90 !important;
            }

            .tag-cloud {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                @include breakpoint('medium-') {
                    display: none;
                }

                .f-tag {
                    background-color: $color__white;
                    padding: 6px 12px;
                    margin: 6px;
                    font-family: $sans-serif-font--loaded;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.14em;
                    color: $color__black;
                    border: 1px solid $color__black--20;
                    border-radius: 2px;
                }
            }

            .tag-cloud__link {
                display: block;
                margin: auto;
                color: $color__rules--brand;
                text-align: center;
                font-size: 20px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 0.0001em;
                text-transform: none;
                padding-top: 17px;
            }
        }
    }
}