.m-cta-banner {
  display: block;
  position: relative;
  height: 240px;
  overflow: hidden;

  margin-top: 36px;

  & + * {
    margin-top: 36px;
  }

  @include breakpoint('small+') {
    margin-top: 48px;

    & + * {
      margin-top: 48px;
    }
  }

  @include breakpoint('medium+') {
    height: 200px;
    margin-top: 60px;

    & + * {
      margin-top: 60px;
    }
  }

  .m-cta-banner__txt {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint('medium+') {
      top: 0;
      bottom: 0;
      padding-right: colspan(20, medium);
    }

    @include breakpoint('large+') {
      padding-right: colspan(13, large);
    }

    @include breakpoint('xlarge') {
      padding-right: colspan(11, xlarge);
    }
  }

  .m-cta-banner__action {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    bottom: auto;
    top: 96px;
    width: 100%;

    @include breakpoint('medium+') {
      top: 76px;
      width: colspan(14, medium);
    }

    @include breakpoint('large+') {
      width: colspan(10, large);
    }

    @include breakpoint('xlarge') {
      width: colspan(8, xlarge);
    }

    .btn {
      display: block;
      width: 100%;

      .m-cta-banner__link:hover &,
      .m-cta-banner__link:focus:hover & {
        border-color: $color__link--accent-hover;
        background-color: $color__link--accent-hover;
        color: $color__white;
      }
    }
  }

  .m-cta-banner__title.f-module-title-2 {
    @include untuck();
  }

  .m-cta-banner__msg.f-list-2 {
    @include untuck();

    margin-top: 16px;

    @include breakpoint('large+') {
      margin-top: 24x
    }
  }
}

.m-cta-banner--with-image {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.2);
  }

  .m-cta-banner__img {
    z-index: 1;

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    // Position for parallax:
    position: absolute;

    top: -100px;
    height: 340px;

    @include breakpoint('small+') {
      height: 300px;
    }

    img, video {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      @include objectFitFix;
      object-fit: cover;
    }
  }

  .m-cta-banner__txt {
    left: 20px;
    right: 20px;

    @include breakpoint('small+') {
      left: colspan(3, small);
      right: colspan(3, small);
    }

    @include breakpoint('medium+') {
      left: colspan(3, medium);
      right: colspan(3, medium);
    }

    @include breakpoint('large+') {
      left: colspan(3, large);
      right: colspan(3, large);
    }

    @include breakpoint('xlarge') {
      left: colspan(3, xlarge);
      right: colspan(3, xlarge);
    }
  }

  .m-cta-banner__title,
  .m-cta-banner__msg {
    color: $color__text--title-contrast;
  }

  .m-cta-banner__link:hover .btn,
  .m-cta-banner__link:focus:hover .btn {
    border-color: $color__link--accent-hover;
    background-color: $color__link--accent-hover;
    color: $color__white;
  }
}
