.m-collection-block {
    width: 100vw;
    margin-top: 50px;
    margin-left: calc(50% - 50vw);
    display: flex;
    flex-direction: row;
    background-color: $color__bg--secondary;
    padding: 4.6875vw;

    @include breakpoint('small-') {
        margin-left: calc(50% - 50vw);
        padding: 25px;
    }

    .m-collection-wrapper {
        max-width: 1500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .m-collection-heading {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: baseline;

        @include breakpoint('small-') {
            flex-direction: column;
            margin-bottom: 24px;
        }

        .m-collection-slider-controls {
            display: flex;
            flex-direction: row;

            @include breakpoint('small-') {
                margin-top: 20px;
            }

            .btn+.btn {
                margin: 0;
            }

            .btn svg {
                margin-right: 0;
            }

            .b-drag-scroll__btn-next {
                padding-right: 0;
            }

            .btn:first-of-type {
                @include breakpoint('small-') {
                    padding-left: 0 !important;
                }
            }

            .icon--arrow {
                margin-top: 0 !important;
            }

            .arrow-link svg {
                -webkit-transform: scale(1.5);
                -o-transform: scale(1.5);
                transform: scale(1.5);

                @include breakpoint('medium+') {
                    -webkit-transform: scale(2);
                    -o-transform: scale(2);
                    transform: scale(2);
                }
            }

            .arrow-link--back svg {
                -webkit-transform: scale(1.5) rotate(180deg);
                -o-transform: scale(1.5) rotate(180deg);
                transform: scale(1.5) rotate(180deg);


                @include breakpoint('medium+') {
                    -webkit-transform: scale(2) rotate(180deg);
                    -o-transform: scale(2) rotate(180deg);
                    transform: scale(2) rotate(180deg);
                }
            }
        }
    }

    .m-collection-content {
        display: flex;
        flex-direction: column-reverse;

        @include breakpoint('xsmall') {
            flex-direction: column;
        }

        .m-collection-artworks {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            overflow-x: scroll;
            overflow-y: hidden;
            justify-content: space-between;
            height: 650px;
            width: 100vw;
            margin-left: -50px;
            padding-left: 50px;

            @include breakpoint('small-') {
                height: 290px;
            }

            .m-collection-row {
                display: flex;
                flex-direction: row;
            }

            .m-collection-row {
                height: 300px;

                @include breakpoint('small-') {
                    height: 135px;
                }
            }

            .m-collection-artwork__item {
                height: 300px;
                width: auto;

                @include breakpoint('small-') {
                    height: 135px;
                }
            }

            .m-collection__img img {
                height: 300px;
                width: auto;
                object-fit: contain;
                margin-right: 40px;

                @include breakpoint('small-') {
                    margin-right: 20px;
                    height: 135px;
                }
            }

            .m-collection__img--no-bg {
                background: none;
            }

            .m-collection__img--no-bg::after {
                content: none;
                display: none;
            }
        }

        .m-collection-artworks::-webkit-scrollbar {
            width: 0;
        }

        .m-collection-artworks::-webkit-scrollbar-thumb {
            background: transparent;
        }

        .m-collection-info {
            margin-bottom: 56px;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            @include breakpoint('medium-') {
                margin-bottom: 32px;
            }

            @include breakpoint('small-') {
                flex-direction: column;
                margin-top: 0;
                margin-bottom: 32px;
            }

            @include breakpoint('xsmall') {
                flex-direction: column;
                margin-top: 24px;
                margin-bottom: 0;
            }

            .collection-desc {
                width: 65%;
                font-family: $serif-font--loaded;
                color: $color__black--54;
                line-height: 36px;
                font-size: 28px;

                @include breakpoint('small-') {
                    font-size: 22px;
                    width: 100%;
                }
            }

            .collection-btns {
                width: 30%;

                @include breakpoint('small-') {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 20px;
                    width: 100%;
                }

                @include breakpoint('xsmall') {
                    flex-direction: column;
                    margin-top: 0;
                }

                .btn {
                    margin: 0 0 20px 0;
                    width: 100%;

                    @include breakpoint('small-') {
                        width: 48%;
                        margin: 0;
                    }

                    @include breakpoint('xsmall') {
                        margin-top: 16px;
                        width: 100%;
                    }
                }
            }
        }
    }
}