@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/other";
@use "../setup/mixins/typography";

.m-cta-banner {
  display: block;
  position: relative;
  height: 240px;
  overflow: hidden;

  margin-top: 36px;

  &+* {
    margin-top: 36px;
  }

  @include breakpoint.breakpoint('small+') {
    margin-top: 48px;

    &+* {
      margin-top: 48px;
    }
  }

  @include breakpoint.breakpoint('medium+') {
    height: 200px;
    margin-top: 60px;

    &+* {
      margin-top: 60px;
    }
  }

  .m-cta-banner__txt {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint.breakpoint('medium+') {
      top: 0;
      bottom: 0;
      padding-right: grid.colspan(20, medium);
    }

    @include breakpoint.breakpoint('large+') {
      padding-right: grid.colspan(13, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      padding-right: grid.colspan(11, xlarge);
    }
  }

  .m-cta-banner__action {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    bottom: auto;
    top: 96px;
    width: 100%;

    @include breakpoint.breakpoint('medium+') {
      top: 76px;
      width: grid.colspan(14, medium);
    }

    @include breakpoint.breakpoint('large+') {
      width: grid.colspan(10, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(8, xlarge);
    }

    .btn {
      display: block;
      width: 100%;
    }
  }

  .m-cta-banner__title.f-module-title-2 {
    @include typography.untuck();
  }

  .m-cta-banner__msg.f-list-2 {
    @include typography.untuck();

    & {
      margin-top: 16px;
    }

    @include breakpoint.breakpoint('large+') {
      margin-top: 24x
    }
  }
}

.m-cta-banner--with-image {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .m-cta-banner__img {
    z-index: 1;

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    // Position for parallax:
    position: absolute;

    top: -100px;
    height: 340px;

    @include breakpoint.breakpoint('small+') {
      height: 300px;
    }

    img,
    video {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      @include other.objectFitFix;

      & {
        object-fit: cover;
      }
    }
  }

  .m-cta-banner__txt {
    left: 20px;
    right: 20px;

    @include breakpoint.breakpoint('small+') {
      left: grid.colspan(3, small);
      right: grid.colspan(3, small);
    }

    @include breakpoint.breakpoint('medium+') {
      left: grid.colspan(3, medium);
      right: grid.colspan(3, medium);
    }

    @include breakpoint.breakpoint('large+') {
      left: grid.colspan(3, large);
      right: grid.colspan(3, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      left: grid.colspan(3, xlarge);
      right: grid.colspan(3, xlarge);
    }
  }

  .m-cta-banner__title,
  .m-cta-banner__msg {
    color: colors.$color__text--title-contrast;
  }

  .m-cta-banner__link .btn:hover,
  .m-cta-banner__link .btn:focus:hover {
    border-color: colors.$color__link--accent-hover;
    background-color: colors.$color__link--accent-hover;
    color: colors.$color__white;
  }

  .m-cta-banner__link .btn--my-museum-tour:hover,
  .m-cta-banner__link .btn--my-museum-tour:focus:hover {
    border-color: transparent;
    background-color: colors.$color__teal-medium--my-museum-tour;
    color: colors.$color__black;
  }
}