@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/other";
@use "../setup/mixins/typography";

.m-directions-block {
  @include other.float-clear;

  & {
    margin-top: 32px;
    padding-top: 19px;
    border-top: 1px solid colors.$color__rules--primary;
  }

  @include breakpoint.breakpoint('small+') {
    margin-top: 52px;
  }

  @include breakpoint.breakpoint('medium+') {
    margin-top: 72px;
  }
}

.m-directions-block__map {

  @include breakpoint.breakpoint('large+') {
    float: left;
    width: grid.colspan(38, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(38, xlarge);
  }
}

.m-directions-block__text {
  margin-top: 20px;
  padding-top: .02px;

  @include breakpoint.breakpoint('small+') {
    float: left;
    width: grid.colspan(28, small);
  }

  @include breakpoint.breakpoint('medium+') {
    width: grid.colspan(28, medium);
  }

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(18, large);
    margin-top: 0;
    margin-left: grid.colspan(2, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(18, xlarge);
    margin-left: grid.colspan(2, xlarge);
  }

  h3 {
    @include breakpoint.breakpoint('small+') {
      margin-top: 11px;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 16px;
    }

    @include breakpoint.breakpoint('large+') {
      margin-top: 0;
    }
  }
}

.m-directions-block__links {
  margin-top: 20px;
  padding-top: .02px;

  @include breakpoint.breakpoint('small+') {
    float: left;
    width: grid.colspan(28, small);
    margin-left: grid.colspan(2, small);
  }

  @include breakpoint.breakpoint('medium+') {
    width: grid.colspan(28, medium);
    margin-left: grid.colspan(2, medium);
  }

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(18, large);
    margin-top: 32px;
    margin-left: grid.colspan(2, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(18, xlarge);
    margin-left: grid.colspan(2, xlarge);
  }
}

.m-directions-block__links ul[class*=f-] {
  margin-top: 0;
  @include typography.untuck;
}

.m-directions-block__links.o-blocks>span[class*=f-] a {
  background: none;
  color: colors.$color__link--accent;

  &:hover,
  &:focus:hover {
    @include typography.text-underline(1.02em, colors.$color__link--accent-hover);

    & {
      color: colors.$color__link--accent-hover;
    }
  }

  &:active {
    @include typography.text-underline(1.02em, transparent);

    & {
      color: colors.$color__link--accent-active;
    }
  }
}