

.m-date-listing {
  position: relative;

  @include breakpoint('medium+') {
    display: flex;
    flex-flow: row nowrap;
  }
}

.m-date-listing::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $colors-themes-light-mode-rules-primary;
}

.m-date-listing .day {
  margin-top: 0;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    align-self: flex-start;
    width: colspan(11, medium);
  }

  @include breakpoint('large+') {
    width: colspan(11, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(11, xlarge);
  }
}

.m-date-listing__listings {
  margin-top: $blocks-spacings-medium-small;
  padding-top: $blocks-spacings-default;
  border-top: 1px solid $colors-themes-light-mode-rules-primary;

  @include breakpoint('small+') {
    padding-top: 19px;
  }

  @include breakpoint('medium+') {
    flex: 1;
    width: auto;
    margin-top: 0;
    padding-top: 23px;
  }
}

.m-date-listing__listings-title {
  margin-top: $blocks-spacings-medium;
  padding-top: $blocks-spacings-half;
  border-top: 1px solid $colors-themes-light-mode-rules-primary;

  @include breakpoint('small+') {
    margin-top: $blocks-spacings-medium-small;
  }

  @include breakpoint('medium+') {
    margin-top: $blocks-spacings-medium;
  }
}

.m-date-listing__items {
  margin-top: 0;

  .m-date-listing__listings-title + & {
    margin-top: $blocks-spacings-large;

    @include breakpoint('small+') {
      margin-top: $blocks-spacings-double;
    }

    @include breakpoint('medium+') {
      margin-top: $blocks-spacings-large;
    }
  }
}
