

.m-date-listing {
  padding-top: 15px;
  border-top: 1px solid $color__rules--primary;

  @include breakpoint('large+') {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 23px;
  }
}

.m-date-listing .day {
  margin-top: 0;

  @include breakpoint('large+') {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 100%;
    width: colspan(11, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(11, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(11, xxlarge);
  }
}

.m-date-listing__items {
  padding-top: 19px;
  border-top: 1px solid #e6e6e6;

  @include breakpoint('large+') {
    flex: 1;
    width: auto;
    margin-top: 0;
    padding-top: 0;
    border-top: 0 none;
  }
}
