
.m-featured-results {
  margin-top: $blocks-spacings-extra-large;
}

.m-featured-results__title.f-tag {
  @include tucked-align-top($f-tag);
}

.m-featured-results .m-listing--row {
  margin-top: 0;
  padding: 20px;
  border-top: 1px solid $colors-themes-light-mode-rules-primary;
  background: $colors-themes-light-mode-background-secondary;

  & + & {
    margin-top: 0;

    @include breakpoint('small+') {
      margin-top: 0;
      padding-top: $blocks-spacings-medium-small;
    }

    @include breakpoint('medium+') {
      margin-top: 0;
      padding-top: $blocks-spacings-medium-small;
    }
  }
}

.m-featured-results p.m-listing--row,
.m-featured-results .o-row-listing {
  margin-top: $blocks-spacings-default;
}
