@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/other";
@use "../setup/typography";


.m-featured-results {
  margin-top: 40px;
}

.m-featured-results__title.f-tag {
  @include other.tucked-align-top(typography.$f-tag);
}

.m-featured-results .m-listing--row {
  margin-top: 0;
  padding: 20px;
  border-top: 1px solid colors.$color__rules--primary;
  background: colors.$color__bg--secondary;

  & + & {
    margin-top: 0;

    @include breakpoint.breakpoint('small+') {
      margin-top: 0;
      padding-top: 20px;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 0;
      padding-top: 20px;
    }
  }
}

.m-featured-results p.m-listing--row,
.m-featured-results .o-row-listing {
  margin-top: 16px;
}
