

.m-header-block {
  position: relative;
  padding-top: 38px;

  @include breakpoint('small') {
    padding-top: 42px;
  }

  @include breakpoint('medium+') {
    padding-top: 48px;
  }

  & + * {
    margin-top: 24px;

    @include breakpoint('small') {
      margin-top: 32px;
    }

    @include breakpoint('medium+') {
      margin-top: 40px;
    }
  }

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: $color__rules--primary;
  }

  .m-links-bar + &::before {
    content: none;
    display: none;
  }
}

.m-header-block .title {
  margin-top: 0;
}
