

.m-header-block {
  position: relative;
  padding-top: 28px;

  & + * {
    margin-top: 80px;
  }

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: $color__rules--primary;
  }

  .m-links-bar + &::before {
    content: none;
    display: none;
  }
}

.m-header-block .title {
  margin-top: 0;
}
