

.m-intro-block {
  position: relative;
  margin-top: 40px;

  @include breakpoint('medium+') {
    display: flex;
    flex-flow: row nowrap;
  }

  .m-header-block + &,
  .o-features + & {
    padding-top: 16px;
  }

  .m-header-block + &::before,
  .o-features + &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: $color__rules--primary;
  }

  & + * {
    margin-top: 60px;
  }

  .m-header-block + &:not(.m-intro-block--tight) {
    // margin-top: 120px;
  }
}

.m-intro-block__intro {
  color: $color__text--contrast;

  @include breakpoint('medium+') {
    flex: 1 1 auto;

    &:only-child {
      max-width: 80%;
    }
  }
}

.m-intro-block__intro.f-deck {
 @include tucked-align-top($f-deck);
}


.m-intro-block .m-intro-block__links {
  margin-top: 40px;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    width: colspan(15, medium);
    margin-top: 0;
    margin-left: colspan(5, medium);
  }

  @include breakpoint('large+') {
    width: colspan(15, large);
    margin-left: colspan(5, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(15, xlarge);
    margin-left: colspan(5, xlarge);
  }
}

.m-intro-block .m-intro-block__link:not(:first-child) {
  margin-top: 20px;
}

.m-intro-block .m-intro-block__link-trigger {
  display: block;
  width: 100%;
}
