.m-image-slider {
  height: 60vw;
  max-height: 90vh;
  clear: both;

  .m-image-slider__viewer {
    height: 100%;
  }

  .m-image-slider__handle {

    position: absolute;

    height: 44px;
    width: 44px;

    /* center the element */
    left: 50%;
    top: 50%;

    margin-left: -22px;
    margin-top: -22px;

    border-radius: 50%;

    background: #dc717d url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23FFF" d="M13 21l-5-5 5-5m6 0l5 5-5 5"/></svg>') no-repeat center center;
    cursor: move;

    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    z-index: 2;

    &.draggable {
      background-color: #445b7c;
    }
  }
}
