// PUB-31: Used for gallery modals and for hero images
.m-info-trigger {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0 none;
  border-radius: 50%;
  background-color: rgba($color__black, .7);
  color: $color__white;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transition: opacity .15s;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($color__black, .9);
    color: $color__white;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  svg {
    position: relative;
    top: -1px;
  }

  // WEB-1579: Standardize the hero header info trigger buttons
  &.m-info-trigger--inverse {
    background-color: transparent;
    border-radius: 0;

    opacity: .7;

    .icon--info {
      width: 28px;
      height: 28px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      opacity: .9;
    }
  }
}

.m-info-trigger__info {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px 16px 16px;
  border: 0 none;
  border-radius: $border-radius;
  background-color: rgba($color__black, .7);
  transition: opacity .15s;
  overflow: hidden;

  &[aria-hidden="true"] {
    height: 0;
    width: 0;
    padding: 0;
    opacity: 0;
  }

  @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  @include breakpoint('small+') {
    left: auto;
    width: auto;
    max-width: colspan(38, small);
  }

  @include breakpoint('medium+') {
    width: auto;
    max-width: colspan(23, medium);
    padding: 16px 20px 20px;
  }

  @include breakpoint('large+') {
    max-width: colspan(18, large);
  }

  @include breakpoint('xlarge') {
    max-width: colspan(18, xlarge);
  }

  .f-caption-title {
    @include tucked-align-top($f-caption-title);
    color: $color__white;
  }

  .f-caption {
    @include tucked-align-top($f-caption);
    color: $color__white;
  }
}
