

.m-info-block {
  margin-top: 40px;
}

.m-info-block .f-deck {
  max-width: 80%;
  color: $color__text--contrast;
}

.m-info-block__footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.m-info-block__footer ul {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin-top: 0;
}

.m-info-block__footer li {
  flex: 0 0 auto;
  margin-left: 20px;
}

.m-info-block__footer li:first-child {
  margin-left: 0;
}

.m-info-block__footer-actions-secondary a {
  color: $color__link;

  &:hover,
  &:focus {
    color: $color__link--hover;
  }

  &:active {
    color: $color__link--active;
  }
}
