.m-image-slider {
  height: 100%;
  width: 100%;
  top: 0;

  position: absolute;

  .m-image-slider__viewer {
    height: 100%;
  }

  .m-image-slider__handle {

    position: absolute;

    height: 44px;
    width: 44px;

    /* center the element */
    left: 50%;
    top: 50%;

    margin-left: -22px;
    margin-top: -22px;

    border-radius: 50%;

    background: #8e847d url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23FFF" d="M13 21l-5-5 5-5m6 0l5 5-5 5"/></svg>') no-repeat center center;
    cursor: move;

    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    z-index: 2;

    &.draggable {
      background-color: #445b7c;
    }
  }

  // Actions adapted from o-fullscreen-image
  .m-image-slider__actions {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 20px;
    right: 20px;
    bottom: 20px;
    flex-flow: row no-wrap;
    justify-content: center;

    @include breakpoint('small+') {
      left: auto;
      right: 32px;
      bottom: 32px;
    }

    .s-dragging ~ & {
      opacity: .5;
      pointer-actions: none;
    }

    > li {
      flex: 0 0 auto;

      &:not(:first-child) {
        margin-left: 1px;
      }

      .btn {
        border-radius: 0;
      }

      &:first-child .btn {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child .btn {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
