/***

```
<nav class="m-links-bar">
  <ul class="m-links-bar__items-primary">
    <li class="m-links-bar__item s-active"><span class="m-links-bar__item-trigger">Exhibitions</span></li>
    <li class="m-links-bar__item"><a class="m-links-bar__item-trigger" href="#">Events</a></li>
  </ul>
</nav>
<nav class="m-links-bar">
  <ul class="m-links-bar__items-primary">
    <li class="m-links-bar__item s-active"><span class="m-links-bar__item-trigger">Exhibitions</span></li>
    <li class="m-links-bar__item"><a class="m-links-bar__item-trigger" href="#">Events</a></li>
  </ul>
  <ul class="m-links-bar__items-secondary">
    <li class="m-links-bar__item"><span class="m-links-bar__item-trigger">Login</span></li>
  </ul>
</nav>
<nav class="m-links-bar .m-links-bar--tabs">
  <ul class="m-links-bar__items-primary">
    <li class="m-links-bar__item s-active"><span class="m-links-bar__item-trigger">Exhibitions</span></li>
    <li class="m-links-bar__item"><a class="m-links-bar__item-trigger" href="#">Events</a></li>
  </ul>
</nav>
```

***/

$m-links-bar-descender-pad: 8px;

.m-links-bar {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 40px;

  & + * {
    margin-top: 40px;
  }

  & + .m-collection-search {
    margin-top: 20px;
  }

  .m-intro-block + & {
    margin-top: 20px;
  }

  .o-row-listing + & {
    margin-top: 20px;

    @include breakpoint('small+') {
      margin-top: 20px;
    }

    @include breakpoint('medium+') {
      margin-top: 20px;
    }
  }

  @include breakpoint('small+') {
    flex-wrap: nowrap;
  }
}

.m-links-bar::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;

  .m-intro-block + &:not(.m-links-bar--tabs)::before {
    content: none;
    display: none;
  }
}

.m-links-bar__items-primary,
.m-links-bar__items-secondary {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 100%;
  min-height: 56px;

  @include breakpoint('small+') {
    width: auto;
  }
}

.m-links-bar__items-primary {
  flex-wrap: wrap;

  @include breakpoint('small+') {
    flex: 1;
  }

  &.s-measuring {
    overflow: hidden;
  }
}

.m-links-bar__items-secondary {
  flex-wrap: wrap;

  @include breakpoint('small+') {
    flex-wrap: nowrap;
    margin-left: auto;
    padding-left: 20px;
  }
}

.m-links-bar__item {
  position: relative;
  flex: 0 0 auto;
  margin-right: 20px;
  padding-top: 8px;

  &.s-hidden {
    display: none;
  }
}

.m-links-bar__item--primary {
  padding-right: 19px;
  padding-left: 19px;
  border-right: 1px solid $color__rules--tertiary;
  border-left: 1px solid $color__rules--tertiary;

  & + & {
    margin-left: -21px;
  }
}

.m-links-bar__item--primary:last-child {
  padding-right: 0;
  border-right: 0 none;
}

.m-links-bar__items-secondary .m-links-bar__item:last-child {
  margin-right: 0;
}

.m-links-bar__item--push {
  margin-left: auto;

  &:last-child {
    margin-right: 0;
  }

  & + & {
    margin-left: 0;
  }

  & ~ .m-links-bar__item:last-child {
    margin-right: 0;
  }
}

.m-links-bar__item--overflow {
  margin-left: auto;

  &.s-hidden {
    display: none;
  }
}

@include breakpoint('xsmall') {
  .m-links-bar__items-secondary .m-links-bar__item--primary {
    position: relative;
    width: 100%;
    margin-right: 0;
  }

  .m-links-bar__items-secondary .m-links-bar__item--primary + .m-links-bar__item--primary {
    margin-left: 0;
  }

  .m-links-bar__items-secondary .m-links-bar__item--primary + .m-links-bar__item {
    margin-top: 20px;
  }

  .m-links-bar__items-secondary .m-links-bar__item--primary {
    padding-right: 0;
    padding-left: 0;
    border-right: 0 none;
    border-left: 0 none;
  }

  .m-links-bar__items-secondary .m-links-bar__item--primary::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 1px;
    margin-left: -50vw;
    background-color: $color__rules--tertiary;
  }
}

.m-links-bar__item-trigger {
  display: block;
  text-decoration: none;
}

.m-links-bar__item-trigger:not([class*=btn]) {
  color: $color__link--tab;
}

.m-links-bar__item-trigger:not([class*=btn]):hover,
.m-links-bar__item-trigger:not([class*=btn]):focus {
  color: $color__link--tab-hover;
}

.s-active > .m-links-bar__item-trigger:not([class*=btn]),
.m-links-bar__item-trigger:not([class*=btn]):active {
  color: $color__link--tab-active;
}


@include breakpoint('xsmall') {
  .m-links-bar__items-secondary .dropdown {
    display: block;
  }

  .m-links-bar__items-secondary .dropdown button {
    width: 100%;
    text-align: center;
  }

  .m-links-bar__items-secondary .dropdown .icon--arrow {
    position: static;
    margin-top: 0;
    margin-left: 4px;
  }
}

// Variant `.m-links-bar--tabs`

.m-links-bar--tabs {

  .m-intro-block + & {
    margin-top: 60px;
  }

  & + .m-links-bar:not(.m-links-bar--tabs) {
    margin-top: 0;
  }
}

.m-links-bar--tabs + .m-links-bar:not(.m-links-bar--tabs)::before {
  content: none;
  display: none;
}

.m-links-bar--tabs::before {
  top: auto;
  bottom: 0;

  @include breakpoint('xsmall') {
    top: 43px;
  }
}

.m-links-bar--tabs .m-links-bar__items-primary {
  min-height: 0;
}

.m-links-bar--tabs .m-links-bar__items-secondary {

  @include breakpoint('xsmall') {
    margin-top: 16px;
  }

  @include breakpoint('small+') {
    min-height: 0;
  }
}

.m-links-bar--tabs .m-links-bar__item {
  position: relative;
  height: auto;
  padding-top: 0;
}

.m-links-bar--tabs .m-links-bar__items-primary .m-links-bar__item.s-active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: $color__rules--brand;
}

.m-links-bar--tabs .m-links-bar__items-primary .m-links-bar__item-trigger {
  padding-bottom: 32px;
}

.m-links-bar--tabs .m-links-bar__item-trigger.f-module-title-2 {
  @include tucked-margin-top($f-module-title-2, ('xsmall': 12, 'small': 16));
}

.m-links-bar--tabs .m-links-bar__item-trigger.f-buttons {
  @include tucked-margin-top($f-buttons, ('xsmall': 12, 'small': 16));
}

.m-links-bar--tabs .m-links-bar__item--overflow {
  width: 100%;
  margin-right: 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color__rules--brand;
  }

  .dropdown {
    display: block;
    width: 100%;
  }

  .dropdown.f-module-title-2 {
    @include tucked-margin-top($f-module-title-2, ('xsmall': 12, 'small': 16));
  }

  .dropdown > button {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    color: $color__link--tab-active;
  }

  .dropdown > button:hover,
  .dropdown > button:focus {
    color: $color__link--tab-hover;
  }

  .dropdown > button:active {
    color: $color__link--tab-active;
  }
}



// Variant `.m-links-bar--btns`

.m-links-bar--buttons {
  padding-top: 28px;
}

.m-links-bar--buttons .m-links-bar__items-secondary .m-links-bar__item-trigger.f-buttons {
  @include tucked-margin-top($f-buttons, ('xsmall': 28));
}


// Variant `.m-links-bar--title-bar-companion`

.m-links-bar--title-bar-companion {
  display: block;
  margin-top: 32px;
  padding-top: 0;
  border-top: 0 none;

  @include breakpoint('small+') {
    display: none;
  }
}

.m-links-bar--title-bar-companion .m-links-bar__items-primary {
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: auto;
}

.m-links-bar--title-bar-companion .m-links-bar__item {
  width: 100%;
}

.m-links-bar--title-bar-companion .m-links-bar__item:not(:first-child) {
  margin-top: 20px;
}

.m-links-bar--title-bar-companion .m-links-bar__item-trigger {
  display: block;
  width: 100%;
}


// Variant `.m-links-bar--nav-bar`

.m-links-bar--nav-bar::before {
  z-index: -1;
  left: 50%;
  right: auto;
  bottom: 0;
  width: 100vw;
  height: auto;
  margin-left: -50vw;
  background-color: $color__bg--primary;
}

.m-links-bar--nav-bar .m-links-bar__item-trigger:not([class*=btn]) {
  color: $color__text;

  &:hover,
  &:focus {
    color: $color__text--title;
  }

  &:focus {
    color: $color__text;
  }
}

.m-links-bar--nav-bar .m-links-bar__items-secondary .m-links-bar__item--primary {
  border-right-color: $color__rules--primary;
  border-left-color: $color__rules--primary;
}

.m-links-bar--nav-bar .m-links-bar__items-secondary .m-links-bar__item--primary::before {
  background-color: $color__rules--primary;
}
