/***

```
<li class="m-listing m-listing--feature o-features__hero">
  <a href="#" class="m-listing__link">
    <span class="m-listing__img">
      <img src="http://placehold.dev.area17.com/image/400x225">
    </span>
    <span class="m-listing__meta">
      <em class="m-listing__type f-tag">Now open</em> <span class="m-listing__bottom m-listing__date f-secondary">Oct 29, 2017</span><br>
      <strong class="m-listing__title f-list-3">Cauleen Smith: Human_3.0 Reading Listz</strong>
    </span>
  </a>
</li>
<li class="m-listing m-listing--feature">
  <a href="#" class="m-listing__link">
    <span class="m-listing__img">
      <img src="http://placehold.dev.area17.com/image/400x225">
    </span>
    <span class="m-listing__meta">
      <em class="m-listing__type f-tag">Now open</em> <span class="m-listing__bottom m-listing__date f-secondary">Oct 29, 2017</span><br>
      <strong class="m-listing__title f-list-3">Cauleen Smith: Human_3.0 Reading Listz</strong>
    </span>
  </a>
</li>
```

***/

.m-listing {
  display: flex;
  flex-flow: column nowrap;
}

.m-listing__link {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 100%;
  text-decoration: none;
}

.m-listing__img {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 62.25%;
  overflow: hidden;
}

.m-listing__img img,
.m-listing__img video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-listing__meta {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  min-height: 120px;
  margin-top: 12px;
  padding-bottom: .02px;

  &:first-child {
    min-height: 0;
    margin-top: 0;
  }
}

.m-listing__meta > * {
  flex: 0 0 auto;
}

.m-listing__meta > br {
  display: none;
}

.m-listing__meta-top {
  display: block;
}

.m-listing__meta-bottom {
  display: block;
  margin-top: auto;
  padding-top: 4px;
}




.m-listing__type {
  color: $color__text--type;
  font-style: normal;
}

.m-listing__title {
  display: block;
  color: $color__text--title;
  font-weight: normal;
}

.m-listing__price,
.m-listing__date {
  color: $color__text;
}

.m-listing__price strike {
  color: $color__text--contrast;
}

.m-listing__price .m-listing__sale-price {
  display: inline-block;
  padding-left: 4px;
  color: $color__text--highlight;
}



// variant `m-listing--feature`

.m-listing--feature .m-listing__link {
  display: block;
  position: relative;
  height: auto;
}

.m-listing--feature .m-listing__meta {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  min-height: 0;

  @include breakpoint('large+') {
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
}

.o-features__hero.m-listing--feature .m-listing__meta {
  @include breakpoint('large+') {
    right: 50%;
  }
}

.m-listing--feature .m-listing__type,
.m-listing--feature .m-listing__title {
  color: $color__text--title-contrast;
}

.m-listing--feature .m-listing__date {
  color: $color__text--contrast;
}
