/***

```
<ul class="m-link-list">
  <li><a href="#">Evening Event Program</a></li>
  <li><a href="#">Evening Event Program<svg aria-hidden="true" class="icon--new-window"><use xlink:href="#icon--new-window" /></svg></a></li>
  <li><a href="#">Evening Event Program<svg aria-hidden="true" class="icon--new-window"><use xlink:href="#icon--new-window" /></svg></a></li>
</ul>
```

***/

.m-link-list {
  @include untuck;
  margin-top: 0;
}

.m-link-list li {
  position: relative;
}

.m-link-list li::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}

.m-link-list a {
  display: block;
  position: relative;
  padding-right: 32px
}

.m-link-list.f-secondary a {
  padding-top: 12px;
  padding-bottom: 12px;

  @include breakpoint('large+') {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.m-link-list svg {
  position: absolute;
  right: 0;
  top: 17px;
}
