.m-label-block {
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid $color__rules--primary;
  }
}

.m-label-block__link {
  display: block;
}

.m-label-block:not(:last-child) .m-label-block__link {
  padding-bottom: 49px;
}

.m-label-block__img {
  position: relative;
  display: inline-block;
}

.m-label-block__img img {
  max-width: 100%;
}

.m-label-block__img__overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 20px;
  z-index: 1;
}

.m-label-block__text .f-tag {
  margin-top: 20px;
}

.m-label-block__text .f-list-4 {
  margin-top: 15px;
}
