.m-media {
}

.m-media__img {
  display: block;
  position: relative;
  background-color: $color__bg--primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='56' viewBox='0 0 80 56'%3E%3Cpath fill='%23ccc' d='M4 52l28-28 28 28H4z'/%3E%3Cpath fill='%23ccc' d='M44 52l16-16 16 16H44z'/%3E%3Ccircle cx='58' cy='18' r='6' fill='%23ccc'/%3E%3Cpath fill='%23ccc' d='M79 1v54H1V1h78m1-1H0v56h80V0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;

  .m-media--m &::before,
  .m-media--l &::before,
  &.m-media__img--video::before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: percentage(10 / 16);
  }

  .m-media--m &.m-media__img--video,
  .m-media--l &.m-media__img--video {
    max-height: 80vh;
  }

  &.m-media__img--video::before {
    padding-bottom: percentage(9 / 16);
  }

  .m-media--soundcloud & {
    min-height: 20px;
    background: none;
  }

  .m-media--soundcloud & iframe {
    position: relative;
  }

  .m-media--soundcloud &::before {
    content: none;
    display: none;
  }

  &[data-behavior*=openImageFullScreen],
  &[data-behavior*=triggerMediaModal],
  &[data-behavior*=triggerMediaInline] {
    cursor: pointer;
  }

  &:focus[data-focus-method="key"] {
    outline: 3px solid rgba(131, 192, 253, .5);
  }
}

.m-media__img img,
.m-media__img > svg:not([class*=icon--]) {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;

  .m-media--s.o-blocks__block & {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
  }

  .m-media--artwork & {
    width: auto;
    max-width: 843px;
    max-height: 843px;
  }

  .m-media--s.m-media--artwork.o-blocks__block & {
    width: auto;
    max-width: 843px;
    max-height: 700px;
  }
}

.m-media--m .m-media__img img,
.m-media--l .m-media__img img,
.m-media__img video,
.m-media__img embed,
.m-media:not(.m-media--soundcloud) .m-media__img iframe,
.m-media__img object,
.m-media__img.m-media__img--video img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.m-media--m .m-media__img img,
.m-media--l .m-media__img img,
.m-media__img video,
.m-media__img.m-media__img--video img {
  @include objectFitFix;
  object-fit: contain;
}

.m-media--m .m-media__img img,
.m-media--l .m-media__img img,
.m-media__img.m-media__img--video img {
  object-fit: cover;
}

.m-media__img .icon--play-multi {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 auto;
  transform: translateY(-50%);
}

a.m-media__img:hover img,
a.m-media__img:hover video,
a.m-media__img:hover embed,
a.m-media__img:hover iframe,
a.m-media__img:hover object {
  opacity: .9;
}

.m-media__btn-download,
.m-media .media-play-pause-video {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.m-media__btn-fullscreen {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.m-media__img.s-inline-media-activated *:not(iframe) {
  display: none;
}

@media (hover: hover) {
  .m-media__btn-download,
  .m-media__btn-fullscreen {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
  }

  .m-media__img:hover .m-media__btn-download,
  .m-media__img:hover .m-media__btn-fullscreen {
    opacity: 1;
  }
}

.m-media figcaption {
  @include tucked-margin-top($f-caption, ('xsmall': 24));
  display: block;
  position: relative;
  min-height: 36px;
  padding-right: 60px;
}

.m-media figcaption .f-caption-title {
  display: block;
}

.m-media figcaption .f-caption {
  color: $color__text--secondary;
}

.m-media figcaption > br {
  display: none;
}

.m-media figcaption strong a {
  color: $color__text;
}

.m-media figcaption strong a:hover,
.m-media a.m-media__img:hover + figcaption strong a {
  @include text-underline(1.05em, $color__text, $color__bg);
}

.m-media figcaption strong a:active {
  background-image: none;
  color: $color__text;
  text-shadow: 0;
}

.m-media .m-media__share {
  position: absolute;
  right: 0;
  top: 4px;
}


.m-media--hero {
  position: relative;
}

.m-media--hero .m-media__img {
  position: relative;
  left: 50%;
  width: 100vw;
  height: 60vh;
  margin-left: -50vw;
}

.m-media--hero .m-media__img::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 220px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.85) 0%, rgba(0,0,0,.05) 90%, rgba(0,0,0,0) 100%);

  @include breakpoint('small+') {
    height: 300px;
  }
}

.m-media--hero img,
.m-media--hero video {
  @include objectFitFix;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-media--hero img:not(:only-child) {
  display: block;

  @include breakpoint('small+') {
    display: none;
  }
}


.m-media--hero video {
  display: none;

  @include breakpoint('small+') {
    display: block;
  }
}

.o-article--video .m-media {
  margin-top: 28px;

  @include breakpoint('large+') {
    margin-top: 0;
    margin-bottom: 28px;
  }
}
