@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/other";
@use "../setup/typography";


.m-mini-promo {
  position: relative;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  margin-top: 30px;
  padding-top: .2px;

  @include breakpoint.breakpoint('small+') {
    margin-top: 40px;
    flex-flow: row wrap;
  }

  @include breakpoint.breakpoint('large+') {
    margin-top: 60px;
  }
}

.m-mini-promo::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: colors.$color__rules--primary;
}

.m-mini-promo img,
.m-mini-promo video {
  flex: 0 0 auto;
  width: grid.colspan(23, xsmall);
  height: auto;
  margin-top: 20px;
  margin-left: grid.colspan(3, xsmall);

  @include breakpoint.breakpoint('small+') {
    width: grid.colspan(13, small);
    margin-top: 40px;
    margin-right: grid.colspan(2, small);
    margin-left: 0;
  }

  @include breakpoint.breakpoint('medium+') {
    width: grid.colspan(13, medium);
    margin-right: grid.colspan(2, medium);
  }

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(13, large);
    margin-right: grid.colspan(2, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(13, xlarge);
    margin-right: grid.colspan(2, xlarge);
  }
}

.m-mini-promo__text {
  flex: 1;
}

.m-mini-promo .title {
  @include other.tucked-margin-top(typography.$f-module-title-1, ('xsmall': 32, 'small+': 52, 'medium+': 56));
}

.m-mini-promo .f-secondary {
  @include other.tucked-align-top(typography.$f-secondary);
}

.m-mini-promo .btn {
  display: block;
  flex: 0 0 auto;
  width: 100%;
  margin-top: 28px;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint.breakpoint('small+') {
    margin-top: 40px;
  }

  @include breakpoint.breakpoint('medium+') {
    width: grid.colspan(13, medium);
    margin-left: grid.colspan(2, medium);
  }

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(13, large);
    margin-left: grid.colspan(2, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(13, xlarge);
    margin-left: grid.colspan(2, xlarge);
  }
}
