

.m-no-results {
  margin-top: 20px;
  margin-bottom: 235px;
}

.o-article__body .m-no-results .hr {
  display: none;
}

.m-no-results .title {
  margin-top: 30px;
}

.m-no-results .title + .f-body {
  margin-top: 20px;
}
