@use "../setup/colors";
@use "../setup/mixins/other";
@use "../setup/mixins/typography" as mixins-typography;
@use "../setup/typography" as setup-typography;


.m-no-results {
  margin-bottom: 120px;
}

.o-article__body .m-no-results .hr {
  display: none;
}

.m-no-results .title.f-list-3 {
  @include other.tucked-margin-top(setup-typography.$f-list-3, ('xsmall': 60));

  a {
    @include mixins-typography.text-underline(.8em, colors.$color__rules--secondary);
    color: colors.$color__link--accent;
    text-decoration: none;

    &:hover,
    &:focus:hover {
      @include mixins-typography.text-underline(.8em, colors.$color__link--accent);
    }

    &:active:hover {
      @include mixins-typography.text-underline(.8em, colors.$color__rules--secondary);
    }
  }
}

.m-no-results .title + .f-body {
  @include other.tucked-margin-top(setup-typography.$f-body, ('xsmall': 56));
}
