@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/other";
@use "../setup/typography";

.m-post-hero {
  display: flex;
  position: relative;
  flex-flow: row wrap;
}

.m-post-hero__image {
  width: 100%;

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(38, 'large');
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(38, 'xlarge');
  }
}

.m-post-hero__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.m-post-hero__main {
  width: 100%;

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(18, 'large');
    margin-left: grid.colspan(2, 'large');
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(18, 'xlarge');
    margin-left: grid.colspan(2, 'xlarge');
  }
}

.m-post-hero__main .f-list-4 {
  @include other.tucked-margin-top(typography.$f-list-4, ('xsmall': 36, 'small+': 44));

  @include breakpoint.breakpoint('large+') {
    &:first-child {
      @include other.tucked-align-top(typography.$f-list-4, 'large');
    }
  }

  @include breakpoint.breakpoint('xlarge') {
    &:first-child {
      @include other.tucked-align-top(typography.$f-list-4, 'xlarge');
    }
  }
}

.m-post-hero__main .f-body {
  @include other.tucked-margin-top(typography.$f-body, ('xsmall': 28, 'small+': 36));
}
