

.m-row-block {
  display: flex;
  position: relative;
  flex-flow: row wrap;
}

.m-row-block---keyline-top {
  padding-top: 8px;
}

.m-row-block---keyline-top::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}

.m-row-block__title {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 20px; // naughty I know, made the vertical centering of the text below easier
}

.m-row-block__img {
  flex: 0 0 auto;
  width: colspan(13, xsmall);

  @include breakpoint('small+') {
    width: colspan(13, small);
  }

  @include breakpoint('medium+') {
    width: colspan(8, medium);
  }

  @include breakpoint('large+') {
    width: colspan(8, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(8, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(8, xxlarge);
  }
}

.m-row-block__img img {
  display: block;
  width: 100%;
  height: auto;
}

.m-row-block__text {
  flex: 1;
  margin-left: colspan(2, xsmall);
  align-self: center;

  @include breakpoint('small+') {
    margin-left: colspan(2, small);
  }

  @include breakpoint('medium+') {
    margin-left: colspan(2, medium);
  }

  @include breakpoint('large+') {
    margin-left: colspan(2, large);
  }

  @include breakpoint('xlarge+') {
    margin-left: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    margin-left: colspan(2, xxlarge);
  }
}

.m-row-block .f-module-title-1:first-child {
  @include tucked-align-top($f-module-title-1);
}

.m-row-block .f-secondary:first-child {
  @include tucked-align-top($f-secondary);
}
