.m-rotate-arrows {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: #4B9CA3;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 3.2rem;

  &__text {
    font-family: $sans-serif-font--loaded;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.21em;
    line-height: 1;
    text-transform: uppercase;
    padding: 1rem;
    white-space: nowrap;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 2.625rem;
      height: 2.625rem;
    }

    &--left {
      transform: rotate(180deg);
      animation: m-rotate-arrows-out-left 2s infinite ease-out;
    }

    &--right {
      animation: m-rotate-arrows-out-right 2s infinite ease-out;
    }
  }
}

@keyframes m-rotate-arrows-out-left {
  0% {
    transform: rotate(180deg) translateX(-1.2rem);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(180deg) translateX(0.8rem);
    opacity: 0;
  }
}

@keyframes m-rotate-arrows-out-right {
  0% {
    transform: translateX(-1.2rem);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0.8rem);
    opacity: 0;
  }
}
