.m-showcase-block,
.m-showcase-background // The showcase background is used in the Showcase Multiple block
{
    width: 100vw;
    margin-top: 50px;
    margin-left: calc(50% - 50vw);
    display: flex;
    flex-direction: row;
    background-color: $color__bg--secondary;
    padding: 50px;

    @include breakpoint('small') {
        padding: 25px;
    }
    @include breakpoint('xsmall') {
        padding: 25px;
    }

    .m-showcase-wrapper {
        max-width: 1500px;
        display: flex;
        margin: auto;
        @include breakpoint('medium-') {
            flex-direction: column;
        }
        @include breakpoint('small-') {
            padding: 0;
        }
    }

    img, video {
        width: 65%;
        padding: 0 36px 0 0;
        height: auto;
        aspect-ratio: 16/10;
        object-fit: cover;
        @include breakpoint('medium') {
            width: 100%;
            padding: 0;
        }
        @include breakpoint('small') {
            width: 100%;
            padding: 0;
        }
        @include breakpoint('xsmall') {
            width: 100%;
            padding: 0;
        }
    }

    .m-showcase-block__text-wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        @include breakpoint('medium') {
            margin-top: 32px;
            width: 100%;
        }
        @include breakpoint('small') {
            margin-top: 32px;
            width: 100%;
        }
        @include breakpoint('xsmall') {
            margin-top: 32px;
            width: 100%;
        }

        .showcase-tag {
            color: $color__text--type;
            &::before {
                padding: 0 !important;
            }
        }

        .showcase-title {
            margin: 32px 0 0 0;
        }

        .showcase-description {
            color: $color__text--secondary;
            margin: 18px 0 0 0;
        }
        .showcase-link {
            color: $color__text--secondary;
            margin: 18px 0 0 0;
            font-size: 17px;
        }
    }
}
