.m-sidebar-toggle {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;
    pointer-events: none;
    background-color: $color__bg--primary;
    border-bottom: 1px solid $color__rules--primary;
  }

  button {
    cursor: pointer;
    color: $color__link;

    background: none;
    border: none;

    text-align: left;
    padding: 0;

    display: flex;

    &:hover,
    &:focus:hover {
      color: $color__link--hover;
    }

    &:active:hover {
      color: $color__link--active;
    }

    .icon--menu--24 {
      flex-shrink: 0;
      position: relative;
      margin-right: 8px;
      left: -4px;
    }

    .f-list-1 {
      @include untuck();
    }
  }
}
