@use "sass:map";
.m-search-triggers {
  display: flex;
  position: fixed;
  z-index: map.get($zindexs, 'searchTriggers');
  left: 0;
  right: 0;
  bottom: 40px;
  flex-flow: row nowrap;
  justify-content: center;
}

.m-search-triggers li {
  flex: 0 0 auto;
}

.m-search-triggers li:not(:first-child) {
  margin-left: 12px;
}

.m-search-triggers button {
  @include untuck;

  & {
    display: block;
    min-width: 48px;
    height: 48px;
    margin: 0;
    padding: 0 16px;
    border: 0 none;
    border-radius: $border-radius;
    background: var(--colors-themes-light-mode-background-default);
    color: var(--colors-themes-light-mode-link-primary);
    line-height: 44px;
    cursor: pointer;
    box-shadow: $shadow;
  }

  &.m-search-triggers__search {
    padding: 0 8px;
  }

  &:hover,
  &:focus:hover {
    background-color: var(--colors-themes-light-mode-background-secondary);
    color: var(--colors-themes-light-mode-link-hover);
  }
}

.m-search-triggers button em {
  color: var(--colors-themes-light-mode-text-secondary);
  font-style: normal;
}

.m-search-triggers svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.m-search-triggers button .icon--filter--24 {
  position: relative;
  top: -2px;
  margin-right: 4px;
}

.m-search-triggers button .icon--search--24 {
  color: var(--colors-themes-light-mode-text-title);
}

.m-search-triggers button:hover .icon--search--24,
.m-search-triggers button:focus .icon--search--24 {
  color: var(--colors-themes-light-mode-text-title);
}
