
.m-search-bar {
}

.m-search-bar__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
}

.m-search-bar label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0;
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.m-search-bar input[type=text] {
  flex: 1;
  height: 56px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background: $color__bg--primary;
  color: $color__text--title;
  outline: none;

  @include placeholder() {
    color: $color__text--secondary;
  }
}

.m-search-bar input[type=text]:focus {
  border-color: $color__rules--focus;
}

.m-search-bar input[type=text]:focus + .m-search-bar__submit {
  background-color: $color__rules--focus;
  color: $color__white;
}

.m-search-bar__submit,
.m-search-bar__clear {
  display: block;
  flex: 0 0 auto;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background: $color__bg--tertiary;
  color: $color__white;
  line-height: 56px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus:hover {
    background-color: $color__black;
  }
}

.m-search-bar__clear {
  display: none;
}

// juggle if there is a value on load
.m-search-bar .s-populated ~ .m-search-bar__submit {
  display: none;
}

.m-search-bar .s-populated ~ .m-search-bar__clear {
  display: inline-block;
}

.m-search-bar__submit svg,
.m-search-bar__clear svg {
  display: inline-block;
  position: relative;
  top: -2px;
  vertical-align: middle;
}



.m-search-bar--subtle input[type=text],
.m-search-bar--subtle .m-search-bar__submit,
.m-search-bar--subtle .m-search-bar__clear {
  border-radius: 0;
  background-color: transparent;
}

.m-search-bar--subtle .m-search-bar__submit,
.m-search-bar--subtle .m-search-bar__clear {
  color: $color__text--secondary;

  &:hover,
  &:focus:hover {
    background-color: transparent;
    color: $color__black;
  }
}

.m-search-bar__loader {
  @extend %a-loader;
  display: none;
  position: absolute;
  top: 14px;
  right: 70px;
}

// autocomplete
.m-search-bar__autocomplete {
  position: relative;
  z-index: 2;
  display: block;
}

.m-search-bar__autocomplete ul {
  @extend %f-secondary;
  display: block;
  top: 0;
  left: 0;
  right: 56px;
  max-height: none;
  // background-color: $color__bg;
}

.m-search-bar__autocomplete li {
}

.m-search-bar__autocomplete li a {
  @include untuck;
  display: block;
}

.m-search-bar__autocomplete-close {
  position: absolute;
  bottom: 100%;
  right: 76px;
  margin-bottom: 20px;
  color: $color__text--title;
}

.m-search-bar--loading .m-search-bar__loader {
  display: block;
}

.m-search-bar--loading .m-search-bar__autocomplete-close {
  display: none;
}
