@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/placeholders";
@use "../setup/typography";
@use "../setup/variables";

@use "sass:map";
.m-share-menu {
  @extend %styled-scrollbars;
  display: none;
  position: fixed;
  z-index: map.get(variables.$zindexs, 'shareMenu');
  left: grid.colspan(3, xsmall);
  right: grid.colspan(3, xsmall);
  top: 50%;
  margin-top: -144px;
  max-height: 80vh;
  background-color: colors.$color__white;
  box-shadow: variables.$shadow;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity .15s;

  @include breakpoint.breakpoint('small+') {
    left: grid.colspan(10, small);
    right: grid.colspan(10, small);
    top: 50%;
    margin-top: -144px;
  }

  @include breakpoint.breakpoint('medium+') {
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 180px;
    margin-top: 0;
    max-height: auto;
    transform: none;
  }
}

.m-share-menu--inline {
  display: block;
  position: relative;
  border: 1px solid colors.$color__rules--primary;
  box-shadow: none;
}

.m-share-menu__title {
  @include typography.untuck;

  & {
    padding: 18px 60px 18px 16px;
    color: colors.$color__text--title;
  }

  @include breakpoint.breakpoint('medium+') {
    display: none;
  }
}

.m-share-menu ul {
  min-width: 100%;
  margin-top: 0;
}

.m-share-menu li {
  border-top: 1px solid colors.$color__rules--tertiary;
}

.m-share-menu li:first-child {
  @include breakpoint.breakpoint('medium+') {
    border-top: 0 none;
  }
}

.m-share-menu ul a,
.m-share-menu ul button {
  @include typography.untuck;

  & {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 16px;
    border: 0 none;
    background-color: colors.$color__white;
    color: colors.$color__text--secondary;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
  }
}

.m-share-menu ul.f-secondary a,
.m-share-menu ul.f-secondary button {
  padding-top: 11px;
  padding-bottom: 12px;

  @include breakpoint.breakpoint('large+') {
    padding-top: 8px;
    padding-bottom: 11px;
  }
}

.m-share-menu ul a:hover,
.m-share-menu ul button:hover {
  background-color: colors.$color__bg--secondary;
  color: colors.$color__text--title;
}

.m-share-menu ul :active,
.m-share-menu ul button:active {
  background-color: colors.$color__bg--primary;
  color: colors.$color__text--title;
}

.m-share-menu__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: colors.$color__text--title;

  @include breakpoint.breakpoint('medium+') {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-top: -1px;
    margin-left: -1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
}
