.m-sidebar-toggle {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;
    pointer-events: none;
    background-color: var(--colors-themes-light-mode-background-primary);
    border-bottom: 1px solid var(--colors-themes-light-mode-rules-primary);
  }

  button {
    cursor: pointer;
    color: var(--colors-themes-light-mode-link-primary);

    background: none;
    border: none;

    text-align: left;
    padding: 0;

    display: flex;

    &:hover,
    &:focus:hover {
      color: var(--colors-themes-light-mode-link-hover);
    }

    &:active:hover {
      color: var(--colors-themes-light-mode-link-active);
    }

    .icon--menu--24 {
      flex-shrink: 0;
      position: relative;
      margin-right: 8px;
      left: -4px;
    }

    .f-list-1 {
      @include untuck();
    }
  }
}
