/***

```
<ul class="m-ticket-actions">
    <li class="m-ticket-actions__action">
        <a class="btn f-buttons btn--full" href="#">Buy tickets</a>
    </li>
    <li class="m-ticket-actions__action">
        <a class="btn f-buttons btn--secondary btn--full" href="#">Become a member</a>
    </li>
    <li class="m-ticket-actions__note f-secondary">Exhibitions are free with museum admission.</li>
</ul>
```

***/
/***

The original intention was for this to be a list, but the CMS outputs in '<p>' tags..

```
<div class="m-ticket-actions__inline-list-items f-caption">
    <p>$10 students</p>
    <p>$20 members</p>
    <p>$30 non-members</p>
</div>
```

***/

.m-ticket-actions {
  margin-top: 0;
}

.m-ticket-actions__action:not(:first-child) {
  margin-top: 12px;

  @include breakpoint('xlarge') {
    margin-top: 20px;
  }
}

.m-ticket-actions__note,
.m-ticket-actions__inline-list {
  margin-top: 4px;

  @include breakpoint('xlarge') {
    margin-top: 12px;
  }
}

.m-ticket-actions__inline-list-items {
  margin-top: 0;
  color: $color__text--secondary;
}

.m-ticket-actions__inline-list-item,
.m-ticket-actions__inline-list-items > p {
  display: inline-block;

  @include breakpoint('medium+') {
    width: 100%;
  }
}

.m-ticket-actions__inline-list-items > p {
  margin-top: 0;
  margin-right: 3px;

  @include breakpoint('medium+') {
    margin-right: 0;
  }
}

.m-ticket-actions__inline-list-item:not(:last-child)::after,
.m-ticket-actions__inline-list-items > p:not(:last-child)::after {
  content: ', ';

  @include breakpoint('medium+') {
    content: none;
  }
}

@include breakpoint('small') {
  .o-article__secondary-actions .m-ticket-actions {
    display: flex;
    flex-flow: row wrap;
    margin-left: colspan(2, small, 0, true);
  }

  .o-article__secondary-actions .m-ticket-actions__action {
    flex: 0 0 auto;
    width: colspan(28, small);
    margin-top: 12px;
    margin-left: colspan(2, small);
  }

  .m-ticket-actions__note,
  .m-ticket-actions__inline-list {
    flex: 0 0 auto;
    width: colspan(58, small);
    margin-left: colspan(2, small);
  }

  .o-article__secondary-actions .m-ticket-actions__action:nth-child(1),
  .o-article__secondary-actions .m-ticket-actions__action:nth-child(2) {
    margin-top: 0;
  }
}
