

.m-title-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 19px;
  border-top: 1px solid $color__rules--secondary;

  & + &,
  & + .o-grid-listing {
    margin-top: 40px;
  }
}

.m-title-bar .title {
  flex: 0 0 auto;
  margin-top: 0;
}

.m-title-bar .title.f-module-title-1 {
  @include tucked-margin-top($f-module-title-1, ('xsmall': 24));
}

.m-title-bar__links {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin-top: 0;
}

.m-title-bar__links li {
  flex: 0 0 auto;
  margin-left: 20px;
}

.m-title-bar__links a {
  color: $color__link;

  &:hover,
  &:focus {
    color: $color__link--hover;
  }

  &:active {
    color: $color__link--active;
  }
}
