

.m-title-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 19px;
  border-top: 1px solid $color__rules--primary;

  & + & {
    margin-top: 40px;
  }

  hr + &,
  .hr + & {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

.m-title-bar .title {
  flex: 0 0 auto;
  margin-top: 0;
}

.m-title-bar .title.f-module-title-2 {
  @include tucked-margin-top($f-module-title-2, ('xsmall': 68, 'medium': 80));
}

.m-title-bar__links {
  display: none;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin-top: 0;

  @include breakpoint('small+') {
    display: flex;
    margin-top: auto;
  }
}

.m-title-bar__links li {
  flex: 0 0 auto;
  margin-left: 20px;
}

.m-title-bar__links a {
  color: $color__link;

  &:hover,
  &:focus {
    color: $color__link--hover;
  }

  &:active {
    color: $color__link--active;
  }
}
