.m-tombstone-block {
    margin-top: $blocks-spacings-extra-large;

    .title {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .short-description {
        color: $colors-scales-grey-100;
        margin-top: $blocks-spacings-medium-small;
    }
}
