/***

```
<ul class="m-ticket-actions">
    <li class="m-ticket-actions__action">
        <a class="btn f-buttons btn--full" href="#">Buy tickets</a>
    </li>
    <li class="m-ticket-actions__action">
        <a class="btn f-buttons btn--secondary btn--full" href="#">Become a member</a>
    </li>
    <li class="m-ticket-actions__note f-secondary">Exhibitions are free with museum admission.</li>
</ul>
```

***/

.m-ticket-actions {
  margin-top: 0;
}

.m-ticket-actions__action:not(:first-child) {
  margin-top: 12px;

  @include breakpoint('xlarge+') {
    margin-top: 20px;
  }
}

.m-ticket-actions__note {
  margin-top: 4px;

  @include breakpoint('xlarge+') {
    margin-top: 12px;
  }
}

@include breakpoint('small') {
  .o-article__secondary .m-ticket-actions {
    display: flex;
    flex-flow: row wrap;
    margin-left: colspan(2, small, 0, true);
  }

  .o-article__secondary .m-ticket-actions__action {
    flex: 0 0 auto;
    width: colspan(28, small);
    margin-top: 12px;
    margin-left: colspan(2, small);
  }

  .m-ticket-actions__note {
    flex: 0 0 auto;
    width: colspan(58, small);
    margin-left: colspan(2, small);
  }

  .o-article__secondary .m-ticket-actions__action:nth-child(1),
  .o-article__secondary .m-ticket-actions__action:nth-child(2) {
    margin-top: 0;
  }
}
