.m-viewer-3d {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;

  iframe {
    display: block;
    width: 100%;
    height: 100vh;
    border: 0;
  }

  &__hotspots {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  &__tools {
    position: absolute;
    z-index: 3;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    button {
      display: inline-block;
      vertical-align: top;
      padding: 12px;
      border: 0;
      background-color: rgba(0,0,0,0.8);
      transition: background-color 0.4s ease;
      font-family: sans-serif;
      color: white;

      &:hover,
      &:active {
        background-color: black;
      }

      svg {
        display: block;
      }
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__zoom-in {
    border-radius: 2px 0 0 2px;

    svg {
      color: white;
      width: 24px;
      height: 24px;
    }
  }

  &__zoom-out {
    border-radius: 0 2px 2px 0;
    margin-left: 1px;

    svg {
      color: white;
      width: 24px;
      height: 24px;
    }
  }

  &__fullscreen {
    border-radius: 2px;
    margin-left: 10px;
    padding: 16px !important;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__annotation {
    box-sizing: border-box;
    position: absolute;
    padding: 30px;
    top: 25px;
    left: 25px;
    width: 240px;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    border-radius: 3px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    z-index: 7;
    opacity: 0;
    border-radius: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

    &.is-visible {
      opacity: 1;
      pointer-events: all;
    }

    &__close {
      display: block;
      border-radius: 50%;
      background-color: white;
      padding: 8px;
      margin-top: 20px;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      border: 0;
    }

    &__title {
      font-weight: bold;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }

  &__explore {
    background-color: white !important;
    color: black !important;
    padding: 12px 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: all 0.4s ease;
    min-width: 180px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    line-height: 28px;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;

    &:hover,
    &:active {
      background-color: black !important;
      color: white !important;
    }
  }

  &__more {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 25px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    transition: all 0.4s ease;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    line-height: 28px;
    border-radius: 2px;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;

    &:hover,
    &:active {
      background-color: black;
      color: white;
    }
  }

  .a-hotspot {
    pointer-events:none;

    &__point {
      display: block;
    }
  }

  &--guided {
    .a-hotspot {
      &:before {
        content:'1';//attr('data-num');
        position:absolute;
        left:-24px;
        top:-24px;
        width:48px;
        line-height:50px;
        text-align:center;
        color:white;
        font-size:14px;
        z-index:2;
        pointer-events:none;
      }

      &__point:before {
        display:none;
      }
    }
  }

  &.has-overlay {
    .m-viewer-3d__overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 1023px) {

  .m-viewer-3d__annotation {
    width:90vw;
    max-width:320px;
    top:50%;
    left:50%;
    right:auto;
    -ms-transform:translate(-50%,-50%);
    transform:translate3d(-50%,-50%,0);

    &__close {
      margin:20px auto 0;
    }
  }

}