// padding-top: 4.6875vw;
// padding-top: 2.34375vw;
// padding-top: 1.5625vw;


.m-feature-block-heading {
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-feature-block {
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;

    .m-feature-block-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: -20px;

        &.column-1x {
            margin-right: -20px;
        }
        &.column-2x {
            margin-right: -40px;
        }
        &.column-3x {
            margin-right: -40px;
        }
        &.column-4x {
            margin-right: -40px;
        }
    }

    .m-feature-block-listing {
        height: auto;
        display: flex;
        flex-direction: row;

        .f-tag {
            display: block;
            font-size: 11px;
            margin-top: 8px;
        }

        .title {
            display: block;
            font-size: 22px;
            margin-top: 8px;
        }

        .m-feature-block-listing__meta-bottom {
            margin-top: auto;
        }

        &.column-1x {
            padding-right: 20px;

            &::after {
                left: 10px;
            }
        }
        &.column-2x {
            padding-right: 40px;
            @include breakpoint('medium+') {
                width: 50%;
            }

            @include breakpoint('small') {
                width: 50%;

                &:nth-child(2)::after {
                    display: none;
                }

                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }
            }

            @include breakpoint('xsmall') {
                &:nth-child(1) {
                    margin-top: 0 !important;
                }

                &:nth-child(1)::after {
                    display: none;
                }
                &:nth-child(3)::after {
                    display: none;
                }

                &:nth-child(2) .m-feature-block-listing__img, 
                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }

                margin-top: 20px;
                width: 100%;
            }

            &::after {
                left: 20px;
            }
        }
        &.column-3x {
            padding-right: 40px;
            @include breakpoint('medium+') {
                width: calc(100%/3);
            }

            @include breakpoint('small') {
                width: 50%;

                &:nth-child(2)::after {
                    display: none;
                }

                &:nth-child(3)::after {
                    display: block !important;
                }

                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }
            }

            @include breakpoint('xsmall') {
                &:nth-child(1) {
                    margin-top: 0 !important;
                }

                &:nth-child(1)::after {
                    display: none;
                }
                &:nth-child(3)::after {
                    display: none;
                }

                &:nth-child(2) .m-feature-block-listing__img, 
                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }

                margin-top: 20px;
                width: 100%;
            }

            &::after {
                left: 20px;
            }
        }
        &.column-4x {
            padding-right: 40px;
            @include breakpoint('medium+') {
                width: 25%;
            }

            @include breakpoint('small') {
                width: 50%;

                &:nth-child(2)::after {
                    display: none;
                }

                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }
            }

            @include breakpoint('xsmall') {
                &:nth-child(1) {
                    margin-top: 0 !important;
                }

                &:nth-child(1)::after {
                    display: none;
                }
                &:nth-child(3)::after {
                    display: none;
                }

                &:nth-child(2) .m-feature-block-listing__img, 
                &:nth-child(3) .m-feature-block-listing__img, 
                &:nth-child(4) .m-feature-block-listing__img {
                    border-top: 1px solid #e6e6e6;
                    margin-top: 20px;
                }

                margin-top: 20px;
                width: 100%;
            }

            &::after {
                left: 20px;
            }
        }

        .m-feature-block-listing__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-top: 20px;
            
            &.square {
                aspect-ratio: 1/1;
            }
            &.landscape {
                aspect-ratio: 16/9;
            }

            &.column-1x {

            }
            &.column-2x {

            }
            &.column-3x {

            }
            &.column-4x {

            }
        }

        .m-feature-block-listing__meta-bottom {
            min-height: 124px;
            @include breakpoint('small-') {
                min-height: 104px;
            }
        }
    }

    .m-feature-block-listing:after {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: #e6e6e6;
        position: relative;
    }

    .m-feature-block-listing:last-of-type:after {
        display: none;
    }
}