.stories-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid $color__black;
    text-align: center;

    .stories-header__date {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 180px;
        font-family: $sans-serif-font--loaded;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        border-right: 1px solid $color__black;
    }

    .stories-header__title {
        font-family: $serif-font--loaded;
        font-size: 38px;
        font-weight: 300;
        line-height: 44px;
    }

    .stories-header__intro {
        font-family: $sans-serif-font--loaded;
        font-size: 17px;
        font-weight: 325;
        line-height: 28px;
        color: $color__black--54;
    }

    .stories-header__hours {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 180px;
        font-family: $sans-serif-font--loaded !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 16px !important;
        border-left: 1px solid $color__black;
    }

    @include breakpoint('medium-') {
        border-bottom: none;
        height: 100% !important;

        .stories-header__date {
            order: 1;
            border-top: 2px solid $color__black;
            border-bottom: 1px solid $color__black;
            height: 40px;
            width: 50%;
        }

        .stories-header__heading {
            min-width: 100%;
            margin-bottom: 16px;
        }

        .stories-header__hours {
            order: 2;
            border-top: 2px solid $color__black;
            border-bottom: 1px solid $color__black;
            height: 40px;
            width: 50%;
        }
    }
}

.stories-subnav {
    text-align: center !important;
    padding-bottom: 28px;
    border-bottom: 1px solid $color__black;
    margin-bottom: 40px;
    overflow-x: auto;
    overflow-y: hidden;

    @include breakpoint('small-') {
        padding-bottom: 20px;
    }

    ul {
        display: block;
        text-align: center;
        white-space: nowrap;
        min-width: 100%;
    }

    li {
        display: inline-block;
    }

    .m-links-bar__item>.f-link {
        color: $color__black--90;
        font-family: $sans-serif-font--loaded;
        font-size: 17px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.01em;
    }
}

.stories-fixed_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include breakpoint('small-') {
        flex-direction: column;
    }

    .stories-top-stories {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include breakpoint('medium-') {
            width: 48%;
            height: auto;
            flex-direction: column;
            flex-wrap: wrap;
        }

        @include breakpoint('small-') {
            width: 100%;
            height: auto;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .stories-top-stories__featured {
            order: 2;
            margin-left: auto;
            margin-right: auto;
            padding-left: 12px;
            padding-right: 12px;
            width: 70%;

            @include breakpoint('medium-') {
                margin: 0;
                padding: 0;
                order: 1;
                width: 100% !important;
            }

            @include breakpoint('small-') {
                margin: 0;
                order: 1;
                width: 100% !important;
                padding-left: 0;
                padding-right: 0;
            }

            .m-listing__meta {
                min-height: unset !important;
                padding-bottom: 36px;


                .author {
                    font-family: $sans-serif-font--loaded;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: $color__black--54;
                }
            }
        }

        .stories-top-stories__side {
            order: 1;
            max-width: 250px;

            @include breakpoint('medium-') {
                display: flex;
                flex-direction: row;
                max-width: 100% !important;
                gap: 20px;
            }

            @include breakpoint('small-') {
                order: 2;
                max-width: 100% !important;
                width: 100% !important;
                gap: 0;
                flex-direction: column;
            }

            .stories-listing {
                width: 100%;
            }
        }

        .stories-listing {
            list-style-type: none;

            .author {
                font-family: $sans-serif-font--loaded;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.01em;
                color: $color__black--54;
            }
        }
    }

    .stories-most_popular_stories {
        height: min-content;
        max-width: 250px;
        background-color: $color__cold-white;

        @include breakpoint('medium-') {
            max-width: 48% !important;
        }

        @include breakpoint('small-') {
            height: auto;
            max-width: 100% !important;
        }

        .stories-most_popular_stories__title {
            background-color: $color__black--85;
            font-family: $sans-serif-font--loaded;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 1px;
            color: $color__black--3;
            padding: 12px;
        }

        .stories-most_popular_stories__list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 28px;

            @include breakpoint('medium-') {
                padding-bottom: 28px;
            }

            li {
                min-width: 100%;

                &:hover {
                    opacity: 80%;
                }
            }

            .stories-most_popular_stories__listing {
                margin-top: 16px;
                display: flex;
                flex-direction: row;

                .stories-most_popular_stories__it {
                    color: $color__black;
                    font-family: $serif-font--loaded;
                    font-weight: 400;
                    font-size: 38px;
                    padding: 4px 4px 4px 16px;
                }

                .stories-most_popular_stories__meta {
                    margin-left: 8px;
                    padding-right: 16px;

                    .stories-most_popular_stories__type {
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 400;
                    }

                    .title.f-list-3 {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 325;
                    }
                }
            }

        }
    }
}