.my-museum-tour-header-section {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    flex-direction: row;
    background-color: $color__teal--my-museum-tour;
    color: $color__white;
    padding: 56px;

    @include breakpoint('small-') {
        padding: 14px;
    }

    .my-museum-tour-header-section__wrapper {
        width: 100%;

        .my-museum-tour-header-section__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include breakpoint('medium-') {
                flex-direction: column;
            }

            .mmt-title {
                width: 35%;
                font-size: 56px;
                line-height: 65px;
                color: $color__white;
                font-family: $serif-font--loaded;

                @include breakpoint('medium-') {
                    font-size: 35px;
                    width: 100%;
                }
            }

            .mmt-desc {
                width: 30%;
                font-size: 17px;
                line-height: 25px;
                font-family: $sans-serif-font--loaded;

                @include breakpoint('medium-') {
                    font-size: 16px;
                    width: 100%;
                }
            }

            .mmt-btn {
                max-width: 500px;
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @include breakpoint('medium-') {
                    width: 100%;
                    margin: 30px auto 0 auto;
                }

                .btn {
                    width: 100%;
                    margin-left: 0 !important;

                    @include breakpoint('small-') {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        margin-top: 30px;
                        background-color: transparent;
                        border: 2px solid $color__white;

                        @include breakpoint('small-') {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .my-museum-tour-header-section__img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-top: 40px;
            margin-bottom: 56px;

            @include breakpoint('small-') {
                display: none;
            }
        }

        .my-museum-tour-header-section__img-mobile {
            display: none;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-top: 40px;
            margin-bottom: 40px;

            @include breakpoint('small-') {
                display: block;
            }
        }

        .my-museum-tour-header-section__img-mobile  {
            margin-bottom: 14px !important;
        }

        .my-museum-tour-header__icons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 30px;
            margin-bottom: 30px;

            @include breakpoint('small-') {
                margin-top: 0;
                flex-direction: column;
            }

            >div {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                @include breakpoint('small-') {
                    width: 100%;
                    flex-direction: row;
                    text-align: left;
                    margin-top: 30px;
                }

                >div {
                    @include breakpoint('small-') {
                        margin-left: 35px;
                        width: 80%;
                    }

                    >h3 {
                        font-size: 21px;
                        line-height: 28px;
                        margin-top: 20px;
                        text-transform: uppercase;
                        font-family: $sans-serif-font--loaded;

                        @include breakpoint('small-') {
                            margin-top: 0;
                        }
                    }

                    >p {
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: 20px;
                        font-family: $serif-font--loaded;

                        @include breakpoint('small-') {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}