.rlc {
  --sans-serif: 'Ideal Sans A', 'Ideal Sans B', sans-serif;
  --serif: 'Sabon', serif;
  font-family: var(--sans-serif);
  .m-rlc-header .m-media__img {
    height: 516px;
    max-height: 100vw;
  }
  img {
    // Remove blur
    &[data-src]:not([src*='data:image/gif;base64']),
    &[data-srcset]:not([src*='data:image/gif;base64']) {
      filter: none;
    }
  }
  .f-title {
    font-size: 38px;
    font-weight: 300;
    line-height: 44px;
    margin-top: 44px;
  }
  .f-intro {
    font-family: var(--serif);
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 36px;
  }
  .m-links-bar__item {
    line-height: 17px;
  }
  .f-link {
    font-family: inherit;
    font-size: 17px;
    vertical-align: text-bottom;
  }
  .o-menu-bar {
    padding-bottom: 28px;
    padding-top: 28px;
  }
  .o-info-grid .title,
  .showcase-header,
  .m-prefooter-section .title {
    color: $color__black--90;
    font-family: var(--sans-serif);
    font-size: 21px;
    font-weight: 400;
    text-transform: 'uppercase';
  }
  .o-info-grid {
    @include breakpoint('small+') {
      margin-top: 32px;
    }
    @include breakpoint('xsmall') {
      margin-top: 0;
    }
  }
  .o-info-grid .row:last-child > .col:first-child {
    border: none;
  }
  .o-info-grid .row {
    margin-top: 0;
    &:first-child {
      @include breakpoint('small+') {
        margin-bottom: 0;
        padding-bottom: 60px;
      }
      @include breakpoint('xsmall') {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    &:last-child {
      @include breakpoint('xsmall') {
        margin-top: 0;
      }
    }
    @include breakpoint('small+') {
      flex-direction: row;
    }
    @include breakpoint('xsmall') {
      flex-direction: column;
    }
    .col {
      width: 100%;
      &:nth-child(1) {
        @include breakpoint('small+') {
          width: 15%;
          margin-top: 0;
        }
      }
      &:nth-child(2) {
        @include breakpoint('small+') {
          width: 30%;
          margin-top: 0;
        }
      }
      &:nth-child(3) {
        @include breakpoint('small+') {
          width: 50%;
          margin-top: 0;
        }
      }
      &:last-child {
        @include breakpoint('xsmall') {
          border-top: 1px solid $color__black--20;
          margin-top: 0;
          padding-top: 32px
        }
      }
      .title {
        font-family: var(--sans-serif);
        font-size: 21px;
        font-weight: 400;
        text-transform: 'uppercase';
      }
      &>hr {
        margin: 18px 0;
      }
    }
  }
  .spacer {
    display: inline-block;
    @include breakpoint('small+') {
      --spacing: calc(100vw / 4);
      --max-spacing: 350px;
      height: var(--spacing);
      max-height: var(--max-spacing);
      width: calc(var(--spacing) / 2);
      max-width: calc(var(--max-spacing) / 2);
    }
    @include breakpoint('xsmall') {
      --spacing: calc(100vw / 2);
      height: var(--spacing);
      left: -15px;
      position: relative;
      width: calc(var(--spacing) * 2);
    }
    .semicircle {
      @include breakpoint('small+') {
        height: 100%;
        max-height: var(--max-spacing);
        max-width: calc(var(--max-spacing) / 2);
        &.left-hemisphere {
          border-top-left-radius: var(--spacing);
          border-bottom-left-radius: var(--spacing);
        }
        &.right-hemisphere {
          border-top-right-radius: var(--spacing);
          border-bottom-right-radius: var(--spacing);
        }
      }
      @include breakpoint('xsmall') {
        border-bottom-left-radius: var(--spacing);
        border-bottom-right-radius: var(--spacing);
        min-height: var(--spacing);
        width: 100%;
      }
    }
  }
  .o-info-grid {
    .spacer {
      position: relative;
      top: 57px;
    }
    .semicircle {
      background-color: $color__rlc__blue_sapphire;
    }
  }
  .o-info-grid>.row>.col>hr {
    border: none;
  }
  div.location .location-image {
    @include breakpoint('medium+') {
      width: 50%;
    }
    &>img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
    .role-mobile {
      @include breakpoint('medium+') {
        display: none;
      }
    }
    .role-default {
      @include breakpoint('small') {
        display: none;
      }
      @include breakpoint('xsmall') {
        display: none;
      }
    }
  }
  .location-information>div{
    @include breakpoint('xsmall') {
      margin-top: 20px;
    }
  }
  .intro {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    width: 100%;
  }
  .directions-link .f-link {
    color: $color__rules--brand;
  }
  .visit-button {
    display: flex;
    flex-grow: 1;
    padding-top: 20px;
    .f-buttons {
      align-self: end;
      color: $color__text--secondary;
      font-family: var(--sans-serif);
      font-weight: 325;
      width: 100%;
    }
  }
  .m-showcase-block,
  .m-showcase-multiple-block,
  .m-showcase-background,
  .m-prefooter-section-background {
    margin-top: 0;
    @include breakpoint('xsmall') {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .m-showcase-block,
  .m-showcase-multiple-block>.m-showcase-background,
  .m-prefooter-section>.m-prefooter-section-background {
    @include breakpoint('small+') {
      padding: 60px;
    }
    .m-showcase-wrapper {
      gap: 36px;
      @include breakpoint('xsmall') {
        gap: 15px;
      }
    }
    .showcase-intro {
      font-family: var(--sans-serif);
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      padding-top: 20px;
    }
    .m-showcase-media, .m-showcase-block__text-wrapper {
      margin: 0;
      @include breakpoint('small+') {
        width: 100%;
      }
    }
    .m-showcase-media {
      position: relative;
      figcaption {
        @include breakpoint('small+') {
          bottom: 0;
        }
        @include breakpoint('xsmall') {
          bottom: 20px;
        }
        min-height: unset;
        position: absolute;
        .f-caption {
          font-family: var(--sans-serif);
          font-size: 13px;
          line-height: 16px;
          padding: 8px 16px;
          text-transform: uppercase;
          &::after {
            content: unset;
          }
        }
      }
    }
    .m-showcase-block__text-wrapper {
      .showcase-tag {
        font-size: 13px;
        font-weight: 325;
        margin-bottom: 12px;
      }
      .showcase-title {
        font-size: 28px;
        line-height: 36px;
        margin-top: 0;
      }
      .showcase-description {
        font-size: 17px;
        margin-top: 0;
        line-height: 28px;
        a {
          &:link {
            color: $color__rlc__blue_sapphire;
          }
          &:visited {
            color: $color__link;
          }
          &:active:hover {
            color: $color__link--active;
          }
          &:focus:hover, &:hover {
            color: $color__link--hover;
          }
        }
        p {
          @include tucked-margin-top($f-body, ('xsmall': 40, 'small+': 56));
        }
      }
    }
    .m-showcase-block__header-wrapper,
    .m-showcase-block__text-wrapper,
    .m-showcase-media {
      @include breakpoint('xsmall') {
        padding-bottom: 21px;
      }
    }
  }
  .m-showcase-block {
    .m-showcase-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      .showcase-header {
        flex-basis: 100%;
      }
      .m-showcase-media, .m-showcase-block__text-wrapper {
        flex: 1 1;
      }
      @include breakpoint('xsmall') {
        flex-direction: column;
        .showcase-header {
          flex-basis: fit-content;
        }
      }
    }
  }
  .m-showcase-multiple-block {
    .m-showcase-wrapper {
      display: grid;
    }
  }
  .m-showcase-block,
  .m-showcase-multiple-block {
    .m-showcase-wrapper {
      .m-showcase-media {
        margin-top: 0;
        min-width: unset;
        @include breakpoint('xsmall') {
          min-width: 100%;
        }
        img, video {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
  #about-the-r-l-c {
    background-color: $color__rlc__vermilion;
    .m-showcase-wrapper {
      flex-direction: row-reverse;
      .showcase-header {
        flex-basis: 100%;
        order: -1;
      }
      @include breakpoint('xsmall') {
        flex-direction: column-reverse;
        .showcase-header {
          flex-basis: fit-content;
          order: 1;
        }
      }
    }
    .m-showcase-media {
      .m-media__img {
        background-color: inherit;
        img {
          aspect-ratio: 1;
        }
      }
      @include breakpoint('small+') {
        flex: 2;
      }
    }
    .showcase-header,
    .showcase-tag,
    .showcase-title,
    .showcase-description,
    .showcase-link {
      color: $color__white;
    }
  }
  #featured-events {
    .m-showcase-media {
      img {
        aspect-ratio: 1;
      }
    }
  }
  #make-with-us {
    background-color: $color__rlc__antique_white;
    .m-showcase-background {
      --spacing: calc(100vw);
      background-color: $color__rlc__atomic_tangerine;
      border-bottom-left-radius: var(--spacing);
      border-bottom-right-radius: var(--spacing);
    }
    .m-showcase-wrapper {
      grid-template-columns: 1fr 2fr;
    }
    .m-showcase-block__header-wrapper {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    .m-showcase-media {
      @include breakpoint('xsmall') {
        grid-column-end: 3;
        grid-column-start: 1;
      }
      img {
        aspect-ratio: 1;
      }
    }
    .m-showcase-block__text-wrapper {
      @include breakpoint('xsmall') {
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }
    .showcase-description,
    .showcase-tag,
    .showcase-link {
      color: $color__black--80;
    }
  }
  #experience-with-us {
    color: $color__white;
    overflow: hidden;
    position: relative;
    @include breakpoint('small+') {
      --fullwidth: calc(100vw - 5px);
    }
    @include breakpoint('xsmall') {
      --fullwidth: calc(100vw);
    }
    &::after {
      border-color: transparent $color__rlc__blue_sapphire transparent transparent;
      border-style: solid;
      border-width: 0 var(--fullwidth) var(--fullwidth) 0;
      content: '';
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
    }
    .m-showcase-background {
      background-color: $color__rlc__maastricth_blue;
    }
    .m-showcase-wrapper {
      grid-template-columns: 1fr 1fr;
      z-index: 1;
    }
    .showcase-header,
    .showcase-title,
    .showcase-description,
    .showcase-tag,
    .showcase-link {
      color: $color__white;
    }
    .f-caption {
      background-color: $color__black;
      color: $color__white;
    }
    .m-showcase-block__header-wrapper {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    @include breakpoint('small+') {
      .m-showcase-media:nth-of-type(1) {
        img {
          aspect-ratio: 1;
        }
      }
      .m-showcase-media:nth-of-type(2) {
        grid-column: 1;
        grid-row: 3;
        object-fit: contain;
        &:not(:has(~ .m-showcase-media)) {
          img {
            aspect-ratio: 1;
          }
        }
      }
      .m-showcase-media:nth-of-type(3) {
        grid-column: 2;
        grid-row: 3;
        object-fit: contain;
      }
    }
    @include breakpoint('xsmall') {
      .m-showcase-media,
      .m-showcase-block__text-wrapper {
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }
  }
  #learn-with-us {
    background-color: $color__rlc__antique_white;
    .m-showcase-background {
      background-color: inherit;
    }
    .m-showcase-wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .m-showcase-block__header-wrapper {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    .m-showcase-media {
      clip-path: circle();
      margin: auto;
      padding: 0;
      img {
        aspect-ratio: 1;
      }
      @include breakpoint('small+') {
        max-width: 350px;
      }
    }
    .m-showcase-media:nth-of-type(1) {
      grid-column: 1;
      grid-row: 2;
    }
    .m-showcase-media:nth-of-type(2) {
      grid-column: 2;
      grid-row: 2;
    }
    .m-showcase-media:nth-of-type(3) {
      grid-column: 1;
      grid-row: 4;
    }
    .m-showcase-media:nth-of-type(4) {
      grid-column: 2;
      grid-row: 4;
    }
    .m-showcase-block__text-wrapper {
      .showcase-title {
        text-align: center;
      }
      .showcase-description {
        color: $color__black--80;
        @include breakpoint('xsmall') {
          display: none;
        }
      }
      .showcase-link {
        color: $color__rlc__vermilion;
        @include breakpoint('xsmall') {
          text-align: center;
        }
      }
    }
  }
  .m-prefooter-section {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    &>.m-prefooter-section-background {
      @include breakpoint('xsmall') {
        padding: 15px;
      }
    }
    .m-prefooter-section-wrapper {
      max-width: 1500px;
      margin: auto;
    }
  }
  .f-contact {
    &>.m-prefooter-section-background {
      background-color: $color__rlc__maize;
    }
    .contact-intro {
      font-family: var(--sans-serif);
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      margin-top: 8px;
    }
    .f-contact-blocks {
      border-top: 1px solid $color__black--42;
      display: flex;
      margin-top: 28px;
      width: auto;
      @include breakpoint('small+') {
        column-gap: 24px;
        &>* {
          border-right: 1px solid $color__black--42;
          flex-basis: 33%;
        }
        &>*:last-child {
          border-right: none;
        }
      }
      @include breakpoint('xsmall') {
        flex-direction: column;
      }
      h2, h4 {
        font-family: var(--serif);
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        text-transform: none;
        margin: 24px 0;
      }
      .paragraph-wrapper {
        font-family: var(--sans-serif);
        font-size: 17px;
        font-weight: 300;
        line-height: 28px;
        @include breakpoint('xsmall') {
          border-bottom: 1px solid $color__black--42;
          padding-bottom: 24px;
        }
        p {
          padding-bottom: 8px;
          padding-right: 24px;
        }
        a {
          color: $color__rlc__blue_sapphire;
        }
      }
      .o-blocks__block {
        border-top: none !important;
        margin-top: 0 !important;
        min-width: auto !important;
        .m-aside-newsletter__field {
          padding-top: 0;
        }
        input[type="email"] {
          border: 1px solid $color__black--80;
          &::placeholder {
            color: $color__black--80;
          }
          @include breakpoint('xsmall') {
            width: 67%;
          }
        }
        button {
          border: 1px solid $color__black--80;
          @include breakpoint('xsmall') {
            margin: 0;
            padding: 0;
            text-align: center;
            width: 33%;
          }
        }
        .m-aside-newsletter__also {
          text-align: left;
          .subtitle {
            color: $color__black--80;
          }
        }
      }
    }
  }
  .f-faqs {
    &>.m-prefooter-section-background {
      @include breakpoint('xsmall') {
        padding-top: 0;
      }
    }
    .m-prefooter-section-wrapper {
      display: flex;
      flex-wrap: wrap;
      .faq-header {
        flex-basis: 100%;
        @include breakpoint('xsmall') {
          order: 2;
        }
      }
      .o-accordion {
        flex: 2;
        @include breakpoint('xsmall') {
          order: 3;
        }
      }
      .spacer-container {
        flex: 1;
        text-align: right;
        @include breakpoint('xsmall') {
          order: 1;
        }
      }
    }
    .o-accordion__trigger.f-list-3 {
      border: none;
    }
    .semicircle {
      background-color: $color__rlc__vermilion;
    }
  }
  .f-donors {
    color: $color__white;
    font-family: var(--sans-serif);
    font-size: 17px;
    font-weight: 300;
    &>.m-prefooter-section-background {
      background-color: $color__rlc__blue_sapphire;
    }
  }
  .m-aside-newsletter {
    margin-top: 1px;
  }
}
