// Landing page
section.videos {
    body:has(&) {
        .m-header-block {
            &::before {
                display: none;
            }
            h1.title {
                font-family: $serif-font--loaded;
                font-size: 38px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: -0.38px;
                line-height: 44px;
                text-align: center;
                text-transform: unset;
            }
            & ~ .f-intro {
                color: $color__videos__text--tertiary;
                font-family: $sans-serif-font--loaded;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.17px;
                line-height: 28px;
                margin: 16px;
                text-align: center;
            }
        }
    }
    main#content:has(&) {
        padding-top: 140px;
    }
    .videos-subnav {
        border-bottom: 1px solid $color__videos__rules--primary;
        border-top: 1px solid $color__videos__rules--primary;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 28px;

        @include breakpoint('small-') {
            padding-bottom: 20px;
        }

        ul {
            display: block;
            min-width: 100%;
            text-align: center;
            white-space: nowrap;
        }

        li {
            display: inline-block;
        }

        .m-links-bar__item>.f-link {
            color: $color__videos__text--primary;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0.01em;
            line-height: 28px;
        }
    }

    .shorts-grid {
        .m-listing:last-child {
            margin-right: 56px;
        }

        .m-listing__img {
            aspect-ratio: 2 / 3;

            img {
                height: 120%;
            }

        }
    }
}
.videos.o-landingpage__body {
    &.o-blocks>div {
        margin-top: 56px;
        padding-top: 20px;
        &:not(:first-child) {
            border-top: 1px solid $color__videos__rules--primary;
        }
    }

    .playlist-grid {
        .m-title-bar {
            .m-title-bar__links {
                position: absolute;
                right: 0;
                top: 0;

                @include breakpoint('small-') {
                    display: flex;
                }
            }
            h2.title {
                margin: 0;
                max-width: 100%;
            }
        }
    }

    .playlist-grid,
    .video-grid {
        margin-left: unset !important;

        .m-title-bar {
            margin: 0;
            margin-bottom: 40px;

            &::before {
                display: none;
            }
            h2.title {
                margin: 0;
            }
            .f-link {
                color: $color__videos__link;
            }
        }
    }
}
main#content:has(.videos) {
    .shorts-grid {
        margin-left: unset !important;
        margin-top: 56px;

        .m-title-bar {
            margin: 0;
            margin-bottom: 40px;

            &::before {
                display: none;
            }
            h2.title {
                margin: 0;
            }
            .f-link {
                color: $color__videos__link;
            }
        }
        .o-grid-listing {
            flex-flow: row;
            overflow: hidden;
        }
        .m-listing__img {
            border-radius: 8px;
        }
    }
    .o-grid-block {
        .o-grid-block__title {
            color: $color__videos__text--primary;
            font-family: $serif-font--loaded;
            font-size: 38px;
            font-style: normal;
            font-weight: 300;
            line-height: 44px;
            letter-spacing: -0.38px;
            text-transform: none;
        }
        .o-grid-block__description {
            color: $color__videos__text--tertiary;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.17px;
            line-height: 28px;
            text-transform: none;
        }
        .o-grid-block__subtitle {
            font-family: $sans-serif-font--loaded;
            font-size: 21px;
            font-style: normal;
            font-weight: 325;
            letter-spacing: 1.68px;
            line-height: 28px;
            text-transform: uppercase;
        }
        .o-grid-listing {
            margin-top: 32px;
            row-gap: 3.125vw;

            @include breakpoint('xsmall') {
                flex-flow: row;
                margin-right: -9.375vw;
                overflow: hidden;
            }
        }
        .m-listing {
            @include breakpoint('xsmall') {
                width: 66%;

                &:not(:first-child) {
                    margin-left: 24px;
                    margin-top: unset;
                }
            }
            .m-listing__meta {
                min-height: unset;

                .title {
                    color: $color__videos__text--primary;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                .intro {
                    color: $color__videos__text--tertiary;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;
                }
            }
            .m-listing__img-prompt {
                background: $color__videos__img--overlay;
                font-family: $sans-serif-font--loaded;
                font-size: 13px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.82px;
                line-height: 16px;
                min-width: unset;
                padding: 8px 12px;
                text-transform: uppercase;
            }
        }
    }
    div.custom-banner-block--videos {
        padding-top: 56px;

        .text-wrapper {
            gap: 2em;

            .custom-banner-title {
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.68px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
        .f-buttons {
            background-color: transparent;
            border: 1px solid $color__videos__text--primary;
        }

        @include breakpoint('medium') {
            .text-wrapper {
                flex-direction: row;
            }
        }
        @include breakpoint('small-') {
            .button-wrapper,
            .f-buttons {
                width: 100%;
            }
        }
    }
}

// Detail pages
.p-playlistvideo-show body,
.p-video-show body {
    main#content {
        padding-top: 140px;
    }
    .o-article--video {
        &.video-is-short {
            margin: 0 auto;

            @include breakpoint('medium+') {
                float: left;
                width: colspan(38, medium);
            }
            @include breakpoint('large+') {
                float: none;
                width: colspan(28, large);
            }
            @include breakpoint('xlarge') {
                width: colspan(28, xlarge);
            }

            .o-article__header {
                display: flex;
                flex-direction: row-reverse;
                gap: 56px;

            }
        }
        h1.title {
            font-family: $sans-serif-font--loaded;
            font-size: 38px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -0.38px;
            line-height: 44px;
            text-transform: unset;
        }
        p.title {
            display: none;
        }
        .o-article__primary-actions--video {
            min-height: unset;
        }
        .m-article-header--video {
            gap: 40px;
            justify-content: unset;
            margin-bottom: 56px !important;
            margin-top: 56px;
            min-height: unset;
        }
        .m-article-header--video.variation--short {
            border-radius: 28px;
            flex-basis: 50%;
            margin: unset;
            padding: unset;
        }
        .m-article-actions__action .btn--icon {
            background-color: transparent;
            color: $color__videos__link--accent;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.17px;
            line-height: 28px;

            &::before {
                content: 'Share';
            }
        }
        .m-media.variation--short {
            aspect-ratio: 2 / 3;
            flex-basis: 50%;

            .m-media__img--embed {
                border-radius: 28px;
                height: 120%;
            }
        }
    }
    .o-article__body {
        flex-basis: 100%;

        .m-media {
            margin-bottom: 28px;
        }
        .o-tabbed-details {
            margin-top: 40px;

            .o-tabbed-details__tab-title {
                color: $color__dark-mode__link--tab;
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.68px;
                line-height: 28px;
                padding-bottom: 22px;
                padding-left: 15px;
                padding-right: 15px;
                text-transform: uppercase;
            }
            .o-tabbed-details__tab[open] .o-tabbed-details__tab-title {
                color: $color__dark-mode__link--tab-active;
            }
            .o-tabbed-details__tab-content {
                h3 {
                    margin-top: 56px;
                    font-family: $serif-font--loaded;
                    font-size: 31px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: -0.31px;
                    line-height: 40px;
                }
                .video-transcript {
                    color: $color__videos__text--tertiary;
                    font-family: $sans-serif-font--loaded;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;

                    a {
                        text-decoration: underline;
                    }
                    p {
                        margin-bottom: 1em;
                    }
                }
            }
        }
        .o-gallery {
            background-color: unset;
        }
        .o-accordion {
            h3 {
                padding-bottom: 0;
            }
        }
    }
    .o-article__related {
        display: block;

        .m-title-bar {
            &::before {
                display: none;
            }
            h2.title {
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.68px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
        .m-listing {
            @include breakpoint('xsmall') {
                width: 66%;

                &:not(:first-child) {
                    margin-left: 24px;
                    margin-top: unset;
                }
            }
            &::after {
                display: none;
            }
            .m-listing__meta {
                min-height: unset;

                .title {
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                .intro {
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;
                }
            }
            .m-listing__img-prompt {
                background: $color__dark-mode__img--overlay;
                font-family: $sans-serif-font--loaded;
                font-size: 13px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.82px;
                line-height: 16px;
                min-width: unset;
                padding: 8px 12px;
                text-transform: uppercase;
            }
        }
    }
}

.p-playlistvideo-show body {
    .playlist-title {
        color: $color__videos__text--secondary;
        font-family: $sans-serif-font--loaded;
        font-size: 21px;
        font-style: normal;
        font-weight: 325;
        letter-spacing: 1.68px;
        line-height: 28px;
        margin-bottom: 16px;
        margin-top: 56px;
        text-transform: uppercase;

        & ~ .hr {
            margin: 24px 0;
        }
    }
    .o-article__header {
        display: grid;

        @include breakpoint('large+') {
            grid-template-columns: 2fr 1fr;

            .m-media.variation--video {
                grid-column: 1;
                grid-row: 1;
                margin: 0;

                .m-media__img--embed {
                    height: 50vh;
                }
                .m-listing__img {
                    width: 33%;
                }
            }
            .o-playlist {
                grid-column: 2;
                grid-row: 1;
                max-height: 50vh;
            }
            .m-article-header--video.variation--video {
                gap: 32px;
                grid-column: 1 / span 2;
                grid-row: 2;
            }
        }
        @each $name in ('small', 'medium') {
            @include breakpoint('#{$name}') {
                grid-template-columns: 1fr 1fr;

                .m-media.variation--video {
                    grid-column: 1 / span 2;
                    grid-row: 1;
                }
                .m-article-header--video.variation--video {
                    grid-column: 1;
                    grid-row: 2;
                    margin-bottom: 34px !important;
                    margin-top: 34px;
                }
                .o-playlist {
                    grid-column: 2;
                    grid-row: 2;
                    max-height: 25vh;
                }
            }
        }
        @include breakpoint('xsmall') {
            grid-template-columns: 1fr;

            .m-article-header--video.variation--video {
                grid-row: 3;
                margin-bottom: 34px !important;
                margin-top: 34px;
            }
            .o-playlist {
                max-height: 25vh;
            }
        }
    }
    .o-playlist {
        background-color: $color__videos__text--title;

        .playlist-video .current-video {
            background-color: $color__videos__bg--selected;
        }
        .m-listing__meta .title {
            color: $color__videos__text--secondary;
            font-family: $sans-serif-font--loaded;
            font-size: 15px;
            font-style: normal;
            font-weight: 325;
            letter-spacing: 0.15px;
            line-height: 20px;
            text-overflow: ellipsis;
        }
    }
    .o-article__body {
        .o-tabbed-details {
            margin-top: 0;
        }
    }

}
.p-shorts-show {
    #shorts-player {
        display: flex;
        gap: 90px;

        .short-video {
            flex: 1;
            min-height: 100%;

            .link::before {
              padding: unset;
            }
            .m-media__img {
                aspect-ratio: 185 / 329;
                border-radius: 28px;
                height: 120%;
            }
        }
    }
}
