section.videos {
    body:has(&) {
        color: $color__white;
        background-color: $color__black--81;

        .m-header-block {
            &::before {
                display: none;
            }
            h1.title {
                color: $color__white;
                font-family: $serif-font--loaded;
                font-size: 38px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: -0.38px;
                line-height: 44px;
                text-align: center;
                text-transform: unset;
            }
            & ~ .f-intro {
                color: $color__black--20;
                font-family: $sans-serif-font--loaded;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.17px;
                line-height: 28px;
                margin: 16px;
                text-align: center;
            }
        }
    }
    main#content:has(&) {
        padding-top: 140px;
    }
    .videos-subnav {
        border-bottom: 1px solid $color__black--54;
        border-top: 1px solid $color__black--54;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 28px;

        @include breakpoint('small-') {
            padding-bottom: 20px;
        }

        ul {
            display: block;
            min-width: 100%;
            text-align: center;
            white-space: nowrap;
        }

        li {
            display: inline-block;
        }

        .m-links-bar__item>.f-link {
            color: $color__white;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0.01em;
            line-height: 28px;
        }
    }

    .shorts-grid {
        .m-listing:last-child {
            margin-right: 56px;
        }

        .m-listing__img {
            aspect-ratio: 2 / 3;

            img {
                height: 120%;
            }

        }
    }
}
.videos.o-landingpage__body {
    &.o-blocks>div {
        margin-top: 56px;
        padding-top: 20px;
        &:not(:first-child) {
            border-top: 1px solid $color__black--54;
        }
    }

    .playlist-grid {
        .m-title-bar {
            .m-title-bar__links {
                position: absolute;
                right: 0;
                top: 0;

                @include breakpoint('small-') {
                    display: flex;
                }
            }
            h2.title {
                margin: 0;
                max-width: 100%;
            }
        }
    }

    .playlist-grid,
    .video-grid {
        margin-left: unset !important;

        .m-listing:last-child {
            margin-right: 56px;
        }

        .m-title-bar {
            margin: 0;
            margin-bottom: 40px;

            &::before {
                display: none;
            }
            h2.title {
                margin: 0;
            }
            .f-link {
                color: $color__black--20;
            }
        }
    }
}
main#content:has(.videos) {
    .shorts-grid {
        margin-left: unset !important;
        margin-top: 56px;

        .m-title-bar {
            margin: 0;
            margin-bottom: 40px;

            &::before {
                display: none;
            }
            h2.title {
                margin: 0;
            }
            .f-link {
                color: $color__black--20;
            }
        }
        .o-grid-listing {
            flex-flow: row;
            overflow: hidden;
        }
        .m-listing__img {
            border-radius: 8px;
        }
    }
    .o-grid-block {
        .o-grid-block__title {
            color: $color__white;
            font-family: $serif-font--loaded;
            font-size: 38px;
            font-style: normal;
            font-weight: 300;
            line-height: 44px;
            letter-spacing: -0.38px;
            text-transform: none;
        }
        .o-grid-block__description {
            color: $color__black--20;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.17px;
            line-height: 28px;
            text-transform: none;
        }
        .o-grid-block__subtitle {
            font-family: $sans-serif-font--loaded;
            font-size: 21px;
            font-style: normal;
            font-weight: 325;
            letter-spacing: 1.68px;
            line-height: 28px;
            text-transform: uppercase;
        }
        .o-grid-listing {
            margin-top: 32px;
            row-gap: 3.125vw;

            @include breakpoint('xsmall') {
                flex-flow: row;
                margin-right: -9.375vw;
                overflow: hidden;
            }
        }
        .m-listing {
            @include breakpoint('xsmall') {
                width: 66%;

                &:not(:first-child) {
                    margin-left: 24px;
                    margin-top: unset;
                }
            }
            .m-listing__meta {
                min-height: unset;

                .title {
                    color: $color__white;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                .intro {
                    color: $color__black--20;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;
                }
            }
            .m-listing__img-prompt {
                background: rgba(26, 26, 26, 0.80);
                font-family: $sans-serif-font--loaded;
                font-size: 13px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.82px;
                line-height: 16px;
                min-width: unset;
                padding: 8px 12px;
                text-transform: uppercase;
            }
        }
    }
    div.custom-banner-block--videos {
        padding-top: 56px;

        .text-wrapper {
            gap: 2em;

            .custom-banner-title {
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.68px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
        .f-buttons {
            background-color: transparent;
            border: 1px solid $color__white;
        }

        @include breakpoint('medium') {
            .text-wrapper {
                flex-direction: row;
            }
        }
        @include breakpoint('small-') {
            .button-wrapper,
            .f-buttons {
                width: 100%;
            }
        }
    }
}
.p-video-show body {
    color: $color__white;
    background-color: $color__black--81;

    h1.title {
        color: $color__white;
        font-family: $sans-serif-font--loaded;
        font-size: 38px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -0.38px;
        line-height: 44px;
        text-transform: unset;
    }
    p.title, .f-secondary {
        display: none;
    }
    .o-article__primary-actions--video {
        min-height: unset;
    }
    .m-article-header {
        gap: 40px;
        margin-bottom: 56px !important;
        margin-top: 56px;
        min-height: unset;
    }
    .m-article-actions__action .btn--icon {
        background-color: transparent;
        color: $color__black--30;
        font-family: $sans-serif-font--loaded;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.17px;
        line-height: 28px;

        &::before {
            content: 'Share';
        }
    }
    .o-article__body {
        .m-media {
            margin-bottom: 28px;
        }
        .o-tabbed-details {
            margin-top: 40px;

            summary {
                color: $color__black--54;
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                line-height: 28px;
                letter-spacing: 1.68px;
                text-transform: uppercase;
                padding-bottom: 22px;
            }
            details[open] :is(summary, .summary) {
                color: $color__white;
            }
            .o-tabbed-details__content {
                h3 {
                    margin-top: 56px;
                    color: $color__black--10;
                    font-family: $serif-font--loaded;
                    font-size: 31px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: -0.31px;
                    line-height: 40px;
                }
                .video-transcript {
                    color: $color__black--20;
                    font-family: $sans-serif-font--loaded;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;

                    a {
                        color: $color__white;
                        text-decoration: underline;
                    }
                    p {
                        margin-bottom: 1em;
                    }
                }
            }
        }
        .o-gallery {
            background-color: unset;
        }
        .o-accordion {
            h3 {
                padding-bottom: 0;
            }
            button {
                background-color: $color__black--81;
                color: $color__white;
            }
        }
    }
    .o-article__related {
        display: block;

        .m-title-bar {
            &::before {
                display: none;
            }
            h2.title {
                color: $color__black--10;
                font-family: $sans-serif-font--loaded;
                font-size: 21px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.68px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
        .m-listing {
            @include breakpoint('xsmall') {
                width: 66%;

                &:not(:first-child) {
                    margin-left: 24px;
                    margin-top: unset;
                }
            }
            &::after {
                display: none;
            }
            .m-listing__meta {
                min-height: unset;

                .type {
                    color: $color__black--54;
                }
                .title {
                    color: $color__white;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                .intro {
                    color: $color__black--20;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 0.17px;
                    line-height: 28px;
                }
            }
            .m-listing__img-prompt {
                background: rgba(26, 26, 26, 0.80);
                font-family: $sans-serif-font--loaded;
                font-size: 13px;
                font-style: normal;
                font-weight: 325;
                letter-spacing: 1.82px;
                line-height: 16px;
                min-width: unset;
                padding: 8px 12px;
                text-transform: uppercase;
            }
        }
    }
}
