$color__videos__darkest_gray: $color__black--81;

section.videos {
    body:has(&) {
        color: white;
        background-color: $color__videos__darkest_gray;

        .title {
            color: white;
        }
    }
    .videos-subnav {
        text-align: left !important;
        padding-bottom: 28px;
        border-bottom: 1px solid white;
        overflow-x: auto;
        overflow-y: hidden;

        @include breakpoint('small-') {
            padding-bottom: 20px;
        }

        ul {
            display: block;
            text-align: left;
            white-space: nowrap;
            min-width: 100%;
        }

        li {
            display: inline-block;
        }

        .m-links-bar__item>.f-link {
            color: white;
            font-family: $sans-serif-font--loaded;
            font-size: 17px;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 0.01em;
        }
    }
}
.videos.o-landingpage__body {
    .playlist-grid {
        margin-left: unset !important;
    }

    .video-grid {
        margin-left: unset !important;
    }
}
