// Digital Publications color list
// See config/aic.php

$color__digipub__darkest_blue: #1E2753;
$color__digipub__darkest_brown: #3F2D22;
$color__digipub__darkest_gray: #282829;
$color__digipub__darkest_green: #2D3E23;
$color__digipub__darkest_orange: #8E351F;
$color__digipub__darkest_purple: #3A254F;
$color__digipub__darkest_red: #620C17;
$color__digipub__darkest_teal: #1E3D47;
$color__digipub__darkest_yellow: #CE8D19;
$color__digipub__light_blue: #A0B8E8;
$color__digipub__light_brown: #C3AEA1;
$color__digipub__light_gray: #C6C3C5;
$color__digipub__light_green: #ADC47C;
$color__digipub__light_orange: #FFA66E;
$color__digipub__light_purple: #AE96D0;
$color__digipub__light_red: #DF98AC;
$color__digipub__light_teal: #91C8CD;
$color__digipub__light_yellow: #FFF181;
