// Ryan Learning Center landing page color list
// Color names are taken from https://www.color-name.com/.

$color__rlc__antique_white: #F8E8D8;
$color__rlc__apricot: #F4CCAF;
$color__rlc__atomic_tangerine: #FF9D6C;
$color__rlc__blue_sapphire: #075A71;
$color__rlc__fire_opal: #E66144;
$color__rlc__japanese_indigo: #1E3F49;
$color__rlc__maastricth_blue: #00263A;
$color__rlc__maize: #F3C143;
$color__rlc__myrtle_green: #246871;
$color__rlc__vermilion: #DE2F1B;
