// Video pages color list

$color__videos__bg--primary: $color__black--81;

$color__videos__img--overlay: rgba(26, 26, 26, 0.80);

$color__videos__rules--primary: $color__black--10;

$color__videos__text--primary: $color_white;
$color__videos__text--secondary: $color_black--54;
$color__videos__text--forms: $color__black--30;
$color__videos__text--disabled: $color__black--20;
