/***

Stylesheets (`SCSS`)
====================

The SCSS is written using [BEM](http://getbem.com/) and everything is split into atoms, molecules and organisms, following [Brad Frost's Atomic Web Design](http://bradfrost.com/blog/post/atomic-web-design/) as the basis.

**NB**
The `SCSS` files are compiled, the NPM tasks will need to be run in order for updates to take effect.

***/
