.p-artwork-show {
  [itemprop="description"] table {
    margin-top: 30px;

    td,
    th {
      padding: 8px 12px 8px;
      border-top: none;
      border-bottom: none;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .o-article__inline-header {
    width: 100%;
  }

  .o-article__body {
    @include breakpoint('medium+') {
      float: left;
      width: colspan(38, medium);
    }

    @include breakpoint('large+') {
      float: none;
      width: colspan(28, large);
      margin-top: 0;
      margin-left: colspan(15, large);
    }

    @include breakpoint('xlarge') {
      width: colspan(28, xlarge);
      margin-left: colspan(15, xlarge);
    }
  }
}
