// This file contains styles for both journal issues and magazine issues
.p-magazineissue-show,
.p-magazineissue-latest,
.p-digitalpublications-show,
.p-issue-show {
  @extend %sticky-sidebar;

  .o-article__body {
    border-top: none;
  }

  .m-article-header~.o-article__primary-actions::before {
    content: none;
  }

  .o-article {
    padding-bottom: 0;

    @each $name, $point in $breakpoints {
      @include breakpoint('#{$name}') {
        margin-bottom: #{map-get((
          xsmall: 24,
          small: 36,
          medium: 48,
          large: 60,
          xlarge: 60
        ), $name)}px;
      }
    }
  }

  .o-article ~ hr {
    margin-top: 0;
  }

  .o-article__body::before {
    position: absolute;
    background-color: $color__rules--primary;
    width: 1px;

    @include breakpoint('large+') {
      content: '';
    }

    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        left: #{- colspan(1, '#{$name}')};
      }
    }
  }
}

// Top margin is different for digital publications vs. everything else
.p-magazineissue-show,
.p-magazineissue-latest,
.p-issue-show {
  .o-article__body::before {
    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        top: #{- map-get($journal-header-margin-bottom, $name)};
        height: calc(100% + #{map-get($journal-header-margin-bottom, $name)});
      }
    }
  }
}

.p-digitalpublications-show {
  .o-article__body {
    margin-top: 40px;
  }

  .o-article__body::before {
    top: -40px;
    height: calc(100% + 40px);
  }
}
