.p-issuearticle-show,
.p-digitalpublicationsection-show {
  @extend %sticky-sidebar;

  @each $name in ('xsmall', 'small', 'medium') {
    @include breakpoint('#{$name}') {
      .g-header {
        border-bottom: 1px solid $color__rules--primary;
      }

      .g-header__inner {
        border-bottom: none;
      }
    }
  }

  .o-article__body::before {
    position: absolute;
    background-color: $color__rules--primary;
    width: 1px;
    z-index: 1;

    @include breakpoint('large+') {
      content: '';
    }

    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        left: #{- colspan(1, '#{$name}')};
        top: -100%;
        height: 200%;
      }
    }
  }

  .o-blocks:not(.o-blocks--bibliographic) > p {
    @include f-body;
  }

  .o-blocks > p {
    @include untuck();
  }

  &.s-sans-serif-loaded .o-blocks>p:not([class*=f-]),
  &.s-sans-serif-loaded .o-blocks>ol:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  &.s-sans-serif-loaded .o-blocks>ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) {
    font-family: inherit;
  }

  .o-blocks>p:not([class*=f-]),
  .o-blocks>ol:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  .o-blocks>ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) {
    font-family: $serif-font;

    // PUB-140: Emulate %f-deck for bold?
    strong, b {
      font-weight: 600;

      em, i {
        font-weight: 600;
      }
    }
  }

  &.s-serif-loaded .o-blocks>p:not([class*=f-]),
  &.s-serif-loaded .o-blocks>ol:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  &.s-serif-loaded .o-blocks>ul:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  &.s-serif-loaded .o-blocks>p:not([class*=f-]) em,
  &.s-serif-loaded .o-blocks>ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) em,
  &.s-serif-loaded .o-blocks>ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) em {
    font-family: $serif-font--loaded;
  }

  &.s-sans-serif-loaded .o-blocks--bibliographic>p,
  &.s-sans-serif-loaded .o-blocks--bibliographic>ol:not([class*=o-]):not([class*=m-]),
  &.s-sans-serif-loaded .o-blocks--bibliographic>ul:not([class*=o-]):not([class*=m-]) {
    font-family: $sans-serif-font--loaded;
  }

  .o-article {
    padding-bottom: 0;
  }

  .o-article__intro {
    padding-top: 30px;
    margin-top: 0;
    border-top: 0;
  }

  .o-article--journal_abstract {
    margin-top: 30px;
  }

  .o-article__body {
    padding-top: 0;
    margin-top: 25px;
  }

  .o-article__secondary-actions {
    margin-top: 0;
    padding-top: 0;
  }

  .m-article-header--journal-article {
    padding-top: 0;
    margin-bottom: 0 !important; // Bad

    .m-article-header__img,
    .m-article-header__text {
      width: 100vw;

      margin-left: -#{map-get($outer-gutters, medium)};

      @include breakpoint('large') {
        // full width - one gutter - (left sidebar width)
        width: 100vw - map-get($outer-gutters, large) - (colspan(13, large) + colspan(1, large));
        margin-left: -#{colspan(1, large)};
      }

      @include breakpoint('xlarge') {
        // (main column width - left sidebar width) + (right gutter width)
        width: calc(#{map-get($main-col-widths, xlarge) - (colspan(13, xlarge) + colspan(1, xlarge))} + (100vw - #{map-get($main-col-widths, xlarge)}) / 2);
        margin-left: -#{colspan(1, xlarge)};
      }
    }

    .m-article-header__img {
      min-height: 240px;
      height: 60vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .m-article-header__text {
      position: absolute;
      bottom: 0;

      padding-bottom: 30px;
      padding-top: 30px;

      background-color: rgba(255,255,255,0.75);

      h1 {
        @include untuck;
        margin-top: 0;

        @each $name, $point in ('xsmall', 'small', 'medium') {
          @include breakpoint('#{$name}') {
            padding-left: map-get($outer-gutters, $name);
            padding-right: map-get($outer-gutters, $name);
          }
        }

        @each $name, $point in ('large', 'xlarge') {
          @include breakpoint('#{$name}') {
            padding-left: colspan(1, $name);
            padding-right: colspan(1, $name);
            width: colspan(30, $name);
          }
        }
      }
    }
  }

  // TODO: Verify if this should only apply to publications?
  // Previously, journal issues had this at 25px each
  .m-article-actions {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .m-media--l, .m-media--m {
    clear: right;
  }

  .m-title-bar > .f-list-3 {
    @include untuck();

    padding: 28px 0;
  }

  .o-blocks--bibliographic .f-secondary {
    @include untuck();

    &:not(:first-child) {
      margin-top: 8px;
    }

    li+li {
      margin-top: 8px;
    }
  }
}

/***

Digital Publications
=====

Styling related specifically to digital publications
***/
.p-digitalpublicationsection-show {
  .m-article-header--journal-article {
    .m-article-header__text {
      background-color: rgba(0,0,0,0.75);

      .f-headline-editorial {
        color: #fff;
      }
    }
  }

  .o-blocks {
    .author-links {
      a {
        color: $color__link--accent;
      }

      a:hover {
        color: $color__link--accent-hover;
        text-decoration: underline;
      }

      a:active {
        color: $color__link--accent-active;
      }
    }

    .quote {
      padding-top: 40px;
      padding-bottom: 50px;
      border-bottom: 1px solid #e6e6e6;
      .quote__icon {
        display: none;
      }
    }
  }

  .o-article__body.o-blocks > ol,
  .o-article__body.o-blocks > ul {
    @extend .list;
  }

  .m-article-header--generic-no-breadcrumb .m-article-header__text {
    padding-left: 0;
    padding-right: 0;
  }

  .o-article__body.o-article__body--no-top-border {
    border-top: 0;
  }

  .o-blocks.f-body > p,
  .o-blocks.f-body > ol,
  .o-blocks.f-body > ul {
    font-family: $sans-serif-font--loaded;
    font-weight: 300;
  }

  // Heading
  .o-article__intro {
    padding-top: 0;
  }

  // Gallery block
  .o-blocks > h2:not([class*=f-]) {
    margin-top: 20px;
  }
}
