.p-issue-show {

  .o-article__body {
    border-top: none;
  }

  .o-article__primary-actions {
    padding-top: initial;
  }

  .m-article-header~.o-article__primary-actions::before {
    content: none;
  }

  .m-aside-newsletter {
    margin-top: 36px;
  }

  .o-article {
    padding-bottom: 0;

    @each $name, $point in $breakpoints {
      @include breakpoint('#{$name}') {
        margin-bottom: #{map-get((
          xsmall: 24,
          small: 36,
          medium: 48,
          large: 60,
          xlarge: 60
        ), $name)}px;
      }
    }
  }

  .o-article ~ hr {
    margin-top: 0;
  }
}
