.p-issue-show {

  .o-article__body {
    border-top: none;
  }

  .o-article__primary-actions {
    padding-top: initial;
  }

  .m-article-header~.o-article__primary-actions::before {
    content: none;
  }

  .m-aside-newsletter {
    margin-top: 36px;
  }

  .o-article {
    padding-bottom: 0;

    @each $name, $point in $breakpoints {
      @include breakpoint('#{$name}') {
        margin-bottom: #{map-get((
          xsmall: 24,
          small: 36,
          medium: 48,
          large: 60,
          xlarge: 60
        ), $name)}px;
      }
    }
  }

  .o-article ~ hr {
    margin-top: 0;
  }

  .o-article__body::before {
    position: absolute;
    background-color: $color__rules--primary;
    width: 1px;

    @include breakpoint('large+') {
      content: '';
    }

    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        left: #{- colspan(1, '#{$name}')};
        top: #{- map-get($journal-header-margin-bottom, $name)};
        height: calc(100% + #{map-get($journal-header-margin-bottom, $name)});
      }
    }
  }
}
