@use 'types/t-conservation-and-science';
@use 'types/t-educator-resources';
@use 'types/t-editorial';
@use 'types/t-home';
@use 'types/t-mmt';
@use 'types/t-publications';
@use 'types/t-research-center';
@use 'types/t-rlc';
@use 'types/t-visit';
@use "../setup/colors";
@use "../setup/variables";

.p-landingpage-show {
  .o-landingpage__body.o-blocks * {
    margin-left: 0;
  }
}

.m-home-header {
  .header-cta-button {
    color: colors.$color__red--100;
  }
}

.m-educator-resources-header {
  .header-cta-title {
    margin-top: 0;
    font-family: variables.$serif-font--loaded;
    font-size: 38px;
    letter-spacing: 0;
    text-transform: none;
  }

  .header-cta-description {
    margin-top: 32px;
    color: colors.$color__white;
    font-family: variables.$sans-serif-font--loaded;
    font-size: 18px;
  }
}
