@import 'types/t-home';
@import 'types/t-rlc';
@import 'types/t-visit';
@import 'types/t-editorial';
@import 'types/t-mmt';

.p-landingpage-show {
  .o-landingpage__body.o-blocks * {
    margin-left: 0;
  }
}

.m-home-header {
  .header-cta-button {
    color: $color__red--100;
  }
}
