@import 'types/t-conservation-and-science';
@import 'types/t-educator-resources';
@import 'types/t-editorial';
@import 'types/t-home';
@import 'types/t-mmt';
@import 'types/t-publications';
@import 'types/t-research-center';
@import 'types/t-rlc';
@import 'types/t-videos';
@import 'types/t-visit';
@import 'types/t-dark-mode';

.p-landingpage-show {
  .o-landingpage__body.o-blocks * {
    margin-left: 0;
  }
}

.m-home-header {
  .header-cta-button {
    color: $color__red--100;
  }
}

.m-educator-resources-header {
  .header-cta-title {
    margin-top: 0;
    font-family: $serif-font--loaded;
    font-size: 38px;
    letter-spacing: 0;
    text-transform: none;
  }

  .header-cta-description {
    margin-top: 32px;
    color: $color__white;
    font-family: $sans-serif-font--loaded;
    font-size: 18px;
  }
}
