/***

```
<button class="btn f-buttons">Action</button>
<button class="btn btn--secondary f-buttons">Action</button>
<button class="btn btn--tertiary f-buttons">Action</button>
<button class="btn btn--quaternary f-buttons">Action</button>
<button class="btn btn--quinary f-buttons">Action</button>
<button class="btn btn--senary f-buttons">Action</button>
<button class="btn btn--secondary btn--w-icon f-buttons"><svg aria-hidden="true" class="icon--new-window"><use xlink:href="#icon--new-window" /></svg>Action</button>
<button class="btn btn--disabled f-buttons">Action</button>
<button class="btn f-buttons" disabled>Action</button>
<button class="btn btn--icon"><svg class="icon--share--24"><use xlink:href="#icon--share--24" /></svg></button>
<button class="btn btn--secondary btn--icon"><svg class="icon--print--24"><use xlink:href="#icon--print--24" /></svg></button> <br>
<button class="btn btn--full f-buttons">Action</button>
```

***/


// primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, denary

.btn {
  display: inline-block;
  padding-right: 27px;
  padding-left: 27px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $color__link--accent;
  color: $color__white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;

  & + & {
    margin-left: 12px;
  }

  &:hover,
  &:focus:hover {
    background-color: $color__link--accent-hover;
    color: $color__white;
  }

  &:active:hover {
    background-color: $color__link--accent-active;
    color: $color__white;
  }
}

.btn[class*=f-] {
  @include untuck;
}

.btn.f-buttons {
  padding-top: 10px;
  padding-bottom: 12px;

  @include breakpoint('medium+') {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.btn--sm.f-buttons {
  padding-top: 6px;
  padding-bottom: 8px;

  @include breakpoint('medium+') {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.btn--secondary {
  border-color: $color__rules--secondary;
  background-color: $color__white;
  color: $color__text--title;

  &:hover,
  &:focus:hover {
    border-color: $color__input-border--hover;
    background-color: $color__white;
    color: $color__text--title;
  }

  &:active:hover {
    border-color: $color__input-border--focus;
    background-color: $color__white;
    color: $color__text--title;
  }
}

.btn--tertiary {
  background-color: $color__link;

  &:hover,
  &:focus:hover {
    background-color: $color__link--hover;
  }

  &:active:hover {
    background-color: $color__link--active;
  }
}

.btn--quaternary {
  background-color: $color__black--90;

  &:hover,
  &:focus:hover {
    background-color: $color__black--80;
  }

  &:active:hover {
    background-color: $color__black--90;
  }
}

.btn--quinary {
  background-color: $color__black--5;
  color: $color__text--title;

  &:hover,
  &:focus:hover {
    background-color: $color__black--10;
    color: $color__text--title;
  }

  &:active:hover {
    background-color: $color__black--5;
    color: $color__text--title;
  }
}

.btn--senary {
  background-color: $color__blue;
  color: $color__white;

  &:hover,
  &:focus:hover {
    background-color: $color__blue--hover;
    color: $color__white;
  }

  &:active:hover {
    background-color: $color__blue--active;
    color: $color__white;
  }
}

.btn--septenary {
  background-color: rgba($color__black, .5);
  color: $color__white;

  &:hover,
  &:focus:hover {
    background-color: rgba($color__black, .6);
    color: $color__white;
  }

  &:active:hover {
    background-color: rgba($color__black, .7);
    color: $color__white;
  }

  &.btn:disabled,
  &.btn:disabled:hover,
  &.btn:disabled:focus:hover,
  &.btn:disabled:active:hover {
    background-color: rgba($color__black, .5);
    color: rgba($color__white, .2);
    opacity: 1;
  }
}

.btn--octonary {
  background-color: rgba($color__black, .2);
  color: $color__white;

  &:hover,
  &:focus:hover {
    background-color: rgba($color__black, .3);
    color: $color__white;
  }

  &:active:hover {
    background-color: rgba($color__black, .4);
    color: $color__white;
  }

  &.btn:disabled,
  &.btn:disabled:hover,
  &.btn:disabled:focus:hover,
  &.btn:disabled:active:hover {
    background-color: rgba($color__black, .2);
    color: rgba($color__white, .2);
    opacity: 1;
  }
}

.btn--contrast {
  border-color: rgba($color__white, .2);
  background-color: transparent;
  color: $color__text--title-contrast;

  &:hover,
  &:focus:hover {
    border-color: rgba($color__white, .3);
    background-color: transparent;
    color: $color__text--title-contrast;
  }

  &:active:hover {
    border-color: rgba($color__white, .4);
    background-color: transparent;
    color: $color__text--title-contrast;
  }
}

.btn--contrast-secondary {
  background-color: rgba($color__white, .1);
  color: $color__text--title-contrast;

  &:hover,
  &:focus:hover {
    background-color: rgba($color__white, .15);
    color: $color__text--title-contrast;
  }

  &:active:hover {
    background-color: rgba($color__white, .2);
    color: $color__text--title-contrast;
  }
}

.btn svg {
  display: inline-block;
  margin-top: 2px;
  margin-right: 9px;
  vertical-align: text-top;
}

.btn--disabled,
.btn[disabled] {
  // background-color: $color__bg--primary;
  // color: $color__black--30;
  opacity: .5;
  pointer-events: none;

  // &:hover,
  // &:focus:hover {
  //   background-color: $color__bg--primary;
  // }

  // &:active:hover {
  //   background-color: $color__bg--primary;
  // }
}

.btn.s-loading {
  @extend %a-loader;
  border: 1px solid $color__rules--secondary;
  background-color: $color__white;
  color: transparent;
}

.btn.s-loading::after {
  content: '';
}

.btn.btn--icon {
  width: 32px;
  height: 32px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.btn.btn--icon-circle-48 {
  width: 48px;
  height: 48px;
  line-height: 46px;
}

.btn.btn--icon-sq {
  width: 48px;
  height: 48px;
  padding-right: 0;
  padding-left: 0;
  line-height: 46px;
  text-align: center;
}

.btn.btn--icon svg,
.btn.btn--icon-sq svg {
  display: inline-block;
  margin-top: -4px;
  margin-right: 0;
  vertical-align: middle;

  &.icon--calendar {
    margin-top: -2px;
  }
}

.btn.btn--full {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn.s-hidden {
  display: none;
}
