/***

```
<h3 class="day">
  <span class="day__date f-date-numeral">17</span>
  <span class="day__month f-tag">Oct</span>
  <span class="day__day f-tag">Tue</span>
</h3>
```

***/

.day {
  position: relative;
  height: 32px;
  font-weight: normal;

  @include breakpoint('large+') {
    height: 40px;
  }
}

.day::after {
  content: '';
  position: absolute;
  left: 72px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--primary;

  .m-date-listing & {
    top: -16px;

    @include breakpoint('large+') {
      top: -24px;
    }
  }
}

.day__date {
  position: absolute;
  left: 0;
  top: -16px;
  width: 50px;
  text-align: right;
  color: $color__text--title;

  @include breakpoint('small+') {
    top: -28px;
  }

  @include breakpoint('large+') {
    top: -24px;
  }
}

.day__month {
  top: -8px;
  color: $color__text--title;


  @include breakpoint('medium+') {
    top: -4px;
  }
}

.day__day {
  top: 12px;
  color: $color__text--secondary;

  @include breakpoint('small+') {
    top: 8px;
  }

  @include breakpoint('medium+') {
    top: 16px;
  }
}

.day__month,
.day__day {
  position: absolute;
  left: 92px;
}
