/***

```
<dl class="deflist">
  <dt class="f-h7">Lorem ipsum dolor sit amet</dt>
    <dd class="f-body--sm">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</dd>
  <dt class="f-h7">Lorem ipsum dolor sit amet</dt>
    <dd class="f-body--sm">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</dd>
  <dt class="f-h7">Lorem ipsum dolor sit amet</dt>
    <dd class="f-body--sm">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</dd>
</dl>
```

***/

.deflist {
  margin-top: 0;
}

.deflist__row {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.deflist__row:not(:first-child) {
  margin-top: 20px;
}

.deflist__row::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}

.deflist dt {
  flex: 0 0 auto;
  width: 100%;
  padding-right: 20px;
  color: $color__text--title;

  @include breakpoint('small+') {
    width: colspan(18, small);
  }

  @include breakpoint('medium+') {
    width: colspan(8, medium);
  }

  @include breakpoint('large+') {
    width: colspan(8, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(8, xlarge);
  }
}

.deflist--free-spacing dt {
  @include breakpoint('small+') {
    width: auto;
  }

  @include breakpoint('medium+') {
    width: auto;
  }

  @include breakpoint('large+') {
    width: auto;
  }

  @include breakpoint('xlarge') {
    width: auto;
  }
}

.deflist dd {
  flex: 1;
  width: 100%;

  @include breakpoint('small+') {
    width: auto;
  }
}

.deflist dt.f-module-title-1 {
  @include tucked-margin-top($f-module-title-1, ('xsmall': 28));
}

.deflist dd.f-secondary {
  @include tucked-margin-top($f-secondary, ('xsmall': 24, 'small+': 28));
}


.deflist dd.f-secondary a {
  @include text-underline(1.02em, $color__rules--secondary);

  &:hover,
  &:focus:hover {
    @include text-underline(1.02em, $color__link--hover);
  }

  &:active:hover {
    @include text-underline(1.02em, $color__link--active);
  }
}
