/***

```
<span aria-title="sort by" class="dropdown" data-behavior="dropdown">
  <button class="f-secondary">Dropdown<svg class="icon--arrow"><use xlink:href="#icon--arrow" /></svg></button>
  <ul class="f-secondary">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
    <li><a href="#">Option 4</a></li>
    <li><a href="#">Option 5</a></li>
    <li><a href="#">Option 6</a></li>
    <li><a href="#">Option 7</a></li>
    <li><a href="#">Option 8</a></li>
    <li><a href="#">Option 9</a></li>
    <li><a href="#">Option 10</a></li>
  </ul>
</span>

<span aria-title="sort by" class="dropdown" data-behavior="dropdown" data-dropdown-hoverable>
  <button class="f-secondary">Dropdown Hoverable<svg class="icon--arrow"><use xlink:href="#icon--arrow" /></svg></button>
  <ul class="f-secondary">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
  </ul>
</span>

<span aria-title="sort by" class="dropdown dropdown--filter" data-behavior="dropdown">
  <button class="f-secondary">Dropdown<svg class="icon--arrow"><use xlink:href="#icon--arrow" /></svg></button>
  <ul class="f-secondary">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
    <li><a href="#">Option 4</a></li>
    <li><a href="#">Option 5</a></li>
    <li><a href="#">Option 6</a></li>
    <li><a href="#">Option 7</a></li>
    <li><a href="#">Option 8</a></li>
    <li><a href="#">Option 9</a></li>
    <li><a href="#">Option 10</a></li>
  </ul>
</span>
```

***/

.dropdown {
  display: inline-block;
}

.dropdown > button {
  display: block;
  position: relative;
  min-width: 180px;
  height: 48px;
  padding-right: 68px;
  padding-left: 15px;
  border: 1px solid $color__input-border;
  background: none;
  color: $color__input-text;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.dropdown > button[class*=f-] {
  @include untuck;
}

.dropdown > button.f-secondary {
  padding-top: 10px;
  padding-bottom: 12px;

  @include breakpoint('large+') {
    padding-top: 7px;
    padding-bottom: 15px;
  }
}

.dropdown > button:hover {
  border-color: $color__input-border--hover;
  color: $color__input-text--hover;
}

.dropdown > button:focus,
.dropdown > button:active {
  border-color: $color__input-border--focus;
  color: $color__input-text--focus;
}

.dropdown > button > .icon--arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  transform: rotate(90deg);
  transform-origin: 8px 8px;
}

.dropdown.s-active > button > .icon--arrow {
  transform: rotate(90deg) scaleX(-1);
}

.dropdown > ul {
  @include untuck;
  @extend %styled-scrollbars;
  display: none;
  position: absolute;
  z-index: map-get($zindexs, 'dropdown');
  left: -999px;
  top: -999px;
  max-width: 90vw;
  max-height: 220px;
  margin-top: 0;
  background-color: $color__white;
  box-shadow: $shadow;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dropdown.s-active > ul {
  display: block;
}

.dropdown > ul > li:not(:first-child) {
  border-top: 1px solid $color__rules--tertiary;
}

.dropdown > ul > li.s-hidden {
  display: none;
}

.dropdown > ul a:not([class]) {
  display: block;
  padding: 10px 16px;
  background-color: $color__white;
  color: $color__text--secondary;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown > ul.f-secondary a:not([class]) {
  padding-top: 11px;
  padding-bottom: 12px;

  @include breakpoint('large+') {
    padding-top: 8px;
    padding-bottom: 11px;
  }
}

.dropdown > ul a:not([class]):hover {
  background-color: $color__bg--secondary;
  color: $color__text--title;
}

.dropdown > ul a:not([class]):active {
  background-color: $color__bg--primary;
  color: $color__text--title;
}

.dropdown > ul .s-active a:not([class]) {
  background-color: $color__black--90;
  color: $color__text--title-contrast;
}


// variation `dropdown--filter`

.dropdown--filter > button {
  min-width: 0;
  height: auto;
  padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 0;
  border: 0 none;
  border-radius: 0;
  color: $color__link;
}

.dropdown--filter > button:hover {
  color: $color__link--hover;
}

.dropdown--filter > button:active {
  color: $color__link--active;
}

.dropdown--filter > button > .icon--arrow {
  right: 0;
}

.dropdown--filter.s-active > button > .icon--arrow {
  transform: rotate(90deg);
}
