/***

```
<em class="error-msg f-secondary">Error message</em>
```

***/

.error-msg {
  display: block;
  color: $color__text--error;
  font-style: normal;
}

.error-msg.f-secondary {
  label + &,
  input + &,
  .select__select + & {
    @include tucked-margin-top($f-secondary, ('xsmall': 28));
  }

  .checkbox label + &,
  .radio label + & {
    @include tucked-margin-top($f-secondary, ('xsmall': 20));
  }
}
