/***

General Styles
==============

A place for atoms so small that they didn't feel to warrant their own files.

***/
/***

##### :focus

Applying styles for focus - `focusDisplayHandler` adds data attributes to target mouse, keyboard and touch focusing. Designers hate the focus ring when a user uses a mouse, but we need to keep the focus ring for keyboard users.

***/
input:focus,
textarea:focus,
select:focus,
:focus[data-focus-method="mouse"],
:focus[data-focus-method="touch"] {
  outline: none;
}

ul
li {
  list-style-type: none;
}

/***

##### img

Images that have the `data-src` or `data-srcset` are likely to be LQIP and so are blurred so they don't look rough. The idea being the image is indicative of what will be loaded. The lazy loader then swaps the `src` and `srcset` around and the image loads a better version, the blurring is removed.

***/
img {
  border: 0 none;
  transition: filter .15s linear;

  &[data-no-img-settings] {
    //outline: 3px solid rgba(yellow,.75);
    //outline-offset: -3px;
  }

  &[data-src]:not([src*='data:image/gif;base64']),
  &[data-srcset]:not([src*='data:image/gif;base64']) {
    filter: blur(10px);
  }
}

/***

##### .default-img

For if no image is specified - placeholder so to speak.

```
<span class="default-img"></span>
```

***/

.default-img {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: $color__bg--primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='336' height='189' viewBox='0 0 336 189'%3E %3Cstyle type='text/css'%3E 	.st0{fill:%23F8F8F8;} 	.st1{fill:%23B7B1A5;} %3C/style%3E %3Crect x='-3' y='-2.5' class='st0' width='342' height='197'/%3E %3Cg%3E 	%3Cpath class='st1' d='M156.7,84.6c0.5-0.4,1-0.9,1.3-1.4c0.9-1.6,2.2-1.7,4.5-1.8c2.7-0.1,5.1-0.1,7.9,0c1.2,0,2.5,0.6,3,1.1 		c0.2,0.3,0.4,0.6,0.6,1c0.1,0.1,0.1,0.2,0.2,0.3c1.2,2,3.6,2,6.2,2c0.7,0,1.5,0,2.2,0c1.2,0.1,2.1,0.4,2.6,0.9 		c0.5,0.6,0.4,1.4,0.4,1.4l0,0.1v17.1c0,0.9-0.2,1.5-0.7,1.9c-0.3,0.2-0.6,0.4-0.9,0.5l1.6,1.3c0.2-0.1,0.4-0.3,0.7-0.5 		c0.9-0.8,1.3-1.9,1.3-3.3v-17c0-0.4,0.1-1.6-0.8-2.8c-0.8-1-2.2-1.6-4-1.6c-0.8,0-1.6,0-2.3,0c-2.5,0-3.9,0-4.5-1.1 		c-0.1-0.1-0.1-0.2-0.2-0.3c-0.2-0.4-0.5-0.8-0.7-1.2c-0.9-1.2-3-1.9-4.5-1.9c-2.8-0.1-5.2-0.1-8,0c-2.2,0.1-4.8,0.1-6.2,2.8 		c-0.3,0.5-0.6,0.8-1.1,1L156.7,84.6z'/%3E 	%3Cpath class='st1' d='M190.5,115.2l-6.4-5.5c0,0,0,0,0,0l-2-1.7h0l-8.5-7.3c0,0,0,0,0,0l-1.5-1.2c0,0,0,0,0,0l-10.3-8.8c0,0,0,0,0,0 		l-1.5-1.2c0,0,0,0,0,0l-4.9-4.2c0,0,0,0,0,0l-1.7-1.5c0,0,0,0,0,0l-13.1-11.1c-0.4-0.3-1-0.3-1.4,0.1c-0.4,0.4-0.3,1,0.1,1.3 		l11.5,9.8h-1.8c-0.4,0-1.9-0.1-3.1,0.7c-0.7,0.5-1.1,1.3-1.2,2.3l0,19.1l0,0.1c0.2,1.3,1.4,3.8,4.3,3.8h32.3l7.9,6.7 		c0.2,0.2,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3C190.9,116.2,190.9,115.6,190.5,115.2z M160.5,92.2l10.3,8.7 		c-1.2,1-2.8,1.6-4.5,1.6c-3.8,0-6.9-3-6.9-6.7C159.4,94.5,159.8,93.2,160.5,92.2z M149.1,108.1c-1.8,0-2.3-1.7-2.4-2.2V87.1 		c0.1-0.4,0.2-0.7,0.5-0.9c0.5-0.4,1.4-0.4,1.7-0.3l0.1,0h3.5c0.2,0,0.4,0,0.6,0l6,5.1c-1,1.4-1.6,3.1-1.6,4.9c0,4.7,4,8.6,8.9,8.6 		c2.3,0,4.4-0.8,5.9-2.2l6.9,5.9H149.1z'/%3E 	%3Cpath class='st1' d='M174.2,99.6c0.6-1.1,0.9-2.4,0.9-3.8c0-4.7-4-8.6-8.9-8.6c-1.8,0-3.5,0.5-4.9,1.4l1.5,1.3 		c1-0.5,2.1-0.9,3.4-0.9c3.8,0,6.9,3,6.9,6.7c0,0.9-0.2,1.7-0.5,2.5L174.2,99.6z'/%3E %3C/g%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

a {
  color: $color__link;
  text-decoration: none;

  &:hover,
  &:focus:hover {
    color: $color__link--hover;
  }

  &:active:hover {
    color: $color__link--active;
  }
}

/***

##### Special link overrides

Some browsers overrride styles if the link is a phone number - I'd rather control this..

***/

a[href^="tel:"],
a[href^="fax:"],
a[href^="tel:"]:hover,
a[href^="fax:"]:hover {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
}


b, strong {
  font-weight: normal;
}

i, em {
  font-style: italic;
}

mark {
  color: $color__text--title;
  outline: 3px solid $color__black;
}

sub,
sup {
  font-size: 76.5%;
  vertical-align: sub;

  *[class*=f-] & {
    font-size: 60%;
  }

  .o-article .o-blocks>p:not([class*=f-]) & a,
  .o-article .o-blocks>p:not([class*=f-]) & a
  .o-article--editorial .o-blocks>p:not([class*=f-]) & a,
  .o-article--editorial .o-blocks>p:not([class*=f-]) & a {
    background: none;
  }
}

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

pre,
code {
  display: inline-block;
  background: $color__black--5;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
"Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  tab-width: 2;

  #demo & {
    background: transparent;
  }
}

pre {
  display: block;
  width: 80%;
  max-height: 400px;
  margin-top: 20px;
  padding: 4px 5px;
  overflow: auto;

  @include breakpoint('xlarge') {
    width: 100%;
  }

  #demo & {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }
}

code {
  padding: 2px 3px;
}

pre code {
  display: block;
  padding: 0;
}

.js-hide {
  display: none;
}

.js-show {
  display: block;
}

#demo {
  margin: 0;
  padding: 0;
}


/***

##### .icon--play-multi

Some play buttons want to resize the play icon per breakpoint.
Why not just scale the SVG you might ask? The different sizes are carefully placed on the pixel grid and scaling never gives you that control.

```
<svg class="icon--play-multi">
    <use xlink:href="#icon--play--48" />
    <use xlink:href="#icon--play--64" />
    <use xlink:href="#icon--play--96" />
</svg>
```

***/
.icon--play-multi {
  width: 48px;
  height: 48px;

  use {
    display: none;
  }

  use:nth-child(1) {
    display: block;
  }

  @include breakpoint('small+') {
    width: 64px;
    height: 64px;

    use:nth-child(1) {
      display: none;
    }

    use:nth-child(2) {
      display: block;
    }
  }

  @include breakpoint('medium+') {
    .m-media--m &,
    .m-media--l & {
      width: 96px;
      height: 96px;

      use:nth-child(2) {
        display: none;
      }

      use:nth-child(3) {
        display: block;
      }
    }
  }
}

[class*=icon--] {
  display: inline-block;
  vertical-align: middle;
}

[data-behavior="dragScroll"].s-scrollable {
  /* autoprefixer: off */
  cursor: move;
  cursor: ew-resize;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  -ms-overflow-style: none;
  overflow-y: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
}

[data-behavior="dragScroll"].s-scrollable.s-mousedown {
  /* autoprefixer: off */
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

[data-behavior="dragScroll"].s-scrollable.s-dragging::before {
  content: '';
  position: fixed;
  z-index: map-get($zindexs, 'dragScrollLock');
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  /* autoprefixer: off */
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.a17s_transition {
  transition: transform .5s $bezier--ease-in-out;
}

/***

##### .skip-nav

This animates in and out based on focus - the animation is intended to make the skip nav more obvious to a partially sighted user.

***/
.skip-nav {
  position: absolute;
  z-index: 999;
  left: 40px;
  top: -100px;
  padding: 10px;
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: $shadow;
  color: $color__link--accent;
  opacity: 0;
  transition: top .25s .5s;
}

.skip-nav::before,
.skip-nav::after {
  content: none;
}

.skip-nav:focus,
.skip-nav:active {
  top: 40px;
  opacity: 1;
  transition: top .25s;
}
