.a-hotspot {
  pointer-events: auto;
  position: absolute;
  transition: all 0.4s ease;
  transition-property: top, left;
  width: 0px;
  height: 0px;

  &__point {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background-color: rgba(#000, 0.7);
    width: 48px;
    height: 48px;
    z-index: 1;
    transition: all 0.6s ease;
    transition-property: top, left, opacity, background-color, transform;
    transform: translate(-24px, -24px);

    &:before {
      content: '';
      width: 22px;
      height: 22px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }

  &--active &__point {
    background-color: rgba(#083F6E, 0.7);
  }

  @include breakpoint('large') {
    &:hover &__point {
      background-color: rgba(#083F6E, 0.7);
    }
  }

  &--disabled &__point {
    opacity: 0;
    transform: translate(-24px, -24px) scale(0.5);
  }
}