hr,
.hr {
  display: block;
  height: 0;
  margin: 28px 0 -1px;
  border: 0;
  border-top: 1px solid $color__rules--primary;

  @include breakpoint('small+') {
    margin-top: 36px;
  }

  @include breakpoint('medium+') {
    margin-top: 40px;
  }

  &:first-child {
    margin-top: 0;
  }

  &.hr--flush-top {
    margin-top: -1px;
  }

  .m-listing-header + & {
    margin-top: 16px;
  }

  &.hr--dark {
    border-top-color: $color__rules--quaternary;

    @include breakpoint('medium+') {
      margin-top: 75px;
    }
  }
}
