.info-button-info {
  display: none;
  position: absolute;
  z-index: map-get($zindexs, 'infoBubbleInfo');
  min-width: 80px;
  max-width: 180px;
  padding: 8px 16px 16px;
  background-color: $color__white;
  box-shadow: $shadow;

  @include breakpoint('small+') {
    max-width: 250px;
  }
}

.info-button-info .f-caption {
  @include tucked-align-top($f-caption);
}
