/***

```
<input class="f-secondary" type="text" name="tinput1" id="tinput1" placeholder="Placeholder">
```

***/

%input {
  display: block;
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0 15px 4px;
  border: 1px solid $color__input-border;
  border-radius: $border-radius;
  background-color: $color__white;
  color: $color__input-text;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-variant-numeric: lining-nums;

  @include placeholder() {
    color: $color__text--forms;
  }

  &:hover {
    border-color: $color__input-border--hover;
    color: $color__input-text--hover;
    //outline: 0 none;
  }

  &:focus {
    border-color: $color__input-border--focus;
    color: $color__input-text--focus;
    //outline: 0 none;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  .s-error > & {
    border-color: $color__input-border--error;
  }

  label + & {
    margin-top: 16px;
  }
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  @extend %input;
}


/***

```
<span class="input__io-container" data-behavior="textCount">
  <input class="f-secondary" type="text" name="tinput2" id="tinput2" placeholder="Placeholder">
  <output for="tinput2" class="f-secondary">0</output>
</span>
```

***/

.input__io-container {
  display: block;
  position: relative;

  label + & {
    margin-top: 16px;
  }
}

.input__io-container input {
  display: block;
  width: 100%;
  margin-top: 0;
  padding-right: 100px;
}

.input__io-container output {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -1px;
  color: $color__input-output;
  text-align: right;
  transform: translateY(-50%);

  &::before,
  &::after {
    content: none;
    display: none;
  }
}
