@use "../setup/colors";
@use "../setup/mixins/other";
@use "../setup/mixins/typography" as mixins-typography;
@use "../setup/typography" as setup-typography;

/***

Interests List
==============

Typically used at the bottom of the artwork detail.

```
<p class="f-list-2 interests-list">It seems it you could also be interested in <a href="#">Picasso</a>, <a href="#">Modern Art</a> and <a href="#">European Art</a>.</p>
```

***/

.interests-list {
  color: colors.$color__text--title;
}

.interests-list.f-list-2 {
  @include other.tucked-margin-top(setup-typography.$f-list-2, ('xsmall': 52));
}

.interests-list a {
  @include mixins-typography.text-underline(.8em, colors.$color__text--title);

  & {
    color: colors.$color__text--title;
    text-decoration: none;
  }
}

.interests-list a:hover {
  @include mixins-typography.text-underline(.8em, colors.$color__text--secondary);

  & {
    color: colors.$color__text--secondary;
  }
}