/***

```
<label for="tinput1" class="label f-secondary">Label</label>
```

***/


.label {
  display: flex;
  flex-flow: row nowrap;
  color: $color__text;
}


.label__optional {
  color: $color__text--tertiary;
  font-style: normal;
}

.label__hint {
  flex: 0 0 auto;
  margin-left: auto;
  color: $color__text--tertiary;
  font-style: normal;
}
