@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/typography";
@use "../setup/variables";

.p--linked {
  display: flex;
  position: relative;

  // WEB-1034: the pseudo-element trick doesn't work with flex
  @include typography.untuck();

  & {
    margin-top: 16px;

    // Adapted from .o-blocks > p:not([class*='f-'])
  }

  .o-blocks>&:not([class*='f-']) {

    @each $name,
    $point in variables.$breakpoints {
      @include breakpoint.breakpoint('#{$name}') {
        padding-right: grid.colspan(2, $name);
      }
    }
  }

  span.p--linked__ref {
    display: none;

    @include breakpoint.breakpoint('small+') {
      display: block;
    }

    & {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      line-height: 28px;
      font-weight: 200;
    }

    a {
      font-family: variables.$sans-serif-font;
      color: colors.$color__black--30;

      &:hover {
        color: colors.$color__black--50;
      }

      .s-sans-serif-loaded & {
        font-family: variables.$sans-serif-font--loaded;
      }
    }
  }
}
