/***

```
<span class="price f-secondary">$257</span><br>
<span class="price price--sale f-secondary"><strike>$1453</strike> <em>$1089</em></span>
```

***/

.price {
  color: $color__text--secondary;
}

.price strike {
  color: $color__text--tertiary;
}

.price em {
  display: inline-block;
  padding-left: 4px;
  color: $color__text--accent;
  font-style: normal;
}
