.quote {
  position: relative;
  padding-top: 80px;
  padding-bottom: 0.02px;
  color: $color__text--title;

  &.o-blocks__block {
    padding-bottom: 20px;
  }
}

.quote::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}

.quote__icon {
  position: absolute;
  left: 0;
  top: 20px;
  width: 76px;
  height: 44px;
  color: $color__text--accent;
  transform: rotate(180deg);
  transform-origin: 38px 22px;
}

.quote .f-quote:first-child {
  @include tucked-align-top($f-quote);
}

.quote .f-deck:first-child {
  @include tucked-align-top($f-deck);
}

.quote--editorial,
.o-article--editorial .o-blocks .quote {
  padding: 20px 40px 80px 20px;
  border-radius: $border-radius;
  background-color: $color__bg--editorial;
}

.quote--editorial::before,
.o-article--editorial .o-blocks .quote::before {
  content: none;
  display: none;
}

.quote--editorial .f-deck,
.o-article--editorial .o-blocks .quote .f-deck,
.quote--editorial .f-quote,
.o-article--editorial .o-blocks .quote .f-quote {
  font-style: italic;
  color: $color__text--title;
}

.quote--editorial .quote__icon,
.o-article--editorial .o-blocks .quote__icon {
  position: absolute;
  left: auto;
  right: 20px;
  top: auto;
  bottom: 20px;
  color: $color__text--editorial;
  transform: none;
}
