/***

ratio-img
==========

Using the padding-bottom trick to make fluid containers to insert images into, that maintains an image ratio.

Defaults to 1:1.

Available ratios are:

* 1:1
* 3:2
* 4:3
* 16:10
* 16:9
* 21:9

Can optionally use `object-fit` to cover or contain the area:

```
<div class="ratio-img"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--cover ratio-img--3:2"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--cover ratio-img--4:3"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--cover ratio-img--16:10"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--cover ratio-img--16:9"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--cover ratio-img--21:9"><img src="http://placehold.dev.area17.com/image/600x600"></div>
<div class="ratio-img ratio-img--contain ratio-img--16:9"><img src="http://placehold.dev.area17.com/image/600x600"></div>
```

***/

.ratio-img {
  display: block;
  position: relative;

  #demo > & {
    display: inline-block;
    width: 200px;
  }
}

.ratio-img::before {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%; // defaults to a square
}

.ratio-img--1\:1::before {
  padding-bottom: 100%;
}

.ratio-img--3\:2::before {
  padding-bottom: percentage(2 / 3);
}

.ratio-img--4\:3::before {
  padding-bottom: percentage(4 / 3);
}

.ratio-img--16\:10::before {
  padding-bottom: percentage(10 / 16);
}

.ratio-img--16\:9::before {
  padding-bottom: percentage(9 / 16);
}

.ratio-img--21\:9::before {
  padding-bottom: percentage(9 / 21);
}

.ratio-img img,
.ratio-img video,
.ratio-img svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ratio-img--cover img,
.ratio-img--cover video {
  @include objectFitFix;
  object-fit: cover;
}

.ratio-img--contain img,
.ratio-img--contain video {
  @include objectFitFix;
  object-fit: contain;
}
