/***

textarea
==========

```
<textarea name="textarea1" id="textarea1" class="f-secondary">Mon jinn chewbacca darth darth kenobi. Moff fett hutt cade dantooine organa skywalker. Yavin darth calamari dagobah. Maul tusken raider hutt grievous.</textarea>
```

***/

%textarea {
  @extend %input;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 160px;
  padding: 8px 15px;
  resize: vertical;

  &.f-secondary {
    padding-top: 10px;

    @include breakpoint('large+') {
      padding-top: 11px;
    }

    @include breakpoint('xlarge') {
      padding-top: 7px;
    }
  }
}

textarea {
  @extend %textarea;
}
