/***

```
<strong class="title f-display-1">Cauleen Smith: Human_3.0 Reading Listz</strong> <br>
<strong class="title f-module-title-1">Cauleen Smith: Human_3.0 Reading Listz</strong> <br>
<strong class="title f-list-3">Cauleen Smith: Human_3.0 Reading Listz</strong> <br>
<strong class="m-listing__title f-list-2">Rock Sculpture</strong> <br>
```

***/

.title {
  color: $color__text--title;
  font-weight: normal;
}

.title.f-display-1 {
  font-weight: 300;
}

a.title:hover,
a:hover .title {
  color: $color__text--secondary;
}
