/***

```
<em class="type f-tag">Special Exhibition</em>
```

***/

.type {
  color: $color__text--type;
  font-style: normal;
}

.type--membership {
  color: $color__text--membership;
}

.type--new {
  color: $color__text--new;
}

.type--limited {
  color: $color__text--limited;
}
