/***

```
<em class="type f-tag">Special Exhibition</em>
<em class="type type--membership f-tag">Membership</em>
<em class="type type--new f-tag">New</em>
<em class="type type--limited f-tag">Limited</em>
```

***/

.type {
  color: $color__text--type;
  font-style: normal;
}

.type--membership {
  color: $color__text--membership;
}

.type--new {
  color: $color__text--new;
}

.type--limited {
  color: $color__text--limited;
}
