/***

type
=======

Sets colors for type tags:

```
<em class="type f-tag">Special Exhibition</em>
<em class="type type--membership f-tag">Membership</em>
<em class="type type--new f-tag">New</em>
<em class="type type--limited f-tag">Limited</em>
```

***/

.type {
  color: var(--colors-themes-light-mode-text-type);
  font-style: normal;
}

.type--membership {
  color: var(--colors-themes-membership-text-primary);
}

.type--new {
  color: var(--colors-themes-light-mode-link-new-primary);
}

.type--limited {
  color: var(--colors-themes-light-mode-link-limited-primary);
}
