
.g-ajax-loader {
  content: '';
  position: fixed;
  z-index: map-get($zindexs, 'ajaxLoader');
  left: -50%;
  top: -50%;
  width: 80px;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: opacity .2s;
}

.g-ajax-loader::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.g-ajax-loader__svg {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  transform-origin: center center;
  animation: g-ajax-loader__rotate 2s linear infinite;
}

.g-ajax-loader__svg circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  //stroke-linecap: round;
  stroke: $color__rules--brand;
  animation: g-ajax-loader__dash 1.5s ease-in-out infinite;
}

@keyframes g-ajax-loader__rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes g-ajax-loader__dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

