#a17:has(.level-1>[aria-expanded="true"]) + .g-mask {
  background-color: rgba($color__black--80, 50%);
  bottom: 0;
  opacity: 1;
  right: 0;
  transition: background-color .6s ease-in, backdrop-filter .6s ease-in, opacity .6s ease-in;

  @supports (backdrop-filter: blur(2px)) or (-webkit-backdrop-filter: blur(2px)) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

.g-header {
  position: fixed;
  z-index: map-get($zindexs, 'header');
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  background-clip: padding-box;

  // Mirror html style for alignment
  margin-right: -50vw;
  margin-left: -50vw;
  left: 50%;
  right: 50%;
}

.g-header:not(:has([aria-expanded="true"])) {
  background-color: rgba($color__white, 1);
  transition: background-color .3s ease-out;
}
.g-header:has([aria-expanded="true"]) {
  z-index: map-get($zindexs, 'header');
  background-color: rgba($color__white, 1);
  transition: background-color .6s ease-in;
  @include breakpoint('small') {
    height: 368px;
  }
  @include breakpoint('medium') {
    height: 376px;
  }
  @include breakpoint('large+') {
    height: 380px;
  }
  .g-header__inner {
    border-bottom: none !important;
  }
}

.g-header__inner {
  @extend %container;
  position: relative;
  min-height: 112px;
  border-bottom: 1px solid $color__rules--primary;

  .g-header__nav-primary__container {
    @include breakpoint('small+') {
      min-height: 128px;
    }
    @include breakpoint('medium+') {
      min-height: 140px;
    }
  }
}

.g-header__logo {
  position: absolute;
  left: 0;
  top: 16px;
  width: 80px;
  height: 80px;
  color: $color__black;

  @include breakpoint('small+') {
    top: 20px;
    width: 88px;
    height: 88px;
  }

  @include breakpoint('medium+') {
    top: 24px;
    width: 92px;
    height: 92px;
  }
}

.g-header__logo svg {
  width: 100%;
  height: 100%;
}

.g-header__logo use {
  display: none;

  &:nth-child(1) {
    display: block;

    @include breakpoint('small+') {
      display: none;
    }
  }

  &:nth-child(2) {
    @include breakpoint('small+') {
      display: block;
    }

    @include breakpoint('medium+') {
      display: none;
    }
  }

  &:nth-child(3) {
    @include breakpoint('medium+') {
      display: block;
    }
  }
}

.g-header__opening-hours {
  display: none;
  position: absolute;
  left: 120px;
  top: 12px;
  margin-top: 0;
  color: $color__text--secondary;

  @include breakpoint('medium+') {
    display: block;
  }
}

.s-scroll-direction-up.s-header-hide .g-header {
  .g-header__nav-primary .level-1>.details {
    left: 0;
  }
}

.g-header__nav-primary {
  position: absolute;
  right: 0;

  [aria-expanded="false"] + .details {
    background: rgba($color__white, 0);
    opacity: 0;
    visibility: collapse;
  }
  [aria-expanded="false"].collapsing + .details {
    animation: .3s fade-out;
    transition: background-color .3s ease-out, opacity .3s ease-out;
    @keyframes fade-out {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: collapse;
      }
    }
  }
  [aria-expanded="true"] + .details {
    opacity: 1;
    visibility: visible;
    transition: opacity .6s ease-in;
  }

  @include breakpoint('xsmall') {
    display: none;
  }
  @include breakpoint('small+') {
    top: 88px;
  }
  @include breakpoint('medium+') {
    top: 92px;
  }
}

.g-header__nav-primary,
.g-header__nav-secondary {
  &>ul {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0;
    &>li {
      flex: 0 0 auto;
      margin-left: 16px;
      @include breakpoint('medium+') {
        margin-left: 32px;
      }
    }
  }
}

.g-header__nav-primary a,
.g-header__nav-primary button {
  color: $color__text--secondary;
  transition: color .6s linear;

  @include breakpoint('small+') {
    color: $color__text--title;
  }
}

.g-header__nav-primary a:active {
  background-image: none;
  text-shadow: 0;
}

.g-header__nav-primary button {
  margin: 0;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  vertical-align: text-bottom;
  cursor: pointer;
}

.g-header__nav-primary .s-current a {
  color: $color__link--accent;

  &:hover {
    @include text-underline(1.12em, $color__link--accent);
  }

  &:active {
    background-image: none;
    text-shadow: 0;
  }
}

.g-header__nav-primary svg {
  position: relative;
  top: -1px;
  @include breakpoint('xsmall') {
    display: none;
  }
}
.g-header__nav-primary .arrow-link--back {
  display: none;
}
.g-header__nav-primary .level-1 {
  &>a {
    .icon--arrow {
      transform: rotate(90deg);
    }
    &[aria-expanded="true"] {
      color: $color__red--100;
      transition: color .6s;
      & .icon--arrow {
        transform: rotate(-90deg);
        transition: transform .6s;
      }
    }
    &[aria-expanded="false"] {
      & .icon--arrow {
        transition: transform .3s;
      }
    }
  }
  &>.details {
    background: linear-gradient(to right, $color__black--5 33%, transparent 33%);
    box-shadow: 0 4px 20px -20px rgba($color__black, 15%);
    height: 240px;
    left: -6px;
    margin-top: 16px;
    position: fixed;
    width: 100vw;
    @include breakpoint('large+') {
      background: linear-gradient(to right, $color__black--5 50%, transparent 50%);
      margin-top: 20px;
    }
    &>.details__container {
      display: flex;
      flex-direction: row;
      margin-left: 4.6875vw;
      margin-right: 4.6875vw;
      height: 100%;
      @include breakpoint('xlarge') {
        margin-left: auto;
        margin-right: auto;
        width: 1500px;
      }
    }
    &>.details__container>a,
    &>.details__container>span {
      background-color: $color__black--5;
      display: flex;
      flex-basis: 33%;
      @include breakpoint('large+') {
        flex-basis: 50%;
      }
    }
    img {
      margin-bottom: 32px;
      margin-top: 32px;
      max-height: 170px;
      max-width: 239px;
      object-fit: cover;
      @include breakpoint('medium-') {
        display: none;
      }
      @include breakpoint('xlarge') {
        margin-left: 0;
      }
    }
    .description__container {
      color: $color__black--54;
      font-size: 16px;
      line-height: 24px;
      margin: 32px;
      @include breakpoint('medium-') {
        margin-left: 0;
      }
      .title {
        color: $color__black--80;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: .5em;
        text-transform: uppercase;
      }
      .cta {
        color: $color__red--100;
        font-size: 17px;
        line-height: 28px;
      }
      p {
        padding-bottom: 12px;
      }
    }
    &>.details__container>[role="menu"] {
      flex-basis: 25%;
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 24px;
      margin-top: 24px;
      padding-left: 32px;
      @include breakpoint('medium-') {
        flex-basis: 33%;
      }
      &:has(.details) {
        border-right: 1px solid $color__black--20;
      }
    }
  }
}

.g-header__nav-primary .level-1.exhibitions {
  &>.details {
    .supertitle {
      color: $color__grey--100;
      font-size: 12px;
      font-weight: 325;
      line-height: 16px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .title {
      text-transform: none;
    }
  }
}

.g-header__nav-primary .level-2 {
  &>.details {
    left: 67%;
    margin-left: calc(-4.6875vw / 2);
    padding-left: 32px;
    position: absolute;
    top: 24px;
    @include breakpoint('large') {
      left: 75%;
    }
    @include breakpoint('xlarge') {
      left: calc(50% + 375px);
      margin: auto
    }
    .title-link, .title {
      display: none;
    }
  }
}

.g-header__nav-primary [role="menu"]:has(>li>a:hover, >li>a:focus, >li>a[aria-expanded="true"]) {
  &>li>a:not(:hover, :focus, [aria-expanded="true"]) {
    color: $color__black--30;
    transition: color .3s ease-out;
  }
}

.g-header__nav-secondary {
  position: absolute;
  right: 0;
  top: 20px;
  @include breakpoint('xsmall') {
    top: 80px;
  }
}

.g-header__opening-hours a,
.g-header__nav-secondary a {
  color: $color__text--secondary;
  @include breakpoint('xsmall') {
    color: $color__text--title;
  }
}

.g-header__opening-hours a,
.g-header__nav-secondary a {
  &:hover,
  &:focus:hover {
    @include text-underline(1.02em, $color__text--secondary);
  }

  &:active {
    @include text-underline(1.02em, transparent);
  }
}

.g-header__menu-link {
  @include untuck;
  position: absolute;
  right: 0;
  top: 15px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: $color__text--title;
  cursor: pointer;

  @include breakpoint('small+') {
    display: none;
  }

  &:hover,
  &:focus:hover {
    color: $color__text;
  }

  &:active:hover {
    color: $color__text--secondary;
  }
}

.g-header__menu-link svg {
  position: relative;
  top: -1px;
  margin-left: 4px;
}
