.g-slider {

  $slider-edge-spacing: 48px;
  $btn-close-padding: 12px;
  $btn-close-size: 20px;

  display: none;
  position: fixed;
  z-index: map-get($zindexs, 'modal');
  background-color: $color__white;

  opacity: 0;
  transition: opacity .35s;

  max-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  width: 100vw;

  bottom: 0;
  top: auto;
  right: auto;
  left: auto;

  .g-slider__content {
    position: relative;
    margin: auto;
    padding: $slider-edge-spacing 0;

    @each $name, $point in $breakpoints {
      @include breakpoint('#{$name}') {
        width: colspan(58, $name);
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      right: $btn-close-size + $btn-close-padding;
      top: $slider-edge-spacing / 2;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: $slider-edge-spacing / 2;
      height: 1px;
      background-color: #e6e6e6;
    }

    .g-slider__close {
      position: absolute;
      right: 0;
      top: $slider-edge-spacing / 2 - $btn-close-size / 2;
      padding: 0;
      border: 0 none;
      background: transparent;
      color: $color__text--forms;
      cursor: pointer;

      &:hover {
        color: $color__text;
      }

      .icon--close {
        width: $btn-close-size;
        height: $btn-close-size;
      }
    }


  }

  &.g-slider--promo {

    .g-slider__content {

      .g-slider__main {

        .g-slider__title {
          @include untuck;
          margin-bottom: $slider-edge-spacing / 2;
        }

        .g-slider__intro {
          @include untuck;
          margin-bottom: $slider-edge-spacing / 2;
          color: $color__text--secondary;
        }
      }

     .g-slider__form {

        .g-slider__form-row--split {
          @include breakpoint('small+') {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
          }

          p {
            width: 100%;
            margin-top: 16px;

            @include breakpoint('small+') {
              margin-left: 20px;
              margin-top: 0;
            }

            &:first-child {
              margin-top: 0;
              margin-left: 0;
            }
          }
        }

        .g-slider__form-row--submit {
          margin-top: 24px;

          button {
            width: 100%;
          }
        }
      }
    }

    // TODO: Make link styles more consistent! Here, we mirror .btn color conventions.
    a {
        color: $color__link--accent;

        &:hover,
        &:focus:hover {
          color: $color__link--accent-hover;
        }

        &:active:hover {
          color: $color__link--accent-active;
        }
    }
  }
}
