

.s-article-sticky-fixed.s-scroll-direction-down {

  .o-article__sticky {
    @include breakpoint('medium+') {
      top: 0;
      transition-timing-function: $bezier--ease-out-circ;
    }
  }
}


.s-article-sticky-fixed.s-scroll-direction-up {

  .o-article__top-link {

    @include breakpoint('medium+') {
      bottom: 84px;
      transition-timing-function: $bezier--ease-out-circ;
    }

    @include breakpoint('large+') {
      bottom: 40px;
    }
  }
}



/*

<div class="o-article__sticky">
    <p class="o-article__sticky-titles">
        @component('components.atoms._title')
            @slot('font','f-body')
            Making Place: the Architecture of David Adjaye
        @endcomponent
        <br>
        @component('components.atoms._date')
            September 19 2015 - January 3 2016
        @endcomponent
    </p>
    <p class="o-article__sticky-actions">
        @component('components.atoms._btn')
            @slot('variation', 'btn--full')
            @slot('tag', 'a')
            @slot('href', '#')
            Buy tickets
        @endcomponent
    </p>
  </div>

*/
/*
.o-article__sticky {

  @include breakpoint('medium+') {
    display: flex;
    position: fixed;
    z-index: map-get($zindexs, 'articleStickyHeader');
    left: 0;
    right: 0;
    top: -100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: map-get($outer-gutters, 'medium');
    padding-bottom: 20px;
    padding-left: map-get($outer-gutters, 'medium');
    transition: top .25s $bezier--ease-in-circ;

    &::before {
      @include opaqueBg(rgba(255,255,255,.95), rgba(255,255,255,.85));
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 100vw;
      margin-left: -50vw;
      border-bottom: 1px solid rgba(0,0,0,.1);
      background-clip: padding-box;
    }
  }

  @include breakpoint('large+') {
    padding-right: map-get($outer-gutters, 'large');
    padding-left: map-get($outer-gutters, 'large');
  }

  @include breakpoint('xlarge') {
    left: 50%;
    right: auto;
    width: map-get($main-col-widths, 'xlarge');
    margin-left: map-get($main-col-widths, 'xlarge') / -2;
    padding-right: 0;
    padding-left: 0;
  }
}

.o-article__sticky-titles {
  display: none;
  margin-top: 8px;

  @include breakpoint('medium+') {
    display: block;
    flex: 0 0 auto;
  }
}

.o-article__sticky-titles > br,
.o-article__sticky-actions > br {
  display: none;
}

.o-article__sticky-actions {
  margin-top: 0;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    width: colspan(18, medium);
  }

  @include breakpoint('large+') {
    width: colspan(18, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(13, xlarge);
  }

}

.o-article__sticky-actions .btn {
  margin-top: 20px;
}
*/
