/***

Body locked
============================

Attempts to lock the body when modals are open to stop the background scrolling. iOS makes this *way* harder than it should...

***/

.s-body-locked {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
