

.s-contrast-header {

  #a17 {
    @include breakpoint('medium+') {
      padding-top: 0;
    }
  }

  .g-header__nav-primary a {
    color: $color__text--title-contrast;
  }

  .g-header__opening-hours,
  .g-header__nav-secondary a,
  .g-header__opening-hours a {
    color: $color__text--contrast;
  }
}
