.s-calendar-active {

  .g-mask {
    right: 0;
    bottom: 0;
    background-color: $color__white;
    opacity: 0;
  }

  .m-calendar:not(.m-calendar--inline) {
    display: block;
  }


  @include breakpoint('small-') {
    position: fixed;
    overflow: hidden;

    body {
      position: fixed;
      width: 100vw;
      overflow: hidden;
    }

    .g-mask {
      opacity: 1;
    }

    .m-calendar:not(.m-calendar--inline) {
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .design-grid-toggle {
      display: none;
    }
  }

}
