@use "../setup/mixins/breakpoint";
@use "../setup/variables";

@use "sass:map";
.s-closer-look-footer-stuck {
  #footer,
  .o-closer-look ~ * {
    @each $name, $point in variables.$breakpoints {
      @include breakpoint.breakpoint('#{$name}') {
        @if (map.get(variables.$main-col-widths, $name) == 'fluid') {
          left: 0;
          right: 0;
          margin-right: map.get(variables.$outer-gutters, $name);
          margin-left: map.get(variables.$outer-gutters, $name);
        } @else {
          width: map.get(variables.$main-col-widths, $name);
        }
      }
    }
  }
}
