.s-contrast-header {

  #a17 {
    padding-top: 0;

    @include breakpoint('small+') {
      padding-top: 0;
    }

    @include breakpoint('medium+') {
      padding-top: 0;
    }
  }

  &:not(.s-scroll-direction-up),
  &.s-header-on-hero {
    .g-header {
      background-color: transparent;

      @supports (backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0)) {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
      }
    }

    .g-header__inner {
      border-bottom: 0;
    }

    .g-header::after {
      content: none;
      display: none;
    }

    .g-header .icon--search--24,
    .g-header__nav-primary a {
      color: $color__text--title-contrast;

      @include breakpoint('small+') {
        color: $color__text--title-contrast;
      }
    }

    .g-header__logo,
    .g-header__opening-hours,
    .g-header__opening-hours a,
    .g-header__menu-link,
    .g-header__menu-link:active {
      color: $color__text--title-contrast;
    }

    .g-header__nav-secondary a,
    .g-header__menu-link:hover,
    .g-header__menu-link:focus {
      color: rgba($color__text--title-contrast, .7);
    }
  }

  .s-contrast-header.s-filled-logo {

    .g-header__logo {
      color: $color__link--accent;
    }
  }
}
