.s-calendar-active {

  #a17 {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      filter: blur(5px);
    }
  }

  .g-mask {
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    opacity: 1;

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

  .m-calendar:not(.m-calendar--inline) {
    display: block;
    animation: reveal .2s normal forwards;
  }

  @include breakpoint('small-') {

    .g-mask {
      opacity: 1;
    }

    .m-calendar:not(.m-calendar--inline) {
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .design-grid-toggle {
      display: none;
    }
  }

}
