.s-calendar-active {

  @include breakpoint('small-') {
    position: fixed;
    overflow: hidden;

    body {
      position: fixed;
      width: 100vw;
      overflow: hidden;
    }
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;

    @include breakpoint('medium+') {
      opacity: 0;
    }
  }

  .m-calendar {
    display: flex;
  }

}
