.s-collection-filters-active {

  .o-collection-filters {
    display: flex;
  }

  @include breakpoint('small-') {
    #a17 > *:not(#content),
    .o-collection-listing > *:not(.o-collection-listing__colset),
    .o-collection-listing__colset > *:not(.o-collection-listing__col-left){
      @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
        filter: blur(5px);
      }
    }

    .g-mask {
      right: 0;
      bottom: 0;
      opacity: 1;

      @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    }
  }

  @include breakpoint('medium+') {
    .o-collection-listing__col-left {
      display: block;
    }
  }

  @include breakpoint('medium') {
    .o-collection-listing__col-right .o-pinboard--3-col\@medium::after {
      display: none;
    }
  }

  @include breakpoint('large') {
    .o-collection-listing__col-right .o-pinboard--3-col\@large::after {
      display: none;
    }
  }

  @include breakpoint('xlarge') {
    .o-collection-listing__col-right .o-pinboard--3-col\@xlarge::after {
      display: none;
    }
  }
}
