.s-collection-filters-active {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  #a17 > *:not(#content),
  .o-collection-listing > *:not(.o-collection-filters) {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      filter: blur(5px);
    }
  }

  .o-collection-filters {
    display: block;
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
}
