html.s-dark-mode body {
  color: $color__dark_mode__text--primary;
  background-color: $color__dark-mode__bg--primary;

  h1 {
    color: $color__dark_mode__text--primary;
  }

  h2 {
    color: $color__dark-mode__text--secondary;
  }

  h3 {
    color: $color__dark-mode__text--secondary;
  }

  a {
    color: $color__dark-mode__link;
  }

  button {
    background-color: $color__dark-mode__bg--primary;
    color: $color__dark_mode__text--primary;
  }

  .f-secondary {
    color: $color__videos__text--secondary;
  }

  hr, .hr {
    border-top: 1px solid $color__videos__rules--primary;
  }

  #a17 {
    .o-article {
      .m-article-actions__action .btn--icon {
        background-color: transparent;
        color: $color__dark-mode__link--accent;
      }
    }

    .m-listing {
      .m-listing__meta {
        .type {
          color: $color__dark-mode__text--accent;
        }
        .title {
          color: $color__dark_mode__text--primary;
        }
        .intro {
          color: $color__dark-mode__text--tertiary;
        }
      }
    }

    .m-aside-newsletter {
      .title {
        color: $color__text--title;
      }
      .f-secondary {
        color: $color__text--secondary;
      }
    }
  }

  .m-paginator::before {
    background-color: $color__videos__rules--primary;
  }

  .m-paginator__pages a,
  .m-paginator__pages span {
    border-left-color: $color__videos__rules--primary;
    border-right-color: $color__videos__rules--primary;
  }

  .m-paginator__pages .f-buttons {
    color: $color__videos__link;
  }

  .m-paginator__prev-next li:first-child a,
  .m-paginator__prev-next li:first-child > span {
    border-left: 1px solid $color__videos__rules--primary;
  }

  .m-paginator__prev-next li:last-child a,
  .m-paginator__prev-next li:last-child > span {
    border-right: 1px solid $color__videos__rules--primary;
  }

  .dropdown__list>li:not(:first-child) {
    border-top: 1px solid $color__dark-mode__rules--primary;
  }

  .dropdown__list a:not([class]) {
    background-color: $color__dark-mode__bg--primary;
    color: $color__dark-mode__text--secondary;
  }

  .dropdown__list a:not([class]):hover {
    background-color: $color__dark-mode__bg--secondary;
    color: $color__dark-mode__text--secondary;
  }

  .dropdown__list .s-active a:not([class]) {
    background-color: $color__dark-mode__text--tertiary;
    color: $color__input-text--focus;
  }
}
