.s-fullscreenImage-active {

  #a17 {
    @media screen and (min-width: 1280px) and (min-height: 1024px) {
      @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
        filter: blur(5px);
      }
    }
  }

  .o-fullscreen-image {
    display: block;
    animation: reveal .2s normal forwards;
  }

  .g-mask {
    right: 0;
    bottom: 0;

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }

    @media screen and (min-width: 1280px) and (min-height: 1024px) {
      opacity: 1;
      background-color: rgba($color__black--80, .5);
    }
  }
}
