/***

Info Button Info Active
============================

User has clicked on the 'i' icon on a hero for image info.


***/


.s-infoButtonInfo-active {

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 0;
  }

}
