/***

Layered image viewer active
============================

When fullscreen / using modal on layered image viewer


***/

.s-layered-image-viewer-modal-active {
  &,
  body {
    overflow: hidden;
  }

  .o-layered-image-viewer__osd-mount {
    background: $color__black--80;
    height: 100%;
  }

  .o-layered-image-viewer__modal {
    top: 0;
    left: 0;
    z-index: 9999;
    animation: reveal 0.3s normal forwards;
    opacity: 1;
  }
}
