.s-modal-active {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  .g-modal {
    display: table;
    animation: reveal .2s $bezier--bounce normal forwards;
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba($color__black--80, .5);
  }
}
