.s-modal-active {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  .g-modal {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s $bezier--ease-in-out;
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba($color__black--80,0.5);
  }
}
