/***

Nav mobile active
============================

Show the burger nav.


***/

.s-nav-mobile-active {

  .g-nav-mobile {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s $bezier--ease-in-out;
  }
}
