.s-nav-mobile-active {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  .g-nav-mobile {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s $bezier--ease-in-out;
  }
}
