.s-page-nav {

  .g-mask {
    right: 0;
    bottom: 0;
    background-color: rgba($color__white, 1);
    opacity: 0;
  }
}

.s-page-nav-swapping {

  .g-mask {
    right: 0;
    bottom: 0;
    background-color: rgba($color__white, 1);
    opacity: 1;
  }
}


.s-collection-search-active.s-page-nav,
.s-collection-filters-active.s-page-nav,
.s-collection-search-active.s-page-nav-swapping,
.s-collection-filters-active.s-page-nav-swapping {
  .g-mask {
    @include breakpoint('medium+') {
      background-color: rgba($color__white, 1);
      opacity: .5;
    }

    @include breakpoint('small-') {
      opacity: 1;
      background-color: rgba($color__black, .6);
    }
  }
}
