/***

Roadblock active
============================

Similar to modal active, but roadblock specific. Styles split out as these can appear on page load.


***/

.s-roadblock-active {

  #a17 {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      filter: blur(5px);
    }
  }

  .g-modal--promo {
    display: block;
    animation: reveal .3s normal forwards;
  }

  .g-mask {
    right: 0;
    bottom: 0;
    background-color: rgba($color__black--80, .5);
    opacity: 1;

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
}
