/***

Fixed sidebar
============================

For _p-issuearticle-show.scss and _p-issue-show.scss

***/

%sticky-sidebar {
  .g-sidebar__close {
    display: none;
  }

  .o-sticky-sidebar__sticker {
    height: 100vh;

    @include breakpoint('medium-') {
      height: max-content;
    }
  }

  &.is-sidebar-overlay {
    .m-article-actions--publication__logo a {
      color: $color__text--title !important;
    }

    @include breakpoint('medium-') {
      .g-mask {
        right: 0;
        bottom: 0;
        opacity: 1;
        background-color: rgba($color__bg--tertiary, .25);

        @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
          background-color: rgba($color__bg--tertiary, .5);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
        }
      }

      .o-article__primary-actions {
        display: block;
        z-index: 11;
      }

      .o-sticky-sidebar__sticker {
        background-color: white;
        position: fixed;
        opacity: 1;
        top: 0;
        left: 0;

        width: 300px;
        overflow-y: auto;

        // Gutters are always about the same as on xsmall
        padding-left: 20px;
        padding-right: 20px;

        .g-sidebar__close {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          padding: 8px;
          border: 0 none;
          background: transparent;
          color: $color__text--forms;
          cursor: pointer;

          &:hover {
            color: $color__text;
          }

          .icon--close {
            width: 24px;
            height: 24px;
          }
        }
      }

      .o-sticky-sidebar__placeholder::before {
        content: '';
      }

      .o-sticky-sidebar__stopper {
        clear: both;
      }
    }

    @include breakpoint('xsmall') {
      .o-sticky-sidebar__sticker {
        width: 100vw;
      }
    }
    @include breakpoint('small') {
      .o-sticky-sidebar__sticker {
        width: calc(colspan(19, 'small') + map-get($outer-gutters, 'small'));
      }
    }
    @include breakpoint('medium') {
      .o-sticky-sidebar__sticker {
        width: calc(colspan(19, 'medium') + map-get($outer-gutters, 'medium'));
      }
    }
  }

  @include breakpoint('large+') {
    .o-sticky-sidebar__sticker[data-sticky-animated-logo] {
      .m-article-actions--publication__logo {
        display: none;
        transition: opacity 0.3s;
        opacity: 0;
      }
    }

    &.is-sidebar-grabbed,
    &.is-sidebar-fixed,
    &.is-sidebar-bottom {
      .o-article__primary-actions {
        .o-sticky-sidebar__sticker {
          .m-article-actions--publication__logo {
            display: block;
            align-items: normal;
            height: auto;
            margin-top: 30px;
          }

          @each $name in ('large', 'xlarge') {
            @include breakpoint('#{$name}') {
              width: #{colspan(19, '#{$name}')};
              padding-right: #{colspan(1, '#{$name}')};
            }
          }

          .m-article-actions--publication__logo,
          .m-article-actions--publication__logo::before {
            background-color: transparent;
          }

          .m-article-actions--publication__logo a {
            color: $color__text--title;
          }
        }

        .m-article-header--digital-publication-article ~ .m-article-header__text::before {
          background-color: transparent;
        }
      }
    }

    &.is-sidebar-fixed,
    &.is-sidebar-bottom {
      .o-sticky-sidebar__sticker {
        &[data-sticky-animated-logo] {
          .m-article-actions--publication__logo {
            opacity: 1;
          }
        }

        overflow-y: auto;
      }
    }

    &.is-sidebar-grabbed,
    &.is-sidebar-fixed {
      .o-sticky-sidebar__sticker {
        position: fixed;
        top: 0;
      }

      .o-sticky-sidebar__placeholder::before {
        content: '';
      }

      .o-sticky-sidebar__stopper {
        clear: both;
      }
    }

    &.is-sidebar-bottom {
      .o-article__primary-actions {
        position: initial;
      }

      .o-sticky-sidebar__sticker {
        position: absolute;
        bottom: 0;
      }
    }

    .m-sidebar-toggle {
      display: none;
    }
  }

  @include breakpoint('xsmall') {
    .m-sidebar-toggle--publication__logo {
      margin-bottom: 40px;
      white-space: nowrap;

      a:hover {
        text-decoration: underline;
      }
    }

    &.is-sidebar-fixed.s-header-hide:not(.s-scroll-direction-up) {
      .m-sidebar-toggle {
        opacity: 1;
        position: fixed;
        top: 0;
        z-index: map-get($zindexs, 'header');

        &::before {
          left: 0;
          margin-left: -4.6875vw;
          margin-right: -4.6875vw;
        }
      }
    }
  }
}
