.s-shareMenu-active {

  #a17 {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      filter: blur(5px);
    }
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;

    @include breakpoint('medium+') {
      background-color: rgba(0,0,0,0);
    }

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

  .m-share-menu {
    display: block;
    animation: reveal .2s $bezier--bounce normal forwards;
  }
}
