.s-search-active {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  #a17 {
    @supports (not (backdrop-filter: blur(5px))) and (not (-webkit-backdrop-filter: blur(5px))) {
      filter: blur(5px);
    }
  }

  .g-search {
    visibility: visible;
    transform: translateY(0%);
    transition: transform .2s $bezier--ease-in-out;
  }

  .g-mask {
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(255,255,255,.5);

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
}

.s-search-active--autocomplete {
  .g-search__suggested {
    display: none;
  }

  .g-search__scroll {
    height: 100vh;
  }

  .g-mask {
    background-color: rgba(0,0,0,0);
  }
}

.s-search-active--loader {
  .g-search__loader {
    display: block;
  }

  .g-search__submit {
    display: none;
  }
}
