/***

Scroll direction
============================

Series of states for scroll classes.

If the page is scrolling up, show the header. If we've scrolled far enough, show the top link.

If we're scrolling down, hide the header.


***/

.s-scroll-direction-up {
  .g-header {
    opacity: 1;
  }
}

.s-scroll-direction-up.s-allow-top-link {
  .top-link {
    @include breakpoint('medium+') {
      bottom: 84px;
      transition-timing-function: $bezier--ease-out-circ;
    }

    @include breakpoint('large+') {
      bottom: 40px;
    }
  }
}

.s-scroll-direction-down.s-header-hide {
  .g-header {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity .2s, transform 0s .2s;
  }
}

.s-scroll-direction-up.s-header-hide {
  .g-header {
    border-bottom: 1px solid rgba($color__black, .1);

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

  .g-header__inner {
    border-bottom-color: transparent;
  }
}
