
.s-sticky-filters--fixed .o-sticky-filters > .m-links-bar:first-child,
.s-sticky-filters--bottom .o-sticky-filters > .m-links-bar:first-child {
  @include breakpoint('small+') {
    position: fixed;
    z-index: map-get($zindexs, 'stickyFilters');
    left: 0;
    right: 0;
    top: 0;
    padding-right: map-get($outer-gutters, small);
    padding-left: map-get($outer-gutters, small);

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

  @include breakpoint('medium+') {
    padding-right: map-get($outer-gutters, medium);
    padding-left: map-get($outer-gutters, medium);
  }

  @include breakpoint('large+') {
    padding-right: map-get($outer-gutters, large);
    padding-left: map-get($outer-gutters, large);
  }

  @include breakpoint('xlarge') {
    left: 50%;
    width: map-get($main-col-widths, xlarge);
    margin-left: map-get($main-col-widths, xlarge) / -2;
    padding-right: 0;
    padding-left: 0;
  }
}

.s-sticky-filters--fixed .o-sticky-filters > .m-links-bar:first-child::before,
.s-sticky-filters--bottom .o-sticky-filters > .m-links-bar:first-child::before {
  @include breakpoint('small+') {
    display: block;
  }

  @include breakpoint('xlarge') {
    left: 50%;
    width: 100vw;
    margin-left:-50vw;
  }
}

.s-sticky-filters--fixed.s-scroll-direction-up .o-sticky-filters > .m-links-bar:first-child,
.s-sticky-filters--bottom .o-sticky-filters > .m-links-bar {
  @include breakpoint('small+') {
    opacity: 0;
  }
}
