@use "../setup/mixins/breakpoint";

/***

Sticky header
============================

For those times when you just don't want the navigation to get in the way of the experience.

***/

.s-unsticky-header {
  #a17 {
    padding-top: 0;
    .g-header {
      position: relative;
      .g-header__inner {
        border-bottom: 0;
      }
      &:hover,
      &:has(a[role="menuitem"][aria-expanded="true"]) {
        position: fixed;

        &:has(.m-notification--header) {
          & ~ main#content {
            @include breakpoint.breakpoint('small+') {
              padding-top: 176px;
            }
            @include breakpoint.breakpoint('medium+') {
              padding-top: 188px;
            }
          }
        }

        & ~ main#content {
          @include breakpoint.breakpoint('small+') {
            padding-top: 128px;
          }
          @include breakpoint.breakpoint('medium+') {
            padding-top: 140px;
          }
        }
      }
    }

    .top-link {
      display: block;
    }
  }

  &.s-contrast-header #a17 .g-header {
    position: absolute;
    @include breakpoint.breakpoint('small+') {
      height: 128px;
    }
    @include breakpoint.breakpoint('medium+') {
      height: 140px;
    }
    &:hover {
      position: fixed;
      &:has(a[role="menuitem"][aria-expanded="true"]) {
        @include breakpoint.breakpoint('small') {
          height: 368px;
        }
        @include breakpoint.breakpoint('medium') {
          height: 376px;
        }
        @include breakpoint.breakpoint('large+') {
          height: 380px;
        }
      }
    }
  }
}
