/***

```
<span class="u-show@xsmall">u-show@xsmall</span>
<span class="u-show@small">u-show@small</span>
<span class="u-show@medium">u-show@medium</span>
<span class="u-show@large">u-show@large</span>
<span class="u-show@xlarge">u-show@xlarge</span>
<span class="u-show@small-">u-show@small-</span>
<span class="u-show@medium-">u-show@medium-</span>
<span class="u-show@small+">u-show@small+</span>
<span class="u-show@medium+">u-show@medium+</span>
<span class="u-show@large+">u-show@large+</span>
```

***/

.u-show\@xsmall,
.u-show\@small,
.u-show\@medium,
.u-show\@large,
.u-show\@xlarge,
.u-show\@small\-,
.u-show\@medium\-,
.u-show\@large\-,
.u-show\@xlarge\-,
.u-show\@small\+,
.u-show\@medium\+,
.u-show\@large\+,
.u-show\@xlarge,
.u-show-flex\@xsmall,
.u-show-flex\@small,
.u-show-flex\@medium,
.u-show-flex\@large,
.u-show-flex\@xlarge,
.u-show-flex\@small\-,
.u-show-flex\@medium\-,
.u-show-flex\@large\-,
.u-show-flex\@xlarge\-,
.u-show-flex\@small\+,
.u-show-flex\@medium\+,
.u-show-flex\@large\+,
.u-show-flex\@xlarge {
  display: none;
}

@include breakpoint('xsmall') {
  .u-show\@xsmall {
    display: block;
  }
}

@include breakpoint('small') {
  .u-show\@small {
    display: block;
  }
}

@include breakpoint('medium') {
  .u-show\@medium {
    display: block;
  }
}

@include breakpoint('large') {
  .u-show\@large {
    display: block;
  }
}

@include breakpoint('xlarge') {
  .u-show\@xlarge {
    display: block;
  }
}


@include breakpoint('small-') {
  .u-show\@small\- {
    display: block;
  }
}

@include breakpoint('medium-') {
  .u-show\@medium\- {
    display: block;
  }
}

@include breakpoint('large-') {
  .u-show\@large\- {
    display: block;
  }
}

@include breakpoint('small+') {
  .u-show\@small\+ {
    display: block;
  }
}

@include breakpoint('medium+') {
  .u-show\@medium\+ {
    display: block;
  }
}

@include breakpoint('large+') {
  .u-show\@large\+ {
    display: block;
  }
}

@include breakpoint('xlarge') {
  .u-show\@xlarge {
    display: block;
  }
}

/** Same thing, but for flex blocks **/
@include breakpoint('xsmall') {
  .u-show-flex\@xsmall {
    display: flex;
  }
}

@include breakpoint('small') {
  .u-show-flex\@small {
    display: flex;
  }
}

@include breakpoint('medium') {
  .u-show-flex\@medium {
    display: flex;
  }
}

@include breakpoint('large') {
  .u-show-flex\@large {
    display: flex;
  }
}

@include breakpoint('xlarge') {
  .u-show-flex\@xlarge {
    display: flex;
  }
}


@include breakpoint('small-') {
  .u-show-flex\@small\- {
    display: flex;
  }
}

@include breakpoint('medium-') {
  .u-show-flex\@medium\- {
    display: flex;
  }
}

@include breakpoint('large-') {
  .u-show-flex\@large\- {
    display: flex;
  }
}

@include breakpoint('small+') {
  .u-show-flex\@small\+ {
    display: flex;
  }
}

@include breakpoint('medium+') {
  .u-show-flex\@medium\+ {
    display: flex;
  }
}

@include breakpoint('large+') {
  .u-show-flex\@large\+ {
    display: flex;
  }
}

@include breakpoint('xlarge') {
  .u-show-flex\@xlarge {
    display: flex;
  }
}
