/***

```
<span class="u-show@xsmall">u-show@xsmall</span>
<span class="u-show@small">u-show@small</span>
<span class="u-show@medium">u-show@medium</span>
<span class="u-show@large">u-show@large</span>
<span class="u-show@xlarge">u-show@xlarge</span>
<span class="u-show@xxlarge">u-show@xxlarge</span>
<span class="u-show@small-">u-show@small-</span>
<span class="u-show@medium-">u-show@medium-</span>
<span class="u-show@small+">u-show@small+</span>
<span class="u-show@medium+">u-show@medium+</span>
<span class="u-show@large+">u-show@large+</span>
```

***/

.u-show\@xsmall,
.u-show\@small,
.u-show\@medium,
.u-show\@large,
.u-show\@xlarge,
.u-show\@xxlarge,
.u-show\@small\-,
.u-show\@medium\-,
.u-show\@large\-,
.u-show\@xlarge\-,
.u-show\@small\+,
.u-show\@medium\+,
.u-show\@large\+,
.u-show\@xlarge\+ {
  display: none;
}

@include breakpoint('xsmall') {
  .u-show\@xsmall {
    display: block;
  }
}

@include breakpoint('small') {
  .u-show\@small {
    display: block;
  }
}

@include breakpoint('medium') {
  .u-show\@medium {
    display: block;
  }
}

@include breakpoint('large') {
  .u-show\@large {
    display: block;
  }
}

@include breakpoint('xlarge') {
  .u-show\@xlarge {
    display: block;
  }
}

@include breakpoint('xxlarge') {
  .u-show\@xxlarge {
    display: block;
  }
}

@include breakpoint('small-') {
  .u-show\@small\- {
    display: block;
  }
}

@include breakpoint('medium-') {
  .u-show\@medium\- {
    display: block;
  }
}

@include breakpoint('large-') {
  .u-show\@large\- {
    display: block;
  }
}

@include breakpoint('xlarge-') {
  .u-show\@xlarge\- {
    display: block;
  }
}

@include breakpoint('small+') {
  .u-show\@small\+ {
    display: block;
  }
}

@include breakpoint('medium+') {
  .u-show\@medium\+ {
    display: block;
  }
}

@include breakpoint('large+') {
  .u-show\@large\+ {
    display: block;
  }
}

@include breakpoint('xlarge+') {
  .u-show\@xlarge\+ {
    display: block;
  }
}
