@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/typography";
@use "../setup/variables";

$bioBreakpoints: ('large',
  'xlarge',
);

.o-artist-bio {
  position: relative;
  margin-top: 24px;
  padding-top: 24px;

  @include breakpoint.breakpoint('small+') {
    margin-top: 40px;
  }

}

.o-artist-bio::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: colors.$color__rules--primary;
}

.o-artist-bio__inner {
  display: flex;
  position: relative;
  flex-flow: column wrap;

  @each $name,
  $point in $bioBreakpoints {
    @include breakpoint.breakpoint('#{$name}') {
      flex-flow: row wrap;
      margin-left: grid.colspan(2, $name, 0, true);
    }
  }
}

.o-author-bio .o-artist-bio__inner {
  @include breakpoint.breakpoint('medium') {
    flex-flow: row wrap;
  }
}

.o-artist-bio__main,
.o-artist-bio__image {
  width: 100%;

  @each $name,
  $point in $bioBreakpoints {
    @include breakpoint.breakpoint('#{$name}') {
      width: grid.colspan(grid.grid-cols-to-colspan(2), $name);
      margin-left: grid.colspan(2, #{$name});
    }
  }
}

.o-author-bio .o-artist-bio__image {

  @each $name,
  $point in ('xsmall', 'small') {
    @include breakpoint.breakpoint('#{$name}') {
      width: 300px;
      align-self: center;
    }
  }

  @each $name,
  $point in ('medium', 'large', 'xlarge') {
    @include breakpoint.breakpoint('#{$name}') {
      width: 300px;
    }
  }

  .m-media__img {
    background: none;
  }

  img {
    border-radius: 50%;
  }
}

.o-author-bio .o-artist-bio__main {

  @each $name,
  $point in ('medium', 'large', 'xlarge') {
    @include breakpoint.breakpoint('#{$name}') {
      width: calc(#{grid.colspan(58, $name)} - 300px - #{grid.colspan(2, $name)});
      margin-left: grid.colspan(2, #{$name});
    }
  }
}

.o-author-bio .o-artist-bio__main .o-artist-bio__body {
  margin-top: 24px;

  @include breakpoint.breakpoint('medium+') {
    margin-top: 0;
  }
}

// WEB-1163: Hyper-specific override for _m-media.scss
.o-artist-bio__image .m-media--s.o-blocks__block .m-media__img img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 65vh;
}

.o-artist-bio__image figcaption {
  @extend %f-caption;
  margin-top: 8px;
  color: colors.$color__text--secondary;

  p a {
    @include typography.text-underline(20px, colors.$color__rules--primary);

    & {
      padding-bottom: 1px;
      color: colors.$color__text--accent;
    }
  }

  p a:hover,
  p a:focus {
    @include typography.text-underline(20px, colors.$color__rules--brand);
  }
}

.o-artist-bio__main dl {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 16px;

  @include breakpoint.breakpoint('large+') {
    margin-top: -16px;
  }

  @each $name,
  $point in variables.$breakpoints {
    @include breakpoint.breakpoint('#{$name}') {
      margin-left: grid.colspan(2, $name, 0, true);
    }
  }
}

.o-artist-bio__main dt,
.o-artist-bio__main dd {
  @include breakpoint.breakpoint('small+') {
    margin-top: 4px;
  }

  @each $name,
  $point in variables.$breakpoints {
    @include breakpoint.breakpoint('#{$name}') {
      margin-left: grid.colspan(2, $name);
    }
  }
}

.o-artist-bio__main dt {
  @extend %f-subheading-1;
  width: grid.colspan(58, xsmall);

  @include breakpoint.breakpoint(xsmall) {
    margin-top: 12px;
  }

  @include breakpoint.breakpoint(small) {
    width: grid.colspan(18, small);
  }

  @include breakpoint.breakpoint(medium) {
    width: grid.colspan(18, medium);
  }

  @include breakpoint.breakpoint(large) {
    width: grid.colspan(8, large);
  }

  @include breakpoint.breakpoint(xlarge) {
    width: grid.colspan(8, xlarge);
  }
}

.o-artist-bio__main dt:first-child {
  @include breakpoint.breakpoint(xsmall) {
    margin-top: 0;
  }
}

.o-artist-bio__main dd {
  @extend %f-body;
  color: colors.$color__text--secondary;
  width: grid.colspan(58, small);

  @include breakpoint.breakpoint(small) {
    width: grid.colspan(38, small);
  }

  @include breakpoint.breakpoint(medium) {
    width: grid.colspan(33, medium);
  }

  @include breakpoint.breakpoint(large) {
    width: grid.colspan(18, large);
  }

  @include breakpoint.breakpoint(xlarge) {
    width: grid.colspan(18, xlarge);
  }
}

.o-artist-bio__body p {
  @extend %f-body;
}

.o-artist-bio__body a {
  @include typography.text-underline(20px, colors.$color__rules--primary);

  & {
    padding-bottom: 1px;
    color: colors.$color__text--accent;
  }
}

.o-artist-bio__body a:hover,
.o-artist-bio__body a:focus {
  @include typography.text-underline(20px, colors.$color__rules--brand);
}

.o-artist-bio__main dl+.o-artist-bio__body {
  margin-top: 24px;
}

.o-artist-bio__tags {
  display: flex;
  flex-flow: row wrap;
  margin-top: 24px;
  padding-top: .02px;

  @include breakpoint.breakpoint('small+') {
    margin-top: 32px;
  }
}

.o-artist-bio__tags>li {
  flex: 0 0 auto;
  margin-top: 8px;
  margin-right: 20px;
}

.o-artist-bio__tags .tag {
  display: block;
}
