.o-article__primary-actions {
  position: relative;
  margin-top: 28px;
  padding-top: 8px;

  // WEB-461: Fix medium figure covering up primary actions
  z-index: 2;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    margin-top: 28px;
  }

  @include breakpoint('large+') {
    float: left;
    width: colspan(13, large);
    margin-top: 0;
    margin-right: colspan(2, large);

    //&.o-article__primary-actions--inline-header {
    .m-article-header--gallery ~ & {
      margin-top: 40px;
    }
  }

  @include breakpoint('xlarge') {
    width: colspan(13, xlarge);
    margin-right: colspan(2, xlarge);
  }

  .m-article-header--default ~ & {
    @include breakpoint('medium') {
      float: left;
      width: colspan(38, medium);
    }
  }
}

.m-article-header ~ .o-article__primary-actions::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0px;
  background-color: $color__rules--primary;
}

.o-article__primary-actions > *:not(:nth-child(1)):not([class*='f-']):not(.o-collapsing-nav) {
  margin-top: 8px;

  @include breakpoint('large+') {
    margin-top: 52px;
  }
}

.o-article__primary-actions > *.f-secondary:not(:nth-child(1)) {
  @include tucked-margin-top($f-secondary, ('xsmall': 52));
}

.o-article__primary-actions > *.f-secondary:nth-child(3) {
  @include tucked-margin-top($f-secondary, ('xsmall': 39));
}

.o-article__primary-actions > .m-article-actions:nth-child(1) {
  @include breakpoint('large+') {
    margin-top: 8px;
  }
}

.o-article__primary-actions .o-injected-container:not(:nth-child(1)):not([class*=f-]):not(.o-collapsing-nav) {
  margin-top: 20px;

  .m-link-list {
    margin-top: 0px;
  }
}

.m-article-header--feature ~ .o-article__primary-actions,
.m-article-header--hero ~ .o-article__primary-actions,
.m-article-header--super-hero ~ .o-article__primary-actions {
  @include breakpoint('medium-') {
    margin-top: 0;

    &::before {
      content: none;
      display: none;
    }
  }
}

.o-article__primary-actions *.f-secondary:not(.m-author):not(.m-link-list) a {
  @include text-underline(1.02em, $color__rules--secondary);

  &:hover,
  &:focus:hover {
    @include text-underline(1.02em, $color__link--hover);
  }

  &:active:hover {
    @include text-underline(1.02em, $color__link--active);
  }
}


// Variant for generic pages
.o-article--generic-page {
  .o-article__primary-actions {
    padding-top: 0;

    @include breakpoint('medium-') {
      @include background-fill;
      margin-top: 0;
      background-color: $color__bg--primary;

      & ~ .o-article__secondary-actions {
        margin-top: 8px;
      }

      & ~ .o-article__body {
        margin-top: 20px;
      }

      &::before {
        height: auto;
        background-color: inherit;
      }
    }

    @include breakpoint('medium') {
      width: colspan(58, medium);

      & ~ .o-article__secondary-actions {
        margin-top: 28px;
      }

      & ~ .o-article__body {
        margin-top: 28px;
      }
    }

    .m-link-list {
      margin-top: 0;
    }
  }
}

// Positioned left of .m-article-header--default with date
.o-article__primary-actions--video {
  display: flex;
  justify-content: space-between;

  @include breakpoint('large+') {
    min-height: 180px;
    flex-direction: column;
  }

  > :not(:nth-child(1)):not([class*='f-']):not(.o-collapsing-nav) {
    margin-top: auto;
  }

  .m-article-actions {
    margin-bottom: 0;
  }
}


// Everything below are variants for publications
%o-article__primary-actions--toggleable {
  display: none;

  @include breakpoint('large+') {
    display: block;
  }
}

// Styles shared by all publication sidebars:
.o-article__primary-actions--digital-publication,
.o-article__primary-actions--magazine-issue {
  padding-top: initial;
  margin-top: 0;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      .m-search-bar,
      hr,
      .hr--no-archive ~ .m-article-actions { // PUB-128
        margin-top: #{map-get((
          xsmall: 24,
          small: 24,
          medium: 24,
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }
  }

  .m-article-actions--journal__issues {
    @include breakpoint('medium-'){
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }
  }

  .m-article-actions--journal__issues::-webkit-scrollbar {
    width: 0;
  }

  .m-article-actions--journal__issues::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .m-article-actions--journal__issues a {
    margin-bottom: 12px;

    @include breakpoint('medium-') {
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  .m-article-actions--publication__logo {
    a {
      color: $color__black--90;
    }
  }

  .m-article-actions--publication__text {
    @include untuck();

    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        margin-top: #{map-get((
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }

    &.f-secondary {
      color: $color__black--54;
      padding-right: 2em;

      a {
        color: $color__black--54;
        text-decoration: underline;
      }
    }
  }
}

// Styles specific to digital publications and their sections:
.o-article__primary-actions--digital-publication {
  @extend %o-article__primary-actions--toggleable;
  padding-top: 0px;
  z-index: 4;

  .o-sticky-sidebar__sticker {
    padding-bottom: 60px;
  }

  .m-article-actions--publication__logo {
    margin-bottom: 40px;
    color: $color__white;
    display: flex;
    align-items: center;

    .is-sidebar-fixed & {
      display: block;
      align-items: normal;
    }

    .p-digitalpublicationarticle-show.p-t-contributions & {
      margin-bottom: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      height: 150px;
      width: 600px;
      margin-left: calc(-600px + 50%);
      @each $name in ('large', 'xlarge') {
        @include breakpoint('#{$name}') {
          width: calc(#{colspan(14, '#{$name}')} * 2 + (#{colspan(1, '#{$name}')} * 2));
          padding-right: calc(#{colspan(1, '#{$name}')} * 2);
          margin-left: calc((#{colspan(14, '#{$name}')} * -1) + (#{colspan(1, '#{$name}')} * -1));
          margin-right: colspan(2, #{$name});
        }
      }
    }

    a {
      transition: color 1s;

      .is-sidebar-fixed & {
        color: $color__black !important;
      }
    }

    a:hover,
    a:focus {
      color: $color__link--publications-hover;
    }

    a:active {
      color: $color__link--publications-active;
    }

    @include breakpoint('large+') {
      .p-digitalpublications-show &,
      .p-digitalpublications-showlisting & {
        display: none !important;
      }
    }

    @include font-styles-untuck(generate-font-obj(
      (
        font-family: $serif-font,
        font-family-loaded: $serif-font--loaded,
        font-loaded-class: $serif-font-loaded-class,
        settings: (
          'xsmall': (font-size: 22, line-height: 23, push: 0),
        )
      )
    ));

    a:hover {
      text-decoration: underline;
    }
  }

  .m-article-header__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 150px;
    width: 600px;
    margin-left: calc(-600px + 50%);
    @each $name in ('large', 'xlarge') {
      @include breakpoint('#{$name}') {
        width: calc(#{colspan(14, '#{$name}')} * 2 + (#{colspan(1, '#{$name}')} * 2));
        padding-right: calc(#{colspan(1, '#{$name}')} * 2);
        margin-left: calc((#{colspan(14, '#{$name}')} * -1) + (#{colspan(1, '#{$name}')} * -1));
        margin-right: colspan(2, #{$name});
      }
    }
  }

  .m-article-actions {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 8px;
  }
}

// Styles specific to magazine issues:
.o-article__primary-actions--magazine-issue {
  .o-sticky-sidebar__sticker {
    padding-top: 100px;
  }

  hr {
    margin-bottom: 24px;

    @include breakpoint('large+') {
      margin-bottom: 0;
    }
  }

  #h-nav-magazine-social {
    font-weight: 400;
    color: $color__black--90;
  }
}

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      .m-article-actions--journal__issues {
        margin-top: #{map-get((
          xsmall: 24,
          small: 24,
          medium: 24,
          large: 24,
          xlarge: 30
        ), $name)}px;
      }
    }
  }
