

.o-article {
  @include float-clear;
  position: relative;

  @include breakpoint('xsmall') {
    display: flex;
    flex-flow: column nowrap;
  }
}

.o-article .m-article-header {

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('xlarge+') {
    margin-bottom: 48px;
  }
}

.o-article__primary-actions {
  position: relative;
  margin-top: 8px;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    margin-top: 12px;
  }

  @include breakpoint('xlarge+') {
    float: left;
    width: colspan(13, xlarge);
    margin-top: 0;
    margin-right: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
    margin-right: colspan(2, xxlarge);
  }
}

  .o-article__primary-actions::before {
    @include breakpoint('xlarge+') {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: $color__rules--primary;
    }
  }

  .o-article__primary-actions > *:not(:first-child) {
    margin-top: 8px;

    @include breakpoint('xlarge+') {
      margin-top: 52px;
    }
  }

  .o-article__primary-actions > .m-article-actions:first-child {
    @include breakpoint('xlarge+') {
      margin-top: 8px;
    }
  }


.o-article__meta {
  position: relative;
  margin-top: 8px;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    float: left;
    width: colspan(38, medium);
    margin-top: 12px;
  }

  @include breakpoint('large+') {
    width: colspan(38, large);
  }

  @include breakpoint('xlarge+') {
    display: none;
  }
}



.o-article__secondary-actions {
  position: relative;
  margin-top: 28px;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    float: right;
    width: colspan(18, medium);
    margin-top: 12px;
    margin-left: colspan(2, medium);
  }

  @include breakpoint('large+') {
    width: colspan(18, large);
    margin-left: colspan(2, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(13, xlarge);
    margin-top: 0;
    margin-left: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
    margin-left: colspan(2, xxlarge);
  }
}

  .o-article__secondary-actions > *:not(:first-child) {
    margin-top: 8px;

    @include breakpoint('medium+') {
      margin-top: 52px;
    }
  }

  .o-article__secondary-actions > .m-article-actions:first-child {
    @include breakpoint('medium+') {
      margin-top: 8px;
    }
  }



.o-article__related {
  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 28px;
    order: 1;
  }

  @include breakpoint('small+') {
    float: right;
    clear: right;
    width: colspan(23, small);
    margin-top: 48px;
    margin-bottom: colspan(3, small);
    margin-left: colspan(3, small);
  }

  @include breakpoint('medium+') {
    display: none;
  }
}



.o-article__intro {
  position: relative;
  margin-top: 28px;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    float: left;
    width: colspan(38, medium);
  }

  @include breakpoint('large+') {
    width: colspan(38, medium);
  }

  @include breakpoint('xlarge+') {
    float: none;
    width: colspan(28, xlarge);
    margin-top: 0;
    margin-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(28, xxlarge);
    margin-left: colspan(15, xxlarge);
  }
}

  .o-article__intro .f-deck:first-child {
    @include tucked-align-top($f-deck);
  }



.o-article__body {
  @include float-clear;
  position: relative;
  margin-top: 28px;

  @include breakpoint('xsmall') {
    flex: 0 0 auto;
    width: 100%;
  }

  @include breakpoint('medium+') {
    float: left;
    width: colspan(38, medium);
  }

  @include breakpoint('large+') {
    width: colspan(38, large);
    margin-top: 40px;
  }

  @include breakpoint('xlarge+') {
    float: none;
    width: colspan(28, xlarge);
    margin-top: 0;
    margin-left: colspan(15, xlarge);

    .o-article__intro ~ & {
      margin-top: 28px;
    }
  }

  @include breakpoint('xxlarge') {
    width: colspan(28, xxlarge);
    margin-left: colspan(15, xxlarge);
  }
}

  .o-article__body:not(.o-article__intro ~ .o-article__body)::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: $color__rules--primary;

    @include breakpoint('small+') {
      content: none;
      display: none;
    }
  }



.o-article__top-link {
  display: none;
  position: fixed;
  z-index: 2;
  right: 40px;
  bottom: -32px;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0 none;
  border-radius: $border-radius;
  background-color: rgba($color__black, .7);
  color: $color__white;
  transform: rotate(-90deg);
  transition: bottom .25s $bezier--ease-in-circ;
  text-align: center;
  cursor: pointer;

  @include breakpoint('medium+') {
    display: block;
  }
}

.o-article__top-link svg {
  position: relative;
  right: 3px;
  vertical-align: middle;
}

.o-article__top-link::after {
  content: '';
  position: absolute;
  right: 18px;
  top: 16px;
  bottom: 16px;
  width: 1.5px;
  background-color: $color__white;
}


.o-article--generic-page {

  .o-article__primary-actions {
    @include breakpoint('large-') {
      @include background-fill;
      margin-top: 0;
      background-color: $color__bg--primary;

      & ~ .o-article__secondary-actions {
        margin-top: 8px;
      }

      & ~ .o-article__body {
        margin-top: 20px;
      }
    }

    @include breakpoint('medium') {
      width: colspan(58, medium);

      & ~ .o-article__secondary-actions {
        margin-top: 28px;
      }

      & ~ .o-article__body {
        margin-top: 28px;
      }
    }

    @include breakpoint('large') {
      width: colspan(58, large);

      & ~ .o-article__secondary-actions {
        margin-top: 28px;
      }

      & ~ .o-article__body {
        margin-top: 28px;
      }
    }
  }

  .o-article__primary-actions .m-link-list {
    margin-top: 0;
  }

  .o-article__secondary-actions::before {
    @include breakpoint('medium+') {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: $color__rules--primary;
    }
  }

  .o-article__related {
    @include breakpoint('small') {
      margin-top: 28px;
    }
  }
}
