

.o-article {
  position: relative;

  @include breakpoint('medium+') {
    display: flex;
    flex-flow: row wrap;
  }
}

.o-article__header {
  @include breakpoint('medium+') {
    flex: 0 0 100%;
    width: 100%;
    order: 1;
  }
}

.o-article__primary {
  @include breakpoint('medium+') {
    flex: 0 0 auto;
    width: colspan(58, medium);
    order: 2;
  }

  @include breakpoint('large+') {
    width: colspan(58, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(13, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
  }
}

.o-article__secondary {

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    order: 4;
    width: colspan(18, medium);
    margin-left: colspan(2, medium);
  }

  @include breakpoint('large+') {
    width: colspan(18, large);
    margin-left: colspan(2, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(13, xlarge);
    margin-left: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
    margin-left: colspan(2, xxlarge);
  }
}


.o-article__body {
  position: relative;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    order: 3;
    width: colspan(38, medium);
  }

  @include breakpoint('large+') {
    width: colspan(38, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(28, xlarge);
    margin-left: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(28, xxlarge);
    margin-left: colspan(2, xxlarge);
  }
}

.o-article__tertiary {

  @include breakpoint('medium+') {
    display: flex;
    position: fixed;
    z-index: map-get($zindexs, 'articleStickyHeader');
    left: 0;
    right: 0;
    top: -100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: map-get($outer-gutters, 'medium');
    padding-bottom: 20px;
    padding-left: map-get($outer-gutters, 'medium');
    transition: top .25s $bezier--ease-in-circ;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 100vw;
      margin-left: -50vw;
      border-bottom: 1px solid rgba(0,0,0,.1);
      background-color: rgba(255,255,255,.95);
      background-clip: padding-box;

      @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
        background-color: rgba(255,255,255,.85);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    }
  }

  @include breakpoint('large+') {
    padding-right: map-get($outer-gutters, 'large');
    padding-left: map-get($outer-gutters, 'large');
  }

  @include breakpoint('xlarge+') {
    padding-right: map-get($outer-gutters, 'xlarge');
    padding-left: map-get($outer-gutters, 'xlarge');
  }

  @include breakpoint('xxlarge') {
    left: 50%;
    right: auto;
    width: map-get($main-col-widths, 'xxlarge');
    margin-left: map-get($main-col-widths, 'xxlarge') / -2;
    padding-right: 0;
    padding-left: 0;
  }
}

.o-article__tertiary-titles {
  display: none;
  margin-top: 8px;

  @include breakpoint('medium+') {
    display: block;
    flex: 0 0 auto;
  }
}

.o-article__tertiary-titles > br,
.o-article__tertiary-actions > br {
  display: none;
}

.o-article__tertiary-actions {
  margin-top: 0;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    width: colspan(18, medium);
  }

  @include breakpoint('large+') {
    width: colspan(18, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(13, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
  }
}

.o-article__tertiary-actions .btn {
  margin-top: 20px;
}

.o-article__top-link {
  display: none;
  position: fixed;
  z-index: 2;
  right: 30px;
  bottom: -32px;
  transition: bottom .25s $bezier--ease-in-circ;

  @include breakpoint('medium+') {
    display: block;
  }
}




.o-article__inline-aside {
  @include breakpoint('small') {
    float: left;
    width: colspan(23, small);
    margin-right: colspan(3, small);
    margin-bottom: colspan(3, small);
  }
}

.o-article__inline-aside hr {
  margin-top: 0;
}

.o-ariticle__inline-aside .f-subheading-1 {

}


.o-article__inline-aside .m-listing {
  margin-top: 28px;

  @include breakpoint('medium+') {
    margin-top: 40px;
  }
}





.o-article__header--basic {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  padding-top: .02px;

  @include breakpoint('xlarge+') {
    justify-content: space-between;
    min-height: 180px;
    padding-right: colspan(15, xlarge);
    padding-left: colspan(15, xlarge);
  }

  @include breakpoint('xxlarge') {
    padding-right: colspan(15, xxlarge);
    padding-left: colspan(15, xxlarge);
  }
}

.o-article__header--basic::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}

.o-article__header--basic * {
  flex: 0 0 auto;
  order: 1;
  margin-top: 0;
}

.o-article__header--basic .type {
  order: 0;

  @include breakpoint('xlarge+') {
    position: absolute;
    left: 0;
    top: 12px;
  }
}





.o-article__body {

  // first num is spec, second is the type line height

  & > .f-deck {
    @include tucked-margin-top($f-deck, ('xsmall': 56));
  }

  & > .f-module-title-2 {
    @include tucked-margin-top($f-module-title-2, ('xsmall': 68));
  }

  & > .f-subheading-1 {
    @include tucked-margin-top($f-subheading-1, ('xsmall': 56));
  }


  & > .f-body,
  & > .f-body-editorial {
    @include tucked-margin-top($f-body, ('xsmall': 56));
  }

    & > .f-subheading-1 + .f-body,
    & > .f-subheading-1 + .f-body-editorial {
      margin-top: 0;
    }

    & > .m-media + .f-body,
    & > .m-media + .f-body-editorial,
    & > .quote + .f-body,
    & > .quote + .f-body-editorial {
      @include tucked-margin-top($f-body, ('xsmall': 60));
    }

  .o-accordion,
  .o-gallery,
  .o-row-listing,
  .o-article__inline-aside,
  .m-media,
  .quote,
  .m-link-list {
    clear: both;
    margin-top: 32px;

    @include breakpoint('small+') {
      margin-top: 44px;
    }

    @include breakpoint('medium+') {
      margin-top: 60px;
    }

    & + & {
      margin-top: 24px;

      @include breakpoint('small+') {
        margin-top: 36px;
      }

      @include breakpoint('medium+') {
        margin-top: 48px;
      }
    }
  }

  .o-gallery,
  .m-media--m,
  .m-media--l {
    @include breakpoint('medium+') {
      width: colspan(58, medium);
      margin-right: colspan(20, medium, 0, true);
    }

    @include breakpoint('large+') {
      width: colspan(58, large);
      margin-right: colspan(20, large, 0, true);
    }

    @include breakpoint('xlarge+') {
      width: colspan(58, xlarge);
      margin-left: colspan(15, xlarge, 0, true);
    }

    @include breakpoint('xxlarge') {
      width: colspan(58, xxlarge);
      margin-left: colspan(15, xxlarge, 0, true);
    }
  }

  .m-media--m {
    @include breakpoint('xlarge+') {
      display: flex;
      flex-flow: row-reverse nowrap;
    }
  }

  .m-media--m .m-media__img {
    @include breakpoint('xlarge+') {
      flex: 0 0 auto;
      width: colspan(45, xlarge);
    }

    @include breakpoint('xxlarge') {
      width: colspan(45, xxlarge);
    }
  }

  .m-media--m figcaption {
    @include breakpoint('xlarge+') {
      flex: 0 0 auto;
      width: colspan(13, xlarge);
      padding-right: colspan(2, xlarge);
    }

    @include breakpoint('xxlarge') {
      width: colspan(13, xxlarge);
      padding-right: colspan(2, xxlarge);
    }
  }
}
