.o-application-error {
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;

  @include breakpoint('medium+') {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.o-application-error h2,
.o-application-error p {
  max-width: 515px;
  margin-right: auto;
  margin-left: auto;
}

.o-application-error p {
  margin-top: 20px;

  @include breakpoint('medium+') {
    margin-top: 28px;
  }
}
