

.o-blocks {
  & > .f-deck {
    @include tucked-margin-top($f-deck, ('xsmall': 68));

    &:first-child {
      @include tucked-align-top($f-deck);
    }
  }

  /*****/

  & > h4:not([class*=f-]),
  & > .f-module-title-2 {
    @include tucked-margin-top($f-module-title-2, ('xsmall': 68));

    &:first-child {
      @include tucked-align-top($f-module-title-2);
    }
  }

  & > h4:not([class*=f-]) {
    @extend %f-module-title-2;
  }

  /*****/

  & > h5:not([class*=f-]),
  & > .f-subheading-1 {
    @include tucked-margin-top($f-subheading-1, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-subheading-1);
    }
  }

  & > h5:not([class*=f-]) {
    @extend %f-subheading-1;
  }

  & > .hr + h5:not([class*=f-]),
  & > .hr + .f-subheading-1 {
    @include tucked-margin-top($f-subheading-1, ('xsmall': 36));
  }

  /*****/

  & > .f-list-2 {
    @include tucked-margin-top($f-list-2, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-list-2);
    }
  }

  /*****/

  & > .f-list-3 {
    @include tucked-margin-top($f-list-3, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-list-3);
    }
  }

  /*****/

  & > .f-list-4 {
    @include tucked-margin-top($f-list-4, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-list-4);
    }
  }

  /*****/

  & > .f-list-5 {
    @include tucked-margin-top($f-list-5, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-list-5);
    }
  }

  /*****/

  & > p:not([class*=f-]),
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  & > .f-body {
    @include tucked-margin-top($f-body, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-body);
    }
  }

  & > p:not([class*=f-]),
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) {
    @extend %f-body;
  }

  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) {
    @extend .list;
  }

  /*****/

  .o-article--editorial & > p:not([class*=f-]),
  & > .f-body-editorial {
    @include tucked-margin-top($f-body-editorial, ('xsmall': 56));

    &:first-child {
      @include tucked-align-top($f-body-editorial);
    }
  }

  .o-article--editorial & > p:not([class*=f-]),
  .o-article--editorial & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]),
  .o-article--editorial & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) {
    @extend %f-body-editorial;
  }

  /*****/

  & > small,
  & > .f-secondary {
    @include tucked-margin-top($f-secondary, ('xsmall': 48));

    &:first-child {
      @include tucked-align-top($f-secondary);
    }
  }

  & > small {
    @extend %f-secondary;
  }

  /*****/

  & > h5:not([class*=f-]) + p:not([class*=f-]),
  & > .f-subheading-1 + .f-body,
  & > .f-subheading-1 + .f-body-editorial {
    margin-top: 0;
  }

  & > .m-media + p:not([class*=f-]),
  & > .m-quote + p:not([class*=f-]),
  & > .m-media + .f-body,
  & > .m-media + .f-body-editorial,
  & > .quote + .f-body,
  & > .quote + .f-body-editorial {
    @include tucked-margin-top($f-body, ('xsmall': 60));
  }

  & > p:not([class*=f-]),
  & > h4:not([class*=f-]),
  & > h5:not([class*=f-]),
  & > *[class*=f-] .f-link {
    @include untuck;
  }

  & > p:not([class*=f-]),
  & > .f-deck,
  & > .f-body,
  & > .f-body-editorial {
    padding-right: colspan(2, xsmall);

    @include breakpoint('small+') {
      padding-right: colspan(3, small);
    }

    @include breakpoint('medium+') {
      padding-right: 0;
    }
  }

  /*****/

  .o-blocks__block {
    clear: both;
    margin-top: 32px;

    @include breakpoint('small+') {
      margin-top: 44px;
    }

    @include breakpoint('medium+') {
      margin-top: 60px;
    }
  }

  .o-blocks__block:first-child {
    margin-top: 0;

    @include breakpoint('small+') {
      margin-top: 0;
    }

    @include breakpoint('medium+') {
      margin-top: 0;
    }
  }

  h4:not([class*=f-]) + .o-blocks__block,
  h5:not([class*=f-]) + .o-blocks__block,
  .f-module-title-2 + .o-blocks__block,
  .f-subheading-1 + .o-blocks__block,
  .o-blocks__block + .o-blocks__block {
    margin-top: 24px;

    @include breakpoint('small+') {
      margin-top: 36px;
    }

    @include breakpoint('medium+') {
      margin-top: 48px;
    }
  }

  .o-gallery,
  .m-media--m,
  .m-media--l,
  .m-cta-banner,
  .m-aside-newsletter--wide {
    @include breakpoint('medium+') {
      width: colspan(58, medium);
      margin-right: colspan(20, medium, 0, true);
    }

    @include breakpoint('large+') {
      width: colspan(58, large);
      margin-right: 0;
      margin-left: colspan(15, large, 0, true);
    }

    @include breakpoint('xlarge') {
      width: colspan(58, xlarge);
      margin-left: colspan(15, xlarge, 0, true);
    }
  }

  .m-media--m {
    @include breakpoint('xlarge') {
      display: flex;
      flex-flow: row-reverse nowrap;
    }
  }

  .m-media--m .m-media__img {
    @include breakpoint('xlarge') {
      flex: 0 0 auto;
      width: colspan(43, xlarge);
    }
  }

  .m-media--m figcaption {
    @include breakpoint('xlarge') {
      flex: 0 0 auto;
      width: colspan(15, xlarge);
      padding-right: colspan(2, xlarge);
    }
  }

  .m-inline-aside {
    @include breakpoint('small') {
      float: right;
      clear: both;
      width: colspan(23, small);
      margin-bottom: colspan(3, small);
      margin-left: colspan(3, small);
    }
  }

  & > p:not([class*=f-]) a:not(.btn),
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) a:not(.btn),
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) a:not(.btn),
  & > .f-body a:not(.btn) {
    @include text-underline(1.02em, $color__text--tertiary);
    color: $color__link--accent;
    text-decoration: none;

    &:hover,
    &:focus:hover {
      @include text-underline(1.02em, $color__link--accent);
    }

    &:active:hover {
      @include text-underline(1.02em, $color__rules--secondary);
    }
  }

  .o-article--editorial & > p:not([class*=f-]) a,
  .o-article--editorial & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) a,
  .o-article--editorial & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) a,
  & > .f-body-editorial a {
    @include text-underline(.82em, $color__text--tertiary);
    color: $color__link--editorial;
    text-decoration: none;

    &:hover,
    &:focus:hover {
      @include text-underline(.82em, $color__link--editorial);
    }

    &:active:hover {
      @include text-underline(.82em, $color__rules--secondary);
    }
  }

  & > .f-deck a {
    @include text-underline(.82em, $color__text--tertiary);
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus:hover {
      @include text-underline(.82em, $color__text--secondary);
      color: $color__text;
    }

    &:active:hover {
      color: $color__text;
    }
  }

  & > small a,
  & > .f-secondary a {
    @include text-underline(1.02em, $color__text--tertiary);

    &:hover,
    &:focus:hover {
      @include text-underline(1.02em, $color__text--secondary);
    }

    &:active {
      @include text-underline(1.02em, transparent);
    }
  }

  & > p:not([class*=f-]) sub,
  & > p:not([class*=f-]) sup,
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) sub,
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) sup,
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) sub,
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) sup,
  & > .f-body sub,
  & > .f-body sup,
  & > .f-body-editorial sub,
  & > .f-body-editorial sup {
    font-size: 60%;
  }

  & > p:not([class*=f-]) sub a,
  & > p:not([class*=f-]) sup a,
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) sub a,
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) sup a,
  & > ul:not([class*=f-]):not([class*=o-]):not([class*=m-]) sub a,
  & > ol:not([class*=f-]):not([class*=o-]):not([class*=m-]) sup a,
  & > .f-body sub a,
  & > .f-body sup a,
  & > .f-body-editorial sub a,
  & > .f-body-editorial sup a {
    text-decoration: none;
  }
}
