@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/other";
@use "../setup/mixins/typography" as mixins-typography;
@use "../setup/typography" as setup-typography;

/*****************************/
/*
/* Sort out text spacings
/*
/**/

.o-blocks>.f-deck {
  @include other.tucked-margin-top(setup-typography.$f-deck, ('xsmall': 60, 'small+': 84));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-deck);
  }
}

/*****/

.o-blocks>h2:not([class*='f-']),
.o-blocks>.f-module-title-2 {
  @include other.tucked-margin-top(setup-typography.$f-module-title-2, ('xsmall': 48, 'small+': 68, 'medium+': 80));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-module-title-2);
  }
}

.o-blocks>h2:not([class*='f-']) {
  @extend %f-module-title-2;
}

.o-blocks>.f-deck+h2:not([class*='f-']),
.o-blocks>.f-deck+.f-module-title-2 {
  @include other.tucked-margin-top(setup-typography.$f-module-title-2, ('xsmall': 76));
}

.o-blocks>h4:not([class*='f-']) {
  @extend %f-module-title-4;
}

/*****/

.o-blocks>.f-subheading-1 {
  @include other.tucked-margin-top(setup-typography.$f-subheading-1, ('xsmall': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-subheading-1);
  }
}

.o-blocks>.hr+.f-subheading-1 {
  @include other.tucked-margin-top(setup-typography.$f-subheading-1, ('xsmall': 36));
}

.o-blocks>.f-deck+.f-subheading-1 {
  @include other.tucked-margin-top(setup-typography.$f-subheading-1, ('xsmall': 76));
}

/*****/

.o-blocks>.f-list-2 {
  @include other.tucked-margin-top(setup-typography.$f-list-2, ('xsmall': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-list-2);
  }
}

/*****/

.o-blocks>h3:not([class*='f-']),
.o-blocks>.f-list-3 {
  @include other.tucked-margin-top(setup-typography.$f-list-3, ('xsmall': 56, 'large+': 60, 'xlarge': 72));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-list-3);
  }
}

.o-blocks>h3:not([class*='f-']) {
  @extend %f-list-3;
}

.o-blocks>.hr+h3:not([class*='f-']),
.o-blocks>.hr+.f-list-3 {
  @include other.tucked-margin-top(setup-typography.$f-list-3, ('xsmall': 36));
}

.o-blocks>.f-deck+h3:not([class*='f-']),
.o-blocks>.f-deck+.f-list-3 {
  @include other.tucked-margin-top(setup-typography.$f-list-3, ('xsmall': 76));
}

/*****/

.o-blocks>.f-list-4 {
  @include other.tucked-margin-top(setup-typography.$f-list-4, ('xsmall': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-list-4);
  }
}

/*****/

.o-blocks>.f-list-5 {
  @include other.tucked-margin-top(setup-typography.$f-list-5, ('xsmall': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-list-5);
  }
}

/*****/

.o-blocks>p:not([class*='f-']):not([class*='p-']),
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.f-body {
  @include other.tucked-margin-top(setup-typography.$f-body, ('xsmall': 40, 'small+': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-body);
  }
}

.o-blocks>p:not([class*='f-']):not([class*='p-']),
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) {
  @extend %f-body;
}

.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) {
  @extend .list;
}

.o-blocks>.f-deck+p:not([class*='f-']):not([class*='p-']),
.o-blocks>.f-deck+ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.f-deck+ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.f-deck+.f-body {
  @include other.tucked-margin-top(setup-typography.$f-body, ('xsmall': 76));
}

.o-blocks>.o-blocks__block+p:not([class*='f-']):not([class*='p-']),
.o-blocks>.o-blocks__block+ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block+ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block+.f-body {
  @include other.tucked-margin-top(setup-typography.$f-body, ('xsmall': 32, 'small+': 68));
}

.o-blocks>.o-blocks__block.o-row-listing+p:not([class*='f-']):not([class*='p-']),
.o-blocks>.o-blocks__block.o-row-listing+ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block.o-row-listing+ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block.o-row-listing+.f-body,
.o-blocks>.o-blocks__block.o-grid-listing+p:not([class*='f-']):not([class*='p-']),
.o-blocks>.o-blocks__block.o-grid-listing+ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block.o-grid-listing+ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-blocks>.o-blocks__block.o-grid-listing+.f-body {
  @include other.tucked-margin-top(setup-typography.$f-body, ('xsmall': 40, 'small+': 80));
}

/*****/

.o-article--editorial .o-blocks>p:not([class*='f-']):not([class*='p-']),
.o-blocks>.f-body-editorial,
.o-blocks>p:not([class*='f-']),
.o-blocks>.f-body-editorial {
  @include other.tucked-margin-top(setup-typography.$f-body-editorial, ('xsmall': 40, 'small+': 56));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-body-editorial);
  }
}

.o-article--editorial .o-blocks>p:not([class*='f-']):not([class*='p-']),
.o-article--editorial .o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-article--editorial .o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) {
  @extend %f-body-editorial;
}

.o-article--editorial .o-blocks>.o-blocks__block+p:not([class*='f-']):not([class*='p-']),
.o-article--editorial .o-blocks>.o-blocks__block+ul:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-article--editorial .o-blocks>.o-blocks__block+ol:not([class*='f-']):not([class*='o-']):not([class*='m-']),
.o-article--editorial .o-blocks>.o-blocks__block+.f-body-editorial {
  @include other.tucked-margin-top(setup-typography.$f-body-editorial, ('xsmall': 60));
}

.o-article--editorial .o-blocks.o-article__body>p:not([class*=f-]) .f-dropcap-editorial {
  float: left;
  margin-top: -17px;
  margin-right: 4px;

  @include breakpoint.breakpoint('small+') {
    margin-top: -9px;
  }

  @include breakpoint.breakpoint('large+') {
    margin-top: -34px;
    margin-bottom: -4px;
  }
}

/*****/

.o-blocks>small,
.o-blocks>.f-secondary {
  @include other.tucked-margin-top(setup-typography.$f-secondary, ('xsmall': 40, 'medium+': 52));

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-secondary);
  }
}

.o-blocks>small {
  @extend %f-secondary;
}

/*****/

.o-blocks>.f-caption {
  @include other.tucked-margin-top(setup-typography.$f-caption, ('xsmall': 48));

  & {
    color: colors.$color__text--secondary;
  }

  &:first-child {
    @include other.tucked-align-top(setup-typography.$f-caption);
  }
}

.o-blocks>.f-caption a {
  color: colors.$color__text--secondary;
  text-decoration: none;

  &:hover,
  &:focus:hover,
  &:active:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__rules--secondary);
  }
}

/*****************************/
/*
/* Special text spacings
/*
/**/

.o-blocks>.f-subheading-1+.f-body,
.o-blocks>.f-subheading-1+.f-body-editorial {
  margin-top: 0;
}

.o-blocks>p:not([class*='f-']),
.o-blocks>h2:not([class*='f-']),
.o-blocks>h3:not([class*='f-']),
.o-blocks>*[class*='f-'] .f-link {
  //@include untuck;
}

.o-blocks>h4:not([class*='f-']) {
  margin-top: 28px;
}

.o-blocks>p:not([class*='f-']),
.o-blocks>.f-deck,
.o-blocks>.f-body,
.o-blocks>.f-body-editorial {
  padding-right: grid.colspan(2, xsmall);

  @include breakpoint.breakpoint('small+') {
    padding-right: grid.colspan(3, small);
  }

  @include breakpoint.breakpoint('medium+') {
    padding-right: 0;
  }
}

/*****************************/
/*
/* Basic block spaicng
/*
/**/

.o-blocks {

  .o-blocks__block,
  .hr {
    //clear: left;
    min-width: 100%;
    margin-top: 32px;

    @include breakpoint.breakpoint('small+') {
      margin-top: 44px;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 48px;
    }

    @include breakpoint.breakpoint('large+') {
      margin-top: 60px;
    }
  }

  .o-blocks:not(.m-info-bar) {
    padding-top: 0.02px;
    padding-bottom: 0.02px;
  }

  .o-blocks__block:first-child,
  .o-blocks:first-child,
  .hr:first-child {
    margin-top: 0;

    @include breakpoint.breakpoint('small+') {
      margin-top: 0;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 0;
    }
  }
}

/*****************************/
/*
/* Some blocks have special widths/spacings
/*
/**/

.o-blocks {
  .m-media--m figcaption .f-caption {
    @include breakpoint.breakpoint('large+') {
      @include other.tucked-align-top(setup-typography.$f-caption, 'large');
    }

    @include breakpoint.breakpoint('xlarge') {
      @include other.tucked-align-top(setup-typography.$f-caption, 'xlarge');
    }
  }

  .m-media--m .m-media__share {
    @include breakpoint.breakpoint('large+') {
      display: block;
      position: static;
      margin-top: 24px;
    }
  }
}

.o-blocks.o-blocks--with-sidebar {

  .hr,
  .o-gallery,
  .m-media--m,
  .m-media--l,
  .m-table--l,
  .m-cta-banner,
  .m-mobile-block,
  .m-aside-newsletter--wide,
  .o-grid-block,
  .m-links-bar--nav-bar {
    @include breakpoint.breakpoint('medium+') {
      width: grid.colspan(58, medium);
      margin-right: grid.colspan(20, medium, 0, true);
    }

    @include breakpoint.breakpoint('large+') {
      width: grid.colspan(43, large);
      margin-left: 0;
      margin-right: grid.colspan(15, large, 0, true);
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(33, xlarge);
      margin-right: grid.colspan(15, xlarge, 0, true);
    }
  }

  .o-gallery::before {

    @each $name,
    $point in ('large', 'xlarge') {
      @include breakpoint.breakpoint('#{$name}') {
        left: 0;
        margin-left: grid.colspan(1, $name, 0, true);
      }
    }
  }

  .o-gallery--mosaic .o-gallery__title,
  .o-gallery--mosaic .o-gallery__caption,
  .o-gallery--mosaic .o-gallery__media {
    margin-left: 0;
  }

  .o-gallery--mosaic .o-gallery__media {
    @include breakpoint.breakpoint('large') {
      width: grid.colspan(42, large);

      >* {
        width: grid.colspan(20, large);
      }
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(42, xlarge);

      >* {
        width: grid.colspan(20, xlarge);
      }
    }
  }

  .m-media--m {
    &.o-layered-image-viewer__osd {
      width: 100%;
      flex-flow: column !important;
    }

    @include breakpoint.breakpoint('large+') {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .m-media--m .m-media__img,
  .m-media--m .m-media--3d-embed {
    @include breakpoint.breakpoint('large+') {
      flex: 0 0 auto;
      width: grid.colspan(28, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(28, xlarge);
    }
  }

  .m-media--m {
    &.o-layered-image-viewer__osd {
      figcaption {
        width: 100% !important;
        margin-left: 0 !important;

        &::before {
          display: none;
        }
      }
    }
  }

  .m-media--m figcaption {
    @include breakpoint.breakpoint('large+') {
      flex: 0 0 auto;
      margin-top: 0;
      padding-right: 0;

      width: grid.colspan(13, large);
      margin-left: grid.colspan(2, large);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: grid.colspan(13, large);
        height: 1px;
        background-color: colors.$color__rules--primary;
      }
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(13, xlarge);
      margin-left: grid.colspan(2, xlarge);

      &::before {
        width: grid.colspan(13, xlarge);
      }
    }
  }

  .m-links-bar--nav-bar::before {

    @each $name,
    $point in ('large', 'xlarge') {
      @include breakpoint.breakpoint('#{$name}') {
        left: 0;
        margin-left: grid.colspan(1, $name, 0, true);
      }
    }
  }
}

.o-blocks:not(.o-blocks--with-sidebar) {

  .o-gallery,
  .m-media--m,
  .m-media--l,
  .m-table--l,
  .m-cta-banner,
  .m-mobile-block,
  .m-aside-newsletter--wide,
  .o-grid-block {
    @include breakpoint.breakpoint('medium+') {
      width: grid.colspan(58, medium);
      margin-right: grid.colspan(20, medium, 0, true);
    }

    @include breakpoint.breakpoint('large+') {
      width: grid.colspan(58, large);
      margin-right: 0;
      margin-left: grid.colspan(15, large, 0, true);
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(58, xlarge);
      margin-left: grid.colspan(15, xlarge, 0, true);
    }
  }

  .m-media--m {
    @include breakpoint.breakpoint('large+') {
      display: flex;
      flex-flow: row-reverse nowrap;
    }
  }

  .m-media--m .m-media__img,
  .m-media--m .m-media--3d-embed {
    @include breakpoint.breakpoint('large+') {
      flex: 0 0 auto;
      width: grid.colspan(43, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(43, xlarge);
    }
  }

  .m-media--m figcaption {
    @include breakpoint.breakpoint('large+') {
      flex: 0 0 auto;
      width: grid.colspan(15, large);
      margin-top: 0;
      padding-right: grid.colspan(2, large);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: grid.colspan(13, large);
        height: 1px;
        background-color: colors.$color__rules--primary;
      }
    }

    @include breakpoint.breakpoint('xlarge') {
      width: grid.colspan(15, xlarge);
      padding-right: grid.colspan(2, xlarge);

      &::before {
        width: grid.colspan(13, xlarge);
      }
    }
  }

  .deflist.o-blocks__block {
    margin-top: 32px;

    @include breakpoint.breakpoint('small+') {
      margin-top: 44px;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 48px;
    }
  }

  .deflist.o-blocks__block+.deflist.o-blocks__block {
    margin-top: 16px;

    @include breakpoint.breakpoint('small+') {
      margin-top: 44px;
    }

    @include breakpoint.breakpoint('medium+') {
      margin-top: 48px;
    }

    @include breakpoint.breakpoint('large+') {
      margin-top: 60px;
    }
  }

  .deflist.o-blocks__block+.o-accordion.o-blocks__block {
    @include breakpoint.breakpoint('medium+') {
      margin-top: 74px;
    }
  }

  .m-listing-header+.hr:not(.hr--flush-top) {
    margin-top: 20px;
  }
}

/*****************************/
/*
/* Lets get the links styled in o-blocks__text-block
/*
/**/

.o-blocks>p:not([class*='f-']) a:not(.btn):not(.reset),
.o-blocks>blockquote:not([class*='f-']) a:not(.btn):not(.reset),
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) a:not(.btn),
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) a:not(.btn),
.o-blocks>.f-body a:not(.btn) {
  color: colors.$color__link--accent;
  text-decoration: none;

  &:hover,
  &:focus:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__link--accent);
  }

  &:active:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__rules--secondary);
  }
}

.o-blocks>figure>figcaption>.f-caption-title a,
.o-blocks>figure>figcaption>.f-caption a,
// Work-around for 360 blocks...
.o-blocks>.m-media>figcaption>.f-caption-title a,
.o-blocks>.m-media>figcaption>.f-caption a {

  &:hover,
  &:focus:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__link--accent);
  }

  &:active:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__rules--secondary);
  }
}

.o-article--editorial .o-blocks>p:not([class*='f-']) a,
.o-article--editorial .o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) a,
.o-article--editorial .o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) a,
.o-blocks>.f-body-editorial a {
  @include mixins-typography.text-underline(89%, colors.$color__rules--secondary);

  & {
    color: colors.$color__link--editorial;
    text-decoration: none;
  }

  &:hover,
  &:focus:hover {
    @include mixins-typography.text-underline(89%, colors.$color__link--editorial);
  }

  &:active:hover {
    @include mixins-typography.text-underline(89%, colors.$color__rules--secondary);
  }
}

.o-blocks>.f-deck a {
  @include mixins-typography.text-underline(89%, colors.$color__text--tertiary);

  & {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:focus:hover {
    @include mixins-typography.text-underline(89%, colors.$color__text--secondary);
    color: colors.$color__text;
  }

  &:active:hover {
    color: colors.$color__text;
  }
}

.o-blocks>small a,
.o-blocks>.f-secondary a {
  @include mixins-typography.text-underline(1.02em, colors.$color__text--tertiary);

  &:hover,
  &:focus:hover {
    @include mixins-typography.text-underline(1.02em, colors.$color__text--secondary);
  }

  &:active {
    @include mixins-typography.text-underline(1.02em, transparent);
  }
}

.o-blocks>p:not([class*='f-']) sub,
.o-blocks>p:not([class*='f-']) sup,
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) sub,
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) sup,
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) sub,
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) sup,
.o-blocks>.f-body sub,
.o-blocks>.f-body sup,
.o-blocks>.f-body-editorial sub,
.o-blocks>.f-body-editorial sup {
  font-size: 60%;
}

.o-blocks>p:not([class*='f-']) sub a,
.o-blocks>p:not([class*='f-']) sup a,
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) sub a,
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) sup a,
.o-blocks>ul:not([class*='f-']):not([class*='o-']):not([class*='m-']) sub a,
.o-blocks>ol:not([class*='f-']):not([class*='o-']):not([class*='m-']) sup a,
.o-blocks>.f-body sub a,
.o-blocks>.f-body sup a,
.o-blocks>.f-body-editorial sub a,
.o-blocks>.f-body-editorial sup a {
  text-decoration: none !important;
  background: none !important;

  // PUB-132: Revisit if this needs to be limited to publications
  color: colors.$color__blue !important;

  &:hover,
  &:focus:hover,
  &:active:hover {
    color: colors.$color__blue--hover !important;
  }
}

.o-blocks.o-blocks--bibliographic a {
  word-wrap: break-word;
}
