

.o-collection-filters {
  display: none;
  position: fixed;
  z-index: map-get($zindexs, 'searchFilters');
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 20px 20px 80px;
  border-right: 1px solid $color__rules--primary;
  background: $color__bg;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.o-collection-filters__active-filters {
}

.o-collection-filters__filters {
  margin: 0 -20px;
  padding: 20px;
}

.o-collection-filters__close {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 19px 20px 20px;
  border-top: 1px solid $color__rules--primary;
  border-right: 1px solid $color__rules--primary;
  background: $color__bg;
}
