

.o-collection-filters {
  display: none;
  position: fixed;
  z-index: map-get($zindexs, 'searchFilters');
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  flex-flow: column nowrap;
  border-right: 1px solid $color__rules--primary;
  background: $color__bg;

  @include breakpoint('medium+') {
    position: static;
    width: auto;
    background-color: transparent;
    border-right: 0 none;
  }
}

.o-collection-filters__scroll-area {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint('medium+') {
    flex: 0 0 auto;
    overflow-y: initial;
    -webkit-overflow-scrolling: auto;
  }
}

.o-collection-filters .o-accordion__trigger:not(:first-child) {
  margin-top: 12px;

  @include breakpoint('medium+') {
    margin-top: 16px;
  }
}

.o-collection-filters .o-accordion__trigger:not(:first-child) .icon--arrow {
  @include breakpoint('medium+') {
    margin-top: -16px;
  }
}

.o-collection-filters .o-accordion__trigger.s-inactive:not(:first-child) {
  margin-top: 24px;
}

.o-collection-filters .o-accordion__panel-content {
  padding-bottom: 20px;

  @include breakpoint('medium+') {
    padding-bottom: 32px;
  }
}

.o-collection-filters .dropdown {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.o-collection-filters .dropdown button {
  display: block;
  width: 100%;
}

.o-collection-filters .range-slider {
  @include breakpoint('medium+') {
    margin-top: 8px;
  }
}

.o-collection-filters__filters {
  padding: 20px;

  @include breakpoint('medium+') {
    padding: 0;
  }
}

.o-collection-filters__close {
  flex: 0 0 auto;
  width: 100%;
  padding: 19px 20px 20px;
  border-top: 1px solid $color__rules--primary;
  background: $color__bg;

  @include breakpoint('medium+') {
    display: none;
  }
}

.o-collection-filters .m-active-filters {
  @include breakpoint('medium+') {
    display: none;
  }
}
