// ------ Custom tours viewer

// ---- Custom tours: Landing Page

.aic-ct-landingpage__body {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $color__black--5;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;
    background-color: inherit;
    pointer-events: none;
  }

  .title {
    margin-bottom: 20px;
  }
}

.aic-ct-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('small') {
    grid-template-columns: 100%;
  }

  @include breakpoint('xsmall') {
    grid-template-columns: 100%;
  }

  .aic-ct-grid-card {
    background-color: $color__white;

    .aic-ct-grid-card__details {
      width: 100%;
      margin: auto;
      display: inline-block;

      .aic-ct-grid-card__img {
        aspect-ratio: 16/9;
        height: auto;
        width: 100%;
        margin-bottom: 12px;
      }

      .default-img {
        padding: 0 !important;
      }
    }
  }
}


