body {
  background-color: $color__black--91;
}

.o-digital-explorer {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  min-height: 100vh;
  background: #fff;
  z-index: 1;

  &.kioskMode {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0;
  }
}

#a17:has(.kioskMode) {
  padding: 0 !important;
}
