.o-editors-note {

  .deck--black {
    color: $color__text--title;
  }

  .f-tag {
    margin-bottom: 9px;

    @include breakpoint('small+') {
      margin-bottom: 12px;
    }

    @include breakpoint('medium+') {
      margin-bottom: 16px;
    }

    @include breakpoint('large+') {
      margin-bottom: 20px;
    }

    @include breakpoint('xlarge') {
    }
  }

  .o-editors-note__inner {
    @include breakpoint('small+') {
      display: flex;
      flex: row nowrap;
    }

    .o-editors-note__issue-number {
      float: left;
      margin-right: 8px;

      @include breakpoint('small+') {
        float: none;
        margin-right: colspan(2, 'small');
      }

      @include breakpoint('medium+') {
        margin-right: colspan(2, 'small');
      }

      @include breakpoint('large+') {
        margin-right: colspan(2, 'large');
      }

      @include breakpoint('xlarge') {
        margin-right: colspan(2, 'medium');
      }
    }

    .o-editors-note__title-lockup {
    }
  }
}
