.o-editors-note__inner {
  position: relative;
  margin-top: 24px;
  flex-flow: row wrap;
  display: flex;

  @include breakpoint('medium+') {
    /* display: inline-flex; */
  }
}

.deck--black {
  color: $color__text--title;
  margin-right: 8px;
}

.o-editors-note::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
}
