.o-editors-note {
  *:before, *:after {
    content: none;
  }

  .deck--black {
    color: $color__text--title;
  }

  a .f-deck,
  a .f-body-editorial {
    transition: color .15s;
    color: $color__black--42;
  }

  a:hover .f-deck,
  a:focus .f-deck,
  a:hover .f-body-editorial,
  a:focus .f-body-editorial {
    color: $color__black--61;
  }

  a .icon--arrow {
    color: $color__blue;
  }

  a:hover .icon--arrow,
  a:focus:hover .icon--arrow,
  a:active:hover .icon--arrow {
    color: $color__blue--hover;
  }

  .o-editors-note__tag {
    margin-left: 1px;
    margin-bottom: 9px;

    @include breakpoint('small+') {
      margin-bottom: 12px;
    }

    @include breakpoint('medium+') {
      margin-bottom: 16px;
    }

    @include breakpoint('large+') {
      margin-bottom: 20px;
    }

    @include breakpoint('xlarge') {
    }
  }

  .o-editors-note__inner {
    @include breakpoint('small+') {
      display: flex;
      flex: row nowrap;
    }

    .o-editors-note__title-lockup {
      * {
        display: inline;
      }

      .icon--arrow {
        width: 25px;
        height: 25px;
        vertical-align: text-bottom;

        @include breakpoint('small') {
          width: 28px;
          height: 28px;
        }

        @include breakpoint('medium+') {
          width: 31px;
          height: 31px;
        }
      }
    }
  }
}

.o-editors-note--magazine {
  .o-editors-note__tag {
    color: $color__plum;
  }

  .o-editors-note__author {
    margin-top: 12px;
  }
}
