.o-editors-note {

  .deck--black {
    color: $color__text--title;
  }

  .f-tag {
    margin-bottom: 9px;

    @include breakpoint('small+') {
      margin-bottom: 12px;
    }

    @include breakpoint('medium+') {
      margin-bottom: 16px;
    }

    @include breakpoint('large+') {
      margin-bottom: 20px;
    }

    @include breakpoint('xlarge') {
    }
  }

  .o-editors-note__inner {
    .o-editors-note__issue-number {
      float: left;
      margin-right: 8px;
    }

    .o-editors-note__title-lockup {
    }
  }
}
