

.o-feature-plus-4 {
  display: flex;
  flex-flow: row wrap;
}

.o-feature-plus-4__feature {
  flex: 0 0 auto;
  width: 100%;

  @include breakpoint('medium+') {
    flex-grow: 1;
    width: colspan(38, medium);
  }

  @include breakpoint('large+') {
    width: colspan(28, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(28, xlarge);
  }
}

.o-feature-plus-4__items-1,
.o-feature-plus-4__items-2 {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: 100%;
}

.o-feature-plus-4__items-1 > *,
.o-feature-plus-4__items-2 > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin-top: #{map-get($grid-margin-tops, xsmall)}px;
  padding-top: #{map-get($grid-margin-tops, xsmall)}px;
}

.o-feature-plus-4__items-1 > *::before,
.o-feature-plus-4__items-2 > *::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;
}

@include breakpoint('small') {

  .o-feature-plus-4__items-1 > *,
  .o-feature-plus-4__items-2 > * {
    width: colspan(28, small);
    margin-top: #{map-get($grid-margin-tops, small)}px;
    padding-top: #{map-get($grid-margin-tops, xsmall)}px;
  }

  .o-feature-plus-4__items-1 > *:not(:first-child),
  .o-feature-plus-4__items-2 > *:not(:first-child) {
    margin-left: colspan(2, small);
  }

  .o-feature-plus-4__items-1 > *:first-child::before,
  .o-feature-plus-4__items-2 > *::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: colspan(58, small, 0);
    height: 1px;
    background-color: $color__rules--primary;
    pointer-events: none;
  }

  .o-feature-plus-4__items-2 > *::before {
    width: auto;
    right: 0;
  }

  .o-feature-plus-4__items-1 > *:first-child::after,
  .o-feature-plus-4__items-2 > *:first-child::after {
    content: '';
    position: absolute;
    right: colspan(1, small, 0, true);
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $color__rules--primary;
    pointer-events: none;
  }

  .o-feature-plus-4__items-2 > *:first-child::after {
    top: #{map-get($grid-margin-tops, small) * -1}px;
  }
}


@include breakpoint('medium') {
  .o-feature-plus-4__items-1 {
    width: colspan(18, medium);
    margin-left: colspan(2, medium)
  }

  .o-feature-plus-4__items-1 > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .o-feature-plus-4__items-1 > *:first-child::before {
    content: none;
    display: none;
  }

  .o-feature-plus-4__items-2 {
    width: 100%;
  }

  .o-feature-plus-4__items-2 > * {
    width: colspan(18, medium);
  }

  .o-feature-plus-4__items-2 > *:not(:first-child) {
    margin-left: colspan(2, medium)
  }

  .o-feature-plus-4__items-2 > *:first-child::before {
    right: auto;
    width: colspan(38, medium, 0);
  }
}


@include breakpoint('large') {
  .o-feature-plus-4__items-1,
  .o-feature-plus-4__items-2 {
    width: colspan(13, large);
    margin-left: colspan(2, large)
  }

  .o-feature-plus-4__items-1 > *:first-child,
  .o-feature-plus-4__items-2 > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .o-feature-plus-4__items-1 > *:first-child::before,
  .o-feature-plus-4__items-2 > *:first-child::before {
    content: none;
    display: none;
  }

  .o-feature-plus-4__items-1::after,
  .o-feature-plus-4__items-2::after {
    content: '';
    position: absolute;
    left: colspan(1, large, 0, true);
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $color__rules--primary;
    pointer-events: none;
  }
}

@include breakpoint('xlarge') {
  .o-feature-plus-4__items-1,
  .o-feature-plus-4__items-2 {
    width: colspan(13, xlarge);
    margin-left: colspan(2, xlarge)
  }

  .o-feature-plus-4__items-1 > *:first-child,
  .o-feature-plus-4__items-2 > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .o-feature-plus-4__items-1 > *:first-child::before,
  .o-feature-plus-4__items-2 > *:first-child::before {
    content: none;
    display: none;
  }

  .o-feature-plus-4__items-1::after,
  .o-feature-plus-4__items-2::after {
    content: '';
    position: absolute;
    left: colspan(1, xlarge, 0, true);
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $color__rules--primary;
    pointer-events: none;
  }
}

/***

Following a <hr> or <tag class="hr"></tag>

***/

hr + .o-feature-plus-4,
.hr + .o-feature-plus-4 {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-top: 0;
      padding-top: #{map-get($grid-margin-tops, $name)}px;
    }
  }

  @include breakpoint('large') {
    .o-feature-plus-4__items-1::after,
    .o-feature-plus-4__items-2::after {
      top: #{map-get($grid-margin-tops, 'large') * -1}px;
    }
  }

  @include breakpoint('xlarge') {
    .o-feature-plus-4__items-1::after,
    .o-feature-plus-4__items-2::after {
      top: #{map-get($grid-margin-tops, 'xlarge') * -1}px;
    }
  }
}
