
.o-fullscreen-image {
  display: none;
  position: fixed;
  z-index: map-get($zindexs, 'fullscreenImage');
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  border-radius: $border-radius;
  background-color: $color__black--80;
  overflow: hidden;
  transform: scale(.85);
  opacity: 0;
  transition: opacity .1s, transform .15s $bezier--bounce;
  overflow: hidden;

  @media screen and (min-width: 1280px) and (min-height: 1024px) {
    left: 50%;
    top: 50%;
    width: 1280px - 80px;
    height: 1024px - 80px;
    margin-top: (1024px - 80px)/-2;
    margin-left: (1280px - 80px)/-2;
  }
}

.o-fullscreen-image img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: 50% 50%;
}

.o-fullscreen-image img.s-draggable {
  /* autoprefixer: off */
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.o-fullscreen-image img.s-draggable.s-dragging {
  /* autoprefixer: off */
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}


.o-fullscreen-image__img-actions {
  display: flex;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  flex-flow: row no-wrap;
  justify-content: center;

  @include breakpoint('small+') {
    left: auto;
    right: 32px;
    bottom: 32px;
  }

  .s-dragging ~ & {
    opacity: .5;
    pointer-actions: none;
  }
}

.o-fullscreen-image__img-actions > li {
  flex: 0 0 auto;
}

.o-fullscreen-image__img-actions > li:not(:first-child) {
  margin-left: 1px;
}

.o-fullscreen-image__img-actions > li .btn {
  border-radius: 0;
}

.o-fullscreen-image__img-actions > li:first-child .btn {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.o-fullscreen-image__img-actions > li:last-child .btn {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.o-fullscreen-image__close {
  position: absolute;
  right: 20px;
  top: 20px;

  .s-dragging ~ & {
    opacity: .5;
    pointer-actions: none;
  }

  @include breakpoint('small+') {
    right: 32px;
    top: 32px;
  }
}
