
.o-features {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 0;

  @include breakpoint('small') {
    margin-right: colspan(2, small, 0, true);
    margin-left: colspan(2, small, 0, true);
  }

  @include breakpoint('medium') {
    margin-right: colspan(2, medium, 0, true);
    margin-left: colspan(2, medium, 0, true);
  }

  @include breakpoint('large') {
    margin-right: colspan(2, large, 0, true);
    margin-left: colspan(2, large, 0, true);
  }

  @include breakpoint('xlarge') {
    margin-right: colspan(2, xlarge, 0, true);
    margin-left: colspan(2, xlarge, 0, true);
  }
}

.o-features > * {
  flex: 0 0 auto;
}

.o-features > *:not(.m-listing--hero) {
  width: 100%;
  margin-top: #{map-get($grid-margin-tops, 'xsmall')}px;
  padding-top: colspan(map-get($grid-padding-tops, 'xsmall'), 'xsmall');

  @include breakpoint('xsmall') {
    &:first-child {
      margin-top: 12px;
      padding-top: 30px;
    }
  }

  @include breakpoint('small+') {
    width: colspan(grid-cols-to-colspan(2), 'small');
    margin-top: colspan(2, small);
    margin-left: colspan(2, small);
    padding-top: 0;
  }

  @include breakpoint('medium+') {
    width: colspan(grid-cols-to-colspan(2), 'medium');
    margin-top: colspan(2, medium);
    margin-left: colspan(2, medium);
  }

  @include breakpoint('large+') {
    width: colspan(grid-cols-to-colspan(2), 'large');
    margin-top: colspan(2, large);
    margin-left: colspan(2, large);
  }

  @include breakpoint('xlarge') {
    width: colspan(grid-cols-to-colspan(2), 'xlarge');
    margin-top: colspan(2, xlarge);
    margin-left: colspan(2, xlarge);
  }
}

.o-features > *:not(.m-listing--hero)::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @include breakpoint('small+') {
    content: none;
    display: none;
  }
}

.o-features > .m-listing--hero {
  @include breakpoint('small+') {
    left: 0;
    margin-right: colspan(1, small, 0, true);
    margin-left: colspan(1, small, 0, true);
  }

  @include breakpoint('medium+') {
    margin-right: colspan(1, medium, 0, true);
    margin-left: colspan(1, medium, 0, true);
  }

  @include breakpoint('large+') {
    margin-right: colspan(1, large, 0, true);
    margin-left: colspan(1, large, 0, true);
  }

  @include breakpoint('xlarge') {
    //margin-right: colspan(1, xlarge, 0, true);
    //margin-left: colspan(1, xlarge, 0, true);
    margin-right: 0;
    margin-left: calc(((100vw - #{map-get($main-col-widths, xlarge)}) / -2) + #{colspan(2, xlarge)});
  }
}

.o-features > .m-listing--hero + * {
  padding-top: 0;

  &::before {
    content: none;
    display: none;
  }
}
