
.o-features {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin: 0 -2px;
}

.o-features--full {
  left: 50%;
  width: calc(100vw + 4px);
  margin-left: calc(-50vw - 2px);

  @include breakpoint('xxlarge') {
    width: calc( #{map-get($main-col-widths, xxlarge)} + 84px );
    margin-left: calc( #{map-get($main-col-widths, xxlarge) / -2} - 42px );
  }
}

.o-features > * {
  flex: 0 0 auto;
  width: calc(100% - 4px);
  margin: 0 2px;
}

.o-features > *:not(.o-features__hero) {
  margin-top: 4px;

  @include breakpoint('medium+') {
    width: calc(50% - 4px);
  }
}
