
.o-form {
}


.o-form__actions {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: $blocks-spacings-extra-large;
}

.o-form__actions::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $colors-themes-light-mode-rules-primary;
}

.o-form__action {
  flex: 0 0 auto;
  margin-top: $blocks-spacings-medium-small;
  margin-right: $blocks-spacings-medium-small;
}
