
.o-gallery {
  @include background-fill;
  padding-top: .02px;
  background-color: $color__bg--gallery;
  color: $color__text--contrast;

  @include breakpoint('xlarge+') {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}

.o-gallery__title {
  @include breakpoint('xlarge+') {
    flex: 0 0 auto;
    width: 100%;
  }
}

.o-gallery__caption {
  position: relative;
  margin-top: 32px;

  @include breakpoint('small+') {
    margin-top: 36px;
  }

  @include breakpoint('medium+') {
    margin-top: 40px;
  }

  @include breakpoint('xlarge+') {
    flex: 0 0 auto;
    width: colspan(13, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
  }
}

.o-gallery__media {
  position: relative;
  margin-top: 40px;
  padding-bottom: 84px;

  @include breakpoint('xlarge+') {
    flex: 0 0 auto;
    width: colspan(43, xlarge);
    margin-left: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(43, xxlarge);
    margin-left: colspan(2, xxlarge);
  }
}

.o-gallery__title,
.o-gallery figcaption strong {
  color: $color__text--title-contrast;
}

.o-gallery hr {
  margin-top: 0;
  margin-bottom: -1px;
  border-top-color: $color__rules--contrast;
}

.o-gallery__caption p {
  @include breakpoint('small+') {
    padding-right: colspan(8, small);
  }

  @include breakpoint('medium+') {
    padding-right: colspan(28, medium);
  }

  @include breakpoint('large+') {
    padding-right: colspan(28, large);
  }

  @include breakpoint('xlarge+') {
    padding-right: 0;
  }
}

.o-gallery__share {
  display: block;
  margin-top: 24px;

  @include breakpoint('small+') {
    position: absolute;
    right: 0;
    top: 12px;
    margin-top: 0;
  }

  @include breakpoint('xlarge+') {
    position: static;
    margin-top: 24px;
  }
}


.o-gallery__media .m-media__img {
  background-color: $color__black--93;
}


.o-gallery__title.f-module-title-2 {
  @include tucked-margin-top($f-module-title-2, ('xsmall': 56, 'small+': 68, 'medium+': 80));
}

.o-gallery__caption .f-caption {
  @include tucked-margin-top($f-caption, ('xsmall': 24));
}




.o-gallery--mosaic {

  .o-gallery__media {
    @include breakpoint('small+') {
      padding-bottom: 84px - 48px;
      columns: 2;
      column-gap: colspan(2, small);
      column-fill: balance;

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1px;
        column-span: all;
      }
    }

    @include breakpoint('medium+') {
      column-gap: colspan(2, medium);
    }

    @include breakpoint('large+') {
      column-gap: colspan(2, large);
    }

    @include breakpoint('xlarge+') {
      column-gap: colspan(1, xlarge);
    }

    @include breakpoint('xxlarge') {
      column-gap: colspan(1, xxlarge);
    }
  }


  .o-gallery__media > * {
    margin-top: 48px;

    @include breakpoint('small+') {
      display: block;
      margin-top: 0;
      margin-bottom: 48px;
      column-break-inside: avoid;
    }
  }

  .m-media__img img {
    max-height: calc(#{colspan(58, xsmall)} * 4/3);
    object-fit: contain;

    @include breakpoint('small+') {
      max-height: calc(#{colspan(28, small)} * 4/3);
    }

    @include breakpoint('medium+') {
      max-height: calc(#{colspan(28, medium)} * 4/3);
    }

    @include breakpoint('large+') {
      max-height: calc(#{colspan(28, large)} * 4/3);
    }

    @include breakpoint('xlarge+') {
      max-height: calc(#{colspan(21, xlarge)} * 4/3);
    }

    @include breakpoint('xxlarge') {
      max-height: calc(#{colspan(21, xxlarge)} * 4/3);
    }
  }
}


.o-gallery--slider {

  .o-gallery__media {
    display: flex;
    flex-flow: row nowrap;
    margin-right: colspan(3, xsmall, 0, true);
    margin-left: colspan(3, xsmall, 0, true);
    padding-bottom: 84px;
    padding-left: colspan(2, xsmall);
    overflow-x: auto;
    overflow-y: hidden;
    cursor: ew-resize;
    -ms-overflow-style: none;
    overflow-y: -moz-scrollbars-none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      display: none;
    }

    @include breakpoint('small+') {
      margin-right: colspan(3, small, 0, true);
      margin-left: colspan(3, small, 0, true);
      padding-left: colspan(2, small);
    }

    @include breakpoint('medium+') {
      margin-right: colspan(3, medium, 0, true);
      margin-left: colspan(3, medium, 0, true);
      padding-left: colspan(2, medium);
    }

    @include breakpoint('large+') {
      margin-right: colspan(3, large, 0, true);
      margin-left: colspan(3, large, 0, true);
      padding-left: colspan(2, large);
    }

    @include breakpoint('xlarge+') {
      width: colspan(46, xlarge);
      margin-right: colspan(3, xlarge, 0, true);
      margin-left: colspan(2, xlarge);
      padding-left: 0;
    }

    @include breakpoint('xxlarge') {
      width: calc(#{colspan(43, xxlarge)} + ((100vw - #{map-get($main-col-widths, xxlarge)}) / 2));
      margin-right: calc((100vw - #{map-get($main-col-widths, xxlarge)}) / -2);
      margin-left: colspan(2, xxlarge);
      padding-left: 0;
    }

    &::after {
      content: '';
      display: block;
      flex: 0 0 auto;
      width: colspan(3, xsmall);
      height: 1px;

      @include breakpoint('small+') {
        width: colspan(3, small);
      }

      @include breakpoint('medium+') {
        width: colspan(3, medium);
      }

      @include breakpoint('large+') {
        width: colspan(3, large);
      }

      @include breakpoint('xlarge+') {
        width: colspan(3, xlarge);
      }

      @include breakpoint('xxlarge') {
        width: calc((100vw - #{map-get($main-col-widths, xxlarge)}) / 2);
      }
    }
  }

  .o-gallery__media > * {
    flex: 0 0 auto;
    width: colspan(48, xsmall);
    margin-top: 0;
    margin-left: colspan(2, xsmall);

    @include breakpoint('small+') {
      width: colspan(35, small);
      margin-left: colspan(1, small);
    }

    @include breakpoint('medium+') {
      width: colspan(23, medium);
      margin-left: colspan(1, medium);
    }

    @include breakpoint('large+') {
      width: colspan(23, large);
      margin-left: colspan(1, large);
    }

    @include breakpoint('xlarge+') {
      width: colspan(18, xlarge);
      margin-left: colspan(1, xlarge);

      &:first-child {
        margin-left: 0;
      }
    }

    @include breakpoint('xxlarge') {
      width: colspan(18, xxlarge);
      margin-left: colspan(1, xxlarge);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .m-media__img img {
    height: 400px;
    object-fit: contain;

    @include breakpoint('small+') {
      height: 480px;
    }

    @include breakpoint('medium+') {
      height: 480px;
    }

    @include breakpoint('large+') {
      height: 420px;
    }

    @include breakpoint('xlarge+') {
      height: calc(#{colspan(21, xlarge)} * 4/3);
    }

    @include breakpoint('xxlarge') {
      height: calc(#{colspan(21, xxlarge)} * 4/3);
    }
  }
}
