/***

Basic flexed set up

***/
.o-grid-listing {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 0;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-left: colspan(2, #{$name}, 0, true);
    }
  }
}

.o-grid-listing > * {
  position: relative;
  flex: 0 0 auto;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      width: colspan(58, #{$name});
      @if ($name == 'xsmall') {
        margin-top: colspan(2, #{$name});
      } @else {
        margin-top: colspan(1, #{$name});
      }
      margin-left: colspan(2, #{$name});
    }
  }
}

/***

Variant: `o-listing--keyline-top` - draws a keyline top

***/

.o-grid-listing--keyline-top {
  position: relative;
}

.o-grid-listing--keyline-top::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      left: colspan(2, #{$name});
    }
  }
}

.o-grid-listing--keyline-top.o-grid-listing--gridlines-top::after,
.o-grid-listing--keyline-top.o-grid-listing--gridlines-rows::after {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      @if ($name == 'xsmall') {
        top: colspan(2, #{$name});
      } @else {
        top: colspan(1, #{$name});
      }
    }
  }
}


/***

Variants: `.o-grid-listing--X-col\@XXXXX`

X cols at XXXXX breakpoint

***/

@include breakpoint('small') {
  .o-grid-listing--2-col\@small > * {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }
}

@include breakpoint('medium') {
  .o-grid-listing--2-col\@medium > * {
    width: colspan(grid-cols-to-colspan(2), 'medium');
  }

  .o-grid-listing--3-col\@medium > * {
    width: colspan(grid-cols-to-colspan(3), 'medium');
  }
}

@include breakpoint('large') {
  .o-grid-listing--4-col\@large > * {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }
}

@include breakpoint('xlarge') {
  .o-grid-listing--4-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xlarge');
  }

  .o-grid-listing--5-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(5), 'xlarge');
  }
}

@include breakpoint('xxlarge') {
  .o-grid-listing--4-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xxlarge');
  }

  .o-grid-listing--5-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(5), 'xxlarge');
  }
}



/***

Variants: `.o-grid-listing--gridlines-right` and `o-listing--gridlines-cols`

* `.o-grid-listing--gridlines-right` draws a line the height of the item to the right of the item
* `.o-grid-listing--gridlines-cols` draws a line the height of item plus the space between the items, adjusts item spacing and fixes the first row


***/

// draw some keylines to the right of the items
.o-grid-listing--gridlines-right > *::after,
.o-grid-listing--gridlines-cols > *::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      right: colspan(1, #{$name}, 0, true);
    }
  }
}

.o-grid-listing--keyline-top.o-grid-listing--gridlines-cols:not(.o-grid-listing--gridlines-top) > *::after {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      top: colspan(1, #{$name}, 0, true);
    }
  }
}

// the last item of each row doesn't want a keyline
// cols gridlines need to stretch to reach each other
// so from the 2nd row onwards, needs a negative top spacing
@include breakpoint('small') {
  .o-grid-listing--gridlines-right.o-grid-listing--2-col\@small > *:not(:nth-child(2n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--2-col\@small > *:not(:nth-child(2n))::after {
    display: block;
  }

  .o-grid-listing--gridlines-cols.o-grid-listing--2-col\@small:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(2) ~ *::after {
    top: colspan(1, small, 0, true);
  }
}

@include breakpoint('medium') {
  .o-grid-listing--gridlines-right.o-grid-listing--2-col\@medium > *:not(:nth-child(2n))::after,
  .o-grid-listing--gridlines-right.o-grid-listing--3-col\@medium > *:not(:nth-child(3n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--2-col\@medium > *:not(:nth-child(2n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--3-col\@medium > *:not(:nth-child(3n))::after {
    display: block;
  }

  .o-grid-listing--gridlines-cols.o-grid-listing--2-col\@medium:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(2) ~ *::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--3-col\@medium:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(3) ~ *::after {
    top: colspan(1, medium, 0, true);
  }
}

@include breakpoint('large') {
  .o-grid-listing--gridlines-right.o-grid-listing--4-col\@large > *:not(:nth-child(4n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@large > *:not(:nth-child(4n))::after {
    display: block;
  }

  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@large:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(4) ~ *::after {
    top: colspan(1, large, 0, true);
  }
}

@include breakpoint('xlarge') {
  .o-grid-listing--gridlines-right.o-grid-listing--4-col\@xlarge > *:not(:nth-child(4n))::after,
  .o-grid-listing--gridlines-right.o-grid-listing--5-col\@xlarge > *:not(:nth-child(5n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@xlarge > *:not(:nth-child(4n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--5-col\@xlarge > *:not(:nth-child(5n))::after {
    display: block;
  }

  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@xlarge:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(4) ~ *::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--5-col\@xlarge:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(5) ~ *::after {
    top: colspan(1, xlarge, 0, true);
  }
}

@include breakpoint('xxlarge') {
  .o-grid-listing--gridlines-right.o-grid-listing--4-col\@xxlarge > *:not(:nth-child(4n))::after,
  .o-grid-listing--gridlines-right.o-grid-listing--5-col\@xxlarge > *:not(:nth-child(5n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@xxlarge > *:not(:nth-child(4n))::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--5-col\@xxlarge > *:not(:nth-child(5n))::after {
    display: block;
  }

  .o-grid-listing--gridlines-cols.o-grid-listing--4-col\@xxlarge:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(4) ~ *::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--5-col\@xxlarge:not(.o-grid-listing--gridlines-split-rows) > *:nth-child(5) ~ *::after {
    top: colspan(1, xxlarge, 0, true);
  }
}


/***

Variants: `.o-grid-listing--gridlines-top` and `o-listing--gridlines-rows`

* `.o-grid-listing--gridlines-top` draws a line the width of the item at the top of the item
* `.o-grid-listing--gridlines-rows` draws a line the width of item plus the space between the items, fixes the first and last item of each row


***/

// draws the keylines using a pusedo block, which pushes the content below it down
// spacing done by this psuedo block
.o-grid-listing--gridlines-top > *,
.o-grid-listing--gridlines-rows > *,
.o-grid-listing--gridlines-split-rows > * {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      @if ($name == 'xsmall') {
        padding-top: colspan(2, #{$name});
      } @else {
        padding-top: colspan(1, #{$name});
      }
    }
  }
}

// draw a keyline at the top of each element
.o-grid-listing--gridlines-top > *::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;
}

// start drawing a keyline at the top of the first item in each row
// this keyline will be full width
.o-grid-listing--gridlines-rows > *::before,
.o-grid-listing--gridlines-split-rows > *::before {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      width: colspan(58, #{$name});
    }
  }
}

@include breakpoint('xsmall') {
  .o-grid-listing--gridlines-rows.o-grid-listing--2-col\@small > *::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--2-col\@small > *::before {
    display: block;
  }
}

@include breakpoint('small') {
  .o-grid-listing--gridlines-rows.o-grid-listing--2-col\@small > *:nth-child(2n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--2-col\@small > *:nth-child(2n + 1)::before {
    display: block;
  }
}

@include breakpoint('medium') {
  .o-grid-listing--gridlines-rows.o-grid-listing--2-col\@medium > *:nth-child(2n + 1)::before,
  .o-grid-listing--gridlines-rows.o-grid-listing--3-col\@medium > *:nth-child(3n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--2-col\@medium > *:nth-child(3n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--3-col\@medium > *:nth-child(3n + 1)::before {
    display: block;
  }
}

@include breakpoint('large') {
  .o-grid-listing--gridlines-rows.o-grid-listing--4-col\@large > *:nth-child(4n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--4-col\@large > *:nth-child(4n + 1)::before {
    display: block;
  }
}

@include breakpoint('xlarge') {
  .o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xlarge > *:nth-child(4n + 1)::before,
  .o-grid-listing--gridlines-rows.o-grid-listing--5-col\@xlarge > *:nth-child(5n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--4-col\@xlarge > *:nth-child(4n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--5-col\@xlarge > *:nth-child(5n + 1)::before {
    display: block;
  }
}

@include breakpoint('xxlarge') {
  .o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xxlarge > *:nth-child(4n + 1)::before,
  .o-grid-listing--gridlines-rows.o-grid-listing--5-col\@xxlarge > *:nth-child(5n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--4-col\@xxlarge > *:nth-child(4n + 1)::before,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--5-col\@xxlarge > *:nth-child(5n + 1)::before {
    display: block;
  }

  .o-grid-listing--gridlines-split-rows.o-grid-listing--4-col\@xxlarge > *:nth-child(4) ~ *,
  .o-grid-listing--gridlines-split-rows.o-grid-listing--5-col\@xxlarge > *:nth-child(5) ~ * {
    margin-top: colspan(2, 'xxlarge');
  }
}


// Gridlines in 2 directions need some fixing
// adjust the top position of the vertical gridlines when right hand lines are used with top or rows
.o-grid-listing--gridlines-right.o-grid-listing--gridlines-top > *::after,
.o-grid-listing--gridlines-right.o-grid-listing--gridlines-rows > *::after,
.o-grid-listing--gridlines-right.o-grid-listing--gridlines-split-rows > *::after {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      top: colspan(1, #{$name});
    }
  }
}

// adjust the bottom position of the vertical gridlines when cols lines are used with top or rows
// starts off easy
.o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows > *::after {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      bottom: colspan(1, #{$name}, 0, true);
    }
  }
}

// then you have to select the last row of everything and fix
@include breakpoint('small') {
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--2-col\@small > *:nth-child(2n+1):nth-last-child(-n+2)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--2-col\@small > *:nth-child(2n+1):nth-last-child(-n+2) ~ *::after {
    bottom: 0;
  }
}

@include breakpoint('medium') {
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--2-col\@medium > *:nth-child(2n+1):nth-last-child(-n+2)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--2-col\@medium > *:nth-child(2n+1):nth-last-child(-n+2) ~ *::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--3-col\@medium > *:nth-child(3n+1):nth-last-child(-n+3)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--3-col\@medium > *:nth-child(3n+1):nth-last-child(-n+3) ~ *::after {
    bottom: 0;
  }
}

@include breakpoint('large') {
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@large > *:nth-child(4n+1):nth-last-child(-n+4)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@large > *:nth-child(4n+1):nth-last-child(-n+4) ~ *::after {
    bottom: 0;
  }
}

@include breakpoint('xlarge') {
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xlarge > *:nth-child(4n+1):nth-last-child(-n+4)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xlarge > *:nth-child(4n+1):nth-last-child(-n+4) ~ *::after {
    bottom: 0;
  }
}

@include breakpoint('xxlarge') {
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xxlarge > *:nth-child(4n+1):nth-last-child(-n+4)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--4-col\@xxlarge > *:nth-child(4n+1):nth-last-child(-n+4) ~ *::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--5-col\@xxlarge > *:nth-child(5n+1):nth-last-child(-n+5)::after,
  .o-grid-listing--gridlines-cols.o-grid-listing--gridlines-rows.o-grid-listing--5-col\@xxlarge > *:nth-child(5n+1):nth-last-child(-n+5) ~ *::after {
    bottom: 0;
  }
}

