@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";

.o-hours {
  display: flex;
  position: relative;
  align-items: flex-start;

  margin-top: 12px;

  .o-features + & {
    @include breakpoint.breakpoint('small+') {
      margin-top: grid.colspan(2, small);
    }

    @include breakpoint.breakpoint('medium') {
      margin-top: grid.colspan(2, medium);
    }

    @include breakpoint.breakpoint('large') {
      margin-top: grid.colspan(2, large);
    }

    @include breakpoint.breakpoint('xlarge') {
      margin-top: grid.colspan(2, xlarge);
    }
  }

  .o-hours__clock {
    color: colors.$color__text--title;
    margin-right: 8px;
    margin-top: -2px;
  }

  .o-hours__text {
    > * {
      vertical-align: top;
      margin-right: 8px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .o-hours__status {
      color: colors.$color__text--title;

      &.o-hours__status--desktop {
        display: none;
      }

      @include breakpoint.breakpoint('small+') {
        &.o-hours__status--mobile {
          display: none;
        }

        &.o-hours__status--desktop {
          display: inline;
        }
      }
    }

    .o-hours__hours {
      //
    }
  }

  .dropdown {
    position: initial;

    @include breakpoint.breakpoint('small+') {
      position: relative;
    }
  }

  .dropdown__list {
    margin-top: 12px;

    @include breakpoint.breakpoint('small+') {
      min-width: 290px;
    }
  }

  .o-hours__item {
    padding: 12px 16px;

    .o-hours__item__days {
      color: colors.$color__text--title;
      display: inline-block;
      width: 90px;
    }
  }

  // WEB-2414, WEB-2415: /exhibitions, /collection
  + .m-header-block,
  // WEB-2416, WEB-2417: artwork detail, generic pages
  + .o-article {
    margin-top: 12px;
  }
}
