.o-hours {
  display: flex;
  position: relative;
  align-items: flex-start;

  margin-top: 12px;

  @include breakpoint('small+') {
    margin-top: colspan(2, small);
  }

  @include breakpoint('medium') {
    margin-top: colspan(2, medium);
  }

  @include breakpoint('large') {
    margin-top: colspan(2, large);
  }

  @include breakpoint('xlarge') {
    margin-top: colspan(2, xlarge);
  }

  .o-hours__clock {
    color: $color__text--title;
    margin-right: 8px;
    margin-top: -2px;
  }

  .o-hours__text {
    > * {
      vertical-align: top;
      margin-right: 8px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .o-hours__text__status {
      color: $color__text--title;
    }

    .o-hours__text__hours {
      //
    }
  }
}
