/***

Basic flexed set up

***/
.o-listing {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-top: 0;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-left: colspan(2, #{$name}, 0, true);
    }
  }
}

.o-listing > * {
  position: relative;
  flex: 0 0 auto;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      width: colspan(58, #{$name});
      margin-top: colspan(1, #{$name});
      margin-left: colspan(2, #{$name});
    }
  }
}


/***

Variant: `o-listing--keyline-top` - draws a keyline top

***/

.o-listing--keyline-top {
  position: relative;
}

.o-listing--keyline-top::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      left: colspan(2, #{$name});
    }
  }
}


/***

Variants: `.o-listing--X-col\@XXXXX`

X cols at XXXXX breakpoint

***/

@include breakpoint('small') {
  .o-listing--2-col\@small > * {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }
}

@include breakpoint('medium') {
  .o-listing--2-col\@medium > * {
    width: colspan(grid-cols-to-colspan(2), 'medium');
  }

  .o-listing--3-col\@medium > * {
    width: colspan(grid-cols-to-colspan(3), 'medium');
  }
}

@include breakpoint('large') {
  .o-listing--4-col\@large > * {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }
}

@include breakpoint('xlarge') {
  .o-listing--4-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xlarge');
  }

  .o-listing--5-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(5), 'xlarge');
  }
}

@include breakpoint('xxlarge') {
  .o-listing--4-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xxlarge');
  }

  .o-listing--5-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(5), 'xxlarge');
  }
}



/***

Variants: `.o-listing--gridlines-right` and `o-listing--gridlines-cols`

* `.o-listing--gridlines-right` draws a line the height of the item to the right of the item
* `.o-listing--gridlines-cols` draws a line the height of item plus the space between the items, adjusts item spacing and fixes the first row


***/

// draw some keylines to the right of the items
.o-listing--gridlines-right > *::after,
.o-listing--gridlines-cols > *::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      right: colspan(1, #{$name}, 0, true);
    }
  }
}

// the last item of each row doesn't want a keyline
// cols gridlines need to stretch to reach each other
// so from the 2nd row onwards, needs a negative top spacing
@include breakpoint('small') {
  .o-listing--gridlines-right.o-listing--2-col\@small > *:nth-child(2n)::after,
  .o-listing--gridlines-cols.o-listing--2-col\@small > *:nth-child(2n)::after {
    content: none;
    display: none;
  }

  .o-listing--gridlines-cols.o-listing--2-col\@small > *:nth-child(2) ~ *::after {
    top: colspan(1, small, 0, true);
  }
}

@include breakpoint('medium') {
  .o-listing--gridlines-right.o-listing--2-col\@medium > *:nth-child(2n)::after,
  .o-listing--gridlines-right.o-listing--3-col\@medium > *:nth-child(3n)::after,
  .o-listing--gridlines-cols.o-listing--2-col\@medium > *:nth-child(2n)::after,
  .o-listing--gridlines-cols.o-listing--3-col\@medium > *:nth-child(3n)::after {
    content: none;
    display: none;
  }

  .o-listing--gridlines-cols.o-listing--2-col\@medium > *:nth-child(2) ~ *::after {
    top: colspan(1, medium, 0, true);
  }

  .o-listing--gridlines-cols.o-listing--3-col\@medium > *:nth-child(3) ~ *::after {
    top: colspan(1, medium, 0, true);
  }
}

@include breakpoint('large') {
  .o-listing--gridlines-right.o-listing--4-col\@large > *:nth-child(4n)::after,
  .o-listing--gridlines-cols.o-listing--4-col\@large > *:nth-child(4n)::after {
    content: none;
    display: none;
  }

  .o-listing--gridlines-cols.o-listing--4-col\@large > *:nth-child(4) ~ *::after {
    top: colspan(1, large, 0, true);
  }
}

@include breakpoint('xlarge') {
  .o-listing--gridlines-right.o-listing--4-col\@xlarge > *:nth-child(4n)::after,
  .o-listing--gridlines-right.o-listing--5-col\@xlarge > *:nth-child(5n)::after,
  .o-listing--gridlines-cols.o-listing--4-col\@xlarge > *:nth-child(4n)::after,
  .o-listing--gridlines-cols.o-listing--5-col\@xlarge > *:nth-child(5n)::after {
    content: none;
    display: none;
  }

  .o-listing--gridlines-cols.o-listing--4-col\@xlarge > *:nth-child(4) ~ *::after {
    top: colspan(1, xlarge, 0, true);
  }

  .o-listing--gridlines-cols.o-listing--5-col\@xlarge > *:nth-child(5) ~ *::after {
    top: colspan(1, xlarge, 0, true);
  }
}

@include breakpoint('xxlarge') {
  .o-listing--gridlines-right.o-listing--4-col\@xxlarge > *:nth-child(4n)::after,
  .o-listing--gridlines-right.o-listing--5-col\@xxlarge > *:nth-child(5n)::after,
  .o-listing--gridlines-cols.o-listing--4-col\@xxlarge > *:nth-child(4n)::after,
  .o-listing--gridlines-cols.o-listing--5-col\@xxlarge > *:nth-child(5n)::after {
    content: none;
    display: none;
  }

  .o-listing--gridlines-cols.o-listing--4-col\@xxlarge > *:nth-child(4) ~ *::after {
    top: colspan(1, xxlarge, 0, true);
  }

  .o-listing--gridlines-cols.o-listing--5-col\@xxlarge > *:nth-child(5) ~ *::after {
    top: colspan(1, xxlarge, 0, true);
  }
}


/***

Variants: `.o-listing--gridlines-top` and `o-listing--gridlines-rows`

* `.o-listing--gridlines-top` draws a line the width of the item at the top of the item
* `.o-listing--gridlines-row` draws a line the width of item plus the space between the items, fixes the first and last item of each row


***/

// draws the keylines using a pusedo block, which pushes the content below it down
// spacing done by this psuedo block
.o-listing--gridlines-top > *::before,
.o-listing--gridlines-rows > *::before {
  content: '';
  display: block;
  position: relative;
  left: 0;
  right: 0;
  height: 1px;
  margin-bottom: 19px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-bottom: colspan(1, #{$name}, -1px);
    }
  }
}

// for rows, the block needs to be wider than the item
.o-listing--gridlines-rows > *::before {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-right: colspan(1, #{$name}, 0, true);
      margin-left: colspan(1, #{$name}, 0, true);
    }
  }
}

// but then we need to fix it for the first and last item of each row
@include breakpoint('small') {
  .o-listing--gridlines-rows.o-listing--2-col\@small > *:nth-child(2n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--2-col\@small > *:nth-child(2n)::before {
    margin-right: 0;
  }
}

@include breakpoint('medium') {
  .o-listing--gridlines-rows.o-listing--2-col\@medium > *:nth-child(2n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--2-col\@medium > *:nth-child(2n)::before {
    margin-right: 0;
  }

  .o-listing--gridlines-rows.o-listing--3-col\@medium > *:nth-child(3n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--3-col\@medium > *:nth-child(3n)::before {
    margin-right: 0;
  }
}

@include breakpoint('large') {
  .o-listing--gridlines-rows.o-listing--4-col\@large > *:nth-child(4n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--4-col\@large > *:nth-child(4n)::before {
    margin-right: 0;
  }
}

@include breakpoint('xlarge') {
  .o-listing--gridlines-rows.o-listing--4-col\@xlarge > *:nth-child(4n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--4-col\@xlarge > *:nth-child(4n)::before {
    margin-right: 0;
  }

  .o-listing--gridlines-rows.o-listing--5-col\@xlarge > *:nth-child(5n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--5-col\@xlarge > *:nth-child(5n)::before {
    margin-right: 0;
  }
}

@include breakpoint('xxlarge') {
  .o-listing--gridlines-rows.o-listing--4-col\@xxlarge > *:nth-child(4n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--4-col\@xxlarge > *:nth-child(4n)::before {
    margin-right: 0;
  }

  .o-listing--gridlines-rows.o-listing--5-col\@xxlarge > *:nth-child(5n + 1)::before {
    margin-left: 0;
  }

  .o-listing--gridlines-rows.o-listing--5-col\@xxlarge > *:nth-child(5n)::before {
    margin-right: 0;
  }
}


/***

Variants: `.o-listing--gridlines-right.o-listing--gridlines-top` and `.o-listing--gridlines-right.o-listing--gridlines-rows


***/

.o-listing--gridlines-right.o-listing--gridlines-top > *::after,
.o-listing--gridlines-right.o-listing--gridlines-rows > *::after {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      top: colspan(1, #{$name});
    }
  }
}

