

.o-listing {
  display: flex;
  flex-flow: row wrap;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-left: colspan(2, #{$name}, 0, true);
    }
  }
}

.o-listing--keyline-top {
  position: relative;
}

.o-listing--keyline-top::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules--primary;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      left: colspan(2, #{$name});
    }
  }
}

.o-listing > * {
  position: relative;
  flex: 0 0 auto;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      width: colspan(58, #{$name});
      margin-top: colspan(1, #{$name});
      margin-left: colspan(2, #{$name});
    }
  }
}

.o-listing--gridlines-right::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__bg;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      left: colspan(1, #{$name});
    }
  }
}

.o-listing--gridlines-right > * {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      margin-top: 0;
      padding-top: colspan(1, #{$name});
    }
  }
}

.o-listing--gridlines-right > *::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--primary;
  pointer-events: none;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      left: colspan(1, #{$name}, 0, true);
    }
  }
}


.o-listing--2-col\@small > * {
  @include breakpoint('small') {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }
}

.o-listing--2-col\@small\+ > * {
  @include breakpoint('small') {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }

  @include breakpoint('medium') {
    width: colspan(grid-cols-to-colspan(2), 'medium');
  }

  @include breakpoint('large') {
    width: colspan(grid-cols-to-colspan(2), 'large');
  }

  @include breakpoint('xlarge') {
    width: colspan(grid-cols-to-colspan(2), 'xlarge');
  }

  @include breakpoint('xxlarge') {
    width: colspan(grid-cols-to-colspan(2), 'xxlarge');
  }
}

.o-listing--3-col\@medium > * {
  @include breakpoint('medium') {
    width: colspan(grid-cols-to-colspan(3), 'medium');
  }
}

.o-listing--4-col\@large > * {
  @include breakpoint('large') {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }
}

.o-listing--4-col\@large\+ > * {
  @include breakpoint('large') {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }

  @include breakpoint('xlarge') {
    width: colspan(grid-cols-to-colspan(4), 'xlarge');
  }

  @include breakpoint('xxlarge') {
    width: colspan(grid-cols-to-colspan(4), 'xxlarge');
  }
}

.o-listing--5-col\@xlarge\+ > * {
  @include breakpoint('xlarge') {
    width: colspan(grid-cols-to-colspan(5), 'xlarge');
  }

  @include breakpoint('xxlarge') {
    width: colspan(grid-cols-to-colspan(5), 'xxlarge');
  }
}
