@use 'sass:math';

// ------ My Museum Tour viewer

// ---- My Museum Tour: My Museum Tour utility fonts

.aic-ct-grid-intro,
.m-cta-banner__msg--aic-ct {
  &.f-body {
    @include untuck;
  }
}

.my-museum-tour-header {
  .f-display-2 {
    @include untuck;
  }
}

.aic-ct-grid-card,
.my-museum-tour-header,
.aic-ct-viewer {
  .f-deck {
    @include untuck;
  }
}

.aic-ct-grid-card,
.aic-ct-viewer {
  .f-headline-editorial {
    font-weight: 300;
    @include untuck;
  }
}

.m-cta-banner--aic-ct,
.aic-ct-viewer,
.aic-ct-flash-message {
  .f-headline {
    @include untuck;
  }
}

.aic-ct-viewer,
.aic-ct-flash-message {
  .f-subheading-1,
  .f-secondary,
  .f-body,
  .f-tertiary,
  .f-link,
  .f-body-editorial-emphasis,
  .f-quote {
    @include untuck;
  }
}

.aic-ct-viewer {
  .f-quote {
    font-weight: 300;
    letter-spacing: 0.015em;
  }

  .quote {
    .f-quote:first-child {
      margin-top: 0;
    }
  }

  .f-headline-editorial {
    margin-bottom: 16px;
    font-size: 38px;
    line-height: 44px;
  }

  .f-subheading-1 {
    font-weight: 300;
  }

  .f-deck {
    margin-bottom: 4px;
    color: $color__black--90;
  }

  .f-tertiary {
    color: $color__black--80;
  }

  .f-link {
    color: $color__teal--my-museum-tour;
  }
}

// ---- My Museum Tour: Landing page

.aic-ct-artworks-count-container {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
  gap: 8px;

  .f-module-title-1 {
    font-size: 13px;
    font-weight: 300;
    @include untuck;

    @include breakpoint('small+') {
      font-size: 13px;
    }
  }
}

// -- My Museum Tour: My Museum Tour grid

.o-landingpage__body--aic-ct {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $color__black--5;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;
    background-color: inherit;
    pointer-events: none;
  }

  .title {
    margin-bottom: 20px;
  }
}

.aic-ct-grid-intro {
  margin-bottom: 32px;

  &.f-body {
    margin-top: 0;
  }
}

.aic-ct-grid-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;

  @include breakpoint('medium+') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('large+') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint('xlarge') {
    grid-template-columns: repeat(4, 1fr);
  }
}

.aic-ct-grid-card {
  height: auto;
  background-color: $color__white;

  .aic-ct-grid-card__top {
    position: relative;
    overflow: hidden;
  }

  .aic-ct-grid-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.42) 45%, rgba(0, 0, 0, 0.00) 100%);
  }

  .aic-ct-grid-card__title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    color: $color__white;
  }

  .f-headline-editorial {
    @include breakpoint('small+') {
      font-size: 28px;
      line-height: 1.14;
    }
  }

  .aic-ct-grid-card__img {
    aspect-ratio: 67/40;
    height: auto;
    width: 100%;
  }

  .default-img {
    padding: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='336' height='189' viewBox='0 0 336 189'%3E %3Cstyle type='text/css'%3E 	.st0{fill:%23333333;} 	.st1{fill:%23B7B1A5;} %3C/style%3E %3Crect x='-3' y='-2.5' class='st0' width='342' height='197'/%3E %3Cg%3E 	%3Cpath class='st1' d='M156.7,84.6c0.5-0.4,1-0.9,1.3-1.4c0.9-1.6,2.2-1.7,4.5-1.8c2.7-0.1,5.1-0.1,7.9,0c1.2,0,2.5,0.6,3,1.1 		c0.2,0.3,0.4,0.6,0.6,1c0.1,0.1,0.1,0.2,0.2,0.3c1.2,2,3.6,2,6.2,2c0.7,0,1.5,0,2.2,0c1.2,0.1,2.1,0.4,2.6,0.9 		c0.5,0.6,0.4,1.4,0.4,1.4l0,0.1v17.1c0,0.9-0.2,1.5-0.7,1.9c-0.3,0.2-0.6,0.4-0.9,0.5l1.6,1.3c0.2-0.1,0.4-0.3,0.7-0.5 		c0.9-0.8,1.3-1.9,1.3-3.3v-17c0-0.4,0.1-1.6-0.8-2.8c-0.8-1-2.2-1.6-4-1.6c-0.8,0-1.6,0-2.3,0c-2.5,0-3.9,0-4.5-1.1 		c-0.1-0.1-0.1-0.2-0.2-0.3c-0.2-0.4-0.5-0.8-0.7-1.2c-0.9-1.2-3-1.9-4.5-1.9c-2.8-0.1-5.2-0.1-8,0c-2.2,0.1-4.8,0.1-6.2,2.8 		c-0.3,0.5-0.6,0.8-1.1,1L156.7,84.6z'/%3E 	%3Cpath class='st1' d='M190.5,115.2l-6.4-5.5c0,0,0,0,0,0l-2-1.7h0l-8.5-7.3c0,0,0,0,0,0l-1.5-1.2c0,0,0,0,0,0l-10.3-8.8c0,0,0,0,0,0 		l-1.5-1.2c0,0,0,0,0,0l-4.9-4.2c0,0,0,0,0,0l-1.7-1.5c0,0,0,0,0,0l-13.1-11.1c-0.4-0.3-1-0.3-1.4,0.1c-0.4,0.4-0.3,1,0.1,1.3 		l11.5,9.8h-1.8c-0.4,0-1.9-0.1-3.1,0.7c-0.7,0.5-1.1,1.3-1.2,2.3l0,19.1l0,0.1c0.2,1.3,1.4,3.8,4.3,3.8h32.3l7.9,6.7 		c0.2,0.2,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3C190.9,116.2,190.9,115.6,190.5,115.2z M160.5,92.2l10.3,8.7 		c-1.2,1-2.8,1.6-4.5,1.6c-3.8,0-6.9-3-6.9-6.7C159.4,94.5,159.8,93.2,160.5,92.2z M149.1,108.1c-1.8,0-2.3-1.7-2.4-2.2V87.1 		c0.1-0.4,0.2-0.7,0.5-0.9c0.5-0.4,1.4-0.4,1.7-0.3l0.1,0h3.5c0.2,0,0.4,0,0.6,0l6,5.1c-1,1.4-1.6,3.1-1.6,4.9c0,4.7,4,8.6,8.9,8.6 		c2.3,0,4.4-0.8,5.9-2.2l6.9,5.9H149.1z'/%3E 	%3Cpath class='st1' d='M174.2,99.6c0.6-1.1,0.9-2.4,0.9-3.8c0-4.7-4-8.6-8.9-8.6c-1.8,0-3.5,0.5-4.9,1.4l1.5,1.3 		c1-0.5,2.1-0.9,3.4-0.9c3.8,0,6.9,3,6.9,6.7c0,0.9-0.2,1.7-0.5,2.5L174.2,99.6z'/%3E %3C/g%3E %3C/svg%3E");
  }

  .aic-ct-grid-card__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 272px;
    margin: auto;
    padding: 16px 20px 24px;

    @include breakpoint('large+') {
      min-height: 296px;
    }
  }

  .aic-ct-grid-card__text {
    margin-bottom: 24px;
    flex: 1;
  }

  .f-deck {
    color: $color__black--80;
    font-size: 17px;
    line-height: 1.41;
  }

  .btn {
    width: 100%;
    margin-top: auto;
  }
}

// -- My Museum Tour: My Museum Tour header

.my-museum-tour-header {
  padding-bottom: 32px;

  .m-title-bar {
    margin-top: 12px;
    margin-bottom: 16px;
    padding-top: 24px;
  }

  .f-deck {
    margin-bottom: 24px;
  }
}

.my-museum-tour-header__btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .btn+.btn {
    margin-left: 0;
  }
}

// -- My Museum Tour: My Museum Tour footer

.m-cta-banner--aic-ct {
  margin-top: 0;
  height: auto;
  min-height: 200px;

  // Add full bleed on mobile
  margin-left: -4.6875vw;
  margin-right: -4.6875vw;

  @include breakpoint('medium+') {
    margin: 60px 0 0;
  }

  .f-headline {
    margin-bottom: 20px;
  }

  .m-cta-banner__txt,
  .m-cta-banner__action {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  .m-cta-banner__txt {
    min-height: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 4.6875vw;
    padding-right: 4.6875vw;

    @include breakpoint('medium+') {
      padding-left: colspan(3, medium);
      padding-right: colspan(3, medium);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }

    @include breakpoint('large+') {
      padding-left: colspan(3, large);
      padding-right: colspan(3, large);
    }

    @include breakpoint('xlarge') {
      padding-left: colspan(3, xlarge);
      padding-right: colspan(3, xlarge);
    }
  }

  .m-cta-banner__action {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 200px;

    @include breakpoint('medium+') {
      width: auto;
    }
  }

  .btn--secondary {
    border: 1px solid $color__black;
  }

  .btn--secondary:hover,
  .btn-secondary:focus:hover {
    background-color: $color__black--10;
    border: 1px solid $color__black;
  }

  .m-cta-banner__msg {
    margin-bottom: 20px;

    @include breakpoint('medium+') {
      margin-bottom: 0;
    }
  }
}

.m-cta-banner--aic-ct-bottom {
  margin-bottom: -120px;

  @include breakpoint('medium+') {
    margin-bottom: 0;
  }
}

.m-cta-banner--aic-ct-viewer-container {
  @include breakpoint('large+') {
    // 90.625vw is the width of <main>, colspan(28, large) is the width of .aic-ct-viewer
    margin-left: math.div(-90.625vw, 2) + math.div(colspan(28, large), 2);
    margin-right: math.div(-90.625vw, 2) + math.div(colspan(28, large), 2);
  }

  @include breakpoint('xlarge') {
    // 1500px is the width of <main>, colspan(28, xlarge) is the width of .aic-ct-viewer
    margin-left: math.div(-1500px, 2) + math.div(colspan(28, xlarge), 2);
    margin-right: math.div(-1500px, 2) + math.div(colspan(28, xlarge), 2);
  }
}

.m-cta-banner--aic-ct-viewer-container-completed {
  .m-cta-banner--aic-ct {
    @include breakpoint('medium+') {
      margin-top: 0;
      margin-bottom: 60px;
    }
  }
}

.m-cta-banner--aic-ct__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.42) 11.17%, rgba(0, 0, 0, 0.54) 42.05%);
}

.m-cta-banner--aic-ct-with-image {
  position: relative;
  overflow: visible;
  overflow-y: hidden;

  .m-cta-banner__txt {
    top: 0;
  }

  .m-cta-banner__img {
    top: unset;

    img {
      position: absolute;
      z-index: -1;
      left: unset;
      width: 100vw;
      margin-left: -50vw;
    }
  }

  @include breakpoint('medium+') {
    overflow: hidden;

    .m-cta-banner__img {
      top: -100px;

      img {
        position: static;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.m-cta-banner--aic-ct-no-image {
  background-color: $color__black;
  overflow: visible;

  .m-cta-banner__title,
  .m-cta-banner__msg {
    color: $color__white;
  }

  .btn--quaternary {
    border-color: $color__white;
    background-color: transparent;
  }

  .btn--quaternary:focus:hover,
  .btn--quaternary:hover {
    background-color: $color__black--80;
  }
}

// ---- My Museum Tour: Viewer page
.aic-ct-viewer,
.aic-ct-flash-message {
  &.o-article__body {
    margin-top: 0;
    padding-top: 0;

    @include breakpoint('large+') {
      float: none;
      width: colspan(28, large);
    }

    @include breakpoint('xlarge') {
      width: colspan(28, xlarge);
    }
  }

  .m-article-actions {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.aic-ct-flash-message__text-container {
  padding: 40px 32px 8px;

  .f-headline {
    margin-bottom: 32px;
    font-size: 38px;
    line-height: 1.16;
  }

  .f-body {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.aic-ct-viewer {
  .m-article-header {
    margin-bottom: 28px;
  }

  hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border-color: $color__black--20;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  .quote__icon {
    color: $color__teal--my-museum-tour;
  }
}

.aic-ct-viewer__link-container {
  margin-bottom: 24px;
  padding: 16px;
  background-color: $color__black--5;
}

.aic-ct-quote--large {
  margin-bottom: 24px;

  &.quote.o-blocks__block {
    padding: 16px 16px 53px;
  }

  .f-quote {
    margin-bottom: 16px;
  }
}

.aic-ct-quote--small {
  margin-bottom: 20px;

  &.quote.o-blocks__block {
    padding: 16px;
  }

  cite {
    margin-top: 12px;
  }

  .f-body-editorial-emphasis {
    font-weight: 300;
    letter-spacing: 0;
  }
}

.aic-ct-artworks-list {
  hr {
    width: 100vw;
    // This is to account for the margin on #a17
    margin-left: -4.6875vw;

    @include breakpoint('medium+') {
      width: 100%;
      margin-left: 0;
    }
  }
}

.aic-ct-list-item__artwork-img-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  background-color: $color__black--5;

  img {
    width: auto;
    max-width: 100%;
    max-height: 700px;
  }
}

.aic-ct-viewer__gallery-container {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  gap: 4px;

  .icon--location {
    color: $color__grey--100;
  }
}

.aic-ct-viewer__description.f-tertiary {
  margin-bottom: 20px;
  color: $color__black;
}

.aic-ct-viewer__creator-container {
  span {
    display: block;
  }

  .f-subheading-1 {
    margin-bottom: 16px;
  }
}

.aic-ct-list-item {
  list-style-type: none;
  margin-top: 24px;
  padding-left: 0;

  .f-body {
    margin-bottom: 8px;
  }
}

.aic-ct-viewer__share-container {
  margin: 32px 0;

  .f-headline {
    margin-bottom: 24px;
  }

  .m-article-actions {
    margin: 0;
  }
}
