

.o-pinboard {
  position: relative;
  margin-top: 40px;
  box-shadow: 0 1px 0 $color__rules--primary inset;
}

.o-pinboard::before,
.o-pinboard::after {
  content: '';
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--tertiary;
  pointer-events: none;
}

@each $name, $point in $breakpoints {
  @include breakpoint('#{$name}') {
    .o-pinboard > * {
      margin-top: #{map-get($grid-margin-tops, $name)}px;
    }

    .o-pinboard[class*="col@#{$name}"] {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    .o-pinboard[class*="col@#{$name}"] > * {
      left: 0;
      top: 0;
      flex: 0 0 auto;
      margin-top: #{map-get($grid-margin-tops, $name)}px;
      padding-top: #{map-get($grid-margin-tops, $name) - 1}px;
      border-top: 1px solid $color__rules--primary;
    }

    .o-pinboard[class*="col@#{$name}"] > .s-positioned {
      position: absolute;
      z-index: 1;
      flex: none;
      margin-top: 0;
      transition: top .15s $bezier--ease-out-circ, left .15s $bezier--ease-out-circ, height .15s $bezier--ease-out-circ;
    }
  }
}

@include breakpoint('xsmall') {
  .o-pinboard--2-col\@xsmall::before {
    display: block;
    left: colspan(29, xsmall);
  }

  .o-pinboard--2-col\@xsmall > * {
    width: colspan(grid-cols-to-colspan(2), 'xsmall');
  }
}

@include breakpoint('small') {
  .o-pinboard--2-col\@small::before {
    display: block;
    left: colspan(29, small);
  }

  .o-pinboard--2-col\@small > * {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }
}

@include breakpoint('medium') {
  .o-pinboard--3-col\@medium::before {
    display: block;
    left: colspan(19, medium);
  }

  .o-pinboard--3-col\@medium::after {
    display: block;
    left: colspan(39, medium);
  }

  .o-pinboard--3-col\@medium > * {
    width: colspan(grid-cols-to-colspan(3), 'medium');
  }
}

@include breakpoint('large') {
  .o-pinboard--3-col\@large::before {
    display: block;
    left: colspan(19, large);
  }

  .o-pinboard--3-col\@large::after {
    display: block;
    left: colspan(39, large);
  }

  .o-pinboard--3-col\@large > * {
    width: colspan(grid-cols-to-colspan(3), 'large');
  }

  .o-pinboard--4-col\@large::before {
    display: block;
    left: colspan(14, large);
    width: colspan(15, large);
    border-right: 1px solid $color__rules--tertiary;
    border-left: 1px solid $color__rules--tertiary;
    background: transparent;
  }

  .o-pinboard--4-col\@large::after {
    display: block;
    left: colspan(44, large);
  }

  .o-pinboard--4-col\@large > * {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }
}

@include breakpoint('xlarge') {
  .o-pinboard--3-col\@xlarge::before {
    display: block;
    left: colspan(19, xlarge);
  }

  .o-pinboard--3-col\@xlarge::after {
    display: block;
    left: colspan(39, xlarge);
  }

  .o-pinboard--3-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(3), 'xlarge');
  }

  .o-pinboard--4-col\@xlarge::before {
    display: block;
    left: colspan(14, xlarge);
    width: colspan(15, xlarge);
    border-right: 1px solid $color__rules--tertiary;
    border-left: 1px solid $color__rules--tertiary;
    background: transparent;
  }

  .o-pinboard--4-col\@xlarge::after {
    display: block;
    left: colspan(44, xlarge);
  }

  .o-pinboard--4-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xlarge');
  }
}

@include breakpoint('xxlarge') {
  .o-pinboard--3-col\@xxlarge::before {
    display: block;
    left: colspan(19, xxlarge);
  }

  .o-pinboard--3-col\@xxlarge::after {
    display: block;
    left: colspan(39, xxlarge);
  }

  .o-pinboard--3-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(3), 'xxlarge');
  }

  .o-pinboard--4-col\@xxlarge::before {
    display: block;
    left: colspan(14, xxlarge);
    width: colspan(15, xxlarge);
    border-right: 1px solid $color__rules--tertiary;
    border-left: 1px solid $color__rules--tertiary;
    background: transparent;
  }

  .o-pinboard--4-col\@xxlarge::after {
    display: block;
    left: colspan(44, xxlarge);
  }

  .o-pinboard--4-col\@xxlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xxlarge');
  }
}

