.o-pinboard {
  position: relative;
  margin-top: 20px;
  padding-top: 0.02px;
  box-shadow: 0 1px 0 $color__rules--primary inset;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint('small+') {
    margin-top: 36px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include breakpoint('medium+') {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.m-links-bar + .o-pinboard {
  margin-top: 14px; // 40px from link baseline
}

.m-search-actions + .o-pinboard {
  margin-top: 20px;
}

.o-pinboard::before,
.o-pinboard::after {
  content: '';
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $color__rules--tertiary;
  pointer-events: none;
}

.o-pinboard__footer {
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid $color__rules--primary;

  @include breakpoint('small+') {
    margin-top: 0;
  }
}

@each $name, $point in $breakpoints {
  @include breakpoint('#{$name}') {
    .o-pinboard > * {
      margin-top: #{map-get($grid-margin-tops, $name)}px;
      padding-top: colspan(map-get($grid-padding-tops, $name), #{$name});
    }

    .o-pinboard > *::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: $color__rules--primary;
      pointer-events: none;
    }

    .o-pinboard > *:first-child {
      padding-top: 0;

      &::before {
        content: none;
        display: none;
      }
    }

    .o-pinboard[class*="col@#{$name}"] {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 0;
    }

    .o-pinboard[class*="col@#{$name}"] > * {
      left: 0;
      top: 0;
      flex: 0 0 auto;
      @if ($name == 'xsmall') {
        margin-top: #{map-get($pinboard-grid-margin-tops, $name)}px;
        margin-top: 0;
        padding-top: #{map-get($pinboard-grid-padding-tops, $name)}px;
      } @else {
        margin-top: #{map-get($pinboard-grid-margin-tops, $name)}px;
        padding-top: #{map-get($pinboard-grid-padding-tops, $name) - 1}px;
        border-top: 1px solid $color__rules--primary;
      }
      opacity: 0;
      transition: opacity .25s;

      &::before {
        content: none;
        display: none;
      }
    }

    .o-pinboard[class*="col@#{$name}"] > .s-positioned {
      position: absolute;
      z-index: 1;
      flex: none;
      opacity: 1;
      transition: top .4s $bezier--marius-ease, left .4s $bezier--marius-ease, height .4s $bezier--marius-ease;
    }

    .o-pinboard[class*="col@#{$name}"] > .s-positioned:not(.s-repositioning) {
      margin-top: 0;
    }

    .o-pinboard[class*="col@#{$name}"] > *:nth-child(1) { transition-delay: .1s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(2) { transition-delay: .2s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(3) { transition-delay: .3s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(4) { transition-delay: .4s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(5) { transition-delay: .5s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(6) { transition-delay: .6s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(7) { transition-delay: .7s; }
    .o-pinboard[class*="col@#{$name}"] > *:nth-child(7) ~ * { transition-delay: .8s; }

    .o-pinboard[class*="col@#{$name}"] > .s-positioned.o-pinboard__item.m-listing--variable-height:hover {
      z-index: 2;
    }
  }
}

@include breakpoint('xsmall') {
  .o-pinboard--2-col\@xsmall::before {
    //display: block;
    //left: colspan(29, xsmall);
  }

  .o-pinboard--2-col\@xsmall > * {
    width: colspan(grid-cols-to-colspan(2), 'xsmall');
  }
}

@include breakpoint('small') {
  .o-pinboard--2-col\@small::before {
    //display: block;
    //left: colspan(29, small);
  }

  .o-pinboard--2-col\@small > * {
    width: colspan(grid-cols-to-colspan(2), 'small');
  }
}

@include breakpoint('medium') {
  .o-pinboard--2-col\@medium::before {
    display: block;
    left: colspan(19, medium);
  }

  .o-pinboard--2-col\@medium > * {
    width: colspan(grid-cols-to-colspan(2), 'medium');
  }

  .o-pinboard--3-col\@medium::before {
    display: block;
    left: colspan(19, medium);
  }

  .o-pinboard--3-col\@medium::after {
    display: block;
    left: colspan(39, medium);
  }

  .o-pinboard--3-col\@medium > * {
    width: colspan(grid-cols-to-colspan(3), 'medium');
  }
}

@include breakpoint('large') {
  .o-pinboard--2-col\@large::before {
    display: block;
    left: colspan(19, large);
  }

  .o-pinboard--2-col\@large > * {
    width: colspan(grid-cols-to-colspan(2), 'large');
  }

  .o-pinboard--3-col\@large::before {
    display: block;
    left: colspan(19, large);
  }

  .o-pinboard--3-col\@large::after {
    display: block;
    left: colspan(39, large);
  }

  .o-pinboard--3-col\@large > * {
    width: colspan(grid-cols-to-colspan(3), 'large');
  }

  .o-pinboard--4-col\@large::before {
    display: block;
    left: colspan(14, large);
    width: colspan(15, large);
    border-right: 1px solid $color__rules--tertiary;
    border-left: 1px solid $color__rules--tertiary;
    background: transparent;
  }

  .o-pinboard--4-col\@large::after {
    display: block;
    left: colspan(44, large);
  }

  .o-pinboard--4-col\@large > * {
    width: colspan(grid-cols-to-colspan(4), 'large');
  }
}

@include breakpoint('xlarge') {
  .o-pinboard--3-col\@xlarge::before {
    display: block;
    left: colspan(19, xlarge);
  }

  .o-pinboard--3-col\@xlarge::after {
    display: block;
    left: colspan(39, xlarge);
  }

  .o-pinboard--3-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(3), 'xlarge');
  }

  .o-pinboard--4-col\@xlarge::before {
    display: block;
    left: colspan(14, xlarge);
    width: colspan(15, xlarge);
    border-right: 1px solid $color__rules--tertiary;
    border-left: 1px solid $color__rules--tertiary;
    background: transparent;
  }

  .o-pinboard--4-col\@xlarge::after {
    display: block;
    left: colspan(44, xlarge);
  }

  .o-pinboard--4-col\@xlarge > * {
    width: colspan(grid-cols-to-colspan(4), 'xlarge');
  }
}

