
.o-row-listing {
  margin-top: 0;

  & + & {
    margin-top: 40px;
  }
}

.o-row-listing > * {

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      //margin-top: #{map-get($grid-margin-tops, $name)}px;
      margin-top: colspan(map-get($grid-padding-tops, $name), #{$name});
    }
  }
}

.o-row-listing__no-results {
  margin-top: 20px;
  margin-bottom: 235px;
}

.o-row-listing__no-results .title {
  margin-top: 30px;
}

.o-row-listing__no-results .title + .f-body {
  margin-top: 20px;
}
