@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/variables";

@use "sass:map";

.o-row-listing {
  margin-top: 0;

  & + & {
    margin-top: 40px;
  }
}

.o-row-listing > * {

  @each $name, $point in variables.$breakpoints {
    @include breakpoint.breakpoint('#{$name}') {
      //margin-top: #{map-get($grid-margin-tops, $name)}px;
      margin-top: grid.colspan(map.get(variables.$grid-padding-tops, $name), #{$name});
    }
  }
}
