
.o-search-form {
  position: fixed;
  z-index: map-get($zindexs, 'searchForm');
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 0 20px;
  border-right: 1px solid $color__rules--primary;
  background: $color__bg;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
