
.o-search-results__no-results {
  min-height: 33vh;
  margin-top: 40px;
}

.o-search-results__no-results .title {
  margin-top: 40px;
}

.o-search-results__no-results .title + .f-body {
  margin-top: 20px;
}
