@use "../setup/colors";
@use "../setup/mixins/breakpoint";
@use "../setup/mixins/grid";
@use "../setup/mixins/typography" as mixins-typography;
@use "../setup/typography" as setup-typography;

.o-visit .m-links-bar {
  margin-top: 0;
}

.m-links-bar--title-bar-companion,
.o-visit .o-grid-listing+.m-links-bar--title-bar-companion,
.o-visit .m-link-list+.m-links-bar--title-bar-companion {
  @include breakpoint.breakpoint('xsmall') {
    margin-top: 24px;
  }
}

.o-visit .m-cta-banner {
  margin-top: 0;

  &+* {
    margin-top: 0;
  }

  @include breakpoint.breakpoint('small+') {
    margin-top: 0;

    &+* {
      margin-top: 0;
    }
  }

  @include breakpoint.breakpoint('medium+') {
    margin-top: 0;

    &+* {
      margin-top: 0;
    }
  }

  +.m-title-bar {
    margin-top: 0;
  }
}

.o-visit hr {
  border-top: 1px solid colors.$color__rules--quaternary;
}

.o-visit .m-title-bar {
  margin-top: 52px;

  @include breakpoint.breakpoint('medium+') {
    margin-top: 60px;
  }

  @include breakpoint.breakpoint('large+') {
    margin-top: 72px;
  }
}

.o-visit .m-ticket-actions {
  display: flex;
  flex-flow: column-reverse;

  margin-top: 0;

  @include breakpoint.breakpoint('small+') {
    flex-flow: row-reverse nowrap;
  }
}

.o-visit .m-ticket-actions__action {

  @include breakpoint.breakpoint('small+') {
    flex: 0 0 auto;
    width: grid.colspan(28, small);
    margin-top: 0;
  }

  @include breakpoint.breakpoint('medium+') {
    width: grid.colspan(13, medium);
  }

  @include breakpoint.breakpoint('large+') {
    width: grid.colspan(13, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    width: grid.colspan(13, xlarge);
  }
}

.o-visit .m-ticket-actions__action:first-child {
  margin-top: 12px;

  @include breakpoint.breakpoint('small+') {
    margin-top: 0;
  }
}

.o-visit .m-ticket-actions__action:not(:first-child) {
  @include breakpoint.breakpoint('small+') {
    margin-right: grid.colspan(2, small);
  }

  @include breakpoint.breakpoint('medium+') {
    margin-right: grid.colspan(2, medium);
  }

  @include breakpoint.breakpoint('large+') {
    margin-right: grid.colspan(2, large);
  }

  @include breakpoint.breakpoint('xlarge') {
    margin-right: grid.colspan(2, xlarge);
  }
}

.o-visit .m-link-list {
  margin-top: 24px;

  @include breakpoint.breakpoint('small+') {
    margin-top: 36px;
  }

  @include breakpoint.breakpoint('medium+') {
    margin-top: 40px;
  }

  @include breakpoint.breakpoint('large+') {
    margin-top: 44px;
  }
}

.o-visit .m-link-list__item {
  margin-top: 24px;
  padding-top: 16px;
}

.o-visit .m-link-list__item:first-child {
  margin-top: 0;
}

.o-visit-capacity {
  display: flex;
  flex-direction: column;
  align-items: center;

  @each $name,
  $margin in ('xsmall': 36,
    'small+': 40,
    'medium+': 52,
  ) {
    @include breakpoint.breakpoint('#{$name}') {
      margin-top: #{$margin}px;
    }
  }

  .o-visit-capacity__graph {
    margin-bottom: 24px;

    svg {
      max-width: 100%;
    }
  }

  .o-visit-capacity__text {
    margin-bottom: 24px;
    @include setup-typography.f-secondary;
    @include mixins-typography.untuck;

    h2 {
      @include setup-typography.f-list-3;
      @include mixins-typography.untuck;

      & {
        margin-bottom: 12px;
      }
    }

    a {
      @include mixins-typography.text-underline(1.02em, colors.$color__rules--secondary);
    }
  }

  .o-visit-capacity__actions {
    width: 100%;

    .btn {
      margin-left: 0;

      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }

  @include breakpoint.breakpoint('medium+') {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include breakpoint.breakpoint('medium') {
    .o-visit-capacity__graph {
      width: grid.colspan(24, 'medium');
      padding-right: grid.colspan(2, 'medium');
    }

    .o-visit-capacity__text {
      width: grid.colspan(34, 'medium');
    }
  }

  @include breakpoint.breakpoint('large+') {
    .o-visit-capacity__graph {
      margin-bottom: 0;
    }

    .o-visit-capacity__graph {
      margin-bottom: 0;
    }
  }

  @each $name in ('large', 'xlarge') {
    @include breakpoint.breakpoint('#{$name}') {
      .o-visit-capacity__graph {
        padding-right: grid.colspan(2, $name);
      }

      .o-visit-capacity__text {
        padding-right: grid.colspan(2, $name);
      }

      .o-visit-capacity__actions {
        width: grid.colspan(16, $name);
      }
    }
  }

  @include breakpoint.breakpoint('large') {
    .o-visit-capacity__graph {
      width: grid.colspan(20, 'large');
    }

    .o-visit-capacity__text {
      width: grid.colspan(22, 'large');
    }
  }

  @include breakpoint.breakpoint('xlarge') {
    .o-visit-capacity__graph {
      width: grid.colspan(18, 'xlarge');
    }

    .o-visit-capacity__text {
      width: grid.colspan(24, 'xlarge');
    }
  }
}