
.o-visit .m-links-bar {
  margin-top: 0;
}

.o-visit .m-title-bar {
  margin-top: 52px;

  @include breakpoint('medium+') {
    margin-top: 60px;
  }

  @include breakpoint('large+') {
    margin-top: 72px;
  }
}

.o-visit .m-header-block + .m-title-bar {
  margin-top: 32px;

  @include breakpoint('medium+') {
    margin-top: 52px;
  }

  @include breakpoint('large+') {
    margin-top: 52px;
  }
}

.o-visit .m-ticket-actions {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.o-visit .m-ticket-actions__action {
  flex: 0 0 auto;

  @include breakpoint('small+') {
    width: colspan(28, small);
    margin-top: 0;
  }

  @include breakpoint('medium+') {
    width: colspan(13, medium);
  }

  @include breakpoint('large+') {
    width: colspan(13, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(13, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(13, xxlarge);
  }
}

.o-visit .m-ticket-actions__action:not(:first-child) {
  @include breakpoint('small+') {
    margin-right: colspan(2, small);
  }

  @include breakpoint('medium+') {
    margin-right: colspan(2, medium);
  }

  @include breakpoint('large+') {
    margin-right: colspan(2, large);
  }

  @include breakpoint('xlarge+') {
    margin-right: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    margin-right: colspan(2, xxlarge);
  }
}

.o-visit .m-link-list {
  margin-top: 24px;

  @include breakpoint('small+') {
    margin-top: 36px;
  }

  @include breakpoint('medium+') {
    margin-top: 40px;
  }

  @include breakpoint('large+') {
    margin-top: 44px;
  }
}

.o-visit .m-link-list__item {
  margin-top: 24px;
  padding-top: 16px;
}

.o-visit .m-link-list__item:first-child {
  margin-top: 0;
}
