// Main Color List - try not to use
// reds
$color__red--100: #b50938;
$color__red--110: #a30832;
$color__red--120: #91072d;
$color__red--5: #fbf3f6;
// warm greys
$color__grey--100: #8e847d;
$color__grey--110: #807770;
$color__grey--120: #726a64;
// other
$color__plum: #6f2562;
$color__blue: #083f6e;
$color__blue--hover: #073963;
$color__blue--active: #063258;
$color__cold-white: #f3f6f8;
$color__teal: #008085;
$color__teal--hover: #007378;
$color__teal--active: #00666a;
$color__orange: #c95100;
$color__orange--hover: #b54900;
$color__orange--active: #a14100;
$color__error: #ce2445;

// Colors - Grayscale
$color__black: #000;
$color__black--93: #121212;
$color__black--91: #171717;
$color__black--90: #1a1a1a;
$color__black--89: #1c1c1c;
$color__black--85: #262626;
$color__black--80: #333;
$color__black--75: #404040;
$color__black--72: #474747;
$color__black--61: #636363;
$color__black--60: #666;
$color__black--54: #767676;
$color__black--50: #808080;
$color__black--49: #828282;
$color__black--42: #999;
$color__black--40: #999;
$color__black--35: #a6a6a6;
$color__black--30: #b3b3b3;
$color__black--25: #bfbfbf;
$color__black--22: #c7c7c7;
$color__black--20: #ccc;
$color__black--15: #d9d9d9;
$color__black--10: #e6e6e6;
$color__black--5: #f3f3f3;
$color__black--3-5: #f6f5f4;
$color__black--3: #f8f8f8;
$color__black--2: #fbfbfb;
$color__white: #fff;

// Colors by usage - use these!

/***

Text colors:

<ul class="colors">
  <li><span style="background:#1a1a1a;"></span> `$color__text--title`
  #1a1a1a (90% black)</li>
  <li><span style="background:#333;"></span> `$color__text`
  #333 (80% black)</li>
  <li><span style="background:#767676;"></span> `$color__text--secondary`
  #767676 (54% black)</li>
  <li><span style="background:#999;"></span> `$color__text--contrast`
  #999 (42% black)</li>
  <li><span style="background:#999;"></span> `$color__text--tertiary`
  #999 (42% black)</li>
  <li><span style="background:#fff;"></span> `$color__text--title-contrast`
  #fff (white)</li>
  <li><span style="background:#b3b3b3;"></span> `$color__text--forms`
  #b3b3b3 (30% black)</li>
  <li><span style="background:#ce2445;"></span> `$color__text--error`
  #ce2445 (error)</li>
  <li><span style="background:#b50938;"></span> `$color__text--accent`
  #b50938 (red 100)</li>
  <li><span style="background:#8e847d;"></span> `$color__text--type`
  #8e847d (warm grey 100)</li>
  <li><span style="background:#6f2562;"></span> `$color__text--membership`
  #6f2562 (plum)</li>
  <li><span style="background:#083f6e;"></span> `$color__text--editorial`
  #083f6e (blue)</li>
  <li><span style="background:#008085;"></span> `$color__text--new`
  #008085 (teal)</li>
  <li><span style="background:#c95100;"></span> `$color__text--limited`
  #c95100 (orange)</li>
</ul>

***/
$color__text--title: $color__black--90;
$color__text: $color__black--80;
$color__text--secondary: $color__black--54;
$color__text--tertiary: $color__black--42;
$color__text--contrast: $color__black--42;
$color__text--title-contrast: $color__white;
$color__text--forms: $color__black--30;
$color__text--error: $color__error;
$color__text--accent: $color__red--100;
$color__text--type: $color__grey--100;
$color__text--membership: $color__plum;
$color__text--editorial: $color__blue;
$color__text--new: $color__teal;
$color__text--limited: $color__orange;

/***

Backgrounds:

<ul class="colors">
  <li><span style="background:#fff;"></span> `$color__bg`
  #fff</li>
  <li><span style="background:#f3f3f3;"></span> `$color__bg--primary`
  #f3f3f3 (5% black)</li>
  <li><span style="background:#f8f8f8;"></span> `$color__bg--secondary`
  #f8f8f8 (3% black)</li>
  <li><span style="background:#333;"></span> `$color__bg--footer`
  #333 (80% black)</li>
  <li><span style="background:#1a1a1a;"></span> `$color__bg--gallery`
  #1a1a1a (90% black)</li>
  <li><span style="background:#f3f6f8;"></span> `$color__bg--editorial`
  #f3f6f8 (cold white)</li>
  <li><span style="background:#fbf3f6;"></span> `$color__bg--error`
  #fbf3f6 (red 5)</li>
</ul>

***/
$color__bg: $color__white;
$color__bg--primary: $color__black--5;
$color__bg--secondary: $color__black--3;
$color__bg--footer: $color__black--80;
$color__bg--gallery: $color__black--90;
$color__bg--editorial: $color__cold-white;
$color__bg--error: $color__red--5;

/***

Rules:

<ul class="colors">
  <li><span style="background:#e6e6e6;"></span> `$color__rules--primary`
  #e6e6e6 (10% black)</li>
  <li><span style="background:#ccc;"></span> `$color__rules--secondary`
  #ccc (20% black)</li>
  <li><span style="background:#f3f3f3;"></span> `$color__rules--tertiary`
  #f3f3f3 (5% black)</li>
  <li><span style="background:#404040;"></span> `$color__rules--contrast`
  #404040 (75% black)</li>
  <li><span style="background:#b50938;"></span> `$color__rules--brand`
  #b50938 (red 100)</li>
</ul>

***/
$color__rules--primary: $color__black--10;
$color__rules--secondary: $color__black--20;
$color__rules--tertiary: $color__black--5;
$color__rules--contrast: $color__black--75;
$color__rules--brand: $color__red--100;

/***

Links:

<ul class="colors">
  <li><span style="background:#8e847d;"></span> `$color__link`
  #8e847d (warm grey 100)</li>
  <li><span style="background:#807770;"></span> `$color__link--hover`
  #807770 (warm grey 110)</li>
  <li><span style="background:#726a64;"></span> `$color__link--active`
  #726a64 (warm grey 120)</li>
  <li><span style="background:#b50938;"></span> `$color__link--accent`
  #b50938 (red 100)</li>
  <li><span style="background:#a30832;"></span> `$color__link--accent-hover`
  #a30832 (red 110)</li>
  <li><span style="background:#91072d;"></span> `$color__link--accent--active`
  #91072d (red 120)</li>
  <li><span style="background:#999;"></span> `$color__link--tab`
  #999 (42% black)</li>
  <li><span style="background:#767676;"></span> `$color__link--tab-hover`
  #767676 (54% black)</li>
  <li><span style="background:#1a1a1a;"></span> `$color__link--tab-active`
  #1a1a1a (90% black)</li>
  <li><span style="background:#083f6e;"></span> `$color__link--editorial`
  #083f6e (blue)</li>
  <li><span style="background:#073963;"></span> `$color__link--editorial-hover`
  #073963 (blue hover)</li>
  <li><span style="background:#063258;"></span> `$color__link--editorial-active`
  #063258 (blue active)</li>
  <li><span style="background:#008085;"></span> `$color__link--new`
  #008085 (teal)</li>
  <li><span style="background:#007378;"></span> `$color__link--new-hover`
  #007378 (teal hover)</li>
  <li><span style="background:#00666a;"></span> `$color__link--new-active`
  #00666a (teal active)</li>
  <li><span style="background:#c95100;"></span> `$color__link--limited`
  #c95100 (orange)</li>
  <li><span style="background:#b54900;"></span> `$color__link--limited-hover`
  #b54900 (orange hover)</li>
  <li><span style="background:#a14100;"></span> `$color__link--limited-active`
  #a14100 (orange active)</li>
</ul>

***/
$color__link: $color__grey--100;
$color__link--hover: $color__grey--110;
$color__link--active: $color__grey--120;

$color__link--accent: $color__red--100;
$color__link--accent-hover: $color__red--110;
$color__link--accent-active: $color__red--120;

$color__link--tab: $color__black--42;
$color__link--tab-hover: $color__black--54;
$color__link--tab-active: $color__black--90;

$color__link--editorial: $color__blue;
$color__link--editorial-hover: $color__blue--hover;
$color__link--editorial-active: $color__blue--active;

$color__link--new: $color__teal;
$color__link--new-hover: $color__teal--hover;
$color__link--new-active: $color__teal--active;

$color__link--limited: $color__orange;
$color__link--limited-hover: $color__orange--hover;
$color__link--limited-active: $color__orange--active;


/***

Forms:

<ul class="colors">
  <li><span style="background:#767676;"></span> `$color__input-text`
  #767676 (54% black)</li>
  <li><span style="background:#767676;"></span> `$color__input-text--hover`
  #767676 (54% black)</li>
  <li><span style="background:#1a1a1a;"></span> `$color__input-text--focus`
  #1a1a1a (90% black)</li>
  <li><span style="background:#999;"></span> `$color__input-output`
  #999 (42% black)</li>
  <li><span style="background:#ccc;"></span> `$color__input-border`
  #ccc (20% black)</li>
  <li><span style="background:#b3b3b3;"></span> `$color__input-border--hover
  #b3b3b3 (30% black)</li>
  <li><span style="background:#999;"></span> `$color__input-border--focus`
  #999 (42% black)</li>
  <li><span style="background:#b50938;"></span> `$color__input-border--error`
  #b50938 (red 100)</li>
  <li><span style="background:1a1a1a;"></span> `$color__input-border--checked`
  #1a1a1a (90% black)</li>
</ul>

***/
$color__input-text: $color__black--54;
$color__input-text--hover: $color__black--54;
$color__input-text--focus: $color__black--90;
$color__input-output: $color__black--42;
$color__input-border: $color__black--20;
$color__input-border--hover: $color__black--30;
$color__input-border--focus: $color__black--42;
$color__input-border--error: $color__red--100;
$color__input-border--checked: $color__black--90;
