// Main Color List - try not to use

// Colors by usage - use these!

/***

Text colors:

<ul class="colors">
  <li><span style="background:#1a1a1a;"></span> `var(--colors-themes-light-mode-text-title)`
  #1a1a1a (90% black)</li>
  <li><span style="background:#333;"></span> `var(--colors-themes-light-mode-text-primary)`
  #333 (80% black)</li>
  <li><span style="background:#767676;"></span> `var(--colors-themes-light-mode-text-secondary)`
  #767676 (54% black)</li>
  <li><span style="background:#999;"></span> `var(--colors-themes-light-mode-text-contrast)`
  #999 (42% black)</li>
  <li><span style="background:#999;"></span> `var(--colors-themes-light-mode-text-tertiary)`
  #999 (42% black)</li>
  <li><span style="background:#fff;"></span> `var(--colors-themes-light-mode-text-title-contrast)`
  #fff (white)</li>
  <li><span style="background:#b3b3b3;"></span> `var(--colors-themes-light-mode-text-forms)`
  #b3b3b3 (30% black)</li>
  <li><span style="background:#ce2445;"></span> `var(--colors-themes-light-mode-error-primary)`
  #ce2445 (error)</li>
  <li><span style="background:#b50938;"></span> `var(--colors-themes-light-mode-text-accent)`
  #b50938 (red 100)</li>
  <li><span style="background:#8e847d;"></span> `var(--colors-themes-light-mode-text-type)`
  #8e847d (warm grey 100)</li>
  <li><span style="background:#6f2562;"></span> `var(--colors-themes-membership-text-primary)`
  #6f2562 (plum)</li>
  <li><span style="background:#083f6e;"></span> `var(--colors-themes-editorial-text-primary)`
  #083f6e (blue)</li>
  <li><span style="background:#008085;"></span> `var(--colors-themes-light-mode-link-new-primary)`
  #008085 (teal)</li>
  <li><span style="background:#c95100;"></span> `var(--colors-themes-light-mode-link-limited-primary)`
  #c95100 (orange)</li>
</ul>

***/

/***

Backgrounds:

<ul class="colors">
  <li><span style="background:#fff;"></span> `var(--colors-themes-editorial-background-default)`
  #fff</li>
  <li><span style="background:#f3f3f3;"></span> `var(--colors-themes-light-mode-background-primary)`
  #f3f3f3 (5% black)</li>
  <li><span style="background:#f8f8f8;"></span> `var(--colors-themes-light-mode-background-secondary)`
  #f8f8f8 (3% black)</li>
  <li><span style="background:#767676;"></span> `var(--colors-themes-light-mode-background-tertiary)`
  #767676 (54% black)</li>
  <li><span style="background:#333;"></span> `var(--colors-themes-light-mode-background-footer)`
  #333 (80% black)</li>
  <li><span style="background:#1a1a1a;"></span> `var(--colors-themes-light-mode-background-gallery)`
  #1a1a1a (90% black)</li>
  <li><span style="background:#f3f6f8;"></span> `var(--colors-themes-editorial-background-primary)`
  #f3f6f8 (cold white)</li>
  <li><span style="background:#fbf3f6;"></span> `var(--colors-themes-editorial-background-error)`
  #fbf3f6 (red 5)</li>
</ul>

***/

/***

Rules:

<ul class="colors">
  <li><span style="background:#e6e6e6;"></span> `var(--colors-themes-light-mode-rules-primary)`
  #e6e6e6 (10% black)</li>
  <li><span style="background:#ccc;"></span> `var(--colors-themes-light-mode-rules-secondary)`
  #ccc (20% black)</li>
  <li><span style="background:#f3f3f3;"></span> `var(--colors-themes-light-mode-rules-tertiary)`
  #f3f3f3 (5% black)</li>
  <li><span style="background:#b3b3b3;"></span> `var(--colors-themes-light-mode-rules-quaternary)`
  #b3b3b3 (30% black)</li>
  <li><span style="background:#404040;"></span> `var(--colors-themes-light-mode-rules-contrast)`
  #404040 (75% black)</li>
  <li><span style="background:#b50938;"></span> `var(--colors-themes-light-mode-rules-brand)`
  #b50938 (red 100)</li>
</ul>

***/

/***

Links:

<ul class="colors">
  <li><span style="background:#8e847d;"></span> `var(--colors-themes-light-mode-link-primary)`
  #8e847d (warm grey 100)</li>
  <li><span style="background:#807770;"></span> `var(--colors-themes-light-mode-link-hover)`
  #807770 (warm grey 110)</li>
  <li><span style="background:#726a64;"></span> `var(--colors-themes-light-mode-link-active)`
  #726a64 (warm grey 120)</li>
  <li><span style="background:#b50938;"></span> `var(--colors-themes-light-mode-link-accent-primary)`
  #b50938 (red 100)</li>
  <li><span style="background:#a30832;"></span> `var(--colors-themes-light-mode-link-accent-hover)`
  #a30832 (red 110)</li>
  <li><span style="background:#91072d;"></span> `var(--colors-themes-light-mode-link-accent-primary)--active`
  #91072d (red 120)</li>
  <li><span style="background:#999;"></span> `var(--colors-themes-light-mode-link-tab-primary)`
  #999 (42% black)</li>
  <li><span style="background:#767676;"></span> `var(--colors-themes-light-mode-link-tab-hover)`
  #767676 (54% black)</li>
  <li><span style="background:#1a1a1a;"></span> `var(--colors-themes-light-mode-link-tab-active)`
  #1a1a1a (90% black)</li>
  <li><span style="background:#083f6e;"></span> `var(--colors-themes-light-mode-link-alternative-primary)`
  #083f6e (blue)</li>
  <li><span style="background:#073963;"></span> `var(--colors-themes-light-mode-link-alternative-hover)`
  #073963 (blue hover)</li>
  <li><span style="background:#063258;"></span> `var(--colors-themes-light-mode-link-alternative-active)`
  #063258 (blue active)</li>
  <li><span style="background:#008085;"></span> `var(--colors-themes-light-mode-link-primary)--new`
  #008085 (teal)</li>
  <li><span style="background:#007378;"></span> `var(--colors-themes-light-mode-link-primary)--new-hover`
  #007378 (teal hover)</li>
  <li><span style="background:#00666a;"></span> `var(--colors-themes-light-mode-link-primary)--new-active`
  #00666a (teal active)</li>
  <li><span style="background:#c95100;"></span> `var(--colors-themes-light-mode-link-primary)--limited`
  #c95100 (orange)</li>
  <li><span style="background:#b54900;"></span> `var(--colors-themes-light-mode-link-primary)--limited-hover`
  #b54900 (orange hover)</li>
  <li><span style="background:#a14100;"></span> `var(--colors-themes-light-mode-link-primary)--limited-active`
  #a14100 (orange active)</li>
</ul>

***/

/***

Forms:

<ul class="colors">
  <li><span style="background:#767676;"></span> `var(--colors-themes-light-mode-input-text-primary)`
  #767676 (54% black)</li>
  <li><span style="background:#767676;"></span> `var(--colors-themes-light-mode-input-text-hover)`
  #767676 (54% black)</li>
  <li><span style="background:#1a1a1a;"></span> `var(--colors-themes-light-mode-input-text-focus)`
  #1a1a1a (90% black)</li>
  <li><span style="background:#999;"></span> `var(--colors-themes-light-mode-input-output-primary)`
  #999 (42% black)</li>
  <li><span style="background:#ccc;"></span> `var(--colors-themes-light-mode-input-border-primary)`
  #ccc (20% black)</li>
  <li><span style="background:#999;"></span> `var(--colors-themes-light-mode-input-border-hover)
  #999 (42% black)</li>
  <li><span style="background:#333;"></span> `var(--colors-themes-light-mode-input-border-focus)`
  #333 (80% black)</li>
  <li><span style="background:#b50938;"></span> `var(--colors-themes-light-mode-input-border-error)`
  #b50938 (red 100)</li>
  <li><span style="background:1a1a1a;"></span> `var(--colors-themes-light-mode-input-border-checked)`
  #1a1a1a (90% black)</li>
</ul>

***/

// Themes
