.icon--alert {
	width: 16px;
	height: 16px;
}

.icon--arrow {
	width: 16px;
	height: 16px;
}

.icon--arrow--24 {
	width: 24px;
	height: 24px;
}

.icon--calendar {
	width: 16px;
	height: 16px;
}

.icon--caret {
	width: 16px;
	height: 16px;
}

.icon--check {
	width: 16px;
	height: 16px;
}

.icon--clock {
	width: 16px;
	height: 16px;
}

.icon--close {
	width: 16px;
	height: 16px;
}

.icon--close-circle {
	width: 16px;
	height: 16px;
}

.icon--close-dark {
	width: 16px;
	height: 16px;
}

.icon--download--24 {
	width: 24px;
	height: 24px;
}

.icon--filter--24 {
	width: 24px;
	height: 24px;
}

.icon--info {
	width: 16px;
	height: 16px;
}

.icon--info--24 {
	width: 24px;
	height: 24px;
}

.icon--info--32 {
	width: 32px;
	height: 32px;
}

.icon--info-i {
	width: 16px;
	height: 16px;
}

.icon--location {
	width: 16px;
	height: 16px;
}

.icon--location--24 {
	width: 24px;
	height: 24px;
}

.icon--logo--80 {
	width: 80px;
	height: 80px;
}

.icon--logo--88 {
	width: 88px;
	height: 88px;
}

.icon--logo--92 {
	width: 92px;
	height: 92px;
}

.icon--logo--outline--80 {
	width: 80px;
	height: 80px;
}

.icon--logo--outline--88 {
	width: 88px;
	height: 88px;
}

.icon--logo--outline--92 {
	width: 92px;
	height: 92px;
}

.icon--menu--24 {
	width: 24px;
	height: 24px;
}

.icon--minus {
	width: 16px;
	height: 16px;
}

.icon--minus--24 {
	width: 24px;
	height: 24px;
}

.icon--new-window {
	width: 16px;
	height: 16px;
}

.icon--no-image {
	width: 80px;
	height: 56px;
}

.icon--play--48 {
	width: 48px;
	height: 48px;
}

.icon--play--64 {
	width: 64px;
	height: 64px;
}

.icon--play--96 {
	width: 96px;
	height: 96px;
}

.icon--plus {
	width: 16px;
	height: 16px;
}

.icon--plus--24 {
	width: 24px;
	height: 24px;
}

.icon--print--24 {
	width: 24px;
	height: 24px;
}

.icon--quote--48 {
	width: 48px;
	height: 29px;
}

.icon--quote--68 {
	width: 68px;
	height: 40px;
}

.icon--quote--76 {
	width: 76px;
	height: 44px;
}

.icon--return {
	width: 16px;
	height: 16px;
}

.icon--search--24 {
	width: 24px;
	height: 24px;
}

.icon--share--24 {
	width: 24px;
	height: 24px;
}

.icon--user {
	width: 16px;
	height: 16px;
}

.icon--zoom--24 {
	width: 24px;
	height: 24px;
}

.icon--zoom-in--24 {
	width: 24px;
	height: 24px;
}

.icon--zoom-out--24 {
	width: 24px;
	height: 24px;
}

