/***

Icons
=====

Icons are combined into one SVG as symbols by the Gulp task. This also generates a SCSS file detailing the dimensions of each icon with a corresponding CSS class name. The compiled symbols SVG is XHR'd into the document by the head.js.

Read more about our suggested accessibility approaches [here](https://code.area17.com/a17/fe-boilerplate/wikis/svg-sprite).

Default icon size is 16 x 16 px. If the icon's width/height is larger than this than specify the box size in the file name. Eg:

* `location.svg` is a 16px square SVG
* `location--24.svg` is a 24px square SVG

More variants maybe added later, so anything thats not a 16px square SVG needs a dimension modifier.

```
<div class="sg-icons">
  <svg class="icon--alert">
    <use xlink:href="#icon--alert"></use>
  </svg>
  <svg class="icon--arrow">
    <use xlink:href="#icon--arrow"></use>
  </svg>
  <svg class="icon--arrow--24">
    <use xlink:href="#icon--arrow--24"></use>
  </svg>
  <svg class="icon--audio">
    <use xlink:href="#icon--audio"></use>
  </svg>
  <svg class="icon--calendar">
    <use xlink:href="#icon--calendar"></use>
  </svg>
  <svg class="icon--calendar--24">
    <use xlink:href="#icon--calendar--24"></use>
  </svg>
  <svg class="icon--caution">
    <use xlink:href="#icon--caution"></use>
  </svg>
  <svg class="icon--check">
    <use xlink:href="#icon--check"></use>
  </svg>
  <svg class="icon--circle">
    <use xlink:href="#icon--circle"></use>
  </svg>
  <svg class="icon--citation--24">
    <use xlink:href="#icon--citation--24"></use>
  </svg>
  <svg class="icon--clock">
    <use xlink:href="#icon--clock"></use>
  </svg>
  <svg class="icon--close">
    <use xlink:href="#icon--close"></use>
  </svg>
  <svg class="icon--close--24">
    <use xlink:href="#icon--close--24"></use>
  </svg>
  <svg class="icon--close-circle">
    <use xlink:href="#icon--close-circle"></use>
  </svg>
  <svg class="icon--close-dark">
    <use xlink:href="#icon--close-dark"></use>
  </svg>
  <svg class="icon--closer-look">
    <use xlink:href="#icon--closer-look"></use>
  </svg>
  <svg class="icon--closer_look">
    <use xlink:href="#icon--closer_look"></use>
  </svg>
  <svg class="icon--download--24">
    <use xlink:href="#icon--download--24"></use>
  </svg>
  <svg class="icon--face-coverings">
    <use xlink:href="#icon--face-coverings"></use>
  </svg>
  <svg class="icon--filter--24">
    <use xlink:href="#icon--filter--24"></use>
  </svg>
  <svg class="icon--floor-icon">
    <use xlink:href="#icon--floor-icon"></use>
  </svg>
  <svg class="icon--footer_map_120x92">
    <use xlink:href="#icon--footer_map_120x92"></use>
  </svg>
  <svg class="icon--info">
    <use xlink:href="#icon--info"></use>
  </svg>
  <svg class="icon--info--24">
    <use xlink:href="#icon--info--24"></use>
  </svg>
  <svg class="icon--info--32">
    <use xlink:href="#icon--info--32"></use>
  </svg>
  <svg class="icon--info-i">
    <use xlink:href="#icon--info-i"></use>
  </svg>
  <svg class="icon--journal-logo">
    <use xlink:href="#icon--journal-logo"></use>
  </svg>
  <svg class="icon--location">
    <use xlink:href="#icon--location"></use>
  </svg>
  <svg class="icon--location--24">
    <use xlink:href="#icon--location--24"></use>
  </svg>
  <svg class="icon--logo--80">
    <use xlink:href="#icon--logo--80"></use>
  </svg>
  <svg class="icon--logo--88">
    <use xlink:href="#icon--logo--88"></use>
  </svg>
  <svg class="icon--logo--92">
    <use xlink:href="#icon--logo--92"></use>
  </svg>
  <svg class="icon--logo--outline--80">
    <use xlink:href="#icon--logo--outline--80"></use>
  </svg>
  <svg class="icon--logo--outline--88">
    <use xlink:href="#icon--logo--outline--88"></use>
  </svg>
  <svg class="icon--logo--outline--92">
    <use xlink:href="#icon--logo--outline--92"></use>
  </svg>
  <svg class="icon--magazine-logo">
    <use xlink:href="#icon--magazine-logo"></use>
  </svg>
  <svg class="icon--menu--24">
    <use xlink:href="#icon--menu--24"></use>
  </svg>
  <svg class="icon--minus">
    <use xlink:href="#icon--minus"></use>
  </svg>
  <svg class="icon--minus--24">
    <use xlink:href="#icon--minus--24"></use>
  </svg>
  <svg class="icon--mobile-app">
    <use xlink:href="#icon--mobile-app"></use>
  </svg>
  <svg class="icon--mobile-ticket">
    <use xlink:href="#icon--mobile-ticket"></use>
  </svg>
  <svg class="icon--new-window">
    <use xlink:href="#icon--new-window"></use>
  </svg>
  <svg class="icon--no-checkroom">
    <use xlink:href="#icon--no-checkroom"></use>
  </svg>
  <svg class="icon--no-dining">
    <use xlink:href="#icon--no-dining"></use>
  </svg>
  <svg class="icon--no-image">
    <use xlink:href="#icon--no-image"></use>
  </svg>
  <svg class="icon--pause">
    <use xlink:href="#icon--pause"></use>
  </svg>
  <svg class="icon--pencil">
    <use xlink:href="#icon--pencil"></use>
  </svg>
  <svg class="icon--physical-distancing">
    <use xlink:href="#icon--physical-distancing"></use>
  </svg>
  <svg class="icon--play">
    <use xlink:href="#icon--play"></use>
  </svg>
  <svg class="icon--play--48">
    <use xlink:href="#icon--play--48"></use>
  </svg>
  <svg class="icon--play--64">
    <use xlink:href="#icon--play--64"></use>
  </svg>
  <svg class="icon--play--96">
    <use xlink:href="#icon--play--96"></use>
  </svg>
  <svg class="icon--plus">
    <use xlink:href="#icon--plus"></use>
  </svg>
  <svg class="icon--plus--24">
    <use xlink:href="#icon--plus--24"></use>
  </svg>
  <svg class="icon--print--24">
    <use xlink:href="#icon--print--24"></use>
  </svg>
  <svg class="icon--proof-of-vaccination">
    <use xlink:href="#icon--proof-of-vaccination"></use>
  </svg>
  <svg class="icon--quote--48">
    <use xlink:href="#icon--quote--48"></use>
  </svg>
  <svg class="icon--quote--68">
    <use xlink:href="#icon--quote--68"></use>
  </svg>
  <svg class="icon--quote--76">
    <use xlink:href="#icon--quote--76"></use>
  </svg>
  <svg class="icon--return">
    <use xlink:href="#icon--return"></use>
  </svg>
  <svg class="icon--search--24">
    <use xlink:href="#icon--search--24"></use>
  </svg>
  <svg class="icon--share--24">
    <use xlink:href="#icon--share--24"></use>
  </svg>
  <svg class="icon--showing-symptoms">
    <use xlink:href="#icon--showing-symptoms"></use>
  </svg>
  <svg class="icon--slideshow--24">
    <use xlink:href="#icon--slideshow--24"></use>
  </svg>
  <svg class="icon--tour3d">
    <use xlink:href="#icon--tour3d"></use>
  </svg>
  <svg class="icon--video">
    <use xlink:href="#icon--video"></use>
  </svg>
  <svg class="icon--view-mirador">
    <use xlink:href="#icon--view-mirador"></use>
  </svg>
  <svg class="icon--view360">
    <use xlink:href="#icon--view360"></use>
  </svg>
  <svg class="icon--virtual-queue">
    <use xlink:href="#icon--virtual-queue"></use>
  </svg>
  <svg class="icon--visit-capacity">
    <use xlink:href="#icon--visit-capacity"></use>
  </svg>
  <svg class="icon--visit-capacity-2">
    <use xlink:href="#icon--visit-capacity-2"></use>
  </svg>
  <svg class="icon--zoom--24">
    <use xlink:href="#icon--zoom--24"></use>
  </svg>
  <svg class="icon--zoom-in--24">
    <use xlink:href="#icon--zoom-in--24"></use>
  </svg>
  <svg class="icon--zoom-out--24">
    <use xlink:href="#icon--zoom-out--24"></use>
  </svg>
</div>
```

***/
/***

Individual icon SVG files live in `frontend/icons`. These are typically just exports from Illustrator or Figma, but with one important change:

```
<pre><code>&lt;svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"&gt;
    &lt;path d="M8,1A5,5,0,0,0,3,6c0,3.33,5,9,5,9s5-5.67,5-9A5,5,0,0,0,8,1ZM8,8a2,2,0,1,1,2-2A2,2,0,0,1,8,8Z" fill="#000000"/&gt;
&lt;/svg&gt;</code></pre>
```

***/
/***

Update the colour of any fill/stroke that you want to control with the CSS to `currentColor`:

```
<pre><code>&lt;svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"&gt;
    &lt;path d="M8,1A5,5,0,0,0,3,6c0,3.33,5,9,5,9s5-5.67,5-9A5,5,0,0,0,8,1ZM8,8a2,2,0,1,1,2-2A2,2,0,0,1,8,8Z" fill="currentColor"/&gt;
&lt;/svg&gt;</code></pre>
```

***/
/***

**Icon caching**

The cloud front server caches icons, if you add a new icon, or edit an icon, you may need to:

* open the AWS console
* head to cloudfront for staging or production
* create an invalidation for the icons.svg URL (public/dist/icons/icons.svg)

***/

.icon--alert {
  width: 16px;
  height: 16px;
}

.icon--arrow {
  width: 16px;
  height: 16px;
}

.icon--arrow--24 {
  width: 24px;
  height: 24px;
}

.icon--audio {
  width: 16px;
  height: 16px;
}

.icon--calendar {
  width: 16px;
  height: 16px;
}

.icon--calendar--24 {
  width: 24px;
  height: 24px;
}

.icon--caution {
  width: 200px;
  height: 200px;
}

.icon--check {
  width: 16px;
  height: 16px;
}

.icon--circle {
  width: 16px;
  height: 16px;
}

.icon--citation--24 {
  width: 24px;
  height: 24px;
}

.icon--clock {
  width: 16px;
  height: 16px;
}

.icon--close {
  width: 16px;
  height: 16px;
}

.icon--close--24 {
  width: 24px;
  height: 24px;
}

.icon--close-circle {
  width: 16px;
  height: 16px;
}

.icon--close-dark {
  width: 16px;
  height: 16px;
}

.icon--closer-look {
  width: 34px;
  height: 22px;
}

.icon--closer_look {
  width: 44px;
  height: 44px;
}

.icon--download--24 {
  width: 24px;
  height: 24px;
}

.icon--face-coverings {
  width: 200px;
  height: 200px;
}

.icon--filter--24 {
  width: 24px;
  height: 24px;
}

.icon--floor-icon {
  width: 200px;
  height: 200px;
}

.icon--footer_map_120x92 {
  width: 120px;
  height: 92px;
}

.icon--info {
  width: 16px;
  height: 16px;
}

.icon--info--24 {
  width: 24px;
  height: 24px;
}

.icon--info--32 {
  width: 32px;
  height: 32px;
}

.icon--info-i {
  width: 16px;
  height: 16px;
}

.icon--journal-logo {
  width: 247.8px;
  height: 184.4px;
}

.icon--location {
  width: 16px;
  height: 16px;
}

.icon--location--24 {
  width: 24px;
  height: 24px;
}

.icon--logo--80 {
  width: 80px;
  height: 80px;
}

.icon--logo--88 {
  width: 88px;
  height: 88px;
}

.icon--logo--92 {
  width: 92px;
  height: 92px;
}

.icon--logo--outline--80 {
  width: 80px;
  height: 80px;
}

.icon--logo--outline--88 {
  width: 88px;
  height: 88px;
}

.icon--logo--outline--92 {
  width: 92px;
  height: 92px;
}

.icon--magazine-logo {
  width: 163.2px;
  height: 22px;
}

.icon--menu--24 {
  width: 24px;
  height: 24px;
}

.icon--minus {
  width: 16px;
  height: 16px;
}

.icon--minus--24 {
  width: 24px;
  height: 24px;
}

.icon--mobile-app {
  width: 51.1px;
  height: 56.9px;
}

.icon--mobile-ticket {
  width: 200px;
  height: 200px;
}

.icon--new-window {
  width: 16px;
  height: 16px;
}

.icon--no-checkroom {
  width: 200px;
  height: 200px;
}

.icon--no-dining {
  width: 200px;
  height: 200px;
}

.icon--no-image {
  width: 80px;
  height: 56px;
}

.icon--pause {
  width: 16px;
  height: 16px;
}

.icon--pencil {
  width: 16px;
  height: 16px;
}

.icon--physical-distancing {
  width: 200px;
  height: 200px;
}

.icon--play {
  width: 16px;
  height: 16px;
}

.icon--play--48 {
  width: 48px;
  height: 48px;
}

.icon--play--64 {
  width: 64px;
  height: 64px;
}

.icon--play--96 {
  width: 96px;
  height: 96px;
}

.icon--plus {
  width: 16px;
  height: 16px;
}

.icon--plus--24 {
  width: 24px;
  height: 24px;
}

.icon--print--24 {
  width: 24px;
  height: 24px;
}

.icon--proof-of-vaccination {
  width: 1087.2px;
  height: 696.9px;
}

.icon--quote--48 {
  width: 48px;
  height: 29px;
}

.icon--quote--68 {
  width: 68px;
  height: 40px;
}

.icon--quote--76 {
  width: 76px;
  height: 44px;
}

.icon--return {
  width: 16px;
  height: 16px;
}

.icon--search--24 {
  width: 24px;
  height: 24px;
}

.icon--share--24 {
  width: 24px;
  height: 24px;
}

.icon--showing-symptoms {
  width: 200px;
  height: 200px;
}

.icon--slideshow--24 {
  width: 24px;
  height: 24px;
}

.icon--tour3d {
  width: 24px;
  height: 24px;
}

.icon--video {
  width: 16px;
  height: 16px;
}

.icon--view-mirador {
  width: 24px;
  height: 24px;
}

.icon--view360 {
  width: 24px;
  height: 24px;
}

.icon--virtual-queue {
  width: 200px;
  height: 200px;
}

.icon--visit-capacity {
  width: 385px;
  height: 260px;
}

.icon--visit-capacity-2 {
  width: 385px;
  height: 260px;
}

.icon--zoom--24 {
  width: 24px;
  height: 24px;
}

.icon--zoom-in--24 {
  width: 24px;
  height: 24px;
}

.icon--zoom-out--24 {
  width: 24px;
  height: 24px;
}

