.container,
%container {
  margin-right: auto;
  margin-left: auto;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      @if (map-get($main-col-widths, $name) == 'fluid') {
        width: auto;
        margin-right: map-get($outer-gutters, $name);
        margin-left: map-get($outer-gutters, $name);
      } @else {
        width: map-get($main-col-widths, $name);
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .s-print & {
    width: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

%styled-scrollbars {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 12px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid $color__white;
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: $color__white;
  }
}

%default-focus-style {
  outline-color: Highlight;
  outline-style: solid;
  outline-width: 2px;

  @media (-webkit-min-device-pixel-ratio:0) {
    & {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}
