@use "colors";
@use "mixins/breakpoint";
@use "mixins/other";
@use "variables";

@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:string";

// ####################################################
// Font setup mixins
//
// Use the serif/sans-serif mixins directly in the SCSS do any responsive overwrites
// with within the breakpoint mixin e.g.

/*
$f-h1: (
  font-family: $serif-font,
  font-family-loaded: $serif-font--loaded,
  font-loaded-class: $serif-font-loaded-class,
  settings: (
    'small+': ( default: true, font-size: 28, line-height: 30, font-weight: normal ),
    'medium+': ( font-size: 36, line-height: 40 ),
    'large+': ( font-size: 40, line-height: 45, letter-spacing: -.01em ),
   )
);

@mixin f-h1() {
  @include font-styles($f-h1);
}

%f-h1,
.f-h1 {
  @include f-h1;
}

$f-ui: (
  font-family: $sans-serif-font,
  font-family-loaded: $sans-serif-font--loaded,
  font-loaded-class: $sans-serif-font-loaded-class,
  settings: (
    'small+': ( default: true, font-size: 15, line-height: 20, font-weight: 300, push: 1),
   ),
  tuck-method: 'padding', // <-- swaps to using padding-top/margin-bottom to allow you to align multiple items on one line
);

@mixin f-ui() {
  @include font-styles($f-ui);
}

%f-ui,
.f-ui {
  @include f-ui;
}
*/

@function get-primary-font-name($font) {
  // Check for a font family rather than a single font name
  $font-family-comma-index: string.index("#{$font}", ',');

  @if $font-family-comma-index {
    // Get the primary font from the font family
    $font: string.slice(#{$font}, 0, $font-family-comma-index - 1);
    $font: other.str-replace($font, '"', '');
  }

  @return $font;
}

@function calc-pull($font, $font-size, $line-height, $push) {
  @if map.has-key($cap-heights, $font) {
    // Adjust cap height for this font size
    $cap-height: $font-size * map.get($cap-heights, $font);

    // Check push isn't null
    @if ($push==null) {
      $push: 0;
    }

    // Calc the push/pull
    @return math.round((($line-height - $cap-height) * 0.5) + $push);
  }

  @else {
    @warn "Unknown font `#{$font}` in $cap-heights.";
    @return 0;
  }
}

@function generate-font-obj($obj) {
  $_obj: ();
  $_settings: ();

  @each $key,
  $value in $obj {
    @if ($key !='settings') {
      $_obj: map.merge($_obj, ($key: $value));
    }
  }

  $font-family: map.get($obj, font-family);
  $font-family-loaded: map.get($obj, font-family-loaded);
  $settings: map.get($obj, settings);
  // Work out the font string to use
  $font: if($font-family-loaded, $font-family-loaded, $font-family);
  // Work out the primary font name (used in the cap heights map)
  $font-name: get-primary-font-name($font);

  // Ok if we have settings
  @if $settings {
    // Set some defaults, we we can keep track of changes so tuck calc doesn't get null values
    $font-size: 0;
    $line-height: 0;
    $push: 0;

    @each $breakpoint,
    $font-info in $settings {

      // Set font info for this breakpoint
      @if map.has-key($font-info, font-size) {
        // Conditional here because this can inherit from earlier items in the map so that the tuck calculation can take place
        $font-size: map.get($font-info, font-size);
      }

      @if map.has-key($font-info, line-height) {
        $line-height: map.get($font-info, line-height);
      }

      @if map.has-key($font-info, push) {
        $push: map.get($font-info, push);
      }

      // Calc pull
      $pull: calc-pull($font-name, $font-size, $line-height, $push);
      // Update
      $font-info: map.merge($font-info, (pull: $pull));
      $_settings: map.merge($_settings, (#{$breakpoint}: $font-info));
    }
  }

  //
  $_obj: map.merge($_obj, (settings: $_settings));
  @return $_obj;
}

// This assumes that the font is vertically centered within the box so may require some tweaking
// @see https://codepen.io/13twelve/pen/PJgqBN?editors=0100
@mixin untuck($tuck-method: 'pseudo') {
  @if ($tuck-method==null or $tuck-method=='pseudo') {

    &::before,
    &::after {
      content: none;
    }
  }

  @if ($tuck-method=='padding') {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@mixin tuck($tuck-method: 'pseudo', $pre-tucked: false, $tuck-amount: 0) {
  @if ($tuck-amount==null) {
    $tuck-amount: 0;
  }

  // If the tuck method is using pseudo blocks
  @if ($tuck-method==null or $tuck-method=='pseudo') {

    // Add the psuedo-block if required
    @if ($pre-tucked==false) {

      &::before,
      &::after {
        content: '';
        display: block;
      }
    }

    // Set the push/pull tucks
    &::before {
      padding-top: $tuck-amount * 1px;
    }

    &::after {
      margin-bottom: - $tuck-amount * 1px;
    }
  }

  // If the tuck method is padding-top/margin-bottom
  @if ($tuck-method=='padding') {
    padding-top: $tuck-amount * 1px;
    margin-bottom: - $tuck-amount * 1px;
  }
}

@mixin font-style($font-size: false, $line-height: false, $font-weight: false, $font-style: false, $letter-spacing: false, $text-transform: false, $tuck: false, $pre-tucked: false, $tuck-method: 'pseudo', $push: 0, $tuck-amount: 0) {

  // Set font settings
  @if $font-size {
    & {
      font-size: $font-size * 1px;
    }
  }

  @if $line-height {
    & {
      line-height: $line-height * 1px;
    }
  }

  @if $font-weight {
    & {
      font-weight: $font-weight;
    }
  }

  @if $font-style {
    & {
      font-style: $font-style;
    }
  }

  @if $letter-spacing {
    & {
      letter-spacing: $letter-spacing;
    }
  }

  @if $text-transform {
    & {
      text-transform: $text-transform;
    }
  }

  // Is tuck required?
  @if $font-size and $line-height and $tuck {
    @if ($font-size < 1) {
      @warn "Did you intend to set a font size of 0? Perhaps no font size has been defined in the font info object?";
    }

    @if ($line-height < 1) {
      @warn "Did you intend to set a line-height of 0? Perhaps no line-height has been defined in the font info object?";
    }

    @include tuck($tuck-method, $pre-tucked, $tuck-amount);
  }
}

@mixin font-styles($obj) {
  $font-family: map.get($obj, font-family);
  $font-family-loaded: map.get($obj, font-family-loaded);
  $font-loaded-class: map.get($obj, font-loaded-class);
  $settings: map.get($obj, settings);

  // Set base font family
  @if $font-family {
    font-family: $font-family;
  }

  @else {
    @warn "No fall back font family specified.";
  }

  // Set font family when font loaded class, if exists
  @if $font-family-loaded and $font-loaded-class {
    .#{$font-loaded-class} & {
      font-family: $font-family-loaded;
    }
  }

  // Set the various font info per breakpoint
  @if $settings and $font-family {
    $font-size: 0;
    $line-height: 0;
    $untuck: false;
    $tuck-method: null;

    // Loop the breakpoints in the setttings
    @each $breakpoint,
    $font-info in $settings {

      // Check this is a valid breakpoint
      @if map.has-key(breakpoint.$breakpoints-with-directions, $breakpoint) {

        // Get font info for this breakpoint
        @if map.has-key($font-info, font-size) {
          // Conditional here because this can inherit from earlier items in the map so that the tuck calculation can take place
          $font-size: map.get($font-info, font-size);
        }

        @if map.has-key($font-info, line-height) {
          $line-height: map.get($font-info, line-height);
        }

        $font-weight: map.get($font-info, font-weight);
        $font-style: map.get($font-info, font-style);
        $letter-spacing: map.get($font-info, letter-spacing);
        $text-transform: map.get($font-info, text-transform);
        $push: map.get($font-info, push);
        $tuck-amount: map.get($font-info, pull);

        @if map.has-key($font-info, tuck-method) {
          // Check if the new tuck method differs from the last
          $untuck: if(($tuck-method and $tuck-method !=map.get($font-info, tuck-method)), $tuck-method, false);
          // Set the new tuck method
          $tuck-method: map.get($font-info, tuck-method);
        }

        @else {
          // Set old tuck method or default if no old tuck method
          $tuck-method: if($tuck-method, $tuck-method, 'pseudo');
        }

        // Check if this is the smallest breakpoint (the default font setting)
        @if (list.index(map.keys($settings), $breakpoint)==1) {
          @include font-style($font-size, $line-height, $font-weight, $font-style, $letter-spacing, $text-transform, true, false, $tuck-method, $push, $tuck-amount);
        }

        @else {
          @include breakpoint.breakpoint(#{$breakpoint}) {
            $pre-tucked: true;

            @if $untuck {
              @include untuck($untuck);
              $pre-tucked: false;
            }

            @include font-style($font-size, $line-height, $font-weight, $font-style, $letter-spacing, $text-transform, true, $pre-tucked, $tuck-method, $push, $tuck-amount);
          }
        }
      }

      @else {
        @warn "Setting font info to unknown breakpoint: `#{$breakpoint}`";
      }
    }
  }

  @else {
    @warn "No font settings specified.";
  }
}

// WEB-1034: Attempting to clean up this vertical grid. Use this instead of font-styles to get rid of pseudo-elements.
@mixin font-styles-untuck($obj) {
  $font-family: map.get($obj, font-family);
  $font-family-loaded: map.get($obj, font-family-loaded);
  $font-loaded-class: map.get($obj, font-loaded-class);
  $settings: map.get($obj, settings);

  // Set base font family
  @if $font-family {
    & {
      font-family: $font-family;
    }
  }

  @else {
    @warn "No fall back font family specified.";
  }

  // Set font family when font loaded class, if exists
  @if $font-family-loaded and $font-loaded-class {
    .#{$font-loaded-class} & {
      font-family: $font-family-loaded;
    }
  }

  // Set the various font info per breakpoint
  @if $settings and $font-family {
    $font-size: 0;
    $line-height: 0;
    $tuck-method: null;

    // Loop the breakpoints in the setttings
    @each $breakpoint,
    $font-info in $settings {

      // Check this is a valid breakpoint
      @if map.has-key(breakpoint.$breakpoints-with-directions, $breakpoint) {

        // Get font info for this breakpoint
        @if map.has-key($font-info, font-size) {
          // Conditional here because this can inherit from earlier items in the map so that the tuck calculation can take place
          $font-size: map.get($font-info, font-size);
        }

        @if map.has-key($font-info, line-height) {
          $line-height: map.get($font-info, line-height);
        }

        $font-weight: map.get($font-info, font-weight);
        $font-style: map.get($font-info, font-style);
        $letter-spacing: map.get($font-info, letter-spacing);
        $text-transform: map.get($font-info, text-transform);

        // Check if this is the smallest breakpoint (the default font setting)
        @if (list.index(map.keys($settings), $breakpoint)==1) {
          @include font-style($font-size, $line-height, $font-weight, $font-style, $letter-spacing, $text-transform);
        }

        @else {
          @include breakpoint.breakpoint(#{$breakpoint}) {
            @include font-style($font-size, $line-height, $font-weight, $font-style, $letter-spacing, $text-transform);
          }
        }
      }

      @else {
        @warn "Setting font info to unknown breakpoint: `#{$breakpoint}`";
      }
    }
  }

  @else {
    @warn "No font settings specified.";
  }
}


/*
  @mixin font_smoothing

  Set font smoothing ON or OFF
*/
@mixin font-smoothing($value: on) {
  @if $value==on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}


/*
  @mixin text-underline

  Does "medium" style underlines with "iOS" style descender shadows

  Parameters:
  $underline - color
  $background - color
  $pos - vertical position
*/
@mixin text-underline($pos: .85em, $underline: colors.$color__text, $background: colors.$color__white) {
  text-decoration: underline !important;
}



/*
  @mixin hide_text

  Hides text in an element
*/

@mixin hide-text() {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  text-indent: -100%;
}

// ####################################################
// Load fonts
//
// Use below @font-face declaration template to load fonts
// Copy/paste for each font to be loaded

/*
@font-face {
  font-family: Graphik;
  src: url('/app/themes/wyss-institute/assets/fonts/Graphik-Bold-Web.eot');
  src: url('/app/themes/wyss-institute/assets/fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('/app/themes/wyss-institute/assets/fonts/Graphik-Bold-Web.woff2') format('woff2'),
       url('/app/themes/wyss-institute/assets/fonts/Graphik-Bold-Web.woff') format('woff');
}
*/

// Cap heights of the fonts - measure height of a capital H at 100px and then divide by 100
$cap-heights: (serif: 0.66,
  sans-serif: 0.568,
  arial: 0.72,
  helvetica: 0.725,
  'Times New Roman': 0.67,
  'Roboto': 0.72,
  'Ideal Sans A': 0.70804,
  'Ideal Sans B': 0.70804,
  'Sabon': 0.68404,
  'Lucida Grande': 0.70804,
  'Georgia': 0.68404);

/***

f-display-3

```
<p class="f-display-3">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-display-3: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 31, line-height: 36, text-transform: uppercase, letter-spacing: .1em, push: 0),
      'small+': (font-size: 51, line-height: 60, push: -2),
      'medium+': (font-size: 58, line-height: 68, push: -1),
      'large+': (font-size: 68, line-height: 80, push: -1))));

@mixin f-display-3() {
  @include font-styles($f-display-3);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-display-3,
.f-display-3 {
  @include f-display-3;
}

/***

f-display-2

```
<p class="f-display-2">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-display-2: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 31, line-height: 36, font-weight: 300, text-transform: uppercase, letter-spacing: 0.08em, push: 0),
      'small+': (font-size: 51, line-height: 60, push: 0),
      'medium+': (font-size: 58, line-height: 68, push: 0),
      'large+': (font-size: 68, line-height: 80, push: 0))));

@mixin f-display-2() {
  @include font-styles($f-display-2);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-display-2,
.f-display-2 {
  @include f-display-2;
}

/***

f-display-1

```
<p class="f-display-1">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-display-1: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 26, line-height: 32, font-weight: 300, text-transform: uppercase, letter-spacing: 0.08em, push: 0),
      'small+': (font-size: 32, line-height: 40, push: 0),
      'medium+': (font-size: 36, line-height: 44, push: 0))));

@mixin f-display-1() {
  @include font-styles($f-display-1);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-display-1,
.f-display-1 {
  @include f-display-1;
}

/***

f-headline

```
<p class="f-headline">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-headline: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 28, line-height: 32, font-weight: 300, letter-spacing: 0.01em, push: 0),
      'small+': (font-size: 35, line-height: 40),
      'medium+': (font-size: 38, line-height: 44))));

@mixin f-headline() {
  @include font-styles($f-headline);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-headline,
.f-headline {
  @include f-headline;
}

/***

f-headline-lightbox

```
<p class="f-headline">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-headline-lightbox: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 20, line-height: 28, letter-spacing: -0.005em, push: -1),
      'small+': (font-size: 22, line-height: 30, push: 0),
      'medium+': (font-size: 26, line-height: 34, push: 0))));

@mixin f-headline-lightbox() {
  @include font-styles($f-headline-lightbox);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-headline-lightbox,
.f-headline-lightbox {
  @include f-headline-lightbox;
}

/***

f-headline-editorial

```
<p class="f-headline-editorial">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-headline-editorial: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 28, line-height: 32, letter-spacing: -0.01em, push: 0),
      'small+': (font-size: 35, line-height: 40, push: 0),
      'medium+': (font-size: 38, line-height: 44, push: 0))));

@mixin f-headline-editorial() {
  @include font-styles($f-headline-editorial);

  & {
    color: colors.$color__text--title;
  }
}

%f-headline-editorial,
.f-headline-editorial {
  @include f-headline-editorial;
}

/***

f-deck

```
<p class="f-deck">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-deck: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 22, line-height: 28, letter-spacing: -0.005em, push: -1),
      'small+': (font-size: 24, line-height: 32, push: 0),
      'medium+': (font-size: 28, line-height: 36, push: 0))));

@mixin f-deck() {
  @include font-styles($f-deck);

  & {
    color: colors.$color__text--tertiary;
  }
}

%f-deck,
.f-deck {
  @include f-deck;
}

%f-deck em,
.f-deck em,
%f-deck i,
.f-deck i {
  font-style: italic;
}

%f-deck strong,
.f-deck strong,
%f-deck b,
.f-deck b {
  font-weight: 600;

  em,
  i {
    font-weight: 600;
  }
}

/***

f-module-title-2 (f-subheading-2)

```
<p class="f-module-title-2">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-module-title-2: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 17, line-height: 24, letter-spacing: .09em, text-transform: uppercase, font-weight: normal, push: 0),
      'small+': (font-size: 20, line-height: 28, push: 0),
      'medium+': (font-size: 21, line-height: 28, push: 0))));

@mixin f-module-title-2() {
  @include font-styles($f-module-title-2);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-module-title-2,
.f-module-title-2,
%f-subheading-2,
.f-subheading-2 {
  @include f-module-title-2;
}

/***

module-title-1

```
<p class="f-module-title-1">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-module-title-1: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, letter-spacing: 0.01em, push: 1),
      'small+': (font-size: 17, line-height: 24, push: 0))));

@mixin f-module-title-1() {
  @include font-styles($f-module-title-1);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-module-title-1,
.f-module-title-1 {
  @include f-module-title-1;
}

/***

f-subheading-1 (f-subheading-1-editorial)

```
<p class="f-subheading-1">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-subheading-1: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 17, line-height: 24, letter-spacing: 0.01em, push: 0),
      'small+': (font-size: 18, line-height: 28, push: 0),
      'xlarge': (font-size: 19, line-height: 28, push: 1))));

@mixin f-subheading-1() {
  @include font-styles($f-subheading-1);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-subheading-1,
.f-subheading-1,
%f-subheading-1-editorial,
.f-subheading-1-editorial {
  @include f-subheading-1;
}

/***

f-subheading-3

```
<p class="f-subheading-3">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-subheading-3: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 19, line-height: 26, letter-spacing: 0.01em, push: 0),
      'medium+': (font-size: 21, line-height: 30, push: 0),
      'xlarge': (font-size: 24, line-height: 34, push: 0))));

@mixin f-subheading-3() {
  @include font-styles($f-subheading-3);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-subheading-3,
.f-subheading-3,
%f-subheading-3-editorial,
.f-subheading-3-editorial {
  @include f-subheading-3;
}

/***

f-subheading-4

```
<p class="f-subheading-4">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-module-title-4: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, font-weight: 500, letter-spacing: 0.01em, push: 1),
      'small+': (font-size: 18, line-height: 28, font-weight: 500, push: 0),
      'xlarge': (font-size: 19, line-height: 28, font-weight: 500, push: 1))));

@mixin f-module-title-4() {
  @include font-styles($f-module-title-4);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-module-title-4,
.f-module-title-4,
%f-subheading-4,
.f-subheading-4 {
  @include f-module-title-4;
}

/***

f-body

```
<p class="f-body">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-body: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, font-weight: 300, letter-spacing: 0.01em, push: 1),
      'small+': (font-size: 18, line-height: 28, push: 0),
      'xlarge': (font-size: 19, line-height: 28, push: 1))));

@mixin f-body() {
  @include font-styles($f-body);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-body,
.f-body {
  @include f-body;
}

/***

f-body-emphasis

```
<p class="f-body-emphasis">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-body-emphasis: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, font-weight: 300, font-style: italic, letter-spacing: .01em, push: 1),
      'small+': (font-size: 18, line-height: 28, push: 0),
      'xlarge': (font-size: 19, line-height: 28, push: 1))));

@mixin f-body-emphasis() {
  @include font-styles($f-body-emphasis);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-body-emphasis,
.f-body-emphasis,
%f-body em,
.f-body em,
%f-body i,
.f-body i {
  @include f-body-emphasis;
}

%f-body em,
.f-body em,
%f-body i,
.f-body i {
  @include untuck;
}

%f-body-emphasis strong,
.f-body-emphasis strong,
%f-body-emphasis b,
.f-body-emphasis b,
%f-body strong,
.f-body strong,
%f-body b,
.f-body b {
  font-weight: 500;
  color: colors.$color__black;

  em,
  i {
    font-weight: 500;
  }
}

/***

f-body-editorial

```
<p class="f-body-editorial">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-body-editorial: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 17, line-height: 24, letter-spacing: 0.005em, font-weight: 500, push: -1),
      'small+': (font-size: 18, line-height: 28, letter-spacing: 0, push: -2),
      'large+': (font-size: 19, line-height: 28, push: -2))));

@mixin f-body-editorial() {
  @include font-styles($f-body-editorial);
}

%f-body-editorial,
.f-body-editorial {
  @include f-body-editorial;
}

/***

f-body-editorial-emphasis

```
<p class="f-body-editorial-emphasis">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-body-editorial-emphasis: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 17, line-height: 24, font-style: italic, letter-spacing: .005em, push: -1),
      'small+': (font-size: 18, line-height: 28, letter-spacing: 0, push: -2),
      'large+': (font-size: 19, line-height: 28, push: -2))));

@mixin f-body-editorial-emphasis() {
  @include font-styles($f-body-editorial-emphasis);
}

%f-body-editorial-emphasis,
.f-body-editorial-emphasis,
%f-body-editorial em,
.f-body-editorial em,
%f-body-editorial i,
.f-body-editorial i {
  @include f-body-editorial-emphasis;
}

%f-body-editorial em,
.f-body-editorial em,
%f-body-editorial i,
.f-body-editorial i {
  @include untuck;
}

%f-body-editorial-emphasis strong,
.f-body-editorial-emphasis strong,
%f-body-editorial-emphasis b,
.f-body-editorial-emphasis b,
%f-body-editorial strong,
.f-body-editorial strong,
%f-body-editorial b,
.f-body-editorial b {
  font-weight: 600;
  color: colors.$color__text--title;

  em,
  i {
    font-weight: 600;
  }
}

/***

f-body-editorial-reference

```
<p class="f-body-editorial-reference">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-body-editorial-reference: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 17, line-height: 24, letter-spacing: 0.01em, font-weight: 300, push: 0),
      'small+': (font-size: 18, line-height: 28, letter-spacing: 0, push: 0),
      'xlarge': (font-size: 19, line-height: 28, push: 1))));

@mixin f-body-editorial-reference() {
  @include font-styles($f-body-editorial-reference);

  & {
    color: colors.$color__text--editorial;
  }
}

%f-body-editorial-reference,
.f-body-editorial-reference {
  @include f-body-editorial-reference;
}

/*
%f-body-editorial sup,
.f-body-editorial sub,
%f-body-editorial sup,
.f-body-editorial sup {
  @include f-body-editorial-reference;
}

%f-body-editorial sup,
.f-body-editorial sub,
%f-body-editorial sup,
.f-body-editorial sup {
  @include untuck;
}
*/

/***

f-buttons

```
<p class="f-buttons">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-buttons: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, letter-spacing: 0.01em, push: 1),
      'medium+': (font-size: 17, line-height: 24, push: 0))));

@mixin f-buttons() {
  @include font-styles($f-buttons);

  & {
    color: colors.$color__text--title;
  }
}

%f-buttons,
.f-buttons {
  @include f-buttons;
}

/***

f-secondary

```
<p class="f-secondary">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-secondary: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, font-weight: 300, letter-spacing: 0.01em, push: 1),
      'medium+': (font-size: 17, line-height: 28, push: 0))));

@mixin f-secondary() {
  @include font-styles($f-secondary);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--secondary;
  }
}

@mixin f-link() {
  @include font-styles($f-secondary);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__link;
  }
}

%f-secondary,
.f-secondary {
  @include f-secondary;
}

%f-secondary em,
.f-secondary em,
%f-secondary i,
.f-secondary i {
  font-style: italic;
}

%f-secondary strong,
.f-secondary strong,
%f-secondary b,
.f-secondary b {
  font-weight: 400;
  color: colors.$color__text;

  em,
  i {
    font-weight: 400;
  }
}

/***

f-tertiary

```
<p class="f-tertiary">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-tertiary: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 14, line-height: 20, font-weight: 300, letter-spacing: 0.01em, push: 0),
      'small+': (font-size: 16, line-height: 24, push: 1),
      'medium+': (font-size: 17, line-height: 28, push: 0))));

@mixin f-tertiary() {
  @include font-styles($f-tertiary);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--secondary;
  }
}

%f-tertiary,
.f-tertiary {
  @include f-tertiary;
}

/*
  adds underlines all over the site!
*/
/*
a.f-secondary,
.f-secondary:not(.dropdown__list):not(.m-search-bar__autocomplete) a {
  &:hover,
  &:focus:hover {
    @include text-underline(1.02em, $color__text--secondary);
  }

  &:active {
    @include text-underline(1.02em, transparent);
  }
}
/**/

%f-link,
.f-link {
  @include f-link;
}

a.f-link {
  color: colors.$color__link;

  &:hover,
  &:focus:hover {
    @include text-underline(1.02em, colors.$color__link--hover);

    & {
      color: colors.$color__link--hover;
    }
  }

  &:active:hover {
    @include text-underline(1.02em, colors.$color__link--active);

    & {
      color: colors.$color__link--active;
    }
  }
}

/***

f-tag-2

```
<p class="f-tag-2">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-tag-2: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 12, line-height: 16, letter-spacing: .14em, text-transform: uppercase, push: 0),
      'medium+': (font-size: 13, line-height: 16, push: 1))));

@mixin f-tag-2() {
  @include font-styles($f-tag-2);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-tag-2,
.f-tag-2 {
  @include f-tag-2;
}

/***

f-tag

```
<p class="f-tag">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-tag: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 11, line-height: 16, letter-spacing: .14em, text-transform: uppercase, push: 0),
      'medium+': (font-size: 12, line-height: 16, push: 0))));

@mixin f-tag() {
  @include font-styles($f-tag);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__link;
  }
}

%f-tag,
.f-tag {
  @include f-tag;
}

/***

f-caption-title

```
<p class="f-caption-title">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-caption-title: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 15, line-height: 20, letter-spacing: 0.01em, push: 0))));

@mixin f-caption-title() {
  @include font-styles($f-caption-title);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-caption-title,
.f-caption-title {
  @include f-caption-title;
}

/***

f-caption

```
<p class="f-caption">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-caption: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 15, line-height: 20, font-weight: 300, letter-spacing: 0.01em, push: 0))));

@mixin f-caption() {
  @include font-styles($f-caption);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-caption,
.f-caption {
  @include f-caption;
}

/***

f-list-7

```
<p class="f-list-7">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-7: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 14, line-height: 20, push: 0),
      'small+': (font-size: 20, line-height: 28, push: -2))));

@mixin f-list-7() {
  @include font-styles($f-list-7);

  & {
    color: colors.$color__text--title;
  }

  @include breakpoint.breakpoint('xsmall') {
    @include font-smoothing('off');
  }
}

%f-list-7,
.f-list-7 {
  @include f-list-7;
}

/***

f-list-6

```
<p class="f-list-6">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-6: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 24, line-height: 28, push: -1))));

@mixin f-list-6() {
  @include font-styles($f-list-6);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-6,
.f-list-6 {
  @include f-list-6;
}

/***

f-list-5

```
<p class="f-list-5">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-5: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 22, line-height: 28, letter-spacing: -0.005em, push: -1),
      'medium+': (font-size: 24, line-height: 32, push: -2),
      'large+': (font-size: 31, line-height: 40, letter-spacing: -0.01em, push: 0),
      'xlarge': (font-size: 32, line-height: 40, push: 0))));

@mixin f-list-5() {
  @include font-styles($f-list-5);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-5,
.f-list-5 {
  @include f-list-5;
}

/***

f-list-4

```
<p class="f-list-4">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-4: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 22, line-height: 28, letter-spacing: -0.005em, push: -1),
      'medium+': (font-size: 24, line-height: 32, push: -2),
      'large+': (font-size: 28, line-height: 36, push: 0),
      'xlarge': (font-size: 29, line-height: 40, push: 0))));

@mixin f-list-4() {
  @include font-styles($f-list-4);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-4,
.f-list-4 {
  @include f-list-4;
}

/***

f-list-3

```
<p class="f-list-3">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-3: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 22, line-height: 28, letter-spacing: -0.005em, push: -1),
      'xlarge': (font-size: 24, line-height: 32, push: -2))));

@mixin f-list-3() {
  @include font-styles($f-list-3);
}

%f-list-3,
.f-list-3 {
  @include f-list-3;

  & {
    color: colors.$color__text--title;
  }
}

/***

f-list-2

```
<p class="f-list-2">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-2: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 19, line-height: 24, push: -2),
      'small+': (font-size: 22, line-height: 28, letter-spacing: -0.005em, push: -1))));

@mixin f-list-2() {
  @include font-styles($f-list-2);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-2,
.f-list-2 {
  @include f-list-2;
}

/***

f-list-1

```
<p class="f-list-1">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-1: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 20, line-height: 28, push: -2))));

@mixin f-list-1() {
  @include font-styles($f-list-1);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-1,
.f-list-1 {
  @include f-list-1;
}


/***

f-list-1--dense

```
<p class="f-list-1--dense">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-list-1--dense: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 20, push: -2),
      'small': (font-size: 19, line-height: 24, push: -2),
      'medium+': (font-size: 20, line-height: 28, push: -2))));

@mixin f-list-1--dense() {
  @include font-styles($f-list-1--dense);

  & {
    color: colors.$color__text--title;
  }
}

%f-list-1--dense,
.f-list-1--dense {
  @include f-list-1--dense;
}


/***

f-quote

```
<p class="f-quote">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-quote: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 24, line-height: 32, letter-spacing: -0.015em, font-style: italic, push: -2),
      'small+': (font-size: 27, line-height: 36, push: -1),
      'medium+': (font-size: 30, line-height: 40, push: -1))));

@mixin f-quote() {
  @include font-styles($f-quote);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-quote,
.f-quote {
  @include f-quote;
}

%f-quote em,
.f-quote em,
%f-quote i,
.f-quote i {
  font-style: italic;
}

%f-quote strong,
.f-quote strong,
%f-quote b,
.f-quote b {
  font-weight: 600;

  em,
  i {
    font-weight: 600;
  }
}

/***

f-dropcap-editorial

```
<p class="f-dropcap-editorial">A</p>
```

***/

$f-dropcap-editorial: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 54, line-height: 60, text-transform: uppercase, push: 1),
      'medium+': (font-size: 100, line-height: 120, push: -1))));

@mixin f-dropcap-editorial() {
  @include font-styles($f-dropcap-editorial);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--editorial;
  }
}

%f-dropcap-editorial,
.f-dropcap-editorial {
  @include f-dropcap-editorial;
}

/***

f-numeral-date

```
<p class="f-numeral-date">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-numeral-date: generate-font-obj((font-family: variables.$serif-font,
    font-family-loaded: variables.$serif-font--loaded,
    font-loaded-class: variables.$serif-font-loaded-class,
    settings: ('xsmall': (font-size: 38, line-height: 44, letter-spacing: -0.04em, push: 0),
      'small+': (font-size: 44, line-height: 56, push: 1),
      'large+': (font-size: 46, line-height: 60, push: 1))));

@mixin f-numeral-date() {
  @include font-styles($f-numeral-date);

  & {
    font-feature-settings: 'lnum'on;
  }
}

%f-numeral-date,
.f-numeral-date {
  @include f-numeral-date;
}

/***

f-main-nav

```
<p class="f-main-nav">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/

$f-main-nav: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 16, line-height: 24, font-weight: 300, letter-spacing: 0.01em, push: 1),
      'small+': (font-size: 18, line-height: 24, letter-spacing: 0.015em, push: 0),
      'medium+': (font-size: 19, line-height: 28, push: 1))));

@mixin f-main-nav() {
  @include font-styles($f-main-nav);

  & {
    font-feature-settings: 'lnum'on;
    color: colors.$color__text--title;
  }
}

%f-main-nav,
.f-main-nav {
  @include f-main-nav;
}

/***

`f-body-editorial`, with first letter `f-dropcap-editorial`

```
<p class="f-body-editorial"><span class="f-dropcap-editorial">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula libero vel quam fringilla dignissim. Praesent finibus sem sed arcu tempor, non tincidunt magna luctus. Maecenas lacinia interdum lacinia. Pellentesque ac felis vehicula, fermentum mauris sed, ornare ex. Mauris cursus, nulla eget fermentum molestie, metus velit sodales turpis, nec tempus felis orci id erat.</p>
```

***/

.f-body-editorial .f-dropcap-editorial {
  float: left;
  margin-top: -17px;
  margin-right: 4px;

  @include breakpoint.breakpoint('small+') {
    margin-top: -9px;
  }

  @include breakpoint.breakpoint('medium+') {
    margin-top: -33px;
    margin-bottom: -4px;
  }
}

/***

f-small-caps

```
<p class="f-small-caps">The quick brown fox, jumps over the lazy dog</p>
```

***/

$f-small-caps: generate-font-obj((font-family: variables.$sans-serif-font,
    font-family-loaded: variables.$sans-serif-font--loaded,
    font-loaded-class: variables.$sans-serif-font-loaded-class,
    settings: ('xsmall': (font-size: 11, line-height: 48, letter-spacing: .14em, text-transform: uppercase, push: 0),
      'medium+': (font-size: 12, line-height: 48, push: 0))));

@mixin f-small-caps() {
  @include font-styles($f-small-caps);
}

%f-small-caps,
.f-small-caps {
  @include f-small-caps;
}
