// Baseline grid height
$base-height: 4;


// Max widths the main column can run to over the breakpoints
// values can either be 'fluid' or a pixel value
// recommended xxlarge is a px value and xsmall is fluid
$main-col-widths: (
  xsmall: 'fluid',
  small: 'fluid',
  medium: 'fluid',
  large: 'fluid',
  xlarge: 'fluid',
  xxlarge: 1450px,
);

// Outer gutters, in px or vw, of each breakpoint
$outer-gutters: (
  xsmall: 10px,
  small: 20px,
  medium: 30px,
  large: 20px,
  xlarge: 3vw,
  xxlarge: 0,
);

// Breakpoint information, where each starts and stops
// if a breakpoint is not fluid, then the start value is equal to the main col value plus 2x the gutter at this breakpoint
$breakpoints: (
  xsmall: (start: null, end: 399),
  small: (start: 400, end: 699),
  medium: (start: 700, end: 999),
  large: (start: 1000, end: 1259),
  xlarge: (start: 1260, end: 1449),
  xxlarge: (start: 1450, end: null)
);

// Uniform border radius
$border-radius: 2px;

// Some easing functions
$bezier--bounce: cubic-bezier(.5, -.6, .5, 1.6);
$bezier--ease-in-out: cubic-bezier(.5, 0, .5, 0);
