// Baseline grid height
$base-height: 4;


// Max widths the main column can run to over the breakpoints
// values can either be 'fluid' or a pixel value
// recommended xxlarge is a px value and xsmall is fluid
$main-col-widths: (
  xsmall: 'fluid',
  small: 'fluid',
  medium: 'fluid',
  large: 'fluid',
  xlarge: 1500px,
);

// Outer gutters, in px or vw, of each breakpoint
$outer-gutters: (
  xsmall: 300vw / 64,
  small: 300vw / 64,
  medium: 300vw / 64,
  large: 300vw / 64,
  xlarge: 0,
);

// Breakpoint information, where each starts and stops
// if a breakpoint is not fluid, then the start value is equal to the main col value plus 2x the gutter at this breakpoint
$breakpoints: (
  xsmall: (start: null, end: 599),
  small: (start: 600, end: 899),
  medium: (start: 900, end: 1199),
  large: (start: 1200, end: 1639),
  xlarge: (start: 1640, end: null),
);

// zindexs
$zindexs: (
  header: 8,
  articleStickyHeader: 9,
  articleTopLink: 9,
  searchTriggers: 9,
  mask: 10,
  fullscreenImage: 11,
  calendar: 11,
  searchForm: 11,
  searchFilters: 11,
  shareMenu: 12,
  infoBubbleInfo: 12,
  mobileNav: 13,
  dropdown: 13,
);

// Uniform border radius
$border-radius: 2px;

// Shadow
$shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 5px 0 rgba(0, 0, 0, .1);

// Some easing functions
$bezier--bounce: cubic-bezier(.5, -.6, .5, 1.6);
$bezier--ease-in-out: cubic-bezier(.445, .05, .55, .95);
$bezier--ease-out-circ: cubic-bezier(.075, .82, .165, 1);
$bezier--ease-in-circ: cubic-bezier(.6, .04, .98, .335);

// grid spacing, used in `.o-grid-listing` and `.o-features`

$grid-margin-tops: (
  xsmall: 28,
  small: 28,
  medium: 28,
  large: 32,
  xlarge: 32,
);

$grid-padding-tops: (
  xsmall: 3,
  small: 1.5,
  medium: 1.5,
  large: 1.5,
  xlarge: 1.5,
);



@keyframes reveal {
  0% {
    transform: scale(.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
